<template>
  <div class="flex flex-col space-y-10">
    <div v-if="isAccepted" class="p-2 bg-green-100 rounded-md">
      {{ $t("components.messageQuestionnaire.youHaveAlready") }}
      <span class="font-bold text-green-600">{{ $t("components.messageQuestionnaire.accepted") }}</span
      >{{ $t("components.messageQuestionnaire.theOffer") }}
      <tooltip :message="message.senderDescription"
        ><strong>{{ message.senderName }}</strong>
        <span v-if="message.senderWebsite"
          >(<a :href="message.senderWebsite" target="_blank">{{ message.senderWebsite }}</a
          >)</span
        >
      </tooltip>
      {{ $t("components.messageQuestionnaire.toFill") }}
      <tooltip :message="licenseTooltip"
        ><strong>{{ message.configuration.license }}</strong>
      </tooltip>
      {{ $t("components.messageQuestionnaire.license") }}
      <template v-if="price"
        >{{ $t("components.messageQuestionnaire.price") }}
        <span class="font-bold text-primary-600">{{
          $t("components.configurationPreview.points", { price }, price)
        }}</span>
      </template>
      <span v-else class="font-bold text-primary-600">free</span>.
    </div>
    <div v-else-if="isDeclined" class="p-2 bg-red-100 rounded-md">
      {{ $t("components.messageQuestionnaire.youHaveAlready") }}
      <span class="font-bold text-red-600">{{ $t("components.messageQuestionnaire.declined") }}</span>
      {{ $t("components.messageQuestionnaire.theOffer") }}
      <tooltip :message="message.senderDescription"
        ><strong>{{ message.senderName }}</strong>
        <span v-if="message.senderWebsite"
          >(<a :href="message.senderWebsite" target="_blank">{{ message.senderWebsite }}</a
          >)</span
        >
      </tooltip>
      {{ $t("components.messageQuestionnaire.toFill") }}
      <tooltip :message="licenseTooltip"
        ><strong>{{ message.configuration.license }}</strong>
      </tooltip>
      {{ $t("components.messageQuestionnaire.license") }}
      <template v-if="price"
        >{{ $t("components.messageQuestionnaire.price") }}
        <span class="font-bold text-primary-600">{{
          $t("components.configurationPreview.points", { price }, price)
        }}</span>
      </template>
      <span v-else class="font-bold text-primary-600">{{ $t("components.messageQuestionnaire.free") }}</span
      >.
    </div>
    <div v-else class="p-2 bg-blue-100 rounded-md">
      {{ $t("components.messageQuestionnaire.dataSeeker") }}
      <tooltip :message="message.senderDescription"
        ><strong>{{ message.senderName }}</strong>
        <span v-if="message.senderWebsite"
          >(<a :href="message.senderWebsite" target="_blank">{{ message.senderWebsite }}</a
          >)</span
        >
      </tooltip>
      {{ $t("components.messageQuestionnaire.hasRequested") }}
      <tooltip :message="licenseTooltip"
        ><strong>{{ message.configuration.license }}</strong>
      </tooltip>
      {{ $t("components.messageQuestionnaire.license") }}
      <template v-if="price"
        >{{ $t("components.messageQuestionnaire.price") }}
        <span class="font-bold text-primary-600">{{
          $t("components.configurationPreview.points", { price }, price)
        }}</span>
      </template>
      <span v-else class="font-bold text-primary-600">{{ $t("components.messageQuestionnaire.free") }}</span
      >.
    </div>

    <Form :validation-schema="validationSchema" ref="form">
      <questionnaire-viewer v-model:questionnaire="questionnaire" />
    </Form>
    <div v-if="isPending" class="flex flex-row justify-between">
      <div></div>
      <div class="flex flex-row space-x-4">
        <confirm-button @confirmed="rejectOfferAndBlock" class="flex flex-row items-center justify-end">
          <secondary-button :disabled="loading" colour="red"
            >{{ $t("components.messageQuestionnaire.rejectOfferBlacklist") }}
          </secondary-button>

          <template #confirm>
            <secondary-button colour="yellow"
              >{{ $t("components.messageQuestionnaire.areYouSureBlacklist") }} {{ message.senderName }}?
            </secondary-button>
          </template>
        </confirm-button>
        <confirm-button @confirmed="rejectOffer" class="flex flex-row items-center justify-end">
          <secondary-button :disabled="loading" colour="neutral">{{
            $t("components.messageQuestionnaire.rejectOffer")
          }}</secondary-button>

          <template #confirm>
            <secondary-button colour="yellow"
              >{{ $t("components.messageQuestionnaire.areYouSureReject") }}
            </secondary-button>
          </template>
        </confirm-button>
        <confirm-button @confirmed="submit" class="flex flex-row items-center justify-end">
          <primary-button v-if="sharing" disabled class="flex flex-row justify-between opacity-50">
            <svg
              class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            <span>{{ $t("components.messageQuestionnaire.sharing") }}</span>
          </primary-button>
          <primary-button v-else :disabled="loading"
            >{{ $t("components.messageQuestionnaire.shareQuestionnaire") }}
            <template v-if="price">
              {{ $t("components.configurationPreview.points", { price }, price) }}
            </template>
            <template v-else>{{ $t("components.messageQuestionnaire.free") }}</template>
          </primary-button>
          <template #confirm>
            <secondary-button colour="yellow"
              >{{ $t("components.messageQuestionnaire.areYouSureAnswers") }}
            </secondary-button>
          </template>
        </confirm-button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import { computed, defineComponent, ref } from "vue";
  import { Form } from "vee-validate";
  import { Messages as MessagesAPI } from "@/api";
  import { useToaster } from "@/composables";
  import { RequestResponseType } from "@/constants";
  import QuestionnaireViewer from "@/components/messages/QuestionnaireViewer.vue";
  import { standardLicenses } from "@/constants";
  import * as R from "ramda";
  import { useRouter } from "vue-router";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "MessageQuestionnaire",
    components: { QuestionnaireViewer, Form },
    props: { message: { type: Object, required: true } },
    setup(props, { emit }) {
      const form = ref<any>();
      const toaster = useToaster();
      const router = useRouter();
      const { t } = useI18n();

      const loading = ref<Boolean>(false);
      const sharing = ref<Boolean>(false);

      const price = computed(() => props.message.price);
      const isAccepted = computed(() => props.message.response === RequestResponseType.Accepted);
      const isDeclined = computed(() => props.message.response === RequestResponseType.Declined);
      const isPending = computed(() => props.message.response === RequestResponseType.Pending);

      const questionnaire = ref<any>({
        other: {},
        configuration: isAccepted.value ? props.message.responseConfiguration : props.message.configuration,
      });

      const validationSchema = computed(() => {
        const rules: Record<string, string> = {};
        if (questionnaire.value.configuration && questionnaire.value.configuration.questions) {
          questionnaire.value.configuration.questions.forEach((question: any, idx: number) => {
            const questionRules: string[] = [];
            // add required rule
            if (question.required) {
              questionRules.push("required");
            }

            // add min_length/max_length rule
            if (question.selectionsRange) {
              if (!R.isNil(question.selectionsRange.min)) {
                questionRules.push(`min_length:${question.selectionsRange.min}`);
              }
              if (!R.isNil(question.selectionsRange.max)) {
                questionRules.push(`max_length:${question.selectionsRange.max}`);
              }
            }

            // add min/max or min_value/max_value rule
            if (question.valueRange) {
              if (question.type === "number") {
                if (!R.isNil(question.valueRange.min)) {
                  questionRules.push(`min_value:${question.valueRange.min}`);
                }
                if (!R.isNil(question.valueRange.max)) {
                  questionRules.push(`max_value:${question.valueRange.max}`);
                }
              } else {
                if (!R.isNil(question.valueRange.min)) {
                  questionRules.push(`min:${question.valueRange.min}`);
                }
                if (!R.isNil(question.valueRange.max)) {
                  questionRules.push(`max:${question.valueRange.max}`);
                }
              }
            }
            rules[`question ${idx + 1}`] = questionRules.join("|");

            // add other option
            if (question.other && question.answer && question.answer.includes("question-other-value")) {
              rules[`question ${idx + 1} other value`] = "required";
            }
          });
        }
        return rules;
      });

      const licenseTooltip = computed(() => {
        if (props.message && props.message.configuration && props.message.configuration.license) {
          if (props.message.configuration.license === "Custom") return "Custom";
          else {
            const license = standardLicenses.find(item => item.value === props.message.configuration.license);
            if (license) return license.description;
          }
        }
        return "";
      });

      const submit = async () => {
        loading.value = true;
        sharing.value = true;

        const { valid } = await form.value.validate();
        if (!valid) return;

        const questionnaireConfiguration = R.clone(questionnaire.value.configuration);

        Object.keys(questionnaire.value.other).forEach((key: string) => {
          if (questionnaire.value.other[key]) {
            const splitKeys = key.split(" ");
            const index = parseInt(splitKeys[1]) - 1;
            questionnaireConfiguration.questions[index].answer.splice(
              questionnaireConfiguration.questions[index].answer.indexOf("question-other-value"),
              1
            );
            questionnaireConfiguration.questions[index].answer.push(questionnaire.value.other[key]);
          }
        });
        questionnaireConfiguration.questions.forEach((item:any, idx:any) => {
          if(!item.answer){
            const answer: any = []
            questionnaireConfiguration.questions[idx].push({answer: answer})
          }
        })

        await MessagesAPI.accept(props.message.id, questionnaireConfiguration)
          .then(() => {
            emit("refresh");
            toaster.show(`${t("components.messageQuestionnaire.youHaveAccepted")}${props.message.senderName}`);
            router.push("/inbox");
          })
          .catch(e => {
            toaster.show(`${t("components.messageQuestionnaire.thereWasAnIssueQuestionnaire")}${e.message}`, "error");
          })
          .finally(() => {
            loading.value = false;
            sharing.value = false;
          });
      };

      const rejectOfferAndBlock = () => {
        loading.value = true;
        MessagesAPI.declineAndBlock(props.message.id)
          .then(() => {
            toaster.show(
              `${t("components.messageQuestionnaire.youHaveRejectedBlocked")}${props.message.senderName}${t(
                "components.messageQuestionnaire.fromFutureRequests"
              )}`
            );
            emit("refresh");
            router.push("/inbox");
          })
          .catch(e => {
            toaster.show(`${t("components.messageQuestionnaire.thereWasAnIssueRejection")}${e.message}`, "error");
          })
          .finally(() => {
            loading.value = false;
          });
      };

      const rejectOffer = () => {
        loading.value = true;
        MessagesAPI.decline(props.message.id)
          .then(() => {
            toaster.show(`${t("components.messageQuestionnaire.youHaveRejected")}${props.message.senderName}`);
            emit("refresh");
            router.push("/inbox");
          })
          .catch(e => {
            toaster.show(`${t("components.messageQuestionnaire.thereWasAnIssueRejection")}${e.message}`, "error");
          })
          .finally(() => {
            loading.value = false;
          });
      };

      return {
        questionnaire,
        form,
        validationSchema,
        submit,
        rejectOffer,
        rejectOfferAndBlock,
        price,
        isAccepted,
        isDeclined,
        isPending,
        licenseTooltip,
        loading,
        sharing,
      };
    },
  });
</script>
