<template>
  <div class="rounded-md shadow">
    <div
      class="flex flex-col px-4 py-5 space-y-1  sm:px-6 bg-primary-800 rounded-t-md"
    >
      <h3 class="text-lg font-medium leading-6 text-white">
        {{ questionnaire.configuration.title }}
      </h3>
      <p class="max-w-2xl text-sm text-primary-500">
        {{ questionnaire.configuration.intro }}
      </p>
    </div>
    <div class="border-t border-neutral-200">
      <dl>
        <div
          v-for="(question, idx) in questionnaire.configuration.questions"
          :key="idx"
          class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          :class="{
            'bg-white': idx % 2 === 1,
            'bg-neutral-100': idx % 2 === 0,
          }"
        >
          <dt class="space-y-1">
            <div class="text-sm font-medium text-neutral-500">
              {{ question.question }}
            </div>
            <div class="text-xs break-words text-neutral-400">
              {{ question.description }}
            </div>
          </dt>
          <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
            <radio-buttons
              :name="`question ${idx + 1}`"
              :options="question.options"
              v-model="question.answer[0]"
              v-if="question.type === 'radio'"
              @changed="checkOther(question, idx)"
            />
            <checkboxes
              :name="`question ${idx + 1}`"
              :options="question.options"
              v-model="question.answer"
              :multiple="question.multiple"
              v-if="question.type === 'checkbox'"
              @changed="checkOther(question, idx)"
            />
            <input-field
              :name="`question ${idx + 1}`"
              :placeholder="question.placeholder"
              v-model="question.answer[0]"
              @input="fixEmptyValue(question, $event.target.value)"
              v-if="question.type === 'text'"
            />
            <input-field
              :name="`question ${idx + 1}`"
              type="number"
              :placeholder="question.placeholder"
              v-model="question.answer[0]"
              @input="changeNumber(question, $event.target.value)"
              v-if="question.type === 'number'"
            />
            <textarea-field
              :name="`question ${idx + 1}`"
              :placeholder="question.placeholder"
              v-model="question.answer[0]"
              @input="fixEmptyValue(question, $event.target.value)"
              v-if="question.type === 'textarea'"
            />
            <select-menu
              :name="`question ${idx + 1}`"
              :options="question.options"
              :placeholder="question.placeholder"
              v-model="question.answer[0]"
              @changed="
                checkOther(question, idx);
                fixEmptyValue(question, question.answer[0]);
              "
              v-if="question.type === 'dropdown' && !question.multiple"
            />
            <multiselect-field
              :name="`question ${idx + 1}`"
              mode="tags"
              :options="question.options"
              :placeholder="question.placeholder"
              v-model="question.answer"
              @changed="checkOther(question, idx)"
              v-if="question.type === 'dropdown' && question.multiple"
            />
            <multiselect-field
              :name="`question ${idx + 1}`"
              mode="tags"
              :placeholder="question.placeholder"
              :createTag="true"
              :showOptions="false"
              :options="question.answer"
              v-model="question.answer"
              v-if="question.type === 'tags'"
            />
            <input-field
              :name="`question ${idx + 1} other value`"
              v-model="questionnaire.other[`question ${idx + 1}`]"
              v-if="
                question.other &&
                question.answer &&
                question.answer.includes('question-other-value')
              "
            />
          </dd>
        </div>
      </dl>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { PaperClipIcon } from "@heroicons/vue/solid";

export default defineComponent({
  name: "QuestionnaireViewer",
  props: { questionnaire: { type: Object, required: true } },
  components: {
    PaperClipIcon,
  },
  setup(props) {
    props.questionnaire.configuration.questions.forEach(
      (question: any, idx: number) => {
        // add default
        if ((!question.answer || question.answer.length === 0) && question.default && question.default.length > 0) {
          question.answer = question.default;
        }
        if (question.other) {
          props.questionnaire.other[`question ${idx + 1}`] = null;
          if (
            !question.options.find(
              (option: any) => option.value === "question-other-value"
            )
          )
            question.options.push({
              label: "Other",
              value: "question-other-value",
            });
        }
      }
    );

    const changeNumber = (question: any, value: any) => {
      if (value !== "") question.answer[0] = Number(value);
      else question.answer = [];
    };

    const fixEmptyValue = (question: any, value: any) => {
      if (!value || value === "") question.answer = [];
    };

    const checkOther = (question: any, idx: number) => {
      if (!question.answer.includes("question-other-value"))
        props.questionnaire.other[`question ${idx + 1}`] = null;
    };

    return { changeNumber, fixEmptyValue, checkOther };
  },
});
</script>
