<template>
  <div v-if="asset" class="flex flex-col space-y-10">
    <div v-if="isAccepted" class="p-2 bg-green-100 rounded-md">
      {{ $t("components.sharingRequest.youHaveAlready") }}
      <span class="font-bold text-green-600">{{ $t("components.sharingRequest.accepted") }}</span>
      {{ $t("components.sharingRequest.theOffer") }}
      <tooltip :message="message.senderDescription"
        ><strong>{{ message.senderName }}</strong>
        <span v-if="message.senderWebsite"
          >(<a :href="message.senderWebsite" target="_blank">{{ message.senderWebsite }}</a
          >)</span
        >
      </tooltip>
      {{ $t("components.sharingRequest.toGainAccess") }}<strong>{{ asset.name }}</strong>
      {{ $t("components.sharingRequest.withConfig") }}
      <template v-if="price"
        >{{ $t("components.sharingRequest.price") }}
        <span class="font-bold text-primary-600">{{ price }} {{ price === 1 ? "point" : "points" }}</span></template
      >
      <span v-else class="font-bold text-primary-600">{{ $t("components.sharingRequest.free") }}</span
      >.
    </div>
    <div v-else-if="isDeclined" class="p-2 bg-red-100 rounded-md">
      {{ $t("components.sharingRequest.youHaveAlready") }}
      <span class="font-bold text-red-600">{{ $t("components.sharingRequest.declined") }}</span>
      {{ $t("components.sharingRequest.theOffer") }}
      <tooltip :message="message.senderDescription"
        ><strong>{{ message.senderName }}</strong>
        <span v-if="message.senderWebsite"
          >(<a :href="message.senderWebsite" target="_blank">{{ message.senderWebsite }}</a
          >)</span
        >
      </tooltip>
      {{ $t("components.sharingRequest.toGainAccess") }}<strong>{{ asset.name }}</strong>
      {{ $t("components.sharingRequest.withConfig") }}
      <template v-if="price"
        >{{ $t("components.sharingRequest.price") }}
        <span class="font-bold text-primary-600">{{ price }} {{ price === 1 ? "point" : "points" }}</span></template
      >
      <span v-else class="font-bold text-primary-600">{{ $t("components.sharingRequest.free") }}</span
      >.
    </div>
    <div v-else class="p-2 bg-blue-100 rounded-md">
      {{ $t("components.sharingRequest.dataSeeker") }}
      <tooltip :message="message.senderDescription"
        ><strong>{{ message.senderName }}</strong>
        <span v-if="message.senderWebsite"
          >(<a :href="message.senderWebsite" target="_blank">{{ message.senderWebsite }}</a
          >)</span
        >
      </tooltip>
      {{ $t("components.sharingRequest.wouldLike") }}
      <strong>{{ asset.name }}</strong>
      {{ $t("components.sharingRequest.withConfig") }}
      <template v-if="price"
        >{{ $t("components.sharingRequest.price") }}
        <span class="font-bold text-primary-600">{{ price }} {{ price === 1 ? "point" : "points" }}</span></template
      >
      <span v-else class="font-bold text-primary-600">{{ $t("components.sharingRequest.free") }}</span
      >.
    </div>

    <configuration-preview :configuration="asset" />

    <div v-if="isPending" class="flex flex-row justify-between">
      <div></div>
      <div class="flex flex-row space-x-4">
        <confirm-button @confirmed="rejectOfferAndBlock" class="flex flex-row items-center justify-end">
          <secondary-button :disabled="loading" colour="red"
            >{{ $t("components.sharingRequest.rejectOfferBlacklist") }}
          </secondary-button>

          <template #confirm>
            <secondary-button colour="yellow"
              >{{ $t("components.sharingRequest.areYouSureBlacklist") }} {{ asset.senderName }}?
            </secondary-button>
          </template>
        </confirm-button>
        <confirm-button @confirmed="rejectOffer" class="flex flex-row items-center justify-end">
          <secondary-button :disabled="loading" colour="neutral">{{
            $t("components.sharingRequest.rejectOffer")
          }}</secondary-button>

          <template #confirm>
            <secondary-button colour="yellow">{{ $t("components.sharingRequest.areYouSureReject") }}</secondary-button>
          </template>
        </confirm-button>
        <confirm-button @confirmed="acceptOffer" class="flex flex-row items-center justify-end">
          <primary-button v-if="accepting" disabled class="flex flex-row justify-between opacity-50">
            <svg
              class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            <span>{{ $t("components.sharingRequest.accepting") }}</span>
          </primary-button>
          <primary-button v-else :disabled="loading"
            >{{ $t("components.sharingRequest.acceptOffer") }}
            <template v-if="price"> {{ price }} {{ price === 1 ? "point" : "points" }}</template>
            <template v-else>{{ $t("components.sharingRequest.free") }}</template>
          </primary-button>
          <template #confirm>
            <secondary-button colour="yellow">{{ $t("components.sharingRequest.areYouSureAccept") }}</secondary-button>
          </template>
        </confirm-button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import { computed, defineComponent, ref } from "vue";
  import { useSharedAsset, useToaster } from "@/composables";
  import SecondaryButton from "@/components/SecondaryButton.vue";
  import { Messages as MessagesAPI } from "@/api";
  import { RequestResponseType } from "@/constants";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "SharingRequest",
    components: { SecondaryButton },
    props: { message: { type: Object, required: true } },
    setup(props, { emit }) {
      const { t } = useI18n();
      const toaster = useToaster();
      const { asset } = useSharedAsset(props.message.configuration.assetUid);

      const loading = ref<Boolean>(false);
      const accepting = ref<Boolean>(false);

      const price = computed(() => props.message.price);
      const isAccepted = computed(() => props.message.response === RequestResponseType.Accepted);
      const isDeclined = computed(() => props.message.response === RequestResponseType.Declined);
      const isPending = computed(() => props.message.response === RequestResponseType.Pending);

      const rejectOfferAndBlock = () => {
        loading.value = true;
        MessagesAPI.declineAndBlock(props.message.id)
          .then(() => {
            emit("refresh");
            toaster.show(
              `${t("components.sharingRequest.youHaveRejectedBlocked")}${props.message.senderName}${t(
                "components.sharingRequest.fromFutureRequests"
              )}`
            );
          })
          .catch(e => {
            toaster.show(`${t("components.sharingRequest.thereWasAnIssueRejection")}${e.message}`, "error");
          })
          .finally(() => {
            loading.value = false;
          });
      };

      const rejectOffer = () => {
        loading.value = true;
        MessagesAPI.decline(props.message.id)
          .then(() => {
            emit("refresh");
            toaster.show(`${t("components.sharingRequest.youHaveRejected")}${props.message.senderName}`);
          })
          .catch(e => {
            toaster.show(`${t("components.sharingRequest.thereWasAnIssueRejection")}${e.message}`, "error");
          })
          .finally(() => {
            loading.value = false;
          });
      };

      const acceptOffer = () => {
        loading.value = true;
        accepting.value = true;

        MessagesAPI.accept(props.message.id, props.message.configuration)
          .then(() => {
            emit("refresh");
            toaster.show(`${t("components.sharingRequest.youHaveAccepted")}${props.message.senderName}`);
          })
          .catch(e => {
            toaster.show(`${t("components.sharingRequest.thereWasAnIssueAcceptance")}${e.message}`, "error");
          })
          .finally(() => {
            loading.value = false;
            accepting.value = false;
          });
      };

      return {
        asset,
        price,
        isAccepted,
        isDeclined,
        isPending,
        acceptOffer,
        rejectOffer,
        rejectOfferAndBlock,
        t,
        loading,
        accepting,
      };
    },
  });
</script>
