<template>
  <div>{{ $t('components.systemNotification.systemNotification') }}</div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "SystemNotification",
  setup() {
    const { t } = useI18n();

    return { t }
  }
});
</script>