<template>
  <div>Transaction Result</div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "TransactionResult",
  props: { message: { type: Object, required: true } }
});
</script>