<template>
  <page-header :title="$t('pages.transactions.title')" />
  <div class="space-y-4">
    <dl class="grid grid-cols-1 gap-5 mt-5 sm:grid-cols-2 lg:grid-cols-4">
      <stat-card
        v-for="(item, idx) in stats"
        :key="idx"
        :name="item.name"
        :title="item.title"
        :stat="R.isNil(item.stat) || Number.isNaN(item.stat) ? '-' : item.stat"
      >
        <template #assets-shared>
          <InternalLink name="shared-assets" color="primary">
            {{ $t("pages.dashboard.viewDetails") }}
          </InternalLink>
        </template>
        <template #open-requests>
          <router-link
            :to="{ name: 'inbox', params: { tab: 'openrequests' } }"
            class="text-sm font-medium text-primary-600 hover:text-primary-500"
            >{{ $t("pages.transactions.viewDetails") }}
          </router-link>
        </template>
        <div class="absolute p-3 rounded-full bg-primary-500">
          <component :is="item.icon" class="w-6 h-6 text-white" aria-hidden="true" />
        </div>
      </stat-card>
    </dl>
    <div class="flex flex-col pt-4 space-y-4">
      <AdvancedTable
        :fields="fields"
        :data="visibleTransactions"
        :tabs="filters"
        :selectedTab="selectedTab"
        :loading="loading"
        :noResultsMessage="$t('pages.transactions.noTransactions')"
        rowClickable
        @tab-changed="changeTab"
        @row-clicked="toggleTransactionPreview"
      >
        <template #buyerName="{ data }">
          <div class="font-medium text-neutral-800">
            {{ data }}
          </div>
        </template>
        <template #type="{ processedData }">
          <div class="text-sm">
            <span
              class="px-2 py-1 rounded-lg"
              :class="{
                'text-neutral-600 rounded bg-neutral-200':
                  processedData === $t('pages.transactions.normal') ||
                  processedData === $t('pages.transactions.normalPersona'),
                'text-green-700 rounded bg-green-200': processedData === $t('pages.transactions.persona'),
                'text-primary-600 rounded bg-primary-200':
                  processedData === $t('pages.transactions.anonymous') ||
                  processedData === $t('pages.transactions.anonymousPersona'),
              }"
              >{{ processedData }}</span
            >
          </div>
        </template>
        <template #default="{ id, data }">
          <div class="flex flex-row w-6 space-x-1 text-neutral-500">
            <button type="button" @click.stop="toggleTransactionPreview(data)" class="focus:outline-none">
              <eye-icon-solid
                class="w-4 h-4 text-primary-500 hover:text-primary-600"
                v-if="transactionsInPreview.includes(id)"
              />
              <eye-icon-outline class="w-4 h-4 hover:text-primary-500" v-else />
            </button>
          </div>
        </template>
        <template #timestamp="{ processedData }">
          <tooltip :message="processedData.date">{{ processedData.fromNow }} </tooltip>
        </template>
        <template #details="{ id, data }">
          <transition
            enter-active-class="transition duration-200 ease-out"
            enter-from-class="-translate-y-1 opacity-0"
            enter-to-class="translate-y-0 opacity-100"
            leave-active-class="transition duration-150 ease-in"
            leave-from-class="translate-y-0 opacity-100"
            leave-to-class="-translate-y-1 opacity-0"
          >
            <transaction-preview v-if="transactionsInPreview.includes(id)" :transaction="data" />
          </transition>
        </template>
      </AdvancedTable>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from "vue";
import { ArrowSmDownIcon, ArrowSmUpIcon, EyeIcon as EyeIconSolid } from "@heroicons/vue/solid";
import {
  EyeIcon as EyeIconOutline,
  CollectionIcon,
  ShoppingBagIcon,
  CreditCardIcon,
  ReceiptTaxIcon,
} from "@heroicons/vue/outline";
import { useSharedAssets, useTransactions, useMessages, useAssetsStats, useMessagesStats } from "@/composables";
import dayjs from "dayjs";
import { TransactionPreview } from "../../components/transactions";
import { useI18n } from "vue-i18n";
import * as R from "ramda";
  import { useWallet } from "@/composables";

export default defineComponent({
  name: "Transactions",
  components: {
    ArrowSmDownIcon,
    ArrowSmUpIcon,
    EyeIconSolid,
    EyeIconOutline,
    TransactionPreview,
  },
  props: {
    initialTab: {
      type: String,
      default: "all",
    },
  },
  setup(props) {
    const { assets } = useSharedAssets();
    const { pendingRequests } = useMessages();
    const { totalPoints } = useWallet();
    const transactionsInPreview = ref<Number[]>([]);
    const selectedTab = ref<string>(props.initialTab);
    const { visibleTransactions, loading } = useTransactions(null, selectedTab);
    const { t } = useI18n();
    const { totalSharedAssetsCard, totalSoldCard } = useAssetsStats();
    const { points, totalSold } = useMessagesStats();
    points();

    const fields = computed(() => [
      {
        key: "category",
        label: t("pages.transactions.category"),
        searchable: true,
        sortable: true,
        preprocess: (data: any) => {
          if (data && data.toLowerCase() === "questionnaire") return t("pages.transactions.questionnaire");
          if (data && data.toLowerCase() === "asset") return t("pages.transactions.asset");
          return data;
        },
      },
      {
        key: "buyerName",
        label: t("pages.transactions.buyer"),
        searchable: true,
        sortable: true,
        showAfter: "md",
      },
      {
        key: "asset",
        label: t("pages.transactions.name"),
        searchable: true,
        sortable: true,
      },
      {
        key: "timestamp",
        label: t("pages.transactions.transactionTimestamp"),
        sortable: true,
        type: "datetime",
        showAfter: "sm",
        preprocess: (data: any) => {
          return {
            fromNow: dayjs(data as Date).fromNow(),
            date: dayjs(data as Date).format("MMM D, YYYY h:mm A"),
          };
        },
      },
      {
        key: "points",
        label: t("pages.transactions.points"),
        type: "integer",
        sortable: true,
        showAfter: "lg",
      },
      {
        key: "type",
        label: t("pages.transactions.sharingType"),
        sortable: true,
        showAfter: "xl",
        preprocess: (data: any) => {
          if (data) {
            switch (String(data).toLowerCase()) {
              case "normal":
                return t("pages.transactions.normal");
              case "normal + persona":
                return t("pages.transactions.normalPersona");
              case "anonymous":
                return t("pages.transactions.anonymous");
              case "anonymous + persona":
                return t("pages.transactions.anonymousPersona");
              default:
                return data;
            }
          }
          return data;
        },
      },
    ]);

    const filters = computed(() => [
      { label: t("pages.transactions.allTransactions"), value: "all" },
      { label: t("pages.transactions.assetsShared"), value: "shared" },
      { label: t("pages.transactions.assetsSold"), value: "sold" },
    ]);

    const stats = computed(() => [
      {
        name: "assets-shared",
        title: t("pages.transactions.assetsShared"),
        stat: totalSharedAssetsCard,
        icon: CollectionIcon,
      },
      {
        name: "total-sold",
        title: t("pages.transactions.totalSold"),
        stat: totalSoldCard.value + totalSold.value,
        icon: ReceiptTaxIcon,
      },
      {
        name: "wallet",
        title: t("pages.transactions.myWallet"),
        stat: totalPoints.value,
        icon: CreditCardIcon,
      },
      {
        name: "open-requests",
        title: t("pages.transactions.openRequests"),
        stat: pendingRequests.value.length,
        icon: ShoppingBagIcon,
      },
    ]);

    const toggleTransactionPreview = (item: { id: number }) => {
      const id = item.id;
      if (transactionsInPreview.value.includes(id)) {
        transactionsInPreview.value = transactionsInPreview.value.filter((previewId: any) => previewId !== id);
      } else {
        transactionsInPreview.value.push(id);
      }
    };

    const changeTab = (value: string) => {
      selectedTab.value = value;
    };

    return {
      stats,
      fields,
      visibleTransactions,
      transactionsInPreview,
      filters,
      selectedTab,
      loading,
      changeTab,
      toggleTransactionPreview,
      R,
    };
  },
});
</script>
