<template>
  <div class="overflow-hidden bg-white text-neutral-600">
    <div class="relative px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="absolute top-0 bottom-0 hidden w-screen lg:block bg-neutral-50 left-3/4" />
      <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
        <div>
          <h2 class="text-base font-semibold tracking-wide uppercase text-secondary-600">
            {{ $t('pages.about.about') }}
            </h2>
          <span class="mt-2 text-3xl font-extrabold leading-8 tracking-tight text-neutral-900 sm:text-4xl">
            {{ $t('pages.about.dataVaults') }}
            </span>
        </div>
      </div>
      <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="relative lg:row-start-1 lg:col-start-2">
          <svg class="absolute top-0 right-0 hidden -mt-20 -mr-20 lg:block" width="404" height="384" fill="none"
               viewBox="0 0 404 384" aria-hidden="true">
            <defs>
              <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20"
                       patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-neutral-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
          </svg>
          <div class="relative mx-auto text-base max-w-prose lg:max-w-none">
            <figure>
              <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
                <img class="object-cover object-center w-full h-40 rounded-lg shadow-lg lg:h-auto" :src="imageVault"
                     alt="Your data vault"  />
              </div>
            </figure>
          </div>
        </div>
        <div class="flex flex-col mt-8 space-y-8 lg:mt-0p-12">
          <div class="flex flex-col space-y-4">
            <p>{{ $t('pages.about.para1') }}</p>
          </div>
          <div class="flex flex-col space-y-4">
            <h3>{{ $t('pages.about.howDoesIt') }}</h3>
            <p>{{ $t('pages.about.para2') }}</p>
            <p>{{ $t('pages.about.para3') }}</p>
            <p>{{ $t('pages.about.para4a') }}<a :href="cloudUrl" title="DataVaults Cloud Platform">{{ $t('pages.about.dataVaultsCloud') }}</a>{{ $t('pages.about.para4b') }}</p>
          </div>
          <div class="flex flex-col space-y-4">
            <h3>{{ $t('pages.about.termsAndConditions') }}</h3>
            <p>{{ $t('pages.about.para5a') }}
              <router-link :to="{ name: 'policies-TermsOfService' }"
              >{{ $t('pages.about.termsOfService') }}</router-link>,
              <router-link :to="{ name: 'policies-Privacy' }">
                {{ $t('pages.about.privacyPolicy') }}
              </router-link>,
              <router-link :to="{ name: 'policies-Cookie' }">
                {{ $t('pages.about.cookiePolicy') }}
              </router-link>{{ $t('pages.about.para5b') }}<router-link :to="{ name: 'policies-AcceptableUse' }"
              >{{ $t('pages.about.acceptableUserPolicy') }}</router-link>.
            </p>
          </div>
          <div class="flex flex-col space-y-4">
            <h3>{{ $t('pages.about.learnMore') }}</h3>
            <p>{{ $t('pages.about.para6') }}<a href="https://www.datavaults.eu"
            >https://www.datavaults.eu</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { getEnv } from "../../envs";
import imageVault from '../../assets/vault.jpg'
export default {
  name: "About",
  setup() {
    window.scrollTo(0, 0);
    const cloudUrl = getEnv("VITE_CLOUD_URL");

    return { cloudUrl, imageVault };
  }
};
</script>
<style lang="postcss" scoped>
h3 {
    @apply uppercase tracking-wide font-bold text-neutral-500
}
a {
    @apply text-secondary-600;
}
</style>
