<template>
  <div class="flex flex-row items-center space-x-2" v-if="!isAuthenticated">
    <secondary-button
      v-if="isRegistrationOpen"
      @click="registerClicked"
      size="xs"
      >{{ $t("layouts.components.authMenu.register") }}</secondary-button
    >
    <primary-button @click="loginClicked" size="xs">{{ $t("layouts.components.authMenu.login") }}</primary-button>
  </div>
  <div class="flex-row items-center hidden space-x-6 md:flex" v-else>
    <user-menu />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import UserMenu from "./UserMenu.vue";
import store from "@/store";
import { useAuthentication } from "@/composables";
import { getEnv } from "../../envs";

export default defineComponent({
  name: "AuthMenu",
  components: {
    UserMenu,
  },
  setup() {
    const { login, register } = useAuthentication();
    const isAuthenticated = computed(() => store.getters.isAuthenticated);
    const isRegistrationOpen = computed(
      () => getEnv("VITE_REGISTRATION_OPEN") !== "false"
    );
    const loginClicked = () => login("/");
    const registerClicked = () => register();

    return {
      isAuthenticated,
      isRegistrationOpen,
      loginClicked,
      registerClicked,
    };
  },
});
</script>
