<template>
  <footer class="w-full text-sm bg-white">
    <div class="flex flex-col px-4 py-6 mx-auto space-y-4 overflow-hidden xl:px-16">
      <div class="flex flex-col items-center space-y-4 xl:space-y-0 xl:flex-row xl:justify-between">
        <nav
          v-if="showBasicLinks"
          class="flex flex-row flex-wrap px-6 py-2 -mx-5 -my-2 space-x-6 gap-y-2 md:justify-center"
          aria-label="Footer"
        >
          <router-link :to="{ name: 'about' }" class="text-neutral-500 hover:text-neutral-900">
            {{ $t("layouts.components.minimalFooter.about") }}
          </router-link>
          <router-link
            v-if="demonstrator"
            :to="{ name: 'terms-Demonstrator' }"
            class="text-neutral-500 hover:text-neutral-900"
          >
            {{ demonstrator === 'miwenergia' ? 'MIWenergia' : capString(demonstrator) }} Terms
          </router-link>
          <router-link :to="{ name: 'faq' }" class="text-neutral-500 hover:text-neutral-900">
            {{ $t("layouts.components.minimalFooter.faq") }}
          </router-link>
          <router-link :to="{ name: 'policies-TermsOfService' }" class="text-neutral-500 hover:text-neutral-900">
            {{ $t("layouts.components.minimalFooter.termsOfService") }}
          </router-link>
          <router-link :to="{ name: 'policies-Privacy' }" class="text-neutral-500 hover:text-neutral-900">
            {{ $t("layouts.components.minimalFooter.privacyPolicy") }}
          </router-link>
          <router-link :to="{ name: 'policies-Cookie' }" class="text-neutral-500 hover:text-neutral-900">
            {{ $t("layouts.components.minimalFooter.cookies") }}
          </router-link>
          <router-link :to="{ name: 'policies-AcceptableUse' }" class="text-neutral-500 hover:text-neutral-900">
            {{ $t("layouts.components.minimalFooter.acceptableUse") }}
          </router-link>
          <router-link :to="{ name: 'contact' }" class="text-neutral-500 hover:text-neutral-900">
            {{ $t("layouts.components.minimalFooter.contactUs") }}
          </router-link>
        </nav>
        <div
          class="flex flex-col items-center justify-center space-y-2 text-neutral-400 md:space-y-0 md:flex-row md:space-x-10"
          :class="{ 'mx-auto': !showBasicLinks }"
        >
          <div>{{ $t("layouts.components.minimalFooter.copyright") }} &copy; {{ year }} DataVaults</div>
          <div class="flex flex-row items-center space-x-6">
            <a
              v-for="item in navigation"
              :key="item.name"
              :href="item.href"
              class="text-neutral-400 hover:text-neutral-500"
            >
              <span class="sr-only">{{ item.name }}</span>
              <component :is="item.icon" class="w-5 h-5" aria-hidden="true" />
            </a>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col text-neutral-400"
        :class="{
          'md:mx-20 xl:mx-0': showBasicLinks,
          'items-center': !showBasicLinks,
        }"
      >
        <div class="flex flex-col items-center space-y-4 md:space-y-0 md:flex-row md:space-x-4 md:justify-between">
          <div class="flex flex-row items-center space-x-2">
            <img :src="imageEcFlag" class="inline" alt="European Commission" />
            <span class="text-xs italic">{{ $t("layouts.components.minimalFooter.funding") }}</span>
          </div>
          <Language :dark="true" />
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
  import { defineComponent, h, computed } from "vue";
  import store from "@/store";
  import imageEcFlag from "../../assets/ec_flag.png";

  const navigation = [
    {
      name: "Facebook",
      href: "https://www.facebook.com/DataVaults-H2020-Project-104528694494271/",
      icon: defineComponent({
        render: () =>
          h("svg", { fill: "currentColor", viewBox: "0 0 24 24" }, [
            h("path", {
              "fill-rule": "evenodd",
              "d": "M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z",
              "clip-rule": "evenodd",
            }),
          ]),
      }),
    },
    {
      name: "Twitter",
      href: "https://twitter.com/datavaultsh2020",
      icon: defineComponent({
        render: () =>
          h("svg", { fill: "currentColor", viewBox: "0 0 24 24" }, [
            h("path", {
              d: "M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z",
            }),
          ]),
      }),
    },
    {
      name: "LinkedIn",
      href: "https://be.linkedin.com/in/datavaults-project-93b4591a4",
      icon: defineComponent({
        render: () =>
          h("svg", { fill: "currentColor", viewBox: "0 0 24 24" }, [
            h("path", {
              d: "M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z",
            }),
          ]),
      }),
    },
  ];

  export default {
    name: "MinimalFooter",
    props: {
      showBasicLinks: {
        type: Boolean,
        default: true,
      },
    },
    setup() {
      const demonstrator = computed(() => store.getters.retrieveDemonstrator);
      const year = new Date().getFullYear();

      const capString = (text: string): string => {
        return text.replace(/^\w/, c => c.toUpperCase());
      };

      return {
        navigation,
        imageEcFlag,
        demonstrator,
        capString,
        year,
      };
    },
  };
</script>
