<template>
  <tooltip :message="tooltip">
    <div class="cursor-pointer" @click="onItemClick">
      <div class="flex items-center" :class="[horizontal ? 'flex-row space-x-2' : 'flex-col space-y-2']">
        <component
          :is="icon"
          class="cursor-pointer"
          :class="[iconSizeClass, selected ? 'text-white' : 'text-primary-100 opacity-50']"
        />
        <div
          class="text-sm whitespace-nowrap"
          :class="{
            'text-white': selected,
            'text-primary-100 opacity-50': !selected,
          }"
        >
          <slot></slot>
        </div>
      </div>
    </div>
  </tooltip>
</template>
<script lang="ts">
  import { AdjustmentsIcon, HomeIcon, ReceiptTaxIcon } from "@heroicons/vue/outline";
  import {
    ChartPieIcon,
    DatabaseIcon,
    InboxInIcon,
    SearchIcon,
    ShareIcon,
    ShieldExclamationIcon,
  } from "@heroicons/vue/solid";
  import { computed, defineComponent } from "vue";
  import { useRouter } from "vue-router";

  export default defineComponent({
    name: "NavigationMenuItem",
    props: {
      icon: String,
      page: String,
      selected: Boolean,
      horizontal: { type: Boolean, default: false },
      tooltip: { type: String },
      iconSize: {
        type: String,
        default: "base",
        validator: (value: string) => ["sm", "base", "lg"].includes(value),
      },
    },
    components: {
      HomeIcon,
      DatabaseIcon,
      ShareIcon,
      ReceiptTaxIcon,
      AdjustmentsIcon,
      ShieldExclamationIcon,
      ChartPieIcon,
      InboxInIcon,
      SearchIcon,
    },
    setup(props, { emit }) {
      const router = useRouter();

      const onItemClick = async () => {
        await emit("click");
        router.push({ path: props.page as string, query: {} });
      };

      const iconSizeClass = computed(() => {
        switch (props.iconSize) {
          case "sm":
            return "w-4 h-4";
            break;
          case "lg":
            return "w-8 h-8";
            break;
          case "base":
          default:
            return "w-6 h-6";
            break;
        }
      });

      return { iconSizeClass, onItemClick };
    },
  });
</script>
