<template>
  <div class="relative flex-grow-0 flex-shrink-0 min-h-screen overflow-y-hidden md:w-44 md:bg-primary-700">
    <div class="flex-col flex-1 hidden md:fixed md:w-44 md:flex navbar">
      <div class="flex flex-col items-center flex-1 w-full py-6">
        <div class="flex flex-col justify-between flex-1 px-2 mt-4">
          <div class="flex flex-col items-center space-y-8">
            <NavigationMenuItem
              icon="ShareIcon"
              iconSize="lg"
              :tooltip="$t('layouts.components.navigationMenu.share')"
              page="/share"
              :selected="isSelected('share')"
              @click="setClosed"
            >
              {{ $t("layouts.components.navigationMenu.share") }}
            </NavigationMenuItem>
            <NavigationMenuItem
              icon="AdjustmentsIcon"
              iconSize="lg"
              :tooltip="$t('layouts.components.navigationMenu.connectSource')"
              page="/data-fetcher"
              :selected="isSelected('data-fetcher')"
            >
              {{ $t("layouts.components.navigationMenu.connectSource") }}
            </NavigationMenuItem>
          </div>
          <div class="flex flex-col items-start space-y-4">
            <NavigationMenuItem
              icon="SearchIcon"
              iconSize="sm"
              :tooltip="$t('layouts.components.navigationMenu.search')"
              page="/my-vault"
              horizontal
              :selected="isSelected('search')"
            >
              {{ $t("layouts.components.navigationMenu.search") }}
            </NavigationMenuItem>
            <NavigationMenuItem
              icon="HomeIcon"
              iconSize="sm"
              :tooltip="$t('layouts.components.navigationMenu.dashboard')"
              page="/dashboard"
              horizontal
              :selected="isSelected('dashboard')"
            >
              {{ $t("layouts.components.navigationMenu.dashboard") }}
            </NavigationMenuItem>
            <NavigationMenuItem
              icon="DatabaseIcon"
              iconSize="sm"
              :tooltip="$t('layouts.components.navigationMenu.myVault')"
              page="/my-vault"
              horizontal
              :selected="isSelected('my-vault')"
            >
              {{ $t("layouts.components.navigationMenu.myVault") }}
            </NavigationMenuItem>
            <NavigationMenuItem
              icon="ReceiptTaxIcon"
              iconSize="sm"
              :tooltip="$t('layouts.components.navigationMenu.transactions')"
              page="/transactions"
              horizontal
              :selected="isSelected('transactions')"
            >
              {{ $t("layouts.components.navigationMenu.transactions") }}
            </NavigationMenuItem>
            <NavigationMenuItem
              icon="ChartPieIcon"
              iconSize="sm"
              :tooltip="$t('layouts.components.navigationMenu.analytics')"
              page="/analytics"
              horizontal
              :selected="isSelected('analytics')"
            >
              {{ $t("layouts.components.navigationMenu.analytics") }}
            </NavigationMenuItem>
            <NavigationMenuItem
              icon="InboxInIcon"
              iconSize="sm"
              page="/inbox"
              :tooltip="$t('layouts.components.navigationMenu.inbox')"
              horizontal
              :selected="isSelected('inbox')"
            >
              {{ $t("layouts.components.navigationMenu.inbox") }}
            </NavigationMenuItem>
          </div>
        </div>
      </div>
    </div>
    <TransitionRoot as="template" :show="open">
      <Dialog as="div" static class="md:hidden" @close="setClosed" :open="open">
        <div class="fixed inset-0 z-40 flex">
          <TransitionChild
            as="template"
            enter="transition-opacity ease-linear duration-300"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="transition-opacity ease-linear duration-300"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay class="fixed inset-0 bg-opacity-75 bg-neutral-600" />
          </TransitionChild>
          <TransitionChild
            as="template"
            enter="transition ease-in-out duration-300 transform"
            enter-from="-translate-x-full"
            enter-to="translate-x-0"
            leave="transition ease-in-out duration-300 transform"
            leave-from="translate-x-0"
            leave-to="-translate-x-full"
          >
            <div class="relative flex flex-col flex-1 w-full max-w-xs pt-5 pb-4 bg-primary-700">
              <TransitionChild
                as="template"
                enter="ease-in-out duration-300"
                enter-from="opacity-0"
                enter-to="opacity-100"
                leave="ease-in-out duration-300"
                leave-from="opacity-100"
                leave-to="opacity-0"
              >
                <div class="absolute right-0 p-1 top-1 -mr-14">
                  <button
                    type="button"
                    class="flex items-center justify-center w-12 h-12 rounded-full focus:outline-none focus:ring-2 focus:ring-white"
                    @click="setClosed"
                  >
                    <XIcon class="w-6 h-6 text-white" aria-hidden="true" />
                    <span class="sr-only">{{ $t("layouts.components.navigationMenu.closeSidebar") }}</span>
                  </button>
                </div>
              </TransitionChild>
              <div class="flex flex-col justify-between flex-1 h-0 px-2 m-5 overflow-y-auto side-menu">
                <nav class="flex flex-col justify-between flex-1 mb-10">
                  <div class="flex flex-col items-start space-y-8">
                    <NavigationMenuItem
                      icon="ShareIcon"
                      iconSize="lg"
                      :tooltip="$t('layouts.components.navigationMenu.share')"
                      page="/share"
                      :selected="isSelected('share')"
                      horizontal
                      @click="setClosed"
                    >
                      {{ $t("layouts.components.navigationMenu.share") }}
                    </NavigationMenuItem>
                    <NavigationMenuItem
                      icon="AdjustmentsIcon"
                      iconSize="lg"
                      :tooltip="$t('layouts.components.navigationMenu.connectSource')"
                      page="/data-fetcher"
                      horizontal
                      :selected="isSelected('data-fetcher')"
                    >
                      {{ $t("layouts.components.navigationMenu.connectSource") }}
                    </NavigationMenuItem>
                  </div>
                  <div class="flex flex-col items-start space-y-4">
                    <NavigationMenuItem
                      icon="SearchIcon"
                      iconSize="sm"
                      :tooltip="$t('layouts.components.navigationMenu.search')"
                      page="/my-vault"
                      horizontal
                      :selected="isSelected('search')"
                    >
                      {{ $t("layouts.components.navigationMenu.search") }}
                    </NavigationMenuItem>
                    <NavigationMenuItem
                      icon="HomeIcon"
                      iconSize="sm"
                      :tooltip="$t('layouts.components.navigationMenu.dashboard')"
                      page="/dashboard"
                      horizontal
                      :selected="isSelected('dashboard')"
                    >
                      {{ $t("layouts.components.navigationMenu.dashboard") }}
                    </NavigationMenuItem>
                    <NavigationMenuItem
                      icon="DatabaseIcon"
                      iconSize="sm"
                      :tooltip="$t('layouts.components.navigationMenu.myVault')"
                      page="/my-vault"
                      horizontal
                      :selected="isSelected('my-vault')"
                    >
                      {{ $t("layouts.components.navigationMenu.myVault") }}
                    </NavigationMenuItem>
                    <NavigationMenuItem
                      icon="ReceiptTaxIcon"
                      iconSize="sm"
                      :tooltip="$t('layouts.components.navigationMenu.transactions')"
                      page="/transactions"
                      horizontal
                      :selected="isSelected('transactions')"
                    >
                      {{ $t("layouts.components.navigationMenu.transactions") }}
                    </NavigationMenuItem>
                    <NavigationMenuItem
                      icon="ChartPieIcon"
                      iconSize="sm"
                      :tooltip="$t('layouts.components.navigationMenu.analytics')"
                      page="/analytics"
                      horizontal
                      :selected="isSelected('analytics')"
                    >
                      {{ $t("layouts.components.navigationMenu.analytics") }}
                    </NavigationMenuItem>
                    <NavigationMenuItem
                      icon="InboxInIcon"
                      iconSize="sm"
                      page="/inbox"
                      :tooltip="$t('layouts.components.navigationMenu.inbox')"
                      horizontal
                      :selected="isSelected('inbox')"
                    >
                      {{ $t("layouts.components.navigationMenu.inbox") }}
                    </NavigationMenuItem>
                  </div>
                </nav>
                <MobileUserMenu />
              </div>
            </div>
          </TransitionChild>
          <div class="flex-shrink-0 w-14" aria-hidden="true">
            <!-- Dummy element to force sidebar to shrink to fit close icon -->
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<script lang="ts">
  import MobileUserMenu from "@/layouts/components/MobileUserMenu.vue";
  import { Dialog, DialogOverlay, TransitionChild, TransitionRoot } from "@headlessui/vue";
  import { XIcon } from "@heroicons/vue/outline";
  import * as R from "ramda";
  import { computed, defineComponent } from "vue";
  import { useRoute } from "vue-router";
  import NavigationMenuItem from "./NavigationMenuItem.vue";

  export default defineComponent({
    name: "NavigationMenu",
    props: {
      open: Boolean,
    },
    emits: ["update:open"],
    components: {
      NavigationMenuItem,
      TransitionChild,
      TransitionRoot,
      Dialog,
      DialogOverlay,
      XIcon,
      MobileUserMenu,
    },
    setup(props, { emit }) {
      const route = useRoute();
      const selected = computed(() => {
        return R.has("parent", route.meta) ? route.meta.parent : route.name;
      });

      const isSelected = (menuName: string) => {
        return menuName === selected.value;
      };

      const toggleOpen = () => {
        emit("update:open", !props.open);
      };
      const setClosed = () => {
        emit("update:open", false);
      };
      return { selected, isSelected, toggleOpen, setClosed };
    },
  });
</script>
<style lang="postcss" scoped>
  .navbar {
    height: calc(100vh - 5rem);
  }
</style>
