<template>
  <div class="flex flex-row justify-between p-2 bg-neutral-800">
    <div class="flex flex-row items-center space-x-6">
      <div class="cursor-pointer" @click="goToRoot">
        <img
          alt="DataVaults"
          class="h-12"
          :src="imageLogoOnDark"
        />
      </div>
    </div>

    <div v-if="isAuthenticated" class="flex flex-col p-4 bg-neutral-800 md:hidden">
      <MenuAlt1Icon class="text-white w-8 h-8 cursor-pointer" @click="toggleOpen" />
    </div>
    <auth-menu />
  </div>
</template>
<script lang="ts">
import { defineComponent, computed } from "vue";
import AuthMenu from "./AuthMenu.vue";
import store from "@/store";
import { useRoute, useRouter } from "vue-router";
import { MenuAlt1Icon } from "@heroicons/vue/outline";
import imageLogoOnDark from "../../assets/logo-on-dark.png"

export default defineComponent({
  name: "NavigationHeader",
  components: { AuthMenu, MenuAlt1Icon },
  setup(props, { emit }) {
    const route = useRoute();
    const router = useRouter();
    const isAuthenticated = computed(() => store.getters.isAuthenticated);
    const goToRoot = () => {
      if (isAuthenticated.value) {
        router.push({ path: "/dashboard", query: {} });
      } else {
        router.push({ path: "/", query: {} });
      }
    };

    const toggleOpen = () => {
      emit("toggleOpen");
    };

    return { isAuthenticated, route, imageLogoOnDark, goToRoot, toggleOpen };
  }
});
</script>
