<template>
  <Menu as="div" class="relative z-20 ml-3">
    <div>
      <menu-button
        class="flex flex-row items-center space-x-2 text-sm text-white group focus:outline-none focus:shadow-solid"
      >
        <ProfilePicture />
        <div class="hidden text-left md:block">
          <div class="font-medium">
            <span v-if="fullName">{{ fullName }}</span>
            <span v-else>{{ user.email }}</span>
          </div>
          <div class="flex flex-row items-center space-x-1 text-xs">
            <div>{{ $t("layouts.components.userMenu.profileCompleteness") }}</div>
            <div class="h-3 bg-white rounded-lg w-9">
              <div class="h-full rounded-lg" :class="completeness" />
            </div>
            <ChevronDownIcon class="w-4 h-4 ml-1" />
          </div>
        </div>
      </menu-button>
    </div>
    <transition
      enter-active-class="transition duration-200 ease-out"
      enter-from-class="transform scale-95 opacity-0"
      enter-to-class="transform scale-100 opacity-100"
      leave-active-class="transition duration-75 ease-in"
      leave-from-class="transform scale-100 opacity-100"
      leave-to-class="transform scale-95 opacity-0"
    >
      <menu-items
        class="absolute right-0 w-56 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      >
        <div class="flex flex-col px-4 py-3 space-y-1">
          <p class="text-sm">{{ $t("layouts.components.userMenu.signedIn") }}</p>
          <p v-if="fullName" class="text-sm font-medium truncate text-secondary-800">
            {{ fullName }}
          </p>
        </div>
        <hr />
        <menu-item v-slot="{ active }">
          <router-link to="/profile">
            <div
              href="#"
              :class="[
                active ? 'bg-neutral-100' : '',
                'group flex items-center px-4 py-2 text-sm text-neutral-500 hover:text-neutral-700',
              ]"
            >
              <user-circle-icon class="w-5 h-5 mr-3 text-neutral-500 group-hover:text-neutral-700" />
              {{ $t("layouts.components.userMenu.myProfile") }}
            </div>
          </router-link>
        </menu-item>
        <menu-item v-slot="{ active }">
          <router-link to="/settings">
            <div
              :class="[
                active ? 'bg-neutral-100' : '',
                'group flex items-center px-4 py-2 text-sm text-neutral-500 hover:text-neutral-700',
              ]"
            >
              <cog-icon class="w-5 h-5 mr-3 text-neutral-500 group-hover:text-neutral-700" />
              {{ $t("layouts.components.userMenu.settings") }}
            </div>
          </router-link>
        </menu-item>
        <menu-item v-slot="{ active }">
          <div
            :class="[
              active ? 'bg-neutral-100' : '',
              'group flex items-center px-4 py-2 text-sm text-neutral-500 hover:text-neutral-700',
            ]"
            @click.stop="logout()"
          >
            <logout-icon class="w-5 h-5 mr-3 text-neutral-500 group-hover:text-neutral-700" />
            {{ $t("layouts.components.userMenu.signOut") }}
          </div>
        </menu-item>
      </menu-items>
    </transition>
  </Menu>
</template>

<script lang="ts">
  import { Auth } from "@/api";
  import Tooltip from "@/components/Tooltip.vue";
  import { useAuthentication } from "@/composables";
  import store from "@/store";
  import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
  import { ChevronDownIcon, CogIcon, LogoutIcon, UserCircleIcon } from "@heroicons/vue/outline";
  import * as R from "ramda";
  import { computed, defineComponent } from "vue";

  export default defineComponent({
    name: "UserMenu",
    components: {
      Tooltip,
      Menu,
      MenuButton,
      MenuItem,
      MenuItems,
      LogoutIcon,
      CogIcon,
      UserCircleIcon,
      ChevronDownIcon,
    },
    setup() {
      const { logout: keycloakLogout } = useAuthentication();

      const user = computed(() => store.state.user);

      const completenessPercentage = computed(() => user.value.completenessPercentage);

      const fullName = computed(() => {
        if (
          user.value &&
          !R.isNil(user.value.firstName) &&
          !R.isEmpty(user.value.firstName) &&
          !R.isNil(user.value.lastName) &&
          !R.isEmpty(user.value.lastName)
        ) {
          return `${user.value.firstName} ${user.value.lastName}`;
        } else if (user.value && !R.isNil(user.value.firstName) && !R.isEmpty(user.value.firstName)) {
          return user.value.firstName;
        } else if (user && !R.isNil(user.value.lastName) && !R.isEmpty(user.value.lastName)) {
          return user.value.lastName;
        }

        return null;
      });

      const logout = async () => {
        await store.commit("CLEAR_USER");
        await Auth.logout();
        // await router.push("/");
        await keycloakLogout();
      };

      const completeness = computed(() => {
        if (completenessPercentage.value < 0.3) return "w-1/4 bg-red-400";
        if (completenessPercentage.value < 0.5) return "w-1/3 bg-yellow-500";
        if (completenessPercentage.value < 0.6) return "w-1/2 bg-yellow-400";
        if (completenessPercentage.value < 0.7) return "w-2/3 bg-green-400";
        if (completenessPercentage.value === 1) return "w-full bg-green-400";
        return "w-full bg-green-500";
      });

      return { logout, user, fullName, completeness };
    },
  });
</script>
