<template>
  <page-header :title="$t('pages.sharedAssets.title')" />
  <div class="flex flex-col pt-4 space-y-4">
    <AdvancedTable
      :fields="fields"
      :data="filteredSharedAssets"
      sortBy="timestamp"
      sortDirection="desc"
      :selectedTab="selectedTab"
      :tabs="filters"
      :noResultsMessage="$t('pages.sharedAssets.noSharedAssets')"
      :loading="loading"
      rowClickable
      @row-clicked="openAsset"
    >
      <template #asset="{ data, item }">
        <div :class="{ 'font-medium text-neutral-700': !item.seen }">
          {{ data }}
        </div>
      </template>

      <template #timestamp="{ processedData, item }">
        <div :class="{ 'font-medium text-neutral-700': !item.seen }">
          <tooltip :message="processedData.date">{{ processedData.fromNow }}</tooltip>
        </div>
      </template>
      <template #default="{ id, data }">
        <div class="flex flex-row items-center space-x-2 text-neutral-500">
          <button type="button" @click="openAsset(data)" class="focus:outline-none">
            <eye-icon class="w-4 h-4 hover:text-primary-500" />
          </button>
        </div>
      </template>
    </AdvancedTable>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent, ref } from "vue";
  import { useSharedAssets } from "@/composables";
  import dayjs from "dayjs";
  import { EyeIcon, TrashIcon, ExclamationCircleIcon } from "@heroicons/vue/outline";
  import { useRouter } from "vue-router";
  import relativeTime from "dayjs/plugin/relativeTime";
  import { useI18n } from "vue-i18n";
  import { AdvancedTable } from "@/components";
  import * as R from "ramda";
  dayjs.extend(relativeTime);

  export default defineComponent({
    name: "Inbox",
    props: { tab: { type: String, default: "all" } },
    components: {
      EyeIcon,
      TrashIcon,
      ExclamationCircleIcon,
      AdvancedTable,
    },
    setup(props) {
      const selectedTab = ref<String>("all");
      const { t } = useI18n();
      const { assets, loading, refresh } = useSharedAssets();
      refresh();
      const router = useRouter();
      const searchFields = ["asset"];

      const fields = computed(() => [
        {
          key: "asset",
          label: t("pages.sharedAssets.asset"),
          searchable: true,
          sortable: true,
        },
        {
          key: "pseudonym",
          label: t("pages.sharedAssets.pseudonym"),
          sortable: true,
          showAfter: "md",
        },
        {
          key: "timestamp",
          label: t("pages.sharedAssets.timestamp"),
          type: "datetime",
          sortable: true,
          showAfter: "sm",
          preprocess: (data: any) => {
            return {
              date: dayjs(data as Date).format("MMM D, YYYY h:mm A"),
              fromNow: dayjs(data as Date).fromNow(),
            };
          },
        },
        {
          key: "amount",
          label: t("pages.sharedAssets.amount"),
          sortable: false,
          showAfter: "md",
        },
      ]);

      const changeTab = (value: string) => {
        selectedTab.value = value;
      };

      const filters = computed(() => [{ label: t("pages.sharedAssets.allAssets"), value: "all" }]);

      const allSharedAssets = computed(() => {
        const returnAssets: any = [];
        const assetsClone = R.clone(assets.value);
        assetsClone.forEach((item: any) => {
          returnAssets.push({
            asset: item.name,
            pseudonym:
              item.configuration.anonymisation.pseudoId != null
                ? item.configuration.anonymisation.pseudoId
                : item.configuration.anonymisation.tpmPseudonym != null
                ? item.configuration.anonymisation.tpmPseudonym
                : t("pages.sharedAssets.noPseudonym"),
            timestamp: item.createdAt,
            amount: item.points,
            assetId: item.assetId,
          });
        });
        return returnAssets;
      });

      const filteredSharedAssets = computed(() => {
        switch (selectedTab.value) {
          case "all":
            return allSharedAssets.value;
        }
      });

      const openAsset = (item: any) => {
        router.push(`/my-vault/asset/${item.assetId}`);
      };

      return {
        fields,
        filteredSharedAssets,
        filters,
        changeTab,
        selectedTab,
        loading,
        assets,
        searchFields,
        openAsset,
      };
    },
  });
</script>
