<template>
  <div class="relative bg-white">
    <div class="lg:absolute lg:inset-0">
      <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
        <img class="object-cover w-full h-56 lg:absolute lg:h-full"
             :src="imageCookie"
             alt="Cookie policy">
      </div>
    </div>
    <div class="relative px-4 pt-12 pb-16 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
      <div class="lg:col-start-2 lg:pl-8">
        <div class="mx-auto text-base max-w-prose lg:max-w-lg lg:ml-auto lg:mr-0">
          <h2 class="font-semibold leading-6 tracking-wide uppercase text-secondary-600">{{ $t('pages.policies.cookie.dataVaultsPA') }}</h2>

          <h3 class="mt-2 text-3xl font-extrabold leading-8 tracking-tight text-neutral-900 sm:text-4xl">{{ $t('pages.policies.cookie.cookiePolicy') }}</h3>
          <div class="flex flex-col space-y-4">
            <p class="mt-8 text-lg text-neutral-500">
              {{ $t('pages.policies.cookie.para1a') }}
              <a
              class="text-secondary-600" href="https://app.datavaults.eu">
              https://app.datavaults.eu</a>.{{ $t('pages.policies.cookie.para1b') }}</p>
            <p class="mt-8 text-lg text-neutral-500">{{ $t('pages.policies.cookie.para2') }}</p>
            <p class="mt-8 text-lg text-neutral-500">{{ $t('pages.policies.cookie.para3a') }}
              <a
                class="text-secondary-600" href="https://app.datavaults.eu">https://app.datavaults.eu</a>.
               {{ $t('pages.policies.cookie.para3b') }}</p>
          </div>
          <div class="flex flex-col mt-5 space-y-12 prose text-justify prose-secondary text-neutral-500">
           
            <div class="flex flex-col space-y-4">
              <h3 class="font-bold tracking-wide uppercase">{{ $t('pages.policies.cookie.whatIsACookie') }}</h3>
              <p>{{ $t('pages.policies.cookie.para4') }}</p>
              <p>{{ $t('pages.policies.cookie.para5') }}</p>
              <p>{{ $t('pages.policies.cookie.para6') }}</p>
              <p>{{ $t('pages.policies.cookie.para7') }}</p>
            </div>
            <div class="flex flex-col space-y-4">
              <h3 class="font-bold tracking-wide uppercase">{{ $t('pages.policies.cookie.typesOfCookies') }}</h3>
              <h4 class="text-xs font-bold tracking-wide uppercase">{{ $t('pages.policies.cookie.essentialCookies') }}</h4>
              <p>{{ $t('pages.policies.cookie.para8') }}</p>
              <p>{{ $t('pages.policies.cookie.para9') }}</p>
              <h4 class="text-xs font-bold tracking-wide uppercase">{{ $t('pages.policies.cookie.performanceCookies') }}</h4>
              <p>{{ $t('pages.policies.cookie.para10') }}</p>
              <p>{{ $t('pages.policies.cookie.para11') }}</p>
              <h4 class="text-xs font-bold tracking-wide uppercase">{{ $t('pages.policies.cookie.functionalityCookies') }}</h4>
              <p>{{ $t('pages.policies.cookie.para12') }}</p>
              <p>{{ $t('pages.policies.cookie.para13') }}</p>
              <h4 class="text-xs font-bold tracking-wide uppercase">{{ $t('pages.policies.cookie.targetingCookies') }}</h4>
              <p>{{ $t('pages.policies.cookie.para14') }}</p>
              <p>{{ $t('pages.policies.cookie.para15') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import imageCookie from '../../assets/cookies.jpg'


export default defineComponent({
  name: "CookiePolicy",
  setup() {
    window.scrollTo(0, 0);

    return {imageCookie}
  }
});
</script>
