<template>
  <div class="relative py-16 overflow-hidden bg-white">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
      <div
        class="relative h-full mx-auto text-lg max-w-prose"
        aria-hidden="true"
      >
        <svg
          class="absolute transform translate-x-32 top-12 left-full"
          width="404"
          height="384"
          fill="none"
          viewBox="0 0 404 384"
        >
          <defs>
            <pattern
              id="74b3fd99-0a6f-4271-bef2-e80eeafdf357"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect
                x="0"
                y="0"
                width="4"
                height="4"
                class="text-neutral-200"
                fill="currentColor"
              />
            </pattern>
          </defs>
          <rect
            width="404"
            height="384"
            fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"
          />
        </svg>
        <svg
          class="absolute transform -translate-x-32 -translate-y-1/2 top-1/2 right-full"
          width="404"
          height="384"
          fill="none"
          viewBox="0 0 404 384"
        >
          <defs>
            <pattern
              id="f210dbf6-a58d-4871-961e-36d5016a0f49"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect
                x="0"
                y="0"
                width="4"
                height="4"
                class="text-neutral-200"
                fill="currentColor"
              />
            </pattern>
          </defs>
          <rect
            width="404"
            height="384"
            fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"
          />
        </svg>
        <svg
          class="absolute transform translate-x-32 bottom-12 left-full"
          width="404"
          height="384"
          fill="none"
          viewBox="0 0 404 384"
        >
          <defs>
            <pattern
              id="d3eb07ae-5182-43e6-857d-35c643af9034"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect
                x="0"
                y="0"
                width="4"
                height="4"
                class="text-neutral-200"
                fill="currentColor"
              />
            </pattern>
          </defs>
          <rect
            width="404"
            height="384"
            fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"
          />
        </svg>
      </div>
    </div>
    <div class="relative flex flex-col px-4 space-y-6 sm:px-6 lg:px-8">
      <div class="mx-auto text-lg max-w-prose">
        <h1>
          <span class="block text-base font-semibold tracking-wide text-center uppercase text-secondary-600">DataVaults Personal App</span>
          <span class="block mt-2 text-3xl font-extrabold leading-8 tracking-tight text-center text-neutral-900 sm:text-4xl">Terms Of Service</span>
        </h1>
        <p class="mt-8 text-xl leading-8 text-neutral-500">These Terms of Service govern your use of the website located at
          <a
            class="text-secondary-600"
            href="https://app.datavaults.eu"
          >https://app.datavaults.eu</a>
          and any related services provided by DataVaults.
        </p>
        <p class="mt-8 text-xl leading-8 text-neutral-500">By accessing <a
            class="text-secondary-600"
            href="https://app.datavaults.eu"
          >https://app.datavaults.eu</a>, you agree to abide by these Terms of Service and to comply with all applicable laws and regulations. If you do not agree with these Terms of Service, you are prohibited from using or accessing this website or using any other services provided by DataVaults. </p>
        <p class="mt-8 text-xl leading-8 text-neutral-500">We, DataVaults, reserve the right to review and amend any of these Terms of Service at our sole discretion. Upon doing so, we will update this page. Any changes to these Terms of Service will take effect immediately from the date of publication. </p>
        <p class="mt-8 leading-8 text-right text-primary-700">These Terms of Service were last updated on <span class="font-bold whitespace-nowrap">10 May 2022</span>.</p>
      </div>
      <div class="flex flex-col mx-auto space-y-12 prose prose-lg text-justify prose-secondary text-neutral-500 max-w-prose">
        <div class="flex flex-col space-y-4">
          <h3 class="font-bold tracking-wide uppercase">Limitations of Use</h3>
          <p>By using this website, you warrant on behalf of yourself, your users, and other parties you represent that you will not: </p>
          <ol class="pl-10 list-decimal">
            <li>modify, copy, prepare derivative works of, decompile, or reverse engineer any materials and software contained on this website;</li>
            <li>remove any copyright or other proprietary notations from any materials and software on this website;</li>
            <li>transfer the materials to another person or &ldquo;mirror&rdquo; the materials on any other server;</li>
            <li>knowingly or negligently use this website or any of its associated services in a way that abuses or disrupts our networks or any other service DataVaults provides;</li>
            <li>use this website or its associated services to transmit or publish any harassing, indecent, obscene, fraudulent, or unlawful material;</li>
            <li>use this website or its associated services in violation of any applicable laws or regulations;</li>
            <li>use this website in conjunction with sending unauthorised advertising or spam;</li>
            <li>harvest, collect or gather user data without the user’s consent; or</li>
            <li>use this website or its associated services in such a way that may infringe the privacy, intellectual property rights, or other rights of third parties.</li>
          </ol>
        </div>
        <div class="flex flex-col space-y-4">
          <h3 class="font-bold tracking-wide uppercase">Intellectual Property</h3>
          <p>The intellectual property in the materials contained in this website are owned by or licensed to DataVaults and are protected by applicable copyright and trademark law. We grant our users permission to download one copy of the materials for personal, non-commercial transitory use. </p>
          <p>This constitutes the grant of a license, not a transfer of title. This license shall automatically terminate if you violate any of these restrictions or the Terms of Service, and may be terminated by DataVaults at any time. </p>

        </div>
        <div class="flex flex-col space-y-4">
          <h3 class="font-bold tracking-wide uppercase">User-Generated Content</h3>
          <p>You retain your intellectual property ownership rights over content you submit to us for publication on our website. We will never claim ownership of your content but we do require a license from you in order to use it. </p>
          <p>When you use our website or its associated services to post, upload, share or otherwise transmit content covered by intellectual property rights, you grant to us a non-exclusive, royalty-free, transferable, sub-licensable, worldwide license to use, distribute, modify, run, copy, publicly display, translate or otherwise create derivative works of your content in a manner that is consistent with your privacy preferences and our Privacy Policy. </p>
          <p>The license you grant us can be terminated at any time by deleting your content or account. However, to the extent that we (or our partners) have used your content in connection with commercial or sponsored content, the license will continue until the relevant commercial or post has been discontinued by us. </p>
          <p>You give us permission to use your username and other identifying information associated with your account in a manner that is consistent with your privacy preferences and our Privacy Policy. </p>
        </div>
        <div class="flex flex-col space-y-4">
          <h3 class="font-bold tracking-wide uppercase">Liability</h3>
          <p>Our website and the materials on our website are provided on an 'as is' basis. To the extent permitted by law, DataVaults makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property, or other violation of rights. </p>
          <p>In no event shall DataVaults or its suppliers be liable for any consequential loss suffered or incurred by you or any third party arising from the use or inability to use this website or the materials on this website, even if DataVaults or an authorised representative has been notified, orally or in writing, of the possibility of such damage. </p>
          <p>In the context of this agreement, &ldquo;consequential loss&rdquo; includes any consequential loss, indirect loss, real or anticipated loss of profit, loss of benefit, loss of revenue, loss of business, loss of goodwill, loss of opportunity, loss of savings, loss of reputation, loss of use and/or loss or corruption of data, whether under statute, contract, equity, tort (including negligence), indemnity or otherwise. </p>
          <p>Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you. </p>
        </div>
        <div class="flex flex-col space-y-4">
          <h3 class="font-bold tracking-wide uppercase">Accuracy of Materials</h3>
          <p>The materials appearing on our website are not comprehensive and are for general information purposes only. DataVaults does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on this website, or otherwise relating to such materials or on any resources linked to this website. </p>
        </div>
        <div class="flex flex-col space-y-4">
          <h3 class="font-bold tracking-wide uppercase">Links</h3>
          <p>DataVaults has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement, approval or control by DataVaults of the site. Use of any such linked site is at your own risk and we strongly advise you make your own investigations with respect to the suitability of those sites. </p>
        </div>
        <div class="flex flex-col space-y-4">
          <h3 class="font-bold tracking-wide uppercase">Right to Terminate</h3>
          <p>We may suspend or terminate your right to use our website and terminate these Terms of Service immediately upon written notice to you for any breach of these Terms of Service. </p>
        </div>
        <div class="flex flex-col space-y-4">
          <h3 class="font-bold tracking-wide uppercase">Severance</h3>
          <p>Any term of these Terms of Service which is wholly or partially void or unenforceable is severed to the extent that it is void or unenforceable. The validity of the remainder of these Terms of Service is not affected. </p>
        </div>
        <div class="flex flex-col space-y-4">
          <h3 class="font-bold tracking-wide uppercase">Governing Law</h3>
          <p>These Terms of Service are governed by and construed in accordance with the laws of Germany. You irrevocably submit to the exclusive jurisdiction of the courts in that country. </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "TermsOfService",
  setup() {
    window.scrollTo(0, 0);
  },
});
</script>
