<template>
  <div class="w-full p-3 text-sm border rounded-lg bg-secondary-100 border-secondary-200 md:w-2/3">
    <h3 class="mb-3 text-lg font-medium leading-6 text-neutral-900">
      {{ $t("components.configurationPreview.title") }}
    </h3>
    <div class="flex flex-col space-y-3 text-neutral-700">
      <template v-if="showAssetInfo">
        <configuration-preview-item
          :label="$t('components.configurationPreview.assetName')"
          :value="configuration.name"
        />
        <configuration-preview-item
          :label="$t('components.configurationPreview.description')"
          :value="configuration.description"
        />
        <configuration-preview-item :label="$t('components.configurationPreview.keywords')">
          <div
            v-if="configuration.keywords === null || configuration.keywords.length === 0"
            class="text-xs italic text-neutral-400"
          >
            {{ $t("components.configurationPreview.noneSpecified") }}
          </div>
          <div v-else class="flex flex-wrap items-center space-x-1">
            <div
              class="px-2 font-normal text-white rounded bg-primary-500"
              v-for="(keyword, idx) in configuration.keywords"
              :key="idx"
            >
              {{ keyword }}
            </div>
          </div>
        </configuration-preview-item>
      </template>
      <configuration-preview-item
        :label="$t('components.configurationPreview.anonymiseAsset')"
        :value="config.anonymisation.anonymise"
      />
      <template v-if="config.anonymisation.anonymise && !config.anonymisation.useTPM">
        <configuration-preview-item
          :label="$t('components.configurationPreview.pseudoID')"
          :value="
            config.anonymisation.pseudoId || config.anonymisation.pseudoId === null
              ? config.anonymisation.useExistingPseudoId === 'existing'
                ? $t('components.configurationPreview.selectExisting')
                : $t('components.configurationPreview.createNew')
              : config.anonymisation.tpmPseudonym
          "
        />
        <configuration-preview-item
          v-if="config.anonymisation.pseudoId === 'existing'"
          :label="$t('components.configurationPreview.selectedPsuedoID')"
          :value="config.anonymisation.existingPseudoId"
        />
        <configuration-preview-item
          :label="$t('components.configurationPreview.anonymisationLevels')"
          v-if="config.anonymisation.rules.colNames.length > 0"
        >
          <div class="flex flex-col space-y-2">
            <div
              v-for="(field, idx) in config.anonymisation.rules.colNames"
              :key="`anonymisation_${field}`"
              class="flex flex-row px-2 py-1 font-normal bg-white border rounded border-neutral-200 whitespace-nowrap"
            >
              {{ field }}: {{ splitAndCapitalize(config.anonymisation.rules.buildIDs[idx], "-") }} at level
              {{ config.anonymisation.rules.anonLevels[idx] }}
            </div>
          </div>
        </configuration-preview-item>
      </template>
      <template v-if="config.anonymisation.anonymise && config.anonymisation.useTPM">
        <configuration-preview-item
          :label="$t('components.configurationPreview.useTPM')"
          :value="config.anonymisation.useTPM"
        />
        <configuration-preview-item
          :label="$t('components.configurationPreview.tpmPseudonym')"
          :value="config.anonymisation.tpmPseudonym"
        />
      </template>
      <configuration-preview-item
        :label="$t('components.configurationPreview.price')"
        :value="
          !R.isNil(config.price)
            ? $t('components.configurationPreview.points', { price: config.price }, parseInt(config.price, 10))
            : $t('components.configurationPreview.uponRequest')
        "
      />
      <configuration-preview-item
        :label="$t('components.configurationPreview.licenseType')"
        valueClasses="capitalize"
        :value="$t('components.configurationPreview.license', { licenseValue: config.licenseType })"
      />
      <configuration-preview-item
        v-if="config.licenseType === 'standard'"
        :label="$t('components.configurationPreview.selectedLicense')"
        :value="config.standardLicense"
      />
      <configuration-preview-item
        v-else
        :label="$t('components.configurationPreview.licenseText')"
        :value="config.ownLicense"
      />
      <configuration-preview-item
        :label="$t('components.configurationPreview.encryptAsset')"
        :value="config.encryption"
      />
      <configuration-preview-item
        :label="$t('components.configurationPreview.includeInPersona')"
        :value="config.persona"
      />
      <configuration-preview-item
        v-if="config.useTPM"
        :label="$t('components.configurationPreview.authenticateWithTPM')"
        :value="config.useTPM"
      />
      <configuration-preview-item
        :label="$t('components.configurationPreview.sectorsAllowed')"
        :value="config.accessPolicies.sector"
        v-slot="{ label, value }"
      >
        <div v-if="R.isNil(value) || R.isEmpty(value)" class="text-xs italic text-yellow-600">All</div>
        <span v-else>{{ value }}</span>
      </configuration-preview-item>
      <configuration-preview-item
        :label="$t('components.configurationPreview.typesAllowed')"
        :value="config.accessPolicies.type"
        v-slot="{ label, value }"
      >
        <div v-if="R.isNil(value) || R.isEmpty(value)" class="text-xs italic text-yellow-600">All</div>
        <span v-else>{{ value }}</span>
      </configuration-preview-item>
      <configuration-preview-item
        :label="$t('components.configurationPreview.sizesAllowed')"
        :value="config.accessPolicies.size"
        v-slot="{ label, value }"
      >
        <div v-if="R.isNil(value) || R.isEmpty(value)" class="text-xs italic text-yellow-600">All</div>
        <span v-else>{{ value }}</span>
      </configuration-preview-item>
      <configuration-preview-item
        :label="$t('components.configurationPreview.continentsAllowed')"
        :value="config.accessPolicies.continent"
        v-slot="{ label, value }"
      >
        <div v-if="R.isNil(value) || R.isEmpty(value)" class="text-xs italic text-yellow-600">All</div>
        <span v-else>{{ value }}</span>
      </configuration-preview-item>
      <configuration-preview-item
        :label="$t('components.configurationPreview.countriesAllowed')"
        :value="config.accessPolicies.country"
        v-slot="{ label, value }"
      >
        <div v-if="R.isNil(value) || R.isEmpty(value)" class="text-xs italic text-yellow-600">All</div>
        <span v-else>{{ value }}</span>
      </configuration-preview-item>
      <configuration-preview-item
        :label="$t('components.configurationPreview.minimumReputation')"
        :value="config.accessPolicies.reputation"
        v-slot="{ label, value }"
      >
        <div v-if="R.isNil(value) || R.isEmpty(value)" class="text-xs italic text-yellow-600">
          {{ $t("components.configurationPreview.noneSpecified") }}
        </div>
        <span v-else>{{ value }}</span>
      </configuration-preview-item>
    </div>
  </div>
</template>

<script lang="ts">
  import { useUtilities } from "@/composables";
  import * as R from "ramda";
  import { computed, defineComponent } from "vue";
  import ConfigurationPreviewItem from "./ConfigurationPreviewItem.vue";

  export default defineComponent({
    name: "ConfigurationPreview",
    components: {
      ConfigurationPreviewItem,
    },
    props: {
      configuration: {
        type: Object,
        required: true,
      },
      showAssetInfo: {
        type: Boolean,
        default: true,
      },
    },
    setup(props) {
      const config = computed(() => {
        return props.configuration.configuration;
      });

      const { splitAndCapitalize } = useUtilities();

      return {
        config,
        R,
        splitAndCapitalize,
      };
    },
  });
</script>
