<template>
  <div class="flex">
    <div class="w-1/2 font-medium lg:1/3">{{ label }}</div>
    <div class="flex flex-row items-center w-1/2 lg:w-2/3 text-neutral-700" :class="valueClasses">
      <slot :label="label" :value="value">
        <check-circle-icon v-if="value === true" class="w-5 h-5 text-green-600" />
        <x-circle-icon v-else-if="value === false" class="w-5 h-5 text-red-600" />
        <div v-else-if="R.isNil(value) || R.isEmpty(value)" class="text-xs italic text-neutral-400">
          {{ $t("components.configurationPreview.noneSpecified") }}
        </div>
        <span v-else>{{ value }}</span>
      </slot>
    </div>
  </div>
</template>

<script lang="ts">
  import { CheckCircleIcon, XCircleIcon } from "@heroicons/vue/solid";
  import * as R from "ramda";
  import { defineComponent } from "vue";

  export default defineComponent({
    name: "PreviewItem",
    components: {
      CheckCircleIcon,
      XCircleIcon,
    },
    props: {
      label: {
        type: String,
        required: true,
      },
      value: {
        type: [String, Number, Boolean],
      },
      valueClasses: {
        type: String,
      },
    },
    setup() {
      return { R };
    },
  });
</script>
