<template>
  <TransitionRoot as="template" :show="!isStepValid">
    <Dialog
      as="div"
      static
      class="fixed inset-0 z-10 overflow-y-auto"
      :open="!isStepValid"
    >
      <div
        class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0"
      >
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="ease-in duration-200"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <DialogOverlay
            class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
          />
        </TransitionChild>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        >
          <div
            class="inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6"
          >
            <div>
              <div
                class="flex items-center justify-center w-12 h-12 mx-auto bg-red-100 rounded-full "
              >
                <exclamation-icon
                  class="w-6 h-6 text-red-600"
                  aria-hidden="true"
                />
              </div>
              <div class="mt-3 text-center sm:mt-5">
                <DialogTitle
                  as="h3"
                  class="text-lg font-medium leading-6 text-gray-900"
                >
                {{ $t('components.invalidStepModal.incompleteConfiguration') }}
                </DialogTitle>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    {{ $t('components.invalidStepModal.youHaveTo') }}
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-5 sm:mt-6">
              <button
                type="button"
                class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white border border-transparent rounded-md shadow-sm bg-primary-600 hover:bg-primary-700 focus:outline-none sm:text-sm"
                @click="redirect"
              >
                Go back to
                <span class="ml-1 capitalize">{{ validStepName }}</span>
              </button>
            </div>
          </div>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import {
  Dialog,
  DialogOverlay,
  DialogTitle,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import { ExclamationIcon } from "@heroicons/vue/outline";
import { useRouter } from "vue-router";
import { Step } from "@/constants";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "InvalidStepModal",
  components: {
    Dialog,
    DialogOverlay,
    DialogTitle,
    TransitionChild,
    TransitionRoot,
    ExclamationIcon,
  },
  props: {
    isStepValid: {
      type: Boolean,
      default: true,
    },
    validStep: {
      type: String,
    },
    stepId: {
      type: String,
    },
  },
  setup(props) {
    const router = useRouter();
    const { t } = useI18n();

    const validStepName = computed(() => {
      const parts = props.validStep?.split("-");
      if (parts && parts.length > 1) {
        return parts[1].match(/[A-Z][a-z]+/g)?.join(" ");
      }
      return t('components.invalidStepModal.selectDataAsset');
    });

    const redirect = () => {
      if (props.validStep) {
        router.push({
          name: props.validStep,
          query: {
            id: props.stepId,
            step: Step.findPositionByName(props.validStep),
          },
        });
      }
    };

    return {
      validStepName,
      redirect,
      t
    };
  },
});
</script>
