<template>
  <div class="flex flex-col">
    <div
      class="flex flex-row items-center space-x-4 text-3xl border rounded-t border-b-none"
      :style="`border-color: ${colour}`"
    >
      <div class="flex flex-col flex-grow flex-shrink px-4 bg-white rounded-t" :style="`color: ${colour}`">
        <span class="text-lg font-semibold">{{ $t("components.riskExposureMetric.privacyScore") }}</span>
        <span class="text-sm text-neutral-500">{{ $t("components.riskExposureMetric.privacyScoreExplanation") }}</span>
      </div>
      <div
        class="flex flex-grow-0 flex-shrink-0 h-full p-4 font-medium text-white"
        :style="`background-color: ${colour}`"
      >
        <template v-if="hasExposureMetric">{{ numericExposure }}</template>
        <template v-else>{{ $t("components.riskExposureMetric.noMetricAvailable") }}</template>
      </div>
    </div>
    <div class="p-4 text-xs border border-t-0 rounded-b bg-neutral-600 border-neutral-600 text-neutral-100">
      {{ privacyScoreExplanation }}
    </div>
  </div>
</template>
<script lang="ts">
  import { useRiskExposure, useUtilities } from "@/composables";
  import { ShareConfiguration } from "@/interfaces";
  import * as R from "ramda";
  import { computed, defineComponent, PropType, Ref } from "vue";
  import { useI18n } from "vue-i18n";
  export default defineComponent({
    name: "RiskExposureMetric",
    props: {
      configuration: {
        type: Object as PropType<ShareConfiguration>,
        required: true,
      },
    },
    setup(props) {
      const { t } = useI18n();
      const config: Ref<ShareConfiguration> = computed(() => props.configuration);
      const { numericExposure } = useRiskExposure(config);
      const { colorHexFromPercentage } = useUtilities();
      const hasExposureMetric = computed(() => !R.isNil(numericExposure.value));
      const colour = computed(() =>
        hasExposureMetric.value ? colorHexFromPercentage(numericExposure.value as number) : null
      );
      const privacyScoreExplanation = computed(() => {
        if (R.isNil(numericExposure.value)) return t("components.riskExposureMetric.noMetricExplanation");
        if (numericExposure.value === 100) return t("components.riskExposureMetric.privacyScoreIs100");
        if (numericExposure.value >= 80) return t("components.riskExposureMetric.privacyScoreMoreThan80");
        if (numericExposure.value >= 60) return t("components.riskExposureMetric.privacyScoreMoreThan60");
        if (numericExposure.value >= 40) return t("components.riskExposureMetric.privacyScoreMoreThan40");
        if (numericExposure.value >= 20) return t("components.riskExposureMetric.privacyScoreMoreThan20");

        return t("components.riskExposureMetric.privacyScoreLessThan20");
      });
      return { hasExposureMetric, numericExposure, colour, privacyScoreExplanation };
    },
  });
</script>
