<template>
  <page-header
    :title="$t('components.sharingHeader.sharingConfigurator')"
    :steps="steps"
    :currentStep="currentStep"
  />
</template>
<script lang="ts">
  import PageHeader from "@/components/PageHeader.vue";
  import { Step } from "@/constants";
  import { defineComponent, computed } from "vue";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "SharingHeader",
    props: {
      currentStep: {
        type: Number,
        required: true,
      },
    },
    components: { PageHeader },
    setup() {
      const { t, locale } = useI18n();
      const steps = computed(() =>
        Step.all().map((step: { labelKey: string }) => {
          return {
            name: t(step.labelKey),
          };
        })
      );

      return { steps };
    },
  });
</script>
