<template>
  <div class="flex flex-row justify-between">
    <secondary-button v-if="hasBack" @click="backClicked">{{ $t("components.sharingFooter.goBack") }}</secondary-button>
    <div v-else></div>
    <slot>
      <primary-button :disabled="!canContinue" @click="continueClicked">
        {{ $t("components.sharingFooter.continue") }}
      </primary-button>
    </slot>
  </div>
</template>
<script lang="ts">
  import { defineComponent } from "vue";
  import PrimaryButton from "@/components/PrimaryButton.vue";
  import SecondaryButton from "@/components/SecondaryButton.vue";
  import { useRouter } from "vue-router";
  import { useToaster } from "@/composables";
  import { Step } from "@/constants";
  import { ConfigurationLevel } from "@/constants/configuration-level.constant";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "SharingFooter",
    components: { SecondaryButton, PrimaryButton },
    props: {
      hasBack: {
        type: Boolean,
        default: false,
      },
      canContinue: {
        type: Boolean,
        default: true,
      },
      id: {
        type: String,
        required: true,
      },
      currentStep: {
        type: Number,
        required: true,
      },
      validate: {
        type: Function,
      },
      errors: {
        type: Object,
        default: () => {
          return {};
        },
      },
      configuration: {},
    },
    setup(props, { emit }) {
      const router = useRouter();
      const toaster = useToaster();
      const { t } = useI18n();

      const backClicked = () => {
        emit("back");
        //if the config already exists and we are on Review and Execute, skip back to the Share index
        if (props.configuration.configuration.level === ConfigurationLevel.EXISTING && props.currentStep === 5) {
          router.push({
            name: Step.findByPosition(props.currentStep - 5).getPageName(),
            query: { id: props.id, step: props.currentStep - 4 },
          });
        }
        //if the config selected is low privacy and we are on Field Mapping, skip back to Share index
        else if (props.configuration.configuration.level === ConfigurationLevel.LOW && props.currentStep === 3) {
           
          router.push({
            name: Step.findByPosition(props.currentStep - 3).getPageName(),
            query: { id: props.id, step: props.currentStep - 2 },
          });
          //all other steps as normal
        } else {
          router.push({
            name: Step.findByPosition(props.currentStep - 1).getPageName(),
            query: { id: props.id, step: props.currentStep },
          });
        }
      };

      const continueClicked = async () => {
        let valid = true;
        if (props.validate) {
          valid = (await props.validate()).valid;
        }
        if (valid) {
          emit("continue");
          //if the config selected is low privacy, skip straight to Field Mapping
          if (props.configuration.configuration.level === ConfigurationLevel.LOW && props.currentStep === 0) {
            router.push({
              name: Step.findByPosition(props.currentStep + 3).getPageName(),
              query: { id: props.id, step: props.currentStep + 4 },
            });
          }
          //if the config already exists, skip straight to Review and Execute
          else if (props.configuration.configuration.level === ConfigurationLevel.EXISTING && props.currentStep === 0) {
            router.push({
              name: Step.findByPosition(props.currentStep + 5).getPageName(),
              query: { id: props.id, step: props.currentStep + 6 },
            });
          }
          //for a fresh and custom config, as normal
          else {
            router.push({
              name: Step.findByPosition(props.currentStep + 1).getPageName(),
              query: { id: props.id, step: props.currentStep + 2 },
            });
          }
        } else {
          if (Object.keys(props.errors).length > 0) {
            Object.values(props.errors).forEach((error: string) => {
              toaster.show(error, "error", "Validation Error");
            });
          } else {
            toaster.show(t("components.sharingFooter.please"), "error", "Validation Error");
          }
        }
      };

      return { backClicked, continueClicked, t };
    },
  });
</script>
