<template>
  <div v-if="asset" class="flex flex-col h-full space-y-4 lg:space-y-6">
    <PageHeader
      :title="`${asset.name} ${t('pages.myVault.asset.details')}`"
      :controls="controls"
      @download-data="downloadData"
      @download-metadata="downloadMetadata"
      @download-data-schema="downloadDataSchema"
    >
      <template v-slot:status v-if="asset.shared">
        <div class="px-2 text-sm text-green-600 capitalize bg-green-100 rounded-full">
          {{ $t("pages.myVault.asset.shared") }}
        </div>
      </template>
    </PageHeader>
    <div class="flex flex-col space-y-10">
      <div class="w-full overflow-hidden shadow sm:rounded-lg">
        <div class="px-4 py-5 bg-primary-800 sm:px-6">
          <h3 class="text-lg font-medium leading-6 text-white">
            {{ t("pages.myVault.asset.details") }}
          </h3>
        </div>
        <div class="px-4 py-5 border-t border-neutral-200 sm:p-0 bg-primary-100">
          <dl class="sm:divide-y sm:divide-neutral-200">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.myVault.asset.name") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ asset.name }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.myVault.asset.description") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ asset.description ?? "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.myVault.asset.keywords") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                <tag-cloud :tags="asset.keywords" />
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.myVault.asset.collectedFrom") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ sourceType ? sourceType.name : "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="flex flex-row items-center space-x-2 text-sm font-medium text-neutral-500">
                <div>{{ $t("pages.myVault.asset.firstCollection") }}</div>
                <CalendarIcon class="w-4 h-4" />
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                <tooltip v-if="asset.firstCollection" :message="firstCollection">{{ firstCollectionFromNow }} </tooltip>
                <span v-else>{{ firstCollection }}</span>
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="flex flex-row items-center space-x-2 text-sm font-medium text-neutral-500">
                <div>{{ $t("pages.myVault.asset.lastUpdate") }}</div>
                <CalendarIcon class="w-4 h-4" />
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                <tooltip v-if="asset.updatedAt" :message="lastUpdate">{{ lastUpdateFromNow }} </tooltip>
                <span v-else>{{ assetLastUpdate }}</span>
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="flex flex-row items-center space-x-2 text-sm font-medium text-neutral-500">
                <div>{{ $t("pages.myVault.asset.collectionFrequency") }}</div>
                <RefreshIcon class="w-4 h-4" />
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ collectionFrequency ? t(collectionFrequency.label) : "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="flex flex-row items-center space-x-2 text-sm font-medium text-neutral-500">
                <div>{{ $t("pages.myVault.asset.totalRecords") }}</div>
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ totalRecords }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="flex flex-row items-center space-x-2 text-sm font-medium text-neutral-500">
                <div>{{ $t("pages.myVault.asset.assetSize") }}</div>
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                <div v-if="dataSize || metadataSize || dataSchemaSize" class="flex flex-row space-x-2">
                  <span
                    v-if="dataSize"
                    class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-primary-800 text-primary-100"
                  >
                    {{
                      $t("pages.myVault.asset.dataSize", {
                        size: dataSize,
                      })
                    }}
                  </span>
                  <span
                    v-if="metadataSize"
                    class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-primary-600 text-primary-100"
                  >
                    {{
                      $t("pages.myVault.asset.metadataSize", {
                        size: metadataSize,
                      })
                    }}
                  </span>
                  <span
                    v-if="dataSchemaSize"
                    class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-primary-400 text-primary-100"
                  >
                    {{
                      $t("pages.myVault.asset.dataSchemaSize", {
                        size: dataSchemaSize,
                      })
                    }}
                  </span>
                </div>
                <div v-else>-</div>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="w-full overflow-hidden shadow sm:rounded-lg">
        <div
          v-if="asset.data.length < asset.total"
          class="flex flex-row items-center p-2 space-x-2 text-xs italic rounded text-info-800 bg-info-100"
        >
          <div class="w-6 h-6">
            <InformationCircleIcon class="w-6 h-6" />
          </div>
          <span>{{ $t("pages.myVault.asset.previewMessage", { count: asset.data.length, total: asset.total }) }}</span>
        </div>
        <div class="flex flex-row justify-between px-4 py-5 text-white bg-primary-800 sm:px-6">
          <h3 class="text-lg font-medium leading-6">
            {{ $t("pages.myVault.asset.preview") }}
          </h3>
          <expander
            class="order-last"
            backgroundColour="bg-primary-800"
            textColour="text-primary-50"
            hoverTextColour="text-secondary-200"
            :expanded="expandedPreview"
            @expand="expandedPreview = true"
            @collapse="expandedPreview = false"
          >
            <template #collapsed>{{ $t("pages.myVault.asset.expandPreview") }}</template>
            <template #expanded>{{ $t("pages.myVault.asset.collapsePreview") }}</template>
          </expander>
        </div>
        <div v-if="expandedPreview && asset.sourceType !== 'PRATO'" class="border-t border-neutral-200 bg-primary-100">
          <vertical-table
            v-if="asset.data.length > 0"
            :fields="fields"
            :data="previewData"
            class="w-full"
            :searchable="false"
            headerColourClasses="text-neutral-50 bg-primary-800 rounded-tl-0"
            :roundedDisplay="false"
          />
          <div v-else class="py-4 text-sm text-center text-neutral-500">
            {{ $t("pages.myVault.asset.noRetrievedData") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import * as R from "ramda";
  import { computed, defineComponent, ref, watch } from "vue";
  import { useRouter } from "vue-router";
  import { CalendarIcon, RefreshIcon, InformationCircleIcon } from "@heroicons/vue/outline";
  import dayjs from "dayjs";
  import relativeTime from "dayjs/plugin/relativeTime";
  import { useAsset, useDataSource } from "@/composables";
  import JsonViewer from "@/components/JsonViewer.vue";
  import { CollectionFrequencyWrapper } from "@/constants";
  import { useI18n } from "vue-i18n";
  import { Control } from "@/interfaces/ui";
  import prettyBytes from "pretty-bytes";

  dayjs.extend(relativeTime);

  export default defineComponent({
    name: "Asset",
    props: {
      id: {
        type: [Number, String],
        required: true,
      },
    },
    components: { JsonViewer, CalendarIcon, RefreshIcon, InformationCircleIcon },
    setup(props) {
      const { t } = useI18n();
      const router = useRouter();
      const expandedMetadata = ref<boolean>(false);
      const expandedPreview = ref<boolean>(false);

      const assetId = computed((): number => Number(props.id));
      const { asset, fields, downloadData, downloadMetadata, downloadDataSchema } = useAsset(assetId);
      const { source: sourceType } = useDataSource(asset);

      const firstCollection = computed(() =>
        asset.value && asset.value.firstCollection
          ? dayjs(asset.value.firstCollection as Date).format("DD MMM YYYY @ HH:mm")
          : t("pages.myVault.asset.never")
      );
      const firstCollectionFromNow = computed(() =>
        asset.value && asset.value.firstCollection
          ? dayjs(asset.value.firstCollection as Date).fromNow()
          : t("pages.myVault.asset.never")
      );
      const lastUpdate = computed(() =>
        asset.value && asset.value.updatedAt
          ? dayjs(asset.value.updatedAt as Date).format("DD MMM YYYY @ HH:mm")
          : t("pages.myVault.asset.never")
      );
      const lastUpdateFromNow = computed(() =>
        asset.value && asset.value.updatedAt
          ? dayjs(asset.value.updatedAt as Date).fromNow()
          : t("pages.myVault.asset.never")
      );
      const totalRecords = computed(() => {
        if (asset.value) {
          const records = asset.value.total;
          // if (records > 0) return `${records} record${records > 1 ? "s" : ""}`;
          return t("pages.myVault.asset.records", { records }, records);
        }
        return "-";
      });
      const collectionFrequency = computed(() => {
        if (asset.value && asset.value.schedule) {
          return CollectionFrequencyWrapper.findByValue(asset.value.schedule.interval.unit);
        }
        return CollectionFrequencyWrapper.findByValue(null);
      });

      const dataSize = computed(() => (asset.value?.dataSize ? prettyBytes(asset.value?.dataSize) : null));

      const metadataSize = computed(() => (asset.value?.metadataSize ? prettyBytes(asset.value?.metadataSize) : null));

      const dataSchemaSize = computed(() =>
        asset.value?.dataSchemaSize ? prettyBytes(asset.value?.dataSchemaSize) : null
      );

      const previewData = computed(() => asset.value?.data.slice(0, 50));

      const controls = computed(() => {
        const c: Control[] = [];
        if (asset.value?.dataSize && asset.value?.dataSize > 0)
          c.push({
            label: t("pages.myVault.asset.downloadData"),
            icon: "DownloadIcon",
            click: "download-data",
          });
        if (asset.value?.metadataSize && asset.value?.metadataSize > 0)
          c.push({
            label: t("pages.myVault.asset.downloadMetadata"),
            icon: "DownloadIcon",
            click: "download-metadata",
            secondary: true,
          });
        return c;
      });

      watch(
        () => props.id,
        (id: string | number) => {
          if (R.isNil(id)) {
            router.push("/my-vault");
          }
        }
      );

      return {
        asset,
        fields,
        lastUpdate,
        lastUpdateFromNow,
        firstCollection,
        firstCollectionFromNow,
        totalRecords,
        collectionFrequency,
        expandedMetadata,
        sourceType,
        dataSize,
        metadataSize,
        dataSchemaSize,
        controls,
        downloadData,
        downloadMetadata,
        t,
        expandedPreview,
        previewData,
      };
    },
  });
</script>
