<template>
  <div class="h-full">
    <SourceForm
      v-if="source"
      :source="source"
      :addSource="false"
      :connectUpload="source.sourceType === 'Upload' ? 'upload' : 'connect'"
    />
    <div class="mt-6">
      <page-header :title="t('pages.dataFetcher.source.recentUpdates')" />
      <div class="flex flex-col mt-6" v-if="visibleData.length > 0">
        <div class="-my-2 overflow-x-auto">
          <div class="inline-block w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="overflow-x-auto border-b shadow border-neutral-200 sm:rounded-lg">
              <table class="w-full divide-y divide-neutral-200">
                <thead class="bg-neutral-50">
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-left uppercase text-neutral-500"
                    >
                      {{ $t("pages.dataFetcher.source.source") }}
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-center uppercase text-neutral-500"
                    >
                      {{ $t("pages.dataFetcher.source.lastUpdate") }}
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium tracking-wider text-center uppercase text-neutral-500"
                    >
                      {{ $t("pages.dataFetcher.source.successful") }}
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-neutral-200">
                  <tr v-for="(item, idx) in visibleData" :key="idx">
                    <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
                      {{ item.name }}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium text-center whitespace-nowrap">
                      {{ dayjs(item.lastDate).format("MMMM D, YYYY [at] HH:MM:ss") }}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium text-center whitespace-nowrap">
                      {{ item.successful ? $t("yes") : $t("no") }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="mt-6 text-sm text-neutral-500">
        {{ $t("pages.dataFetcher.source.noRecentUpdates") }}
      </div>
      <pagination
        class="flex flex-row flex-initial mt-2"
        :currentPage="currentPage"
        :pageSize="pageSize"
        :total="filteredData.length"
        :totalPages="totalPages"
        @goTo="goTo"
        @previous="previous"
        @next="next"
        v-show="filteredData.length > pageSize"
      />
    </div>
  </div>
</template>
<script lang="ts">
  import { defineComponent, ref, computed } from "vue";
  import { Form } from "vee-validate";
  import { useRouter } from "vue-router";
  import dayjs from "dayjs";
  import { DataFetcher } from "@/api";
  import { useToaster, useFilter } from "@/composables";
  import { SourceForm } from "../../../components/data-fetcher";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "Source",
    props: {
      id: {
        type: String,
        required: true,
      },
    },
    components: { Form, SourceForm },
    setup(props) {
      const { t } = useI18n();
      const router = useRouter();
      const toaster = useToaster();
      const recentUpdates = ref<any>([]);

      const radioOptions = computed(() => [
        {
          name: "connect",
          value: "connect",
          label: t("pages.dataFetcher.source.connect"),
        },
        {
          name: "upload",
          value: "upload",
          label: t("pages.dataFetcher.source.upload"),
        },
      ]);
      const { filteredData, visibleData, currentPage, pageSize, totalPages, next, previous, goTo } = useFilter(
        recentUpdates,
        { pageSize: 4 }
      );
      const source = ref<any>(null);

      DataFetcher.getAsset(parseInt(props.id))
        .then(({ data }) => {
          source.value = data;
        })
        .catch((err: any) => {
          toaster.show(err.response.data.message, "error");
          router.push("/data-fetcher");
        });

      DataFetcher.getRecentUpdatesByAssetId(parseInt(props.id))
        .then(({ data }) => {
          recentUpdates.value = data;
        })
        .catch((err: any) => {
          toaster.show(err.response.data.message, "error");
          router.push("/data-fetcher");
        });

      return {
        router,
        dayjs,
        radioOptions,
        source,
        recentUpdates,
        filteredData,
        visibleData,
        currentPage,
        pageSize,
        totalPages,
        next,
        previous,
        goTo,
        t,
      };
    },
  });
</script>
