<template>
  <div>
    <SourceForm />
  </div>
</template>
<script lang="ts">
  import { defineComponent } from "vue";
  import { SourceForm } from "../../../components/data-fetcher";

  export default defineComponent({
    name: "Source",
    components: { SourceForm },
  });
</script>
