<template>
  <div class="h-full">
    <SourceForm
      v-if="source"
      :source="source"
      :duplicate="true"
      :connectUpload="source.sourceType === 'Upload' ? 'upload' : 'connect'"
    />
  </div>
</template>
<script lang="ts">
  import { defineComponent, ref } from "vue";
  import { Form } from "vee-validate";
  import { useRouter } from "vue-router";
  import dayjs from "dayjs";
  import { DataFetcher } from "@/api";
  import { useToaster } from "@/composables";
  import { SourceForm } from "../../../components/data-fetcher";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "Duplicate",
    props: {
      id: {
        type: String,
        required: true,
      },
    },
    components: { Form, SourceForm },
    setup(props) {
      const { t } = useI18n();
      const router = useRouter();
      const toaster = useToaster();
      const radioOptions = [
        {
          name: "connect",
          value: "connect",
          label: t("pages.dataFetcher.source.connect"),
        },
        {
          name: "upload",
          value: "upload",
          label: t("pages.dataFetcher.source.upload"),
        },
      ];
      const source = ref<any>(null);

      DataFetcher.getAsset(parseInt(props.id))
        .then(({ data }) => {
          source.value = data;
          source.id = null;
          source.uid = null;
        })
        .catch((err: any) => {
          toaster.show(err.response.data.message, "error");
          router.push("/data-fetcher");
        });

      return {
        router,
        dayjs,
        radioOptions,
        source,
        t,
      };
    },
  });
</script>
