<template>
  <div
    class="flex flex-col justify-center flex-1 px-6 py-12 sm:px-8 bg-neutral-100"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2
        class="text-2xl font-extrabold text-center text-primary-800 sm:text-3xl"
      >
      {{ $t('pages.auth.recoverPassword.recover') }}
      </h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
        <div class="space-y-6">
          <div class="text-sm text-center text-neutral-500">
            {{ $t('pages.auth.recoverPassword.enterEmail') }}
          </div>

          <input-field
            name="email"
            :label="$t('pages.auth.recoverPassword.email')"
            v-model="email"
            type="email"
            :error="errors.email"
            rules="required|email"
          >
            <at-symbol-icon class="w-4 h-4 mr-1" />
          </input-field>

          <div class="flex items-center justify-center">
            <div class="text-sm">
              <router-link to="/auth/login">
                <a
                  href="#"
                  class="font-medium text-primary-600 hover:text-primary-500"
                >
                  {{ $t('pages.auth.recoverPassword.backToLogin') }}
                </a>
              </router-link>
            </div>

            <span class="mx-2 font-bold text-md text-secondary-300"
              >&diams;</span
            >

            <div class="text-sm">
              <router-link to="/auth/register">
                <a
                  href="#"
                  class="font-medium text-primary-600 hover:text-primary-500"
                >
                  {{ $t('pages.auth.recoverPassword.createAccount') }}
                </a>
              </router-link>
            </div>
          </div>

          <div>
            <button
              @click="resetPassword()"
              class="flex justify-center w-full px-4 py-2 text-sm font-medium tracking-wide text-white uppercase border border-transparent rounded-md shadow-sm bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
            >
              {{ $t('pages.auth.recoverPassword.continue') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { AtSymbolIcon } from "@heroicons/vue/solid";
import { useForm } from "vee-validate";
import { InputField } from "@/components";
import { Auth } from "@/api";
import { useToaster } from "@/composables";

import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "RecoverPassword",
  components: {
    InputField,
    AtSymbolIcon,
  },
  setup() {
    const toaster = useToaster();
    const router = useRouter();
    const { t } = useI18n();

    const { errors } = useForm({
      validationSchema: {
        email: "required|email",
      },
    });
    const email = ref<string | null>(null);
    const resetPassword = async () => {
      await Auth.resetPassword({ email: email.value })
        .then(() => {
          toaster.show(t('pages.auth.recoverPassword.pleaseCheck'), "success");
        })
        .catch((err: any) => {
          toaster.show(err.response.data.message, "error");
        });
      router.push("/");
    };
    return {
      resetPassword,
      email,
      errors,
    };
  },
});
</script>
