<template>
  <Form
    :validation-schema="validationSchema"
    ref="form"
  >
    <div class="flex flex-col justify-center flex-1 px-6 py-12 sm:px-8 bg-neutral-100">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="text-2xl font-extrabold text-center text-primary-800 sm:text-3xl">
          {{ $t('pages.auth.register.getStarted') }}
        </h2>
      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
          <div class="space-y-6">
            <div
              v-if="errorMessage"
              class="flex items-center px-2 py-1 text-sm text-red-600 bg-red-100 rounded "
            >
              <x-circle-icon
                class="w-5 h-5 mr-2"
                aria-hidden="true"
              />
              {{ errorMessage }}
            </div>

            <input-field
              name="email"
              :label="$t('pages.auth.register.email')"
              v-model="email"
              type="email"
              rules="required|email"
              autocomplete="username"
              @keyup.enter="register()"
            >
              <at-symbol-icon class="w-4 h-4 mr-1" />
            </input-field>

            <input-field
              name="password"
              :label="$t('pages.auth.register.password')"
              v-model="password"
              type="password"
              rules="required"
              autocomplete="new-password"
              @keyup.enter="register()"
            >
              <lock-closed-icon class="w-4 h-4 mr-1" />
            </input-field>

            <input-field
              name="confirmPassword"
              :label="$t('pages.auth.register.confirmPassword')"
              v-model="confirmPassword"
              type="password"
              rules="required"
              autocomplete="new-password"
              @keyup.enter="register()"
            >
              <lock-closed-icon class="w-4 h-4 mr-1" />
            </input-field>

            <div class="space-y-3">
              <div class="flex flex-row items-center w-full space-x-2">
                <input
                  id="terms"
                  class="flex input-block text-primary-600"
                  type="checkbox"
                  v-model="acceptedTerms"
                />
                <div class="flex flex-col space-y-1">
                  <label
                    class="text-sm text-primary-600"
                    for="terms"
                  >{{ $t('pages.auth.register.agree') }}DataVaults
                    <router-link
                      :to="{ name: 'policies-TermsOfService' }"
                      class="inline font-semibold underline cursor-pointer"
                    >{{ $t('pages.auth.register.terms') }}</router-link>
                    {{ $t('pages.auth.register.and') }}
                    <router-link
                      :to="{ name: 'policies-Privacy' }"
                      class="inline font-semibold underline cursor-pointer"
                    >{{ $t('pages.auth.register.privacyPolicy') }}</router-link>
                    .
                  </label>
                </div>
              </div>
              <div class="flex items-center w-full space-x-2">
                <input
                  class="flex input-block text-primary-600"
                  type="checkbox"
                  id="news"
                />
                <div class="flex flex-col space-y-1">
                  <label
                    class="text-sm text-primary-600"
                    for="news"
                  >{{ $t('pages.auth.register.receive') }}DataVaults
                    <span
                      @click="showTerms = true"
                      class="inline font-semibold underline cursor-pointer"
                    >{{ $t('pages.auth.register.newsUpdates') }}</span>
                    .</label>
                </div>
              </div>
            </div>
            <div>
              <button
                type="button"
                class="flex justify-center w-full px-4 py-2 text-sm font-medium tracking-wide text-white uppercase border border-transparent rounded-md shadow-sm bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 disabled:bg-primary-300 disabled:cursor-not-allowed"
                :disabled="!acceptedTerms || loading"
                @click="register()"
              >
                {{ $t('pages.auth.register.signUp') }}
              </button>
            </div>
          </div>

          <div class="mt-6">
            <div class="relative">
              <div class="absolute inset-0 flex items-center">
                <div class="w-full border-t border-neutral-300" />
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="px-2 bg-white text-neutral-500">
                  {{ $t('pages.auth.register.orSignUpWith') }}
                </span>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-3 mt-6">
              <div>
                <a
                  href="#"
                  class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium bg-white border rounded-md shadow-sm border-neutral-300 text-neutral-500 hover:bg-neutral-50"
                >
                  <span class="sr-only">{{ $t('pages.auth.register.signInFacebook') }}</span>
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M20 10c0-5.523-4.477-10-10-10S0 4.477 0 10c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V10h2.54V7.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V10h2.773l-.443 2.89h-2.33v6.988C16.343 19.128 20 14.991 20 10z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>

              <div>
                <a
                  href="#"
                  class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium bg-white border rounded-md shadow-sm text-neutral-500 border-neutral-300 hover:bg-neutral-50"
                >
                  <span class="sr-only">{{ $t('pages.auth.register.signInTwitter') }}</span>
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                  </svg>
                </a>
              </div>

              <div>
                <a
                  href="#"
                  class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium bg-white border rounded-md shadow-sm text-neutral-500 border-neutral-300 hover:bg-neutral-50"
                >
                  <span class="sr-only">{{ $t('pages.auth.register.signInGoogle') }}</span>
                  <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Form>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { Auth } from "@/api";
import { useRouter } from "vue-router";
import { XCircleIcon, AtSymbolIcon } from "@heroicons/vue/solid";
import { LockClosedIcon } from "@heroicons/vue/outline";
import { defineRule } from "vee-validate";
import { required, email, confirmed } from "@vee-validate/rules";
import { Form } from "vee-validate";
import { passwordStrength } from "check-password-strength";
import { PasswordStrength } from "@/constants";
import { useToaster } from "@/composables";
import { InputField } from "@/components";
import { useI18n } from "vue-i18n";

defineRule("required", required);
defineRule("email", email);
defineRule("confirmed", confirmed);
defineRule("password", (value: string) => {
  const { t } = useI18n();
  const { contains: passwordCharacters } = passwordStrength(
    value,
    PasswordStrength.rules() as any
  );

  const chars: any = PasswordStrength.characters;
  for (let i = 0; i < chars.length; i += 1) {
    if (!passwordCharacters.includes(chars[i][0])) {
      return `${t("pages.auth.register.passwordOne", {
        character: chars[i][1],
      })}`;
    }
  }
  if (value.length < 8) {
    return `${t("pages.auth.register.passwordLength")}`;
  }
  return true;
});

export default defineComponent({
  name: "Register",
  components: {
    XCircleIcon,
    AtSymbolIcon,
    LockClosedIcon,
    InputField,
    Form,
  },
  setup() {
    const { t } = useI18n();
    const form = ref<any>();
    const router = useRouter();
    const toaster = useToaster();
    const loading = ref<boolean>(false);
    const errorMessage = ref<string | null>(null);
    const acceptedTerms = ref<boolean>(false);
    const validationSchema = {
      email: "required|email",
      password: "required|password",
      confirmPassword: "required|confirmed:@password",
    };
    const email = ref<string | null>(null);
    const password = ref<string | null>(null);
    const confirmPassword = ref<string | null>(null);

    const register = async () => {
      const { valid } = await form.value.validate();
      errorMessage.value = null;
      if (!valid) return;
      loading.value = true;
      const payload = { username: email.value, password: password.value };
      Auth.register(payload)
        .then(() => {
          toaster.show(t("pages.auth.register.userRegistered"), "success");
          router.push("/auth/login");
        })
        .catch((err: any) => {
          errorMessage.value = err.response.data.message;
          loading.value = false;
        });
    };

    const goToTerms = () => {
      router.push("/policies/terms-of-service");
    };

    return {
      register,
      acceptedTerms,
      loading,
      errorMessage,
      validationSchema,
      email,
      password,
      form,
      confirmPassword,
      goToTerms,
    };
  },
});
</script>
