<template>
  <div class="bg-white">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:py-16 lg:px-8">
      <div
        class="justify-between px-6 py-10 space-x-8 space-y-8 bg-secondary-700 rounded-3xl sm:py-16 sm:px-12 lg:p-20 lg:flex lg:items-center lg:space-y-0"
      >
        <div
          class="flex flex-col space-y-4 lg:flex-row lg:space-y-0 lg:space-x-8"
        >
          <svg-image
            class="h-28 text-secondary-500"
            :src="imageVerified"
          />
          <div class="lg:flex-1">
            <h2
              class="flex flex-col items-center text-3xl font-extrabold tracking-tight text-white lg:items-start"
            >
            {{ $t('pages.auth.verifyEmail.verify') }}  
            </h2>
            <p
              class="max-w-3xl mt-4 text-lg text-center text-secondary-100 lg:text-left"
            >
              {{ $t('pages.auth.verifyEmail.byVerifying') }}
            </p>
          </div>
        </div>
        <div class="sm:flex">
          <button
            @click="verifyToken()"
            class="flex items-center justify-center w-full px-5 py-3 mt-3 text-base font-medium text-white border border-transparent rounded-md bg-secondary-500 hover:bg-secondary-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-secondary-700 focus:ring-white whitespace-nowrap"
          >
            {{ $t('pages.auth.verifyEmail.verifyMy') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Auth } from "@/api";
import { defineComponent } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useToaster } from "@/composables";
import imageVerified from "../../assets/verified.svg"
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "VerifyEmail",
  components: {},
  setup() {
    const { t } = useI18n();
    const route = useRoute();
    const router = useRouter();
    const toaster = useToaster();

    const verifyToken = async () => {
      await Auth.verifyEmail(route.query.token)
        .then((res: any) => {
          if (!res.data) {
            toaster.show(
              t('pages.auth.verifyEmail.accessTokenError'),
              "error"
            );
          } else {
            router.push("/auth/login");
          }
        })
        .catch((err: any) => {
          toaster.show(err.response.data.message, "error");
        });
    };
    return {
      verifyToken, imageVerified
    };
  }
});
</script>
