<template>
  <Form
    :validation-schema="validationSchema"
    ref="form"
  >
    <div class="flex flex-col justify-center flex-1 px-6 py-12 sm:px-8 bg-neutral-100">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="text-2xl font-extrabold text-center text-primary-800 sm:text-3xl">
          {{ $t('pages.auth.verifyRecoverPassword.recoverPassword') }}
        </h2>
      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
          <div class="space-y-6">
            <div
              v-if="errorMessage"
              class="flex items-center px-2 py-1 text-sm text-red-600 bg-red-100 rounded "
            >
              <x-circle-icon
                class="w-5 h-5 mr-2"
                aria-hidden="true"
              />
              {{ errorMessage }}
            </div>

            <input-field
              name="password"
              :label="$t('pages.auth.verifyRecoverPassword.password')"
              v-model="password"
              type="password"
              rules="required"
              @keyup.enter="recover()"
            >
              <lock-closed-icon class="w-4 h-4 mr-1" />
            </input-field>

            <input-field
              name="confirmPassword"
              :label="$t('pages.auth.verifyRecoverPassword.confirmPassword')"
              v-model="confirmPassword"
              type="password"
              rules="required"
              @keyup.enter="recover()"
            >
              <lock-closed-icon class="w-4 h-4 mr-1" />
            </input-field>

            <div>
              <button
                type="button"
                class="flex justify-center w-full px-4 py-2 text-sm font-medium tracking-wide text-white uppercase border border-transparent rounded-md shadow-sm bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 disabled:bg-primary-300 disabled:cursor-not-allowed"
                :disabled="loading"
                @click="recover()"
              >
                {{ $t('pages.auth.verifyRecoverPassword.recover') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Form>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { Auth } from "@/api";
import { useRoute, useRouter } from "vue-router";
import { XCircleIcon, AtSymbolIcon } from "@heroicons/vue/solid";
import { LockClosedIcon } from "@heroicons/vue/outline";
import { defineRule } from "vee-validate";
import { required, email, confirmed } from "@vee-validate/rules";
import { Form } from "vee-validate";
import { passwordStrength } from "check-password-strength";
import { PasswordStrength } from "@/constants";
import { useToaster } from "@/composables";
import { InputField } from "@/components";
import { useI18n } from "vue-i18n";

defineRule("required", required);
defineRule("email", email);
defineRule("confirmed", confirmed);
defineRule("password", (value: string) => {
  const { t } = useI18n();
  const { contains: passwordCharacters } = passwordStrength(
    value,
    PasswordStrength.rules() as any
  );
  const chars: any = PasswordStrength.characters;
  for (let i = 0; i < chars.length; i += 1) {
    if (!passwordCharacters.includes(chars[i][0])) {
      `${t("pages.auth.verifyRecoverPassword.passwordOne", {
        character: chars[i][1],
      })}`;
    }
  }
  if (value.length < 8) {
    return `${t("pages.auth.verifyRecoverPassword.passwordLength")}`;
  }
  return true;
});

export default defineComponent({
  name: "VerifyRecoverPassoword",
  components: {
    XCircleIcon,
    AtSymbolIcon,
    LockClosedIcon,
    InputField,
    Form,
  },
  setup() {
    const { t } = useI18n();
    const form = ref<any>();
    const route = useRoute();
    const router = useRouter();
    const toaster = useToaster();
    const loading = ref<boolean>(false);
    const errorMessage = ref<string | null>(null);
    const acceptedTerms = ref<boolean>(false);
    const validationSchema = {
      password: "required|password",
      confirmPassword: "required|confirmed:@password",
    };
    const password = ref<string | null>(null);
    const confirmPassword = ref<string | null>(null);

    const recover = async () => {
      const { valid } = await form.value.validate();
      errorMessage.value = null;
      if (!valid) return;
      loading.value = true;
      const payload = { token: route.query.token, password: password.value };
      Auth.verifyResetPassword(payload)
        .then(() => {
          toaster.show(
            t("pages.auth.verifyRecoverPassword.passwordRecovered"),
            "success"
          );
          router.push("/auth/login");
        })
        .catch((err: any) => {
          errorMessage.value = err.response.data.message;
          loading.value = false;
        });
    };

    return {
      recover,
      acceptedTerms,
      loading,
      errorMessage,
      validationSchema,
      email,
      password,
      form,
      confirmPassword,
    };
  },
});
</script>
