<template>
  <div class="relative py-16 overflow-hidden bg-white">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
      <div class="relative h-full mx-auto text-lg max-w-prose" aria-hidden="true">
        <svg
          class="absolute transform translate-x-32 top-12 left-full"
          width="404"
          height="384"
          fill="none"
          viewBox="0 0 404 384"
        >
          <defs>
            <pattern
              id="74b3fd99-0a6f-4271-bef2-e80eeafdf357"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect x="0" y="0" width="4" height="4" class="text-neutral-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
        </svg>
        <svg
          class="absolute transform -translate-x-32 -translate-y-1/2 top-1/2 right-full"
          width="404"
          height="384"
          fill="none"
          viewBox="0 0 404 384"
        >
          <defs>
            <pattern
              id="f210dbf6-a58d-4871-961e-36d5016a0f49"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect x="0" y="0" width="4" height="4" class="text-neutral-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
        </svg>
        <svg
          class="absolute transform translate-x-32 bottom-12 left-full"
          width="404"
          height="384"
          fill="none"
          viewBox="0 0 404 384"
        >
          <defs>
            <pattern
              id="d3eb07ae-5182-43e6-857d-35c643af9034"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse"
            >
              <rect x="0" y="0" width="4" height="4" class="text-neutral-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
        </svg>
      </div>
    </div>

    <div class="relative flex flex-col items-center px-4 space-y-6 sm:px-6 lg:px-8">
      <div class="2xl:w-1/2 xl:w-2/3 lg:w-full">
        <h1 v-if="demonstrator" class="text-3xl font-bold text-center">{{ demonstrator === 'miwenergia' ? 'MIWenergia' : capString(demonstrator) }}</h1>
        <p v-else class="text-xl font-bold text-center">
          You have not yet selected a demonstrator or aren't logged in.
        </p>
        <component v-if="sourceComponent" :is="sourceComponent" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import { defineComponent, computed } from "vue";
  import { useDemonstrators } from "@/composables";
  import store from "@/store";

  export default defineComponent({
    name: "DemonstratorTerms",
    setup() {
      const capString = (text: string): string => {
        return text.replace(/^\w/, c => c.toUpperCase());
      };
      const { sourceComponent, demonstratorName: demonstrator } = useDemonstrators();
      window.scrollTo(0, 0);

      return {
        demonstrator,
        sourceComponent,
        capString,
      };
    },
  });
</script>
