<template>
  <div class="relative flex flex-col h-full mx-0 space-y-6 xl:mx-40">
    <SelectMenu
      :placeholder="$t('pages.acceptTerms.placeHolder')"
      :label="$t('pages.acceptTerms.selectLabel')"
      name="Demonstrator"
      :options="demonstratorOptions"
      v-model="selectedDemonstrator"
    />

    <div class="flex flex-col space-y-4">
      <div id="terms-text" class="bg-white" v-if="selectedDemonstrator">
        <div class="p-4 rounded-md bg-blue-50">
          <div class="flex">
            <div class="flex-1 ml-3 md:flex md:justify-between">
              <p class="text-sm text-blue-700">
                {{ $t("pages.acceptTerms.info1") }}
              </p>
              <p class="mt-3 text-sm md:mt-0 md:ml-6">
                <a
                  href="#accept"
                  class="flex flex-row space-x-2 font-medium text-blue-700 whitespace-nowrap hover:text-blue-600"
                >
                  <span>{{ $t("pages.acceptTerms.scroll") }}</span>
                  <svg
                    class="w-4 h-4 text-blue-600 mt-0.5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 13l-7 7-7-7m14-8l-7 7-7-7"
                    ></path>
                  </svg>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div id="terms-and-conditions" class="relative py-16 overflow-hidden">
          <div class="relative flex flex-col space-y-6">
            <div class="mx-4 text-lg">
              <div class="space-y-1">
                <component v-if="sourceComponent" :is="sourceComponent" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="selectedDemonstrator" id="accept" class="flex flex-row justify-center space-x-4">
        <primary-button size="lg" @click="accept(selectedDemonstrator)">
          {{ $t("pages.acceptTerms.accept") }}
        </primary-button>
        <secondary-button size="lg" @click="decline()">
          {{ $t("pages.acceptTerms.decline") }}
        </secondary-button>
      </div>
    </div>
    <StickyFooter v-show="showInfoMessage" color="info" @close="showInfoMessage = false">
      {{ $t("pages.acceptTerms.pleaseChooseDemonstrator") }}
    </StickyFooter>
  </div>
</template>
<script lang="ts">
  import { Auth, User } from "@/api";
  import { DemonstratorsEnum, useAuthentication, useDemonstrators, useToaster } from "@/composables";
  import store from "@/store";
  import { InformationCircleIcon } from "@heroicons/vue/outline";
  import { defineComponent, ref } from "vue";
  import { useI18n } from "vue-i18n";
  import { useRouter } from "vue-router";

  export default defineComponent({
    components: {
      InformationCircleIcon,
    },
    setup(props, { emit }) {
      const router = useRouter();
      const { logout: keycloakLogout } = useAuthentication();
      const toaster = useToaster();
      const demonstratorOptions: any = [];
      const selectedDemonstrator = ref<any>(null);
      const showInfoMessage = ref<boolean>(true);
      const { t } = useI18n();
      const { sourceComponent } = useDemonstrators(selectedDemonstrator);

      Object.values(DemonstratorsEnum).forEach((item: any) => {
        demonstratorOptions.push(item);
      });

      const accept = (item: any) => {
        User.updateTerms(item)
          .then((res: any) => {
            toaster.show(t("pages.acceptTerms.successAccept"), "success");
            store.commit("CLEAR_USER");
            router.push("/dashboard");
          })
          .catch((err: any) => {
            toaster.show(err.response.data.message, "error");
          });
      };

      const decline = async (item: any) => {
        store.commit("CLEAR_USER");
        await Auth.logout();
        await keycloakLogout();
        router.push("/");
      };

      return {
        demonstratorOptions,
        selectedDemonstrator,
        sourceComponent,
        showInfoMessage,
        accept,
        decline,
      };
    },
  });
</script>
