<template>
  <page-header :title="$t('pages.profile.title')" class="mt-2" />
  <div v-if="loading" class="flex items-center justify-center flex-1">
    <spinner horizontal>
      <slot name="loading">{{ $t("pages.profile.loading") }}</slot>
    </spinner>
  </div>
  <div v-else class="space-y-8">
    <Form :validation-schema="validationSchema" ref="form">
      <div class="space-y-8">
        <div>
          <div class="grid mt-6 lg:grid-cols-3 gap-y-6 gap-x-4">
            <div>
              <!-- TODO: decide if we want to keep these or not -->
              <input-field
                v-show="false"
                :placeholder="$t('pages.profile.phFirstName')"
                :label="$t('pages.profile.firstName')"
                name="firstName"
                id="firstName"
                v-model="profile.firstName"
              />
              <!-- TODO: decide if we want to keep these or not -->
              <input-field
                v-show="false"
                :placeholder="$t('pages.profile.phLastName')"
                :label="$t('pages.profile.lastName')"
                name="lastName"
                id="lastName"
                v-model="profile.lastName"
              />
            </div>
            <div class="grid object-center col-span-2 lg:grid-cols-2 gap-y-6 gap-x-4">
              <UploadImage
                :label="$t('pages.profile.profilePicture')"
                :image="profile.profilePicture"
                :type="profile.profilePictureType"
                :types="['image/png', 'image/jpeg']"
                :size="2000000"
                :dimensions="{ width: 400, height: 400 }"
                :info="$t('pages.profile.profilePicMessage')"
                @addImage="fileChanged"
                @errorImage="showError"
                @remove="profile.profilePicture = null"
              />
            </div>
          </div>

          <div class="grid mt-6 lg:grid-cols-3 gap-y-6 gap-x-4">
            <select-menu
              :placeholder="$t('pages.profile.phCountry')"
              :label="$t('pages.profile.country')"
              v-model="country"
              name="country"
              :options="countries"
              valueField="id"
              labelField="name"
              @changed="regionReset(profile)"
            />
            <select-menu
              :placeholder="$t('pages.profile.phRegion')"
              :label="$t('pages.profile.region')"
              v-model="state"
              name="region"
              valueField="id"
              labelField="name"
              :disabled="!profile.country"
              :options="states"
              @changed="cityReset(profile)"
            />
            <select-menu
              :placeholder="$t('pages.profile.phCity')"
              :label="$t('pages.profile.city')"
              v-model="profile.city"
              name="city"
              valueField="name"
              labelField="name"
              :options="cities"
              :disabled="!profile.region || cities.length === 0"
            />
            <input-field
              :placeholder="$t('pages.profile.phStreetNumber')"
              :label="$t('pages.profile.streetNumber')"
              name="street"
              id="street"
              v-model="profile.street"
            />
            <input-field
              :placeholder="$t('pages.profile.phPostalCode')"
              :label="$t('pages.profile.postalCode')"
              name="postalCode"
              id="postalCode"
              v-model="profile.postcode"
            />
            <select-menu
              :placeholder="$t('pages.profile.phNationality')"
              :label="$t('pages.profile.nationality')"
              name="nationality"
              :options="nationalityOptions"
              v-model="profile.nationality"
            />
            <!-- TODO: decide if we want to keep these or not -->
            <input-field
              v-show="false"
              :placeholder="$t('pages.profile.phPhoneNumber')"
              :label="$t('pages.profile.phoneNumber')"
              name="phoneNumber"
              id="phoneNumber"
              type="tel"
              @keypress="isNumber"
              v-model="profile.phone"
            />
            <div class="flex flex-col space-y-1">
              <label class="flex items-center text-sm font-medium tracking-wide text-neutral-600">
                {{ $t("pages.profile.birthDate") }} (DD/MM/YYYY)
              </label>
              <div class="relative">
                <v-date-picker
                  :popover="{ visibility: 'focus' }"
                  :update-on-input="false"
                  mode="date"
                  :max-date="Date.now()"
                  v-model="profile.birthDate"
                  :masks="dateMasks"
                >
                  <template v-slot="{ inputValue, inputEvents }">
                    <input
                      :placeholder="$t('pages.profile.phBirthDate')"
                      type="text"
                      class="block w-full px-3 py-2 border rounded-md shadow-sm appearance-none border-neutral-300 placeholder-neutral-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                      :value="inputValue"
                      v-on="inputEvents"
                    />
                  </template>
                </v-date-picker>
                <SecondaryButton
                  v-show="profile.birthDate"
                  colour="neutral"
                  size="xxs"
                  class="absolute top-1.5 right-1"
                  @click="clearBirthDate"
                  >{{ $t("pages.profile.clear") }}</SecondaryButton
                >
              </div>
            </div>
            <!-- TODO: decide if we want to keep these or not -->
            <input-field
              v-show="false"
              :placeholder="$t('pages.profile.phPlaceOfBirth')"
              :label="$t('pages.profile.placeOfBirth')"
              name="placeOfBirth"
              id="placeOfBirth"
              v-model="profile.placeOfBirth"
            />
            <input-field
              :placeholder="$t('pages.profile.phInsuranceNum')"
              :label="$t('pages.profile.insuranceNum')"
              :class="{ 'animate-pulse bg-warn-400': pulseNationalInsurance }"
              id="nationalInsuranceNumber"
              name="nationalInsuranceNumber"
              v-model="profile.nationalInsuranceNumber"
            />
            <!-- TODO: decide if we want to keep these or not -->
            <input-field
              v-show="false"
              :placeholder="$t('pages.profile.phSecurityNum')"
              :label="$t('pages.profile.securityNum')"
              name="socialSecurityNumber"
              id="socialSecurityNumber"
              v-model="profile.socialSecurityNumber"
            />
            <multiselect-field
              :placeholder="$t('pages.profile.phOccupation')"
              :label="$t('pages.profile.occupation')"
              name="occupation"
              :options="translatedOccupations"
              v-model="profile.occupationsList"
            />
            <multiselect-field
              :placeholder="$t('pages.profile.phQualification')"
              :label="$t('pages.profile.qualification')"
              name="qualification"
              :options="translatedEducation"
              v-model="profile.qualificationsList"
            />
            <multiselect-field
              :placeholder="$t('pages.profile.phTransportation')"
              :label="$t('pages.profile.transportation')"
              name="transportationMeans"
              :options="translatedTransportation"
              v-model="profile.transportationList"
              mode="tags"
            />
            <multiselect-field
              :placeholder="$t('pages.profile.phCulture')"
              :label="$t('pages.profile.culture')"
              name="culturalInterest"
              :options="translatedCulturalInterests"
              v-model="profile.culturalInterestList"
              mode="tags"
            />
            <multiselect-field
              :placeholder="$t('pages.profile.phDisabilities')"
              :label="$t('pages.profile.disabilities')"
              name="disabilities"
              :options="translatedDisabilities"
              v-model="profile.disabilitiesList"
              mode="tags"
            />
            <!-- TODO: decide if we want to keep these or not -->
            <multiselect-field
              v-show="false"
              :placeholder="$t('pages.profile.phCivilStatus')"
              :label="$t('pages.profile.civilStatus')"
              name="civilStatus"
              :options="civilStatus"
              v-model="profile.civilStatusList"
            />
          </div>
        </div>
      </div>
    </Form>

    <hr />

    <div
      id="shareProfileToggle"
      :class="{ 'animate-pulse bg-warn-400': pulseShareToggle }"
      class="relative p-2 rounded"
    >
      <SwitchToggle v-model="profile.shareProfile" disabled = true class="max-w-3xl">
        <span class="text-sm font-medium text-neutral-700">
          {{ $t("pages.profile.shareProfile") }}
          <tooltip :message="$t('pages.profile.personalIdentMessage')">
            {{ $t("pages.profile.personalIdentifiers") }}
          </tooltip>
          {{ $t("pages.profile.withDS") }}
        </span>
      </SwitchToggle>
    </div>

    <div class="pt-8 sm:pt-5">
      <div class="flex flex-row items-center justify-end space-x-2">
        <primary-button size="sm" @click="updateDetails">{{ $t("pages.profile.updateDetails") }} </primary-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { ProfilePicture, User } from "@/api";
  import { useToaster, useUserFields, useUtilities, useWorld } from "@/composables";
  import { Cookies, nationalityOptions } from "@/constants";
  import store from "@/store";
  import dayjs from "dayjs";
  import * as R from "ramda";
  import { Form } from "vee-validate";
  import { computed, defineComponent, onUpdated, ref, watch } from "vue";
  import { useI18n } from "vue-i18n";
  import { useCookies } from "vue3-cookies";

  export default defineComponent({
    name: "Profile",
    props: {
      goToShareToggle: { type: String, default: "false" },
      goToNationalInsuranceNumber: { type: String, default: "false" },
    },
    components: { Form },
    setup(props, { emit }) {
      const dateMasks = { input: "DD/MM/YYYY" };
      const { t } = useI18n();
      const { cookies } = useCookies();
      const { imageToBase64 } = useUtilities();

      const loading = ref<boolean>(true);
      let userProfile: any;
      const toaster = useToaster();
      const firstLoad = ref<boolean>(true);
      const pulseShareToggle = ref<boolean>(false);
      const firstInsuranceLoad = ref<boolean>(true);
      const pulseNationalInsurance = ref<boolean>(false);

      const form = ref<any>();
      const uploadedFile = ref<any>(null);
      const profile = ref<any>({
        firstName: null,
        lastName: null,
        street: null,
        postcode: null,
        city: null,
        region: null,
        country: null,
        nationality: null,
        phone: null,
        birthDate: null,
        placeOfBirth: null,
        profilePicture: null,
        nationalInsuranceNumber: null,
        socialSecurityNumber: null,
        occupationsList: null,
        qualificationsList: null,
        transportationList: [],
        culturalInterestList: [],
        disabilitiesList: [],
        civilStatusList: [],
        shareProfile: false,
        sub: null,
      });

      const currentCountryId = ref<string | undefined>();
      const currentStateId = ref<string | undefined>();

      const { cities, states, countries, findCountry, findCountryByName, findState, findStateByName } = useWorld(
        currentCountryId,
        currentStateId
      );

      const {
        occupations,
        civilStatus,
        culturalInterests,
        disabilities,
        education,
        transportation,
        findOccupation,
        findCivilStatus,
        findCulturalInterst,
        findDisabilities,
        findEducation,
        findTransportation,
        findStringOccupation,
        findStringCivilStatus,
        findStringCulturalInterst,
        findStringDisabilities,
        findStringEducation,
        findStringTransportation,
      } = useUserFields();

      const translatedOccupations = occupations.value.map(item =>
        Object.assign({}, item, {
          label: t(item.label),
        })
      );
      
      const translatedEducation = education.value.map(item =>
        Object.assign({}, item, {
          label: t(item.label),
        })
      );
      
      const translatedTransportation = transportation.value.map(item =>
        Object.assign({}, item, {
          label: t(item.label),
        })
      );
      
      const translatedCulturalInterests = culturalInterests.value.map(item =>
        Object.assign({}, item, {
          label: t(item.label),
        })
      );
      
      const translatedDisabilities = disabilities.value.map(item =>
        Object.assign({}, item, {
          label: t(item.label),
        })
      );

      const country = computed({
        get: () => findCountryByName(profile.value.country)?.name,
        set: (countryId: string | undefined) => {
          currentCountryId.value = countryId;
          profile.value.country = countryId ? findCountry(countryId)?.name : undefined;
        },
      });

      const state = computed({
        get: () => findStateByName(profile.value.region)?.name,
        set: (stateId: string | undefined) => {
          currentStateId.value = stateId;
          profile.value.region = stateId ? findState(stateId)?.name : undefined;
        },
      });

      const validationSchema = {
        firstName: "max:50",
        lastName: "max:50",
        street: "max:50",
        postalCode: "max:10",
        phoneNumber: "max:15",
      };

      const loadProfile = () => {
        User.profile()
          .then(({ data }) => {
            userProfile = R.clone(data);
            store.commit("SET_USER", R.clone(data));
            profile.value = data;

            profile.value.occupationsList = findStringOccupation(profile.value.occupationsList);
            profile.value.qualificationsList = findStringEducation(profile.value.qualificationsList);
            profile.value.disabilitiesList = findStringDisabilities(profile.value.disabilitiesList);
            profile.value.transportationList = findStringTransportation(profile.value.transportationList);
            profile.value.culturalInterestList = findStringCulturalInterst(profile.value.culturalInterestList);
            profile.value.civilStatusList = findStringCivilStatus(profile.value.civilStatusList);
            profile.value.profilePicture = data.profilePicture ? imageToBase64(data.profilePicture.data as any) : null;

            currentCountryId.value = findCountryByName(profile.value.country)?.id;
            currentStateId.value = findStateByName(profile.value.region)?.id;
            loading.value = false;
          })
          .catch(() => {
            loading.value = false;
          });
      };

      const occupationNoOptionsText = ref<any>(null);
      const qualificationNoOptionsText = ref<any>(null);

      const updateDetails = async () => {
        const { valid } = await form.value.validate();
        if (!valid) return;
        let payload = R.clone(profile.value);

        payload.occupationsList = findOccupation([payload.occupationsList.toString()]);
        payload.qualificationsList = findEducation([payload.qualificationsList.toString()]);
        payload.civilStatusList = findCivilStatus([payload.civilStatusList.toString()]);

        payload.transportationList = findTransportation(payload.transportationList);
        payload.culturalInterestList = findCulturalInterst(payload.culturalInterestList);
        payload.disabilitiesList = findDisabilities(payload.disabilitiesList);

        let validProfilePicture = true;
        if (uploadedFile.value) {
          const formData = new FormData();
          formData.append("file", uploadedFile.value);
          ProfilePicture.upload(formData)
            .then()
            .catch((err: any) => {
              validProfilePicture = false;
              toaster.show(err.response.data.message, "error");
            });
        }
        if (payload.profilePicture) {
          payload = R.omit(["profilePicture"], payload);
        }

        if (validProfilePicture) {
          User.updateUser(payload)
            .then(() => {
              toaster.show(t("pages.profile.detailsUpdated"), "success");
            })
            .catch((err: any) => {
              toaster.show(err.response.data.message, "error");
            })
            .finally(() => loadProfile());
        }
      };

      const fileChanged = (file: any) => {
        uploadedFile.value = file;
      };

      const formatDate = (inputValue: any) => {
        return inputValue ? dayjs(inputValue).format("DD/MM/YYYY") : null;
      };

      const regionReset = () => {
        if (profile.value.country !== userProfile.country) {
          profile.value.region = null;
          profile.value.city = null;
          userProfile.city = null;
          userProfile.region = null;
          store.commit("SET_USER", R.clone(userProfile));
        }
      };

      const cityReset = () => {
        if (profile.value.region !== userProfile.region) {
          profile.value.city = null;
          userProfile.city = null;
          store.commit("SET_USER", R.clone(userProfile));
        }
      };

      //Avoid user to type alphabetic characters
      const isNumber = (val: any) => {
        if (
          Number(val.key) ||
          val.keyCode === 43 || // + symbol
          val.keyCode === 41 || // ) symbol
          val.keyCode === 40 // ( symbol
        ) {
          return val;
        }
        return val.preventDefault();
      };

      const showError = (error: string) => {
        toaster.show(error, "error");
      };

      loadProfile();

      const clearBirthDate = () => {
        profile.value.birthDate = null;
      };

      const startPulseShareToggle = (goToShareToggle: string) => {
        if (goToShareToggle.toLowerCase() === "true") {
          const element = document.getElementById("shareProfileToggle");
          element?.scrollIntoView({ behavior: "smooth" });
          pulseShareToggle.value = true;
          setTimeout(() => (pulseShareToggle.value = false), 5000);
        }
      };
      const startPulseNationalInsurance = (goToNationalInsuranceNumber: string) => {
        if (goToNationalInsuranceNumber.toLowerCase() === "true") {
          const element = document.getElementById("nationalInsuranceNumber");
          element?.scrollIntoView({ behavior: "smooth" });
          pulseNationalInsurance.value = true;
          setTimeout(() => (pulseNationalInsurance.value = false), 5000);
        }
      };

      onUpdated(() => {
        if (firstLoad.value) {
          startPulseShareToggle(props.goToShareToggle);
        }
        firstLoad.value = false;
      });

      onUpdated(() => {
        if (firstInsuranceLoad.value) {
          startPulseNationalInsurance(props.goToNationalInsuranceNumber);
        }
        firstInsuranceLoad.value = false;
      });

      watch(
        () => props.goToShareToggle,
        (go: string) => startPulseShareToggle(go)
      );

      watch(
        () => props.goToNationalInsuranceNumber,
        (go: string) => startPulseNationalInsurance(go)
      );

      watch(
        () => profile.value.shareProfile,
        () => {
          cookies.set(Cookies.SHARE_WARNING_COOKIE_DISMISSED, "false");
        }
      );

      watch(
        () => profile.value.nationalInsuranceNumber,
        () => {
          cookies.set(Cookies.NATIONAL_INSURANCE, "false");
        }
      );

      return {
        translatedOccupations,
        civilStatus,
        translatedCulturalInterests,
        translatedDisabilities,
        translatedEducation,
        translatedTransportation,
        nationalityOptions,
        profile,
        updateDetails,
        fileChanged,
        showError,
        loading,
        validationSchema,
        form,
        countries,
        states,
        occupationNoOptionsText,
        qualificationNoOptionsText,
        formatDate,
        regionReset,
        cityReset,
        isNumber,
        cities,
        country,
        state,
        clearBirthDate,
        t,
        pulseShareToggle,
        dateMasks,
        pulseNationalInsurance,
      };
    },
  });
</script>
<route>
{
  props: true
}
</route>
