<template>
  <page-header :title="$t('pages.sharedConfiguration.title')" />
  <div class="flex flex-col pt-4 space-y-4">
    <AdvancedTable
      :fields="fields"
      :data="filteredSharedAssets"
      sortBy="timestamp"
      sortDirection="desc"
      :selectedTab="selectedTab"
      :tabs="filters"
      :noResultsMessage="$t('pages.sharedConfiguration.noSharedConfigurations')"
      :loading="loading"
      rowClickable
      @row-clicked="openConfiguration"
    >
      <template #asset="{ data, item }">
        <div :class="{ 'font-medium text-neutral-700': !item.seen }">
          {{ data }}
        </div>
      </template>

      <template #timestamp="{ processedData, item }">
        <div :class="{ 'font-medium text-neutral-700': !item.seen }">
          <tooltip :message="processedData.date">{{ processedData.fromNow }}</tooltip>
        </div>
      </template>
      <template #default="{ id, data }">
        <div class="flex flex-row items-center space-x-2 text-neutral-500">
          <button type="button" @click="openConfiguration(data)" class="focus:outline-none">
            <EyeIcon class="w-4 h-4 hover:text-primary-500" />
          </button>
          <confirm-button :key="id" @confirmed="removeConfiguration(id)">
            <tooltip :message="$t('pages.myVault.deleteAsset')"
              ><TrashIcon class="w-4 h-4 cursor-pointer hover:text-red-600"
            /></tooltip>

            <template v-slot:confirm>
              <tooltip :message="$t('pages.myVault.areYouSureDelete')">
                <ExclamationCircleIcon class="w-4 h-4 text-orange-700 text-yellow-600 cursor-pointer" />
              </tooltip>
            </template>
          </confirm-button>
        </div>
      </template>
    </AdvancedTable>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent, ref } from "vue";
  import { useSharedConfigurations, useToaster } from "@/composables";
  import dayjs from "dayjs";
  import { EyeIcon, TrashIcon, ExclamationCircleIcon } from "@heroicons/vue/outline";
  import { useRouter } from "vue-router";
  import relativeTime from "dayjs/plugin/relativeTime";
  import { useI18n } from "vue-i18n";
  import { AdvancedTable } from "@/components";
  import * as R from "ramda";
  import ConfirmButton from "@/components/ConfirmButton.vue";
  dayjs.extend(relativeTime);

  export default defineComponent({
    name: "Inbox",
    props: { tab: { type: String, default: "all" } },
    components: {
      EyeIcon,
      TrashIcon,
      ExclamationCircleIcon,
      AdvancedTable,
      ConfirmButton,
    },
    setup(props) {
      const selectedTab = ref<String>("all");
      const { t } = useI18n();
      const { configurations, loading, refresh, deleteConfiguration } = useSharedConfigurations();
      refresh();
      const router = useRouter();
      const searchFields = ["asset"];
      const toaster = useToaster();

      const fields = computed(() => [
        {
          key: "asset",
          label: t("pages.sharedConfiguration.configuration"),
          searchable: true,
          sortable: true,
        },
        {
          key: "pseudonym",
          label: t("pages.sharedConfiguration.pseudonym"),
          sortable: true,
          showAfter: "md",
        },
        {
          key: "timestamp",
          label: t("pages.sharedConfiguration.timestamp"),
          type: "datetime",
          sortable: true,
          showAfter: "sm",
          preprocess: (data: any) => {
            return {
              date: dayjs(data as Date).format("MMM D, YYYY h:mm A"),
              fromNow: dayjs(data as Date).fromNow(),
            };
          },
        },
        {
          key: "amount",
          label: t("pages.sharedConfiguration.amount"),
          sortable: false,
          showAfter: "md",
        },
      ]);

      const filters = [{ label: t("pages.sharedConfiguration.allConfigurations"), value: "all" }];

      const allSharedconfigurations = computed(() => {
        const returnConfigurations: any = [];
        const configurationClone = R.clone(configurations.value);
        configurationClone.forEach((item: any) => {
          returnConfigurations.push({
            id: item.id,
            asset: item.name,
            pseudonym:
              item.configuration.anonymisation.pseudoId != null
                ? item.configuration.anonymisation.pseudoId
                : item.configuration.anonymisation.tpmPseudonym != null
                ? item.configuration.anonymisation.tpmPseudonym
                : t("pages.sharedConfiguration.noPseudonym"),
            timestamp: item.createdAt,
          });
        });
        return returnConfigurations;
      });

      const filteredSharedAssets = computed(() => {
        switch (selectedTab.value) {
          case "all":
            return allSharedconfigurations.value;
        }
      });

      const openConfiguration = (item: any) => {
        router.push(`/sharing-configuration/configuration/${item.id}`);
      };

      const removeConfiguration = (id: any) => {
        deleteConfiguration(id)
          .then(() => {
            refresh();
            toaster.show(t("pages.sharedConfiguration.assetRemoved"), "success");
          })
          .catch((err: any) => {
            toaster.show(err.response.data.message, "error");
          });
      };

      return {
        fields,
        filteredSharedAssets,
        filters,
        selectedTab,
        loading,
        configurations,
        searchFields,
        openConfiguration,
        removeConfiguration,
      };
    },
  });
</script>
