<template>
  <div class="flex text-neutral-700">
    <div class="w-1/2 md:w-5/12">{{ label }}:</div>
    <div class="w-1/2 font-medium md:w-7/12">{{ value }}</div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "TransactionPreviewItem",
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: [String, Number, Date],
      required: true,
    },
  },
});
</script>
