<template>
  <div class="p-4 bg-secondary-100">
    <h3 class="font-medium leading-6 text-md text-neutral-400">
      {{ $t('components.transactionPreview.transactionDetails') }}
    </h3>
    <div class="grid grid-cols-1 gap-1 p-2 text-sm lg:grid-cols-2">
      <transaction-preview-item
        :label="$t('components.transactionPreview.buyer')"
        :value="transaction.buyerName"
      />
      <transaction-preview-item
        :label="$t('components.transactionPreview.buyerType')"
        :value="transaction.buyerType"
      />
      <transaction-preview-item
        :label="$t('components.transactionPreview.datasetBought')"
        :value="transaction.asset"
      />
      <transaction-preview-item
        :label="$t('components.transactionPreview.pointsReceived')"
        :value="transaction.points"
      />
      <transaction-preview-item
        :label="$t('components.transactionPreview.transactionTimestamp')"
        :value="transaction.timestamp"
      />
      <transaction-preview-item
        :label="$t('components.transactionPreview.transactionHash')"
        :value="transaction.hash"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import TransactionPreviewItem from "./TransactionPreviewItem.vue";

export default defineComponent({
  name: "TransactionPreview",
  components: {
    TransactionPreviewItem,
  },
  props: {
    transaction: {
      type: Object,
      required: true,
    },
  },
});
</script>
