<template>
  <page-header :title="$t('pages.inbox.title')" />
  <div class="flex flex-col pt-4 space-y-4">
    <Alert v-if="isAllowDataSeekerRequests" type="info" size="sm">
      {{ $t("pages.inbox.youHaveAllowed") }}
      <InternalLink name="settings">{{ $t("pages.inbox.settingsPage") }}</InternalLink
      >.
    </Alert>
    <Alert v-else type="warning" size="sm">
      {{ $t("pages.inbox.youHaveNotAllowed") }}
      <InternalLink name="settings">{{ $t("pages.inbox.settingsPage") }}</InternalLink
      >. {{ $t("pages.inbox.thisMight") }}
    </Alert>
    <AdvancedTable
      :fields="fields"
      :data="filteredMessages"
      sortBy="timestamp"
      sortDirection="desc"
      :tabs="filters"
      :selectedTab="selectedTab"
      :loading="loading"
      :noResultsMessage="$t('pages.inbox.noMessages')"
      rowClickable
      @tab-changed="changeTab"
      @row-clicked="openMessage"
    >
      <template #prelude="{ data }">
        <div class="flex flex-col items-center ml-1" v-if="!data.readAt">
          <tooltip :message="$t('pages.inbox.haventRead')">
            <div class="w-3 h-3 rounded-full animate-pulse bg-primary-400"></div>
          </tooltip>
        </div>
      </template>
      <template #topic="{ data, item }">
        <div :class="{ 'font-medium text-neutral-700': !item.seen }">
          {{ data }}
        </div>
      </template>

      <template #timestamp="{ processedData, item }">
        <div :class="{ 'font-medium text-neutral-700': !item.seen }">
          <tooltip :message="processedData.date">{{ processedData.fromNow }}</tooltip>
        </div>
      </template>
      <template #response="{ processedData, data }">
        <div class="text-sm">
          <span
            class="px-2 py-1 rounded-md"
            :class="{
              'text-blue-500 bg-blue-100': data.toLowerCase() === 'pending',
              'text-green-500 bg-green-100': data.toLowerCase() === 'accepted',
              'text-red-500 bg-red-100': data.toLowerCase() === 'declined',
            }"
            >{{ processedData }}</span
          >
        </div>
      </template>
      <template #default="{ id, data }">
        <div class="flex flex-row items-center space-x-2 text-neutral-500">
          <button type="button" @click="openMessage(data)" class="focus:outline-none">
            <eye-icon class="w-4 h-4 hover:text-primary-500" />
          </button>
          <confirm-button :key="id" @confirmed="deleteMsg(id)">
            <trash-icon class="w-4 h-4 cursor-pointer hover:text-red-600" />
            <template v-slot:confirm>
              <exclamation-circle-icon class="w-4 h-4 text-orange-700 text-yellow-600 cursor-pointer" />
            </template>
          </confirm-button>
        </div>
      </template>
    </AdvancedTable>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent, ref, watch } from "vue";
  import { useMessages } from "@/composables";
  import dayjs from "dayjs";
  import { EyeIcon, TrashIcon, ExclamationCircleIcon } from "@heroicons/vue/outline";
  import { useRouter } from "vue-router";
  import { MessageTypeWrapper } from "@/constants";
  import relativeTime from "dayjs/plugin/relativeTime";
  import store from "@/store";
  import { useI18n } from "vue-i18n";

  dayjs.extend(relativeTime);

  export default defineComponent({
    name: "Inbox",
    props: { tab: { type: String, default: "all" } },
    components: {
      EyeIcon,
      TrashIcon,
      ExclamationCircleIcon,
    },
    setup(props) {
      const { t } = useI18n();
      const { messages, pendingRequests, unreadMessages, requestMessages, deleteMessage, refresh, loading } =
        useMessages();
      refresh();
      const router = useRouter();
      const searchFields = ["topic"];

      const selectedTab = ref<String>(props.tab);

      const fields = computed(() => [
        {
          key: "topic",
          label: t("pages.inbox.topic"),
          searchable: true,
          sortable: true,
        },
        {
          key: "messageType",
          label: t("pages.inbox.messageType"),
          sortable: true,
          showAfter: "md",
          preprocess: (data: any) => {
            if (data && data.toLowerCase() === "questionnaire") return t("pages.inbox.questionnaire");
            if (data && data.toLowerCase() === "sharing request") return t("pages.inbox.sharingRequest");
            return data;
          },
        },
        {
          key: "timestamp",
          label: t("pages.inbox.received"),
          type: "datetime",
          sortable: true,
          showAfter: "sm",
          preprocess: (data: any) => {
            return {
              date: dayjs(data as Date).format("MMM D, YYYY h:mm A"),
              fromNow: dayjs(data as Date).fromNow(),
            };
          },
        },
        {
          key: "response",
          label: t("pages.inbox.responseStatus"),
          sortable: true,
          showAfter: "md",
          preprocess: (data: any, message: any) => {
            const messageType = MessageTypeWrapper.find(message.messageType);
            if (data && messageType && messageType.isRequest()) {
              return t("pages.inbox." + data.toLowerCase());
            }
            return null;
          },
        },
      ]);

      const filters = computed(() => [
        { label: t("pages.inbox.allMessages"), value: "all" },
        { label: t("pages.inbox.requests"), value: "requests" },
        { label: t("pages.inbox.unreadMessages"), value: "unread" },
        { label: t("pages.inbox.openRequests"), value: "openrequests" },
      ]);

      const changeTab = (value: string) => {
        selectedTab.value = value;
      };

      const filteredMessages = computed(() => {
        switch (selectedTab.value) {
          case "all":
            return messages.value;
          case "unread":
            return unreadMessages.value;
          case "requests":
            return requestMessages.value;
          case "openrequests":
            return pendingRequests.value;
        }
      });

      const isAllowDataSeekerRequests = computed(() => store.state.user.requestResolverSettings);

      const openMessage = (item: any) => {
        router.push(`/inbox/message/${item.id}`);
      };

      const deleteMsg = (id: number) => {
        deleteMessage(id);
        refresh();
      };

      return {
        fields,
        filters,
        loading,
        messages,
        selectedTab,
        searchFields,
        filteredMessages,
        isAllowDataSeekerRequests,
        changeTab,
        openMessage,
        deleteMsg,
      };
    },
  });
</script>
