<template>
  <div class="relative bg-white">
    <div class="lg:absolute lg:inset-0">
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img
          class="object-cover object-right w-full h-56 lg:absolute lg:h-full"
          :src="imageContact"
          alt=""
        />
      </div>
    </div>
    <div class="relative px-4 py-16 sm:py-24 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:py-32 lg:grid lg:grid-cols-2">
      <div class="lg:pr-8">
        <div class="max-w-md mx-auto sm:max-w-lg lg:mx-0">
          <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
            {{ $t('pages.contact.getInTouch') }}
          </h2>
          <p class="mt-4 text-lg text-neutral-500 sm:mt-3">
            {{ $t('pages.contact.hearFromYou') }}
          </p>
          <Form
            :validation-schema="validationSchema"
            ref="form"
          >
            <div class="grid grid-cols-1 mt-9 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
              <input-field
                name="firstName"
                :label="$t('pages.contact.firstName')"
                v-model="contactForm.firstName"
                autocomplete="firstName"
              />
              <input-field
                name="lastName"
                :label="$t('pages.contact.lastName')"
                v-model="contactForm.lastName"
                autocomplete="lastName"
              />
              <input-field
                name="email"
                :label="$t('pages.contact.email')"
                type="email"
                v-model="contactForm.email"
                autocomplete="email"
                class="sm:col-span-2"
              />
              <input-field
                name="phone"
                :label="$t('pages.contact.phone')"
                :description="$t('pages.contact.optional')"
                v-model="contactForm.phone"
                autocomplete="phone"
                class="sm:col-span-2"
              />
              <textarea-field
                name="howCanWeHelpYou"
                :label="$t('pages.contact.howCanWe')"
                :description="$t('pages.contact.max500')"
                rows="4"
                v-model="contactForm.message"
                class="sm:col-span-2"
              />
              <input-field
                name="howDidYouHearAboutUs"
                :label="$t('pages.contact.howDidYou')"
                v-model="contactForm.hearAboutUs"
                class="sm:col-span-2"
              />
              <div class="text-right sm:col-span-2">
                <button
                  type="button"
                  @click="submitForm()"
                  class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
                >
                  {{ $t('pages.contact.submit') }}
                </button>
              </div>
            </div>
          </Form>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { Form } from "vee-validate";
import { Email } from "@/api";
import imageContact from "../../assets/contact.jpg";
import { useToaster } from "@/composables";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "Contact",
  components: { Form },
  setup() {
    const { t } = useI18n();
    const toaster = useToaster();
    const form = ref<any>();
    const contactForm = ref<any>({
      firstName: null,
      lastName: null,
      email: null,
      phone: null,
      message: null,
      hearAboutUs: null,
    });
    const validationSchema = {
      firstName: "required",
      lastName: "required",
      email: "required|email",
      howCanWeHelpYou: "required|max:500",
      howDidYouHearAboutUs: "required",
    };

    const submitForm = async () => {
      const { valid } = await form.value.validate();
      if (!valid) return;
      Email.send(contactForm.value)
        .then(() => {
          contactForm.value = {
            firstName: null,
            lastName: null,
            email: null,
            phone: null,
            message: null,
            hearAboutUs: null,
          };
          toaster.show(t("pages.contact.successfullySent"), "success");
        })
        .catch(() => toaster.show(t("pages.contact.failedToSend"), "error"));
    };
    return {
      imageContact,
      validationSchema,
      form,
      contactForm,
      submitForm,
    };
  },
});
</script>
