<template>
  <page-header :title="$t('pages.settings.title')" class="my-2" />
  <div class="space-y-20" v-if="!loading">
    <div class="mt-4">
      <label-and-description
        :label="$t('pages.settings.changeEmail')"
        :description="$t('pages.settings.changeEmailDesc')"
      />
      <Form :validation-schema="emailValidationSchema" ref="emailForm" class="grid lg:grid-cols-4 gap-y-6 gap-x-4">
        <input-field
          class="lg:col-span-1"
          :label="$t('pages.settings.email')"
          name="email"
          type="email"
          v-model="email"
        >
          <at-symbol-icon class="w-4 h-4 mr-1" />
        </input-field>
        <div class="flex flex-row items-center justify-end lg:mt-5 lg:col-span-3">
          <primary-button size="base" @click="changeEmail">{{ $t("pages.settings.updateEmail") }}</primary-button>
        </div>
      </Form>
    </div>

    <div>
      <label-and-description
        :label="$t('pages.settings.changePassword')"
        :description="$t('pages.settings.changePasswordDesc')"
      />
      <Form :validation-schema="passwordValidationSchema" ref="passwordForm">
        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-y-6 gap-x-4">
          <input-field
            :label="$t('pages.settings.oldPassword')"
            name="oldPassword"
            type="password"
            v-model="oldPassword"
            ><lock-closed-icon class="w-4 h-4 mr-1"
          /></input-field>
          <input-field
            :label="$t('pages.settings.newPassword')"
            name="newPassword"
            type="password"
            v-model="newPassword"
            ><lock-closed-icon class="w-4 h-4 mr-1"
          /></input-field>
          <input-field
            :label="$t('pages.settings.confirmPassword')"
            name="confirmPassword"
            type="password"
            v-model="confirmPassword"
            ><lock-closed-icon class="w-4 h-4 mr-1"
          /></input-field>
          <div class="flex flex-row items-center justify-end lg:mt-5">
            <primary-button size="base" @click="changePassword">{{
              $t("pages.settings.updatePassword")
            }}</primary-button>
          </div>
        </div>
      </Form>
    </div>

    <div class="space-y-4">
      <label-and-description :label="$t('pages.settings.sharedConfiguration')" :description="$t('pages.settings.sharedConfigurationDescription')"/>
      <div class="grid mt-4 lg:grid-cols-2 xl:grid-cols-3 gap-y-6 gap-x-8">
        <button
          type="button"
          class=" inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-primary-600 text-base font-medium text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 sm:text-sm"
          @click="openConfigurationTable"
        >
          {{ $t("pages.settings.viewSharedConfigurations") }}
        </button>
      </div>
    </div>

    <div class="space-y-4">
      <label-and-description
        :label="$t('pages.settings.requestResolver')"
        :description="$t('pages.settings.requestResolverDesc')"
      />
      <div class="grid mt-4 lg:grid-cols-2 xl:grid-cols-3 gap-y-6 gap-x-8">
        <SwitchToggle v-model="requestResolverSettings">
          <span class="text-sm font-medium text-neutral-700">{{ $t("pages.settings.allowRequests") }}</span>
        </SwitchToggle>
      </div>
      <div class="grid lg:grid-cols-2 gap-y-6 gap-x-8">
        <blacklist-table
          :blacklist="blacklist"
          :label="$t('pages.settings.blacklistedDS')"
          @remove="removeFromBlacklist"
        />
      </div>
    </div>

    <div>
      <label-and-description
        :label="$t('pages.settings.deleteAccount')"
        :description="$t('pages.settings.deleteAccountDesc')"
      />
      <confirm-button @confirmed="deleteAccount" class="flex flex-row items-center justify-end">
        <template v-slot:default>
          <primary-button size="base">{{ $t("pages.settings.deleteAccount") }}</primary-button>
        </template>
        <template v-slot:confirm>
          <secondary-button size="base">
            <div class="flex items-center">
              <exclamation-circle-icon class="w-4 h-4 mr-1" />{{ $t("pages.settings.clickConfirm") }}
            </div>
          </secondary-button>
        </template>
      </confirm-button>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref, watch } from "vue";
  import { Form } from "vee-validate";
  import { AtSymbolIcon } from "@heroicons/vue/solid";
  import { LockClosedIcon, ExclamationCircleIcon } from "@heroicons/vue/outline";
  import { useToaster } from "@/composables";
  import { Blacklist, User, Auth } from "@/api";
  import { useRouter } from "vue-router";
  import { BlacklistTable } from "../../settings/components";
  import store from "@/store";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "Settings",
    components: {
      LockClosedIcon,
      AtSymbolIcon,
      BlacklistTable,
      Form,
      ExclamationCircleIcon,
    },
    setup() {
      const { t } = useI18n();
      const loading = ref<boolean>(true);
      const toaster = useToaster();
      const router = useRouter();
      const emailForm = ref<any>();
      const passwordForm = ref<any>();
      const email = ref<string | null>(null);
      const oldPassword = ref<string | null>(null);
      const newPassword = ref<string | null>(null);
      const confirmPassword = ref<string | null>(null);
      const requestResolverSettings = ref<boolean>(false);
      const blacklist = ref<any>([]);

      const emailValidationSchema = {
        email: "required|email",
      };
      const passwordValidationSchema = {
        oldPassword: "required",
        newPassword: "required|password",
        confirmPassword: "required|confirmed:@newPassword",
      };

      User.profile().then(({ data }) => {
        email.value = data.email;
        requestResolverSettings.value = data.requestResolverSettings ? data.requestResolverSettings : false;
      });

      Blacklist.get()
        .then(({ data }) => {
          blacklist.value = data;
          loading.value = false;
        })
        .catch(() => {
          loading.value = false;
        });

      const changeEmail = async () => {
        const { valid } = await emailForm.value.validate();
        if (!valid) return;
        User.changeEmail({ email: email.value })
          .then(() => {
            toaster.show(t("pages.settings.emailUpdated"), "success");
          })
          .catch((err: any) => {
            toaster.show(err.response.data.message, "error");
          });
      };

      const changePassword = async () => {
        const { valid } = await passwordForm.value.validate();
        if (!valid) return;
        Auth.changePassword({
          oldPassword: oldPassword.value,
          newPassword: newPassword.value,
        })
          .then(() => {
            toaster.show(t("pages.settings.passwordUpdated"), "success");
          })
          .catch((err: any) => {
            toaster.show(err.response.data.message, "error");
          });
      };

      const deleteAccount = async () => {
        await User.delete();
        toaster.show(t("pages.settings.accountDeleted"), "success");
        store.commit("CLEAR_USER");
        router.push("/");
      };

      const setRequestResolverSettings = async (value: boolean) => {
        await User.setRequestResolverSettings(value);
        const { data } = await User.profile();
        store.commit("SET_USER", data);
      };

      const removeFromBlacklist = async (uuid: string) => {
        const item = blacklist.value.find((item: any) => item.dataSeekerUUID === uuid);
        if (item) {
          blacklist.value.splice(blacklist.value.indexOf(item), 1);
          await Blacklist.removeFromBlacklist(uuid);
        }
      };

      const openConfigurationTable = () => {
        router.push(`/sharing-configuration/`);
      };

      watch(
        () => requestResolverSettings.value,
        (updatedValue: boolean) => {
          setRequestResolverSettings(updatedValue);
        }
      );

      return {
        email,
        oldPassword,
        newPassword,
        confirmPassword,
        requestResolverSettings,
        changeEmail,
        changePassword,
        deleteAccount,
        setRequestResolverSettings,
        blacklist,
        removeFromBlacklist,
        emailForm,
        passwordForm,
        emailValidationSchema,
        passwordValidationSchema,
        loading,
        t,
        openConfigurationTable
      };
    },
  });
</script>
