<template>
  <div v-if="message" class="flex flex-col h-full space-y-4 lg:space-y-6">
    <page-header
      :controls="[{label: t('pages.inbox.message.delete'), click:'delete', colour: 'red', icon: 'TrashIcon', confirmation: true}]"
      :subheaders="[{label: messageDateFromNow, tooltip: messageDate, icon: 'CalendarIcon'}]"
      @delete="deleteMsg">
      <div class="flex flex-row space-x-2">
        <span>{{$t('pages.inbox.message.message')}}:</span><strong>{{ message.topic }}</strong>
      </div>
    </page-header>

    <div class="p-4 overflow-hidden shadow bg-secondary-50 sm:rounded-md">
      <span v-html="message.body"></span>
    </div>

    <div v-if="messageType && messageType.getComponent()"
         class="p-4 overflow-hidden shadow border-primary-800 sm:rounded-md">
      <component :is="messageType.getComponent()"  :message="message" @refresh="refresh"/>
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";
import PageHeader from "@/components/PageHeader.vue";
import { useMessage } from "@/composables";
import { MessageType } from "@/constants";
import { MessageQuestionnaire, SharingRequest, SystemNotification, TransactionResult } from "@/components/messages";
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "Message",
  components: { PageHeader, MessageQuestionnaire, SharingRequest, SystemNotification, TransactionResult },
  props: {
    id: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const { t } = useI18n();
    const router = useRouter();
    const messageId = computed(() => parseInt(props.id, 10));
    const { message, messageType, messageDate, messageDateFromNow, deleteMessage, markAsRead, refresh } = useMessage(messageId);

    const deleteMsg = async () => {
      await deleteMessage();
      await router.push("/inbox");
    };

    // mark as read after 5 seconds
    setTimeout(() => {
      markAsRead();
    }, 5000);

    return { message, messageType, messageDate, messageDateFromNow, MessageType, deleteMsg, refresh, t };
  }
});
</script>
