<template>
  <div class="flex flex-col h-full space-y-4 lg:space-y-6">
    <PageHeader
      :title="$t('pages.myVault.title')"
      :controls="controls"
      @download-all-data="downloadAllData"
      @download-specific-data="downloadSpecificData"
    />
    <div class="flex flex-col space-y-4">
      <AdvancedTable
        :fields="fields"
        :data="filteredAssets"
        :tabs="filters"
        :autofocusSearch="true"
        :selectedTab="selectedTab"
        :loading="loading"
        sortBy="updatedAt"
        sortDirection="desc"
        :noResultsMessage="$t('pages.myVault.noAssets')"
        rowClickable
        @tab-changed="changeTab"
        @row-clicked="viewAsset"
      >
        <template #select="{ item }">
          <input
            v-model="selectedAssets[item.id]"
            :id="`checkbox_${item.id}`"
            :value="selectedAssets[item.id]"
            class="disabled:cursor-not-allowed text-primary-600"
            type="checkbox"
            @click.stop
          />
        </template>
        <template #sharing="{ data, processedData }">
          <div v-if="!data" class="text-yellow-700">{{ processedData }}</div>
          <div v-else class="text-green-700">{{ processedData }}</div>
        </template>
        <template #updatedAt="{ processedData }">
          <tooltip :message="processedData.date">{{ processedData.fromNow }}</tooltip>
        </template>
        <template #type="{ processedData }">
          <div class="text-sm">
            <span
              class="px-2 py-1 rounded-md"
              :class="{
                'text-blue-500 bg-blue-100': processedData === $t('pages.myVault.dataset'),
                'text-secondary-600 bg-secondary-200': processedData === $t('pages.myVault.questionnaire'),
                'text-green-600 bg-green-100': processedData === $t('pages.myVault.analytics'),
              }"
              >{{ processedData }}
            </span>
          </div>
        </template>
        <template #default="{ data }">
          <div class="flex flex-row space-x-1 text-neutral-500">
            <EyeIcon class="w-4 h-4 cursor-pointer hover:text-primary-600" @click="viewAsset(data)" />
            <button
              class="disabled:opacity-50 disabled:cursor-not-allowed focus:outline-none"
              type="button"
              @click.stop="shareAsset(data.uid)"
            >
              <ShareIcon class="w-4 h-4 cursor-pointer hover:text-primary-600" />
            </button>
            <confirm-button :key="data.id" @confirmed="removeAsset(data.id)">
              <div class="flex items-center cursor-pointer">
                <tooltip v-if="data.shared" :message="$t('pages.myVault.asset.sharedDeleteTooltip')"
                  ><TrashIcon class="w-4 h-4 cursor-pointer hover:text-primary-600" />
                </tooltip>
                <tooltip v-else :message="$t('pages.myVault.deleteAsset')"
                  ><TrashIcon class="w-4 h-4 cursor-pointer hover:text-primary-600"
                /></tooltip>
              </div>
              <template v-slot:confirm>
                <tooltip :message="$t('pages.myVault.areYouSureDelete')">
                  <ExclamationCircleIcon class="w-4 h-4 text-orange-700 text-yellow-600 cursor-pointer" />
                </tooltip>
              </template>
            </confirm-button>
          </div>
        </template>
      </AdvancedTable>
    </div>
  </div>
</template>
<script lang="ts">
  import { DownloadData } from "@/api";
  import { useDownloadable } from "@/composables";
  import { Control } from "@/interfaces/ui";
  import { Ref } from "vue";
  import * as R from "ramda";
  import { computed, defineComponent, ref, watch } from "vue";
  import { AdvancedTable } from "@/components";
  import dayjs from "dayjs";
  import relativeTime from "dayjs/plugin/relativeTime";
  import { TrashIcon, ExclamationCircleIcon, EyeIcon, ShareIcon } from "@heroicons/vue/outline";
  import ConfirmButton from "@/components/ConfirmButton.vue";
  import { useRouter } from "vue-router";
  import { DataSourcesEnum, useAssets, useDataSource, useToaster } from "@/composables";
  import { useI18n } from "vue-i18n";

  dayjs.extend(relativeTime);

  export default defineComponent({
    name: "MyVault",
    components: {
      ConfirmButton,
      AdvancedTable,
      TrashIcon,
      ExclamationCircleIcon,
      EyeIcon,
      ShareIcon,
    },
    setup() {
      const router = useRouter();
      const { assets, loading, refresh, deleteAsset } = useAssets();
      const selectedTab = ref<String>("all");
      const toaster = useToaster();
      const { t } = useI18n();
      const { sourceFromSourceType } = useDataSource();
      const { download } = useDownloadable();
      const selectedAssets: Ref<Record<string, boolean>> = ref<Record<string, boolean>>({});

      const fields = computed(() => [
        {
          key: "select",
          label: t("pages.myVault.selectAsset"),
          searchable: false,
          sortable: false,
        },
        {
          key: "name",
          label: t("pages.myVault.assetName"),
          searchable: true,
          sortable: true,
        },
        {
          key: "sourceType",
          label: t("pages.myVault.collectionSource"),
          searchable: true,
          sortable: true,
          showAfter: "sm",
          preprocess: (data: DataSourcesEnum) => {
            return sourceFromSourceType(data)?.name;
          },
        },
        {
          key: "updatedAt",
          label: t("pages.myVault.lastUpdate"),
          sortable: true,
          type: "datetime",
          preprocess: (data: any) => {
            return R.isNil(data)
              ? {
                  fromNow: t("pages.myVault.noDataFetchedYet"),
                  date: t("pages.myVault.noDataFetchedYet"),
                }
              : {
                  fromNow: dayjs(data as Date).fromNow(),
                  date: dayjs(data as Date).format("MMM D, YYYY h:mm A"),
                };
          },
        },
        {
          key: "type",
          label: t("pages.myVault.assetType"),
          searchable: true,
          sortable: true,
          preprocess: (data: any) => {
            if (data && data.toLowerCase() === "questionnaire") return t("pages.myVault.questionnaire");
            else if (data && data.toLowerCase() === "dataset") return t("pages.myVault.dataset");
            else if (data && data.toLowerCase() === "analytics") return t("pages.myVault.analytics");
            return data;
          },
        },
        {
          key: "shared",
          label: t("pages.myVault.shared"),
          searchable: true,
          sortable: true,
          showAfter: "md",
          preprocess: (data: any) => {
            return R.isNil(data) || !data ? t("no") : t("yes");
          },
        },
      ]);

      const filters = computed(() => [
        { label: t("pages.myVault.allAssets"), value: "all" },
        { label: t("pages.myVault.dataSets"), value: "datasets" },
        { label: t("pages.myVault.analytics"), value: "analytics" },
      ]);

      const shareAsset = (id: string) => {
        router.push({ name: "share", query: { id } });
      };

      const viewAsset = (data: any) => {
        router.push(`/my-vault/asset/${data.id}`);
      };

      const removeAsset = (id: number) => {
        deleteAsset(id)
          .then(() => {
            refresh();
            toaster.show(t("pages.myVault.assetRemoved"), "success");
          })
          .catch((err: any) => {
            toaster.show(err.response.data.message, "error");
          });
      };

      const changeTab = (value: string) => {
        selectedTab.value = value;
      };

      const allAssets = computed(() => {
        const assetsClone = R.clone(assets.value);
        assetsClone.forEach((asset: any) => {
          switch (asset.sourceType) {
            case "Analytics":
              asset["type"] = "Analytics";
              break;
            case "Questionnaire":
              asset["type"] = "Questionnaire";
              break;
            default:
              asset["type"] = "Dataset";
          }
        });
        return assetsClone;
      });

      const filteredAssets = computed(() => {
        switch (selectedTab.value) {
          case "all":
            return allAssets.value;
          case "questionnaire":
            return allAssets.value.filter((asset: any) => asset.type === "Questionnaire");
          case "datasets":
            return allAssets.value.filter((asset: any) => asset.type === "Dataset");
          case "analytics":
            return allAssets.value.filter((asset: any) => asset.type === "Analytics");
        }
      });

      const controls = computed(() => {
        const c: Control[] = [];
        if (allAssets.value.length > 0)
          c.push({
            label: t("pages.myVault.downloadAllData"),
            icon: "DownloadIcon",
            click: "download-all-data",
          });
        if (Object.keys(selectedAssets.value).length > 0)
          c.push({
            label: t("pages.myVault.downloadSpecificData"),
            icon: "DownloadIcon",
            click: "download-specific-data",
          });
        return c;
      });

      const downloadAllData = () => {
        DownloadData.downloadAllData().then((res: any) => {
          download("AllMyData", [res.data], ".zip", true, res.headers["content-type"]);
        });
      };

      const downloadSpecificData = () => {
        const selectedIds: number[] = Object.keys(selectedAssets.value)
          .filter((id: string) => selectedAssets.value[id])
          .map((idString: string) => Number(idString));
        DownloadData.downloadSpecificData(selectedIds).then((res: any) => {
          const filename = res.headers["content-disposition"].split("filename=")[1];
          download(filename.split(".")[0], [res.data], `.${filename.split(".")[1]}`, true, res.headers["content-type"]);
        });
      };

      return {
        fields,
        filters,
        loading,
        controls,
        selectedTab,
        filteredAssets,
        selectedAssets,
        viewAsset,
        shareAsset,
        changeTab,
        removeAsset,
        downloadAllData,
        downloadSpecificData,
      };
    },
  });
</script>
