<template>
  <div v-if="merchant" class="flex flex-col h-full space-y-4 lg:space-y-6">
    <page-header :title="`${merchant.name}`">
      <template v-slot:status v-if="merchant.shared">
        <div class="px-2 text-sm text-green-600 capitalize bg-green-100 rounded-full">Shared</div>
      </template>
    </page-header>
    <div class="flex flex-col space-y-10">
      <div class="w-full overflow-hidden shadow sm:rounded-lg">
        <div class="px-4 py-5 bg-primary-800 sm:px-6">
          <h3 class="text-lg font-medium leading-6 text-white">Details</h3>
        </div>
        <div class="px-4 py-5 border-t border-neutral-200 sm:p-0 bg-primary-100">
          <dl class="sm:divide-y sm:divide-neutral-200">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">Name</dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ merchant.name }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">Description</dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ merchant.description }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="table">
        <Form>
          <advanced-table :fields="fields" :data="merchant.products" :searchable="false">
            <!-- <template>
                            <input-field type="number" :min="0"  >
                            </input-field>
                        <input-field
                        :name="`${field.key}Level`"
                        label="Level"
                        type="number"
                        v-model="anonLevels[field.key]"
                        :min="0"
                        class="bg-white rounded-md"
                        inputClasses="bg-white"
                        errorClasses="bg-secondary-100 text-xs text-red-600"
                        compact
                        @changed="clearPreview"
                        /> 
                        </template>-->

            <template #default="{ data, id }">
              <PlusCircleIcon class="w-6 h-6 cursor-pointer hover:text-primary-600" @click="addProduct(data, id)" />

              <MinusCircleIcon class="w-6 h-6" @click="removeProduct(data, id)" />
              <!-- </template>
                    <template #default="{ data, id }> -->
            </template>
          </advanced-table>
          <!-- <div class="flex flex-row justify-end" v-if="!executed"> -->
          <div class="flex flex-row justify-end">
            <!-- <primary-button :disabled="!selectedAsset || !assetHasData" @click="run"> -->
            <primary-button @click="requestContract">
              {{ $t("pages.wallet.buy") }}
            </primary-button>
          </div>
        </Form>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import * as R from "ramda";
  import { computed, defineComponent, ref, watch } from "vue";
  import { useRouter } from "vue-router";
  import { CalendarIcon, RefreshIcon, PlusIcon, PlusCircleIcon, MinusCircleIcon } from "@heroicons/vue/outline";
  import JsonViewer from "@/components/JsonViewer.vue";
  import { Merchant, ProductInBasket, ShoppingBasket } from "@/interfaces";
  import AdvancedTable from "@/components/AdvancedTable.vue";
  import { useToaster } from "@/composables";
  import { useI18n } from "vue-i18n";
  import { default as WalletAPI } from "@/api/wallet";
import store from "@/store";

  export default defineComponent({
    name: "Merchant",
    props: {
      id: {
        type: [Number, String],
        required: true,
      },
    },
    components: { JsonViewer, CalendarIcon, RefreshIcon, PlusIcon, PlusCircleIcon, MinusCircleIcon, AdvancedTable },
    setup(props) {
      const router = useRouter();
      const user = computed(() => store.state.user);
      const merchant = ref<Merchant>();
      const producsInBasket = ref<ProductInBasket[]>([]);
      //const merchants = ref<String[]>([]);
      const { t } = useI18n();
      const fields = [
        {
          key: "name",
          label: t("pages.wallet.name"),
          searchable: false,
          sortable: false,
          ///showAfter: "md",
        },
        {
          key: "description",
          label: t("pages.wallet.description"),
          searchable: false,
          sortable: false,
        },
        {
          key: "price",
          label: t("pages.wallet.price"),
          searchable: false,
          sortable: false,
        },
        {
          key: "amount",
          label: t("pages.wallet.amount"),
          searchable: false,
          sortable: false,
          preprocess: (data: number) => {
            return R.isNil(data) ? 0 : data;
          },
        },
      ];

      const compensationUserId = computed(() => {
        return user.value.sub;
      });

      const getMerchant = () => {
        WalletAPI.getMerchant(props.id).then(response => {
          merchant.value = response.data;
          for (const product in merchant.value?.products) {
          }
        });
      };
      getMerchant();

      //let productsArray:ProductInBasket[] ={};

      let dataRequest: ShoppingBasket = {
        customerName: "xxxxxxx-xxxx-xxxx-xxxx-xxxx",
        merchantName: "THE GLOBE",
        products: [{ idProduct: 75351264, amount: "1", price: "100" }],
      };
      const requestContract = () => {
        if (merchant.value != null && merchant.value.products != null) {
          //let shopBasket = new ShoppingBasket();
          dataRequest.customerName = compensationUserId.value;

          dataRequest.merchantName = merchant.value.name;
          dataRequest.products = new Array<ProductInBasket>();
          //for (let p in merchant.value.products)
          merchant.value.products.forEach(product => {
            if (product.amount != null && product.amount != 0) {
              let productInBasket: ProductInBasket = {
                idProduct: product.id!,
                amount: product.amount! + "",
                price: product.price!,
              };
              dataRequest.products!.push(productInBasket);
            }
          });
        }

        //merchantClient.post('/purchase',JSON.stringify(dataRequest), {headers:{'Access-Control-Allow-Origin': '*'}}
        //merchantClient.post('/merchant/purchase',dataRequest
        WalletAPI.purchase(dataRequest)
          .then(response => {
            const toaster = useToaster();
            toaster.show(response.data.message);
            router.push(`/wallet/`);
          })
          .catch(error => {
            /*console.log("EN requestContract post error:"+error);
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers); */
            if (error.response) {
              /*
               * The request was made and the server responded with a
               * status code that falls out of the range of 2xx
               */
            } else if (error.request) {
              /*
               * The request was made but no response was received, `error.request`
               * is an instance of XMLHttpRequest in the browser and an instance
               * of http.ClientRequest in Node.js
               */
              console.log("B:" + error.request);
            } else {
              // Something happened in setting up the request and triggered an Error
              console.log("C Error", error.message);
            }
            console.log("D:" + JSON.stringify(error.config));
          });
      };
      const addProduct = (data: any, id: number) => {
        //router.push(`/wallet/merchant/${data.name}`);
        //console.log("viewMerchant:"+JSON.stringify(data));
        //router.push(`/wallet/merchant/${data.name}`);
        if (data.amount == null) {
          data.amount = 1;
        } else {
          data.amount++;
        }
      };
      const removeProduct = (data: any, id: number) => {
        //router.push(`/wallet/merchant/${data.name}`);
        //console.log("viewMerchant:"+JSON.stringify(data));
        //router.push(`/wallet/merchant/${data.name}`);
        if (data.amount == null) {
          data.amount = 0;
        } else {
          data.amount--;
        }
      };
      return {
        merchant,
        fields,
        //lastUpdate,
        requestContract,
        addProduct,
        removeProduct,
      };
    },
  });
</script>
