<template>
  <div>
    <div class="max-w-xl m-auto">
      <div class="content-center px-8">
        <svg-image class="p-4 mt-24" :src="image404" />
      </div>
      <div class="mx-4">
        <h1
          class="mt-8 font-semibold text-center text-8xl text-primary-500 sm:mt-16 md:text-9xl"
        >
          404
        </h1>
        <h1
          class="mt-5 text-4xl font-semibold text-center text-primary-900 md:text-5xl"
        >
          {{ $t('pages.all.pageNotFound') }}
        </h1>
        <p class="mt-2 text-center text-neutral-700 md:text-lg sm:mt-4">
          {{ $t('pages.all.ohNo') }}
        </p>
        <p class="text-center text-neutral-700 md:text-lg">
          {{ $t('pages.all.try') }}
          <router-link to="/" class="text-primary-600 hover:underline"
            > Home</router-link
          >{{ $t('pages.all.try') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { SvgImage } from "@/components";
import image404 from '../assets/404.svg'
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "Error404",
  components: {
    SvgImage,
  },
  setup(){
    const { t } = useI18n();
    return {image404, t};
  }
});
</script>
