<template>
  <div class="bg-gradient-to-b from-white to-neutral-50">
    <!-- Pricing with four tiers and toggle -->
    <div class="px-4 pt-24 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="sm:flex sm:flex-col sm:align-center">
        <h1 class="text-5xl font-extrabold text-neutral-900 sm:text-center">
          {{ $t("pages.index.welcome") }}
        </h1>
        <p class="mt-5 text-xl text-neutral-500 sm:text-center">
          {{ $t("pages.index.subtitle") }}
        </p>
        <div class="relative mt-6 bg-neutral-100 rounded-lg p-0.5 flex self-center sm:mt-8 space-x-0.5 flex-row">
          <button
            type="button"
            class="relative w-1/2 py-2 text-sm font-medium border rounded-md text-neutral-700 whitespace-nowrap focus:outline-none focus:ring-2 focus:ring-primary-500 focus:z-10 sm:w-auto sm:px-8"
            :class="{
              'bg-white shadow-sm border-neutral-200': activeMode === 'dataOwner',
              'border-transparent': activeMode !== 'dataOwner',
            }"
            @click="changeMode('dataOwner')"
          >
            {{ $t("stakeholders.dataOwner", 1) }}
          </button>
          <button
            type="button"
            class="relative w-1/2 py-2 text-sm font-medium border rounded-md text-neutral-700 whitespace-nowrap focus:outline-none focus:ring-2 focus:ring-primary-500 focus:z-10 sm:w-auto sm:px-8"
            :class="{
              'bg-white shadow-sm border-neutral-200': activeMode === 'dataSeeker',
              'border-transparent': activeMode !== 'dataSeeker',
            }"
            @click="changeMode('dataSeeker')"
          >
            {{ $t("stakeholders.dataSeeker", 1) }}
          </button>
        </div>
      </div>
      <div
        v-if="activeMode === 'dataOwner'"
        class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-1 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 lg:grid-cols-3"
      >
        <div class="relative border divide-y rounded-lg shadow-sm border-neutral-200 divide-neutral-200">
          <div class="absolute flex flex-col items-center w-full step-overview">
            <svg
              class="w-12 h-12 p-2 bg-white border rounded-full border-neutral-300"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              ></path>
            </svg>
          </div>
          <div class="flex flex-col justify-between h-full p-6 space-y-4">
            <div class="flex flex-col space-y-4">
              <h2 class="text-lg font-medium leading-6 uppercase text-neutral-900">
                {{ $t("pages.index.createProfile.title") }}
              </h2>
              <p class="text-sm text-neutral-500">
                {{ $t("pages.index.createProfile.description") }}
              </p>
            </div>
            <div class="flex flex-col justify-between space-y-6">
              <div class="flex flex-col space-y-6">
                <h3 class="text-xs font-medium tracking-wide uppercase text-neutral-900">
                  {{ $t("pages.index.howItWorks") }}
                </h3>
                <ul class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">{{ $t("pages.index.createProfile.howItWorks1") }}</span>
                  </li>

                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">{{ $t("pages.index.createProfile.howItWorks2") }}</span>
                  </li>
                </ul>
              </div>
              <div class="mt-8">
                <primary-button @click="getStarted" class="w-full">{{ $t("pages.index.getStarted") }}</primary-button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative border divide-y rounded-lg shadow-sm border-neutral-200 divide-neutral-200">
          <div class="absolute flex flex-col items-center w-full step-overview">
            <svg
              class="w-12 h-12 p-2 bg-white border rounded-full border-neutral-300"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
              ></path>
            </svg>
          </div>
          <div class="flex flex-col justify-between h-full p-6 space-y-4">
            <div class="flex flex-col space-y-4">
              <h2 class="text-lg font-medium leading-6 uppercase text-neutral-900">
                {{ $t("pages.index.collectYourData.title") }}
              </h2>
              <p class="text-sm text-neutral-500">
                {{ $t("pages.index.collectYourData.description") }}
              </p>
            </div>
            <div class="flex flex-col justify-between space-y-6">
              <div class="flex flex-col space-y-6">
                <h3 class="text-xs font-medium tracking-wide uppercase text-neutral-900">
                  {{ $t("pages.index.howItWorks") }}
                </h3>
                <ul class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.collectYourData.howItWorks1") }}
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.collectYourData.howItWorks2") }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="mt-8">
                <primary-button @click="getStarted" class="w-full">{{ $t("pages.index.getStarted") }}</primary-button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative border divide-y rounded-lg shadow-sm border-neutral-200 divide-neutral-200">
          <div class="absolute flex flex-col items-center w-full step-overview">
            <svg
              class="w-12 h-12 p-2 bg-white border rounded-full border-neutral-300"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"
              ></path>
            </svg>
          </div>
          <div class="flex flex-col justify-between h-full p-6 space-y-4">
            <div class="flex flex-col space-y-4">
              <h2 class="text-lg font-medium leading-6 uppercase text-neutral-900">
                {{ $t("pages.index.shareAndGetRewarded.title") }}
              </h2>
              <p class="text-sm text-neutral-500">
                {{ $t("pages.index.shareAndGetRewarded.description") }}
              </p>
            </div>
            <div class="flex flex-col justify-between space-y-6">
              <div class="flex flex-col space-y-6">
                <h3 class="text-xs font-medium tracking-wide uppercase text-neutral-900">
                  {{ $t("pages.index.howItWorks") }}
                </h3>
                <ul class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.shareAndGetRewarded.howItWorks1") }}
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.shareAndGetRewarded.howItWorks2") }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="mt-8">
                <primary-button @click="getStarted" class="w-full">{{ $t("pages.index.getStarted") }}</primary-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="activeMode === 'dataSeeker'"
        class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-1 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 lg:grid-cols-3"
      >
        <div class="relative border divide-y rounded-lg shadow-sm border-neutral-200 divide-neutral-200">
          <div class="absolute flex flex-col items-center w-full step-overview">
            <SearchIcon class="w-12 h-12 p-2 bg-white border rounded-full border-neutral-300" aria-hidden="true" />
          </div>
          <div class="flex flex-col justify-between h-full p-6 space-y-9">
            <div class="flex flex-col space-y-4">
              <h2 class="text-lg font-medium leading-6 uppercase text-neutral-900">
                {{ $t("pages.index.findYourData.title") }}
              </h2>
              <p class="text-sm text-neutral-500">
                {{ $t("pages.index.findYourData.description") }}
              </p>
            </div>
            <div class="flex flex-col justify-between space-y-6">
              <div class="flex flex-col space-y-6">
                <h3 class="text-xs font-medium tracking-wide uppercase text-neutral-900">
                  {{ $t("pages.index.howItWorks") }}
                </h3>
                <ul class="space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.findYourData.howItWorks1") }}
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.findYourData.howItWorks1") }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="mt-8">
                <primary-button @click="goToCloudRegistration" class="w-full">{{
                  $t("pages.index.getStarted")
                }}</primary-button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative border divide-y rounded-lg shadow-sm border-neutral-200 divide-neutral-200">
          <div class="absolute flex flex-col items-center w-full step-overview">
            <CloudDownloadIcon
              class="w-12 h-12 p-2 bg-white border rounded-full border-neutral-300"
              aria-hidden="true"
            />
          </div>
          <div class="flex flex-col justify-between h-full p-6 space-y-4">
            <div class="flex flex-col space-y-4">
              <h2 class="text-lg font-medium leading-6 uppercase text-neutral-900">
                {{ $t("pages.index.requestAndAcquire.title") }}
              </h2>
              <p class="text-sm text-neutral-500">
                {{ $t("pages.index.requestAndAcquire.description") }}
              </p>
            </div>
            <div class="flex flex-col justify-between space-y-6">
              <div class="flex flex-col space-y-6">
                <h3 class="text-xs font-medium tracking-wide uppercase text-neutral-900">
                  {{ $t("pages.index.howItWorks") }}
                </h3>
                <ul class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.requestAndAcquire.howItWorks1") }}
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.requestAndAcquire.howItWorks2") }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="mt-8">
                <primary-button @click="goToCloudRegistration" class="w-full">
                  {{ $t("pages.index.getStarted") }}
                </primary-button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative border divide-y rounded-lg shadow-sm border-neutral-200 divide-neutral-200">
          <div class="absolute flex flex-col items-center w-full step-overview">
            <ChartPieIcon class="w-12 h-12 p-2 bg-white border rounded-full border-neutral-300" aria-hidden="true" />
          </div>
          <div class="flex flex-col justify-between h-full p-6 space-y-4">
            <div class="flex flex-col space-y-4">
              <h2 class="text-lg font-medium leading-6 uppercase text-neutral-900">
                {{ $t("pages.index.performAnalytics.title") }}
              </h2>
              <p class="text-sm text-neutral-500">
                {{ $t("pages.index.performAnalytics.description") }}
              </p>
            </div>
            <div class="flex flex-col justify-between space-y-6">
              <div class="flex flex-col space-y-6">
                <h3 class="text-xs font-medium tracking-wide uppercase text-neutral-900">
                  {{ $t("pages.index.howItWorks") }}
                </h3>
                <ul class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.performAnalytics.howItWorks1") }}
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-green-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">
                      {{ $t("pages.index.performAnalytics.howItWorks2") }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="mt-8">
                <primary-button @click="goToCloudRegistration" class="w-full">
                  {{ $t("pages.index.performAnalytics.getStarted") }}
                </primary-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FAQ offset -->
    <div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:py-20 lg:px-8">
      <div class="lg:grid lg:grid-cols-3 lg:gap-8">
        <div class="space-y-4">
          <h2 class="text-3xl font-extrabold text-neutral-900">
            <router-link to="faq" class="text-primary-800 hover:text-primary-600">
              {{ $t("pages.index.faq.title") }}
            </router-link>
          </h2>
          <p class="text-lg text-neutral-500">
            {{ $t("pages.index.faq.cannotFind1") }}
            <router-link to="contact" class="font-medium text-primary-600 hover:text-primary-500"
              >{{ $t("pages.index.faq.short", 1) }}
            </router-link>
            {{ $t("pages.index.faq.cannotFind2") }}

            <router-link to="contact" class="font-medium text-primary-600 hover:text-primary-500">
              {{ $t("pages.index.faq.cannotFind3") }}
            </router-link>
            {{ $t("pages.index.faq.cannotFind4") }}
          </p>
        </div>
        <div class="flex flex-col mt-12 space-y-12 lg:mt-0 lg:col-span-2">
          <dl class="mt-6 space-y-6 divide-y divide-neutral-200">
            <Disclosure as="div" v-for="faq in faqs" :key="faq.question" class="pt-6" v-slot="{ openFaq }">
              <dt class="text-lg">
                <DisclosureButton class="flex items-start justify-between w-full text-left text-neutral-400">
                  <span class="font-medium text-neutral-900">
                    {{ faq.question }}
                  </span>
                  <span class="flex items-center ml-6 h-7">
                    <ChevronDownIcon
                      :class="[openFaq ? '-rotate-180' : 'rotate-0', 'h-6 w-6 transform']"
                      aria-hidden="true"
                    />
                  </span>
                </DisclosureButton>
              </dt>
              <DisclosurePanel as="dd" class="pr-12 mt-2">
                <p class="text-base text-neutral-500">
                  {{ faq.answer }}
                </p>
              </DisclosurePanel>
            </Disclosure>
          </dl>
          <div class="flex flex-col items-center">
            <router-link to="faq" class="text-primary-800 hover:text-primary-600">
              {{ $t("pages.index.faq.seeAll") }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent, ref } from "vue";
  import store from "@/store";
  import { useRouter } from "vue-router";
  import { Disclosure, DisclosureButton, DisclosurePanel } from "@headlessui/vue";
  import { ChevronDownIcon, SearchIcon, CloudDownloadIcon, ChartPieIcon } from "@heroicons/vue/outline";
  import { useAuthentication } from "@/composables";
  import { useI18n } from "vue-i18n";

  import { getEnv } from "../envs";

  export default defineComponent({
    name: "Home",
    components: {
      Disclosure,
      DisclosureButton,
      DisclosurePanel,
      ChevronDownIcon,
      SearchIcon,
      CloudDownloadIcon,
      ChartPieIcon,
    },
    setup() {
      const { t } = useI18n();
      const router = useRouter();
      const isAuthenticated = computed(() => store.getters.isAuthenticated);
      const activeMode = ref<string>("dataOwner");
      const openFaq = ref(false);

      const cloudUrl = getEnv("VITE_CLOUD_URL");
      const { register } = useAuthentication();

      const getStarted = () => {
        if (isAuthenticated.value) {
          router.push("/dashboard");
        } else {
          register();
        }
      };

      const goToCloudRegistration = () => {
        //   document.location.href = `${cloudUrl}/auth/sign-up`;
        document.location.href = "https://platform.datavaults.eu/";
      };

      const changeMode = (mode: string) => (activeMode.value = mode);

      const faqs = computed(() => [
        {
          question: t("pages.faq.whatData"),
          answer:
            t("pages.faq.whatDataA"),
        },
        {
          question: t("pages.faq.dataAccess"),
          answer:
            t("pages.faq.dataAccessA"),
        },
        {
          question: t("pages.faq.privacy"),
          answer:
            t("pages.faq.privacyA"),
        },
        {
          question: t("pages.faq.investDevices"),
          answer: t("pages.faq.investDevicesA"),
        },
      ]);

      return {
        isAuthenticated,
        getStarted,
        faqs,
        openFaq,
        goToCloudRegistration,
        activeMode,
        changeMode,
      };
    },
  });
</script>

<style lang="postcss" scoped>
  .step-overview {
    top: -26px;
  }
</style>
