<template>
  <div>
    <BaseTerms>
      <template #introText>
        <p>
          {{ $t('components.andaman7Terms.introText') }}
        </p>
        <!-- <p>
          The pilot scenarios involve the use and testing of the app and the DataVaults platform for sharing personal
          data with the Municipality of Piraeus and the DataVaults partners. In practice, users will collect their
          personal data (such as personal data, preferences on social networks, participation in cultural events,
          geolocation, mobility preferences) and will share them with the DataVaults platform, which will allow access
          to such data to data seekers, after a possible compensation to the data owner.
        </p> -->
      </template>
      <template #purposeOfDataCollection>
        <p>
          {{ $t('components.andaman7Terms.purposeOfDataCollection') }}
        </p>
        <p>{{ $t('components.andaman7Terms.additionalInformation') }}</p>
      </template>
      <template #dataToBeCollected>
        <p>
          {{ $t('components.andaman7Terms.dataToBeCollected1') }}
        </p>
        <p>
          {{ $t('components.andaman7Terms.dataToBeCollected2') }}
        </p>
        <p>{{ $t('components.andaman7Terms.additionalInformation') }}</p>
      </template>
      <template #dataStorageSharing>
        <!-- <p>
          Your data will be used to test the functionality of the DataVaults platform for sharing personal data in the
          context of scenarios relating to the services of the Municipality of Piraeus and services for tourism,
          entrepreneurship and mobility. The sharing and use of your personal data will be carried out according to your
          preferences. In the event that you choose to anonymise your data, the following methodologies will be used:
          Attributed-based Encryption (ABE) for user privacy and conveyance of data, user personas and Direct Anonymous
          Attestation (DAA).
        </p> -->
        <p>
         {{ $t('components.andaman7Terms.dataStorageSharing') }}
        </p>
        <p>{{ $t('components.andaman7Terms.additionalInformation') }}</p>
      </template>
      <template #contactPoints>
        {{ $t('components.andaman7Terms.contactPoints') }}
      </template>
      <template #dataController>
        <p>{{ $t('components.andaman7Terms.dataController') }}</p>
      </template>
      <template #accessToInfo>
        <p>
          {{ $t('components.andaman7Terms.accessToInfo') }}
        </p>
      </template>
      <template #withdrawalInfo>
        <p>
          {{ $t('components.andaman7Terms.withdrawalInfo1') }}
        </p>
        <p>{{ $t('components.andaman7Terms.withdrawalInfo2') }}</p>
        <ul>
          <li>{{ $t('components.andaman7Terms.withdrawalInfo3') }}</li>
          <li>{{ $t('components.andaman7Terms.withdrawalInfo4') }}</li>
          <li>{{ $t('components.andaman7Terms.withdrawalInfo5') }}</li>
        </ul>
        <p>{{ $t('components.andaman7Terms.additionalInfoRights') }}</p>
      </template>
      <template #applicableLaws>
        <p>
          {{ $t('components.andaman7Terms.applicableLaws') }}
        </p>
      </template>
      <template #declaration>
        <p class="italic">
          {{ $t('components.andaman7Terms.declaration') }}
        </p>
      </template>
    </BaseTerms>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from "vue";
  import BaseTerms from "./BaseTerms.vue";

  export default defineComponent({
    name: "Andaman7Terms",
    components: {
      BaseTerms,
    },
    setup() {},
  });
</script>

<style scoped>
  p {
    @apply mt-4 mb-4;
  }

  strong {
    @apply italic font-bold;
  }

  ol {
    @apply list-decimal pl-12;
  }

  ul {
    @apply list-disc pl-12;
  }
</style>
