<template>
  <div class="flex flex-col space-y-8">
    <h1>{{ $t("components.baseTerms.title") }}</h1>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.voluntaryParticipation") }}</h2>
      <slot name="introText"></slot>
    </div>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.purposeOfDataCollection") }}</h2>
      <slot name="purposeOfDataCollection"></slot>
    </div>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.dataToBeCollected") }}</h2>
      <slot name="dataToBeCollected"></slot>
    </div>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.dataStorageSharing") }}</h2>
      <slot name="dataStorageSharing"></slot>
    </div>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.contactPoints") }}</h2>
      <slot name="contactPoints"></slot>
    </div>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.dataController") }}</h2>
      <slot name="dataController"></slot>
    </div>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.accessToInfo") }}</h2>
      <slot name="accessToInfo"></slot>
    </div>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.withdrawalInfo") }}</h2>
      <slot name="withdrawalInfo"></slot>
    </div>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.applicableLaws") }}</h2>
    </div>
    <slot name="applicableLaws"></slot>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.declaration") }}</h2>
      <slot name="declaration"></slot>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from "vue";

  export default defineComponent({
    name: "BaseTerms",
    setup() {},
  });
</script>

<style scoped>
  h2 {
    @apply text-xl font-bold;
  }

  h1 {
    @apply text-3xl font-bold tracking-wide text-center;
  }
</style>
