<template>
  <div>
    <h1>{{ $t("components.baseTerms.title") }}</h1>
    <div class="flex flex-col space-y-4">
      <h2>{{ $t("components.baseTerms.voluntaryParticipation") }}</h2>
      <p>
        DataVaults stands for “Persistent Personal Data Vaults Empowering a Secure and Privacy Preserving Data Storage,
        Analysis, Sharing and Monetisation Platform” (Project’s ID: 871755). It is an EU research project, funded by
        European Commission.
      </p>
      <p>
        DataVaults technology will be tested and validated in five different pilot use cases. You are invited to
        participate in one of these pilot use cases. In this testing activities personal data like preferences on social
        networks, participation in cultural events, geolocation, mobility preferences, energy consumption data,
        participation in sports activities and events, geolocation, and preferences on specific topics will be used. The
        pilot scenarios involve the use and testing of the app and the DataVaults platform for sharing personal data
        with the DataVaults partners. In practice, users will collect their personal data and will share them with the
        DataVaults platform, which will allow access to such data to data seekers.
      </p>
    </div>

    <div class="flex flex-col space-y-4">
      <br/><h2>{{ $t("components.baseTerms.purposeOfDataCollection") }}</h2>
      <p>
        DataVaults will use these data only for research purposes. The sharing and use of your personal data will be
        carried out according to your preferences. In the event that you choose to anonymise your data, the following
        methodologies will be used: Attributed-based Encryption (ABE) for user privacy and conveyance of data, user
        personas and Direct Anonymous Attestation (DAA).
      </p>
    </div>
    <div class="flex flex-col space-y-4">
      <br/><h2>{{ $t("components.baseTerms.withdrawalInfo") }}</h2>
      <p>
        DataVaults researchers will destroy all data containing private data as soon as the study/research task will be
        completed. In any case all personal data will be destroyed automatically in a maximum of two years after the end
        of the project and only anonymous or non-identifiable data will be retained after the completion of the final
        report.
      </p>
      <p>
        All personal data collected in this pilot study will be processed for the sole purposes of the project within
        the DataVaults Consortium and in compliance with the Regulation (EU) 2016/679 – &quot;General Data Protection
        Regulation (GDPR)&quot;. The personal data will not be disclosed to any third party and will be deleted by the
        end of the project (30/04/2023), in accordance with the Regulation (EU) 2016/679 – &quot;General Data Protection
        Regulation (GDPR)&quot;. You have the right to (i) access, rectify and correct your personal data; (ii) be
        forgotten, which means being deleted from our survey results; (iii) opt-out from our future messages in the
        scope of DataVaults research. To execute these rights, you can contact us: info@datavaults.eu You can retrieve
        more information on the Terms of Service governing your use of the website located at https://app.datavaults.eu
        and any related services provided by DataVaults.
      </p>
      <p>
        Your participation in the DataVaults project is completely voluntary. You can obtain information and ask for
        rectifying it. You can choose to stop participating at any time. If you decide to exercise your rights,
        including the withdrawal from the project’s pilot activities, please contact the DataVaults consortium contact
        email outlined above, and we will explain the best way for you to exercise your rights or stop taking part.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from "vue";
  import BaseTerms from "./BaseTerms.vue";

  export default defineComponent({
    name: "ExternalParticipantTerms",
    components: {
      BaseTerms,
    },
    setup() {},
  });
</script>

<style scoped>
  p {
    @apply mt-4 mb-4;
  }

  strong {
    @apply italic font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h1 {
    @apply text-3xl font-bold tracking-wide text-center;
  }
</style>
