<template>
  <div>
    <h1>{{ $t("components.miwenergiaTerms.concentParticipation") }}</h1>
    <h2>{{ $t("components.miwenergiaTerms.projectInformation") }}</h2>
    <p>{{ $t("components.miwenergiaTerms.technician") }}</p>
    <h2>{{ $t("components.miwenergiaTerms.voluntaryParticipation") }}</h2>

    <p>{{ $t("components.miwenergiaTerms.asked") }}</p>
    <h2>{{ $t("components.miwenergiaTerms.declarations") }}</h2>
    <p>{{ $t("components.miwenergiaTerms.iDeclare") }}</p>
    <ul>
      <li>{{ $t("components.miwenergiaTerms.declaration1") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration2") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration3") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration4") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration5") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration6") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration7") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration8") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration9") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration10") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration11") }}</li>
      <li>{{ $t("components.miwenergiaTerms.declaration12") }}</li>
    </ul>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from "vue";

  export default defineComponent({
    name: "MiwenergiaTerms",
    setup() {},
  });
</script>

<style scoped>
  h2 {
    @apply mt-4 mb-4 text-xl font-bold;
  }

  h1 {
    @apply text-3xl font-bold tracking-wide text-center mb-12;
  }

  p {
    @apply mt-4 mb-4;
  }

  strong {
    @apply italic font-bold;
  }

  ol {
    @apply list-decimal pl-12;
  }

  ul {
    @apply list-disc pl-12;
  }
</style>
