<template>
  <div>
    <BaseTerms>
      <template #introText>
        <p>
          {{ $t("components.olympiacosTerms.introText1") }}
        </p>
        <p>
          {{ $t("components.olympiacosTerms.introText2") }}
        </p>
      </template>
      <template #purposeOfDataCollection>
        <p>
          {{ $t("components.olympiacosTerms.purposeOfDataCollection") }}
        </p>
        <p>
          {{ $t("components.olympiacosTerms.additionalInformation") }}
        </p>
      </template>
      <template #dataToBeCollected>
        <p>
          {{ $t("components.olympiacosTerms.dataToBeCollected") }}
        </p>
        <p>{{ $t("components.olympiacosTerms.additionalInformation") }}</p>
      </template>
      <template #dataStorageSharing>
        <p>
          {{ $t("components.olympiacosTerms.dataStorageSharing1") }}
        </p>
        <p>
          {{ $t("components.olympiacosTerms.dataStorageSharing2") }}
        </p>
        <p>{{ $t("components.olympiacosTerms.additionalInformation") }}</p>
      </template>
      <template #contactPoints>
        <ol>
          <li>{{ $t("components.olympiacosTerms.contactPoints1") }}</li>
          <li>{{ $t("components.olympiacosTerms.contactPoints2") }}</li>
        </ol>
      </template>
      <template #dataController>
        <p>
          {{ $t("components.olympiacosTerms.dataController") }}
        </p>
      </template>

      <template #accessToInfo>
        <p>
         {{ $t("components.olympiacosTerms.accessToInfo") }}
        </p>
      </template>
      <template #withdrawalInfo>
        <p>
          {{ $t("components.olympiacosTerms.withdrawalInfo1") }}
        </p>
        <p>{{ $t("components.olympiacosTerms.withdrawalInfo2") }}</p>
        <ul>
          <li>{{ $t("components.olympiacosTerms.withdrawalInfo3") }}</li>
          <li>{{ $t("components.olympiacosTerms.withdrawalInfo4") }}</li>
          <li>{{ $t("components.olympiacosTerms.withdrawalInfo5") }}</li>
        </ul>
        <p>{{ $t("components.olympiacosTerms.additionalInfoRights") }}</p>
      </template>
      <template #applicableLaws>
        <p>
          {{ $t("components.olympiacosTerms.applicableLaws") }}
        </p>
      </template>
      <template #declaration>
        <p class="italic">
          {{ $t("components.olympiacosTerms.declaration") }}
        </p>
      </template>
    </BaseTerms>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from "vue";
  import BaseTerms from "./BaseTerms.vue";

  export default defineComponent({
    name: "OlympiakosTerms",
    components: {
      BaseTerms,
    },
    setup() {},
  });
</script>

<style scoped>
  p {
    @apply mt-4 mb-4;
  }

  strong {
    @apply italic font-bold;
  }

  ol {
    @apply list-decimal pl-12;
  }

  ul {
    @apply list-disc pl-12;
  }
</style>
