<template>
  <div>
    <BaseTerms>
      <template #introText>
        <p>
         {{ $t('components.piraeusTerms.introText1') }} 
        </p>
        <p>
         {{ $t('components.piraeusTerms.introText2') }} 
        </p>
      </template>
      <template #purposeOfDataCollection>
        <p>
          {{ $t('components.piraeusTerms.purposeOfDataCollection') }} 
        </p>
        <p>{{ $t('components.piraeusTerms.additionalInformation') }}</p>
      </template>
      <template #dataToBeCollected>
        <p>
          {{ $t('components.piraeusTerms.dataToBeCollected1') }}
        </p>
        <p>
          {{ $t('components.piraeusTerms.dataToBeCollected2') }}
        </p>
        <p>{{ $t('components.piraeusTerms.additionalInformation') }}</p>
      </template>
      <template #dataStorageSharing>
        <p>
          {{ $t('components.piraeusTerms.dataStorageSharing1') }}
        </p>
        <p>
          {{ $t('components.piraeusTerms.dataStorageSharing2') }}
        </p>
        <p>{{ $t('components.piraeusTerms.additionalInformation') }}</p>
      </template>
      <template #contactPoints>
        <ol>
          <li>
           {{ $t('components.piraeusTerms.contactPoints1') }} 
          </li>
          <li>
           {{ $t('components.piraeusTerms.contactPoints2') }} 
          </li>
        </ol>
      </template>
      <template #dataController>
        <p>{{ $t('components.piraeusTerms.dataController') }}</p>
      </template>
      <template #accessToInfo>
        <p>
          {{ $t('components.piraeusTerms.accessToInfo') }}
        </p>
      </template>
      <template #withdrawalInfo>
        <p>
          {{ $t('components.piraeusTerms.withdrawalInfo1') }}
        </p>
        <p>{{ $t('components.piraeusTerms.withdrawalInfo2') }}</p>
        <ul>
          <li>{{ $t('components.piraeusTerms.withdrawalInfo3') }}</li>
          <li>{{ $t('components.piraeusTerms.withdrawalInfo4') }}</li>
          <li>{{ $t('components.piraeusTerms.withdrawalInfo5') }}</li>
        </ul>
        <p>{{ $t('components.piraeusTerms.additionalInfoRights') }}</p>
      </template>
      <template #applicableLaws>
        <p>
          {{ $t('components.piraeusTerms.applicableLaws') }}
        </p>
      </template>
      <template #declaration>
        <p class="italic">
          {{ $t('components.piraeusTerms.declaration') }}
        </p>
      </template>
    </BaseTerms>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from "vue";
  import BaseTerms from "./BaseTerms.vue";

  export default defineComponent({
    name: "PiraeusTerms",
    components: {
      BaseTerms,
    },
    setup() {},
  });
</script>

<style scoped>
  p {
    @apply mt-4 mb-4;
  }

  strong {
    @apply italic font-bold;
  }

  ol {
    @apply list-decimal pl-12;
  }

  ul {
    @apply list-disc pl-12;
  }
</style>
