<template>
  <div>
    <BaseTerms>
      <template #introText>
        <p>
          {{ $t('components.pratoTerms.introText1') }}
        </p>
        <p>
          {{ $t('components.pratoTerms.introText2') }}
        </p>
      </template>
      <template #purposeOfDataCollection>
        <p>
          {{ $t('components.pratoTerms.purposeOfDataCollection') }}
        </p>
        <p>{{ $t('components.pratoTerms.additionalInformation') }}</p>
      </template>
      <template #dataToBeCollected>
        <p>
          {{ $t('components.pratoTerms.dataToBeCollected1') }}
        </p>
        <p>
          {{ $t('components.pratoTerms.dataToBeCollected2') }}
        </p>
        <p>{{ $t('components.pratoTerms.additionalInformation') }}</p>
      </template>
      <template #dataStorageSharing>
        <p>
          {{ $t('components.pratoTerms.dataStorageSharing1') }}
        </p>
        <p>
          {{ $t('components.pratoTerms.dataStorageSharing2') }}
        </p>
        <p>{{ $t('components.pratoTerms.additionalInformation') }}</p>
      </template>
      <template #contactPoints>
        <ol>
          <li>
            {{ $t('components.pratoTerms.contactPoints1') }}
          </li>
          <li>{{ $t('components.pratoTerms.contactPoints2') }}</li>
        </ol>
      </template>
      <template #dataController>
        <p>{{ $t('components.pratoTerms.dataController1') }}</p>
        <ul>
          <li>{{ $t('components.pratoTerms.dataController2') }}</li>
          <li>{{ $t('components.pratoTerms.dataController3') }}</li>
        </ul>
        <p>
          {{ $t('components.pratoTerms.dataController4') }}
        </p>
      </template>
      <template #accessToInfo>
        <p>
          {{ $t('components.pratoTerms.accessToInfo') }}
        </p>
      </template>
      <template #withdrawalInfo>
        <p>
          {{ $t('components.pratoTerms.withdrawalInfo1') }}
        </p>
        <p>{{ $t('components.pratoTerms.withdrawalInfo2') }}</p>
        <ul>
          <li>{{ $t('components.pratoTerms.withdrawalInfo3') }}</li>
          <li>{{ $t('components.pratoTerms.withdrawalInfo4') }}</li>
          <li>{{ $t('components.pratoTerms.withdrawalInfo5') }}</li>
        </ul>
        <p>{{ $t('components.pratoTerms.additionalInfoRights') }}</p>
      </template>
      <template #applicableLaws>
        <p>
          {{ $t('components.pratoTerms.applicableLaws') }}
        </p>
      </template>
      <template #declaration>
        <p class="italic">
         {{ $t('components.pratoTerms.declaration') }}
        </p>
      </template>
    </BaseTerms>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from "vue";
  import BaseTerms from "./BaseTerms.vue";

  export default defineComponent({
    name: "PratoTerms",
    components: {
      BaseTerms,
    },
    setup() {},
  });
</script>

<style scoped>
  p {
    @apply mt-4 mb-4;
  }

  strong {
    @apply italic font-bold;
  }

  ol {
    @apply list-decimal pl-12;
  }

  ul {
    @apply list-disc pl-12;
  }
</style>
