<template>
  <div>
    <page-header
      :title="$t('pages.dataFetcher.title')"
      :controls="[
        {
          label: t('pages.dataFetcher.addSource'),
          icon: 'PlusIcon',
          click: 'add-source',
        },
      ]"
      @add-source="addSource"
    />
    <div class="flex flex-col mt-6 space-y-4">
      <search-sort
        v-model:searchTerms="searchTerms"
        v-model:sortBy="sortBy"
        v-model:sortDirection="sortDirection"
        v-model:filters="filters"
        :sortOptions="sortOptions"
        :filterOptions="filterOptions"
        :filterFields="filterFields"
        :placeholder="t('components.searchSort.placeholder')"
      />
      <div v-if="visibleData.length === 0" class="mt-4 text-sm text-center text-neutral-500">
        {{ $t("pages.dataFetcher.noConnectedSources") }}
      </div>
      <div class="overflow-hidden bg-white shadow sm:rounded-md" v-else>
        <ul class="divide-y divide-neutral-200">
          <li v-for="(source, index) in visibleData" :key="index" class="bg-neutral-50">
            <div class="block hover:bg-neutral-50">
              <div class="px-4 py-4 sm:px-6">
                <div class="flex items-center justify-between">
                  <p class="text-sm font-bold truncate text-primary-600">
                    {{ source.name }}
                  </p>
                  <div class="flex flex-shrink-0 ml-2">
                    <p
                      class="inline-flex px-2 text-xs font-semibold leading-5 capitalize rounded-full"
                      :class="`${
                        sourceFromSourceType(source.sourceType)
                          ? sourceFromSourceType(source.sourceType).backgroundColorClass
                          : ''
                      } ${
                        sourceFromSourceType(source.sourceType)
                          ? sourceFromSourceType(source.sourceType).textColorClass
                          : ''
                      }`"
                    >
                      {{
                        sourceFromSourceType(source.sourceType)
                          ? sourceFromSourceType(source.sourceType).name
                          : source.sourceType === "Questionnaire"
                          ? $t("pages.dataFetcher.questionnaire")
                          : source.sourceType
                      }}
                    </p>
                  </div>
                </div>
                <div class="mt-2 sm:flex sm:justify-between">
                  <div class="md:space-x-2 md:flex md:w-1/2">
                    <div class="flex items-center w-full text-neutral-500">
                      <calendar-icon class="w-5 h-5 mr-2" />
                      <p class="flex gap-1 text-sm">
                        {{ $t("pages.dataFetcher.connectedOn") }}
                        <tooltip :message="dayjs(source.createdAt).format('MMMM D, YYYY [at] HH:MM:ss')">
                          {{ dayjs(source.createdAt).format(" MMMM D, YYYY") }}</tooltip
                        >
                      </p>
                    </div>
                    <div class="flex items-center w-full text-neutral-500">
                      <calendar-icon class="w-5 h-5 mr-2" />
                      <p class="flex gap-1 text-sm">
                        {{ $t("pages.dataFetcher.lastUpdated") }}
                        <tooltip :message="dayjs(source.updatedAt).format('MMMM D, YYYY [at] HH:MM:ss')">
                          {{ dayjs(source.updatedAt).format(" MMMM D, YYYY") }}</tooltip
                        >
                      </p>
                    </div>
                  </div>
                  <div class="flex items-center mt-2 space-x-4 text-sm text-neutral-500">
                    <div
                      class="flex items-center cursor-pointer text-primary-600 hover:text-primary-700 hover:underline"
                      @click="router.push(`/data-fetcher/source/${source.id}`)"
                    >
                      <eye-icon class="w-5 h-5 mr-1" />
                      <tooltip :message="$t('pages.dataFetcher.view')">
                        <label class="hidden lg:block">{{ $t("pages.dataFetcher.view") }}</label>
                      </tooltip>
                    </div>
                    <div
                      class="flex items-center cursor-pointer text-primary-600 hover:text-primary-700 hover:underline"
                      v-if="duplicateCheck(source.sourceType)"
                      @click="openDuplicateSource(source.id)"
                    >
                      <DuplicateIcon class="w-5 h-5 mr-1" />
                      <tooltip :message="$t('pages.dataFetcher.duplicate')">
                        <label class="hidden lg:block">{{ $t("pages.dataFetcher.duplicate") }}</label>
                      </tooltip>
                    </div>
                    <confirm-button v-if="!source.shared" @confirmed="removeSource(source.id, index)">
                      <template v-slot:default>
                        <div
                          class="flex items-center cursor-pointer text-primary-600 hover:text-primary-700 hover:underline"
                        >
                          <TrashIcon class="w-4 h-4 cursor-pointer hover:text-red-600" />
                          <tooltip v-if="source.shared" :message="$t('pages.myVault.asset.sharedDeleteTooltip')"
                            ><label class="hidden lg:block">{{ $t("pages.dataFetcher.remove") }}</label>
                          </tooltip>
                          <tooltip v-else :message="$t('pages.dataFetcher.remove')">
                            <label class="hidden lg:block">{{ $t("pages.dataFetcher.remove") }}</label>
                          </tooltip>
                        </div>
                      </template>
                      <template v-slot:confirm>
                        <div
                          class="flex items-center cursor-pointer text-secondary-600 hover:text-secondary-700 hover:underline"
                        >
                          <exclamation-circle-icon class="w-4 h-4 mr-1" />
                          {{ $t("pages.dataFetcher.clickConfirm") }}
                        </div>
                      </template>
                    </confirm-button>
                    <div
                      class="flex items-center cursor-pointer text-primary-600 hover:text-primary-700 hover:underline"
                      v-else
                    >
                      <TrashIcon class="w-4 h-4 cursor-pointer hover:text-red-600" />
                      <tooltip v-if="source.shared" :message="$t('pages.myVault.asset.sharedDeleteTooltip')"
                        ><label class="hidden lg:block">{{ $t("pages.dataFetcher.remove") }}</label>
                      </tooltip>
                    </div>
                    <confirm-button @confirmed="disableSource(source.id, !source.status)">
                      <template v-slot:default v-if="!source.status">
                        <div
                          class="flex items-center cursor-pointer text-primary-600 hover:text-primary-700 hover:underline"
                        >
                          <CheckIcon class="w-4 h-4 mr-2" />
                          <tooltip :message="$t('pages.dataFetcher.enableSource')">
                            <label class="hidden lg:block">{{ $t("pages.dataFetcher.enableSource") }}</label>
                          </tooltip>
                        </div>
                      </template>
                      <template v-slot:default v-else>
                        <div
                          class="flex items-center cursor-pointer text-primary-600 hover:text-primary-700 hover:underline"
                        >
                          <BanIcon class="w-4 h-4 mr-2" />
                          <tooltip :message="$t('pages.dataFetcher.disableSource')">
                            <label class="hidden lg:block">{{ $t("pages.dataFetcher.disableSource") }}</label>
                          </tooltip>
                        </div>
                      </template>
                      <template v-slot:confirm>
                        <div
                          class="flex items-center cursor-pointer text-secondary-600 hover:text-secondary-700 hover:underline"
                        >
                          <exclamation-circle-icon class="w-4 h-4 mr-1" />
                          {{ $t("pages.dataFetcher.clickConfirm") }}
                        </div>
                      </template>
                    </confirm-button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <pagination
        class="flex flex-row flex-initial"
        :currentPage="currentPage"
        :pageSize="pageSize"
        :total="filteredData.length"
        :totalPages="totalPages"
        @goTo="goTo"
        @previous="previous"
        @next="next"
        v-show="filteredData.length > pageSize"
      />
    </div>
  </div>
</template>
<script lang="ts">
  import { defineComponent, ref, computed } from "vue";
  import { useRouter } from "vue-router";
  import {
    CalendarIcon,
    EyeIcon,
    TrashIcon,
    ExclamationCircleIcon,
    CheckIcon,
    BanIcon,
    DuplicateIcon,
  } from "@heroicons/vue/outline";
  import dayjs from "dayjs";
  import { useAssets, useDataSource, useFilter, useToaster } from "@/composables";
  import { DataFetcher } from "@/api";
  import { useI18n } from "vue-i18n";
  import { SourcesEnum } from "@/constants";

  export default defineComponent({
    name: "DataFetcher",
    components: {
      CalendarIcon,
      EyeIcon,
      TrashIcon,
      ExclamationCircleIcon,
      CheckIcon,
      BanIcon,
      DuplicateIcon,
    },
    setup() {
      const { t } = useI18n();
      const toaster = useToaster();
      const router = useRouter();
      const sources = ref<any>([]);
      const searchFields = ["name", "sourceType"];

      const sortOptions = computed(() => [
        { key: "name", label: t("pages.dataFetcher.sourceName") },
        { key: "sourceType", label: t("pages.dataFetcher.sourceType") },
        { key: "createdAt", label: t("pages.dataFetcher.connectedDate") },
        { key: "updatedAt", label: t("pages.dataFetcher.updatedDate") },
      ]);
      const filterOptions = computed(() => [
        { key: "period", label: t("pages.dataFetcher.period") },
        { key: "dataSource", label: t("pages.dataFetcher.dataSource") },
      ]);

      const softFields = [
        { key: "name", type: "string" },
        { key: "sourceType", type: "string" },
        { key: "createdAt", type: "datetime" },
        { key: "updatedAt", type: "datetime" },
      ];

      const filterFields = [
        { key: "dataSource", type: "string", method: "exact" },
        { key: "fromDate", type: "datetime", method: "from" },
        { key: "toDate", type: "datetime", method: "to" },
      ];

      const {
        filteredData,
        visibleData,
        searchTerms,
        sortBy,
        sortDirection,
        currentPage,
        pageSize,
        totalPages,
        filters,
        next,
        previous,
        goTo,
      } = useFilter(sources, {
        searchFields,
        pageSize: 8,
        sortBy: "updatedAt",
        sortDirection: "desc",
        sortFields: softFields,
        filterFields: filterFields,
      });

      const { deleteAsset } = useAssets();
      const { sourceFromSourceType } = useDataSource();

      const getSources = () => {
        DataFetcher.getAssets().then(({ data }) => {
          sources.value = data;
        });
      };

      const removeSource = (id: number, index: number) => {
        deleteAsset(id)
          .then(() => {
            getSources();
            toaster.show(t("pages.dataFetcher.sourceRemoved"), "success");
          })
          .catch((err: any) => {
            toaster.show(err.response.data.message, "error");
          });
      };

      const duplicateCheck = (sourceType: any) => {
        if (Object.values(SourcesEnum).includes(sourceType)) return false;
        return true;
      };

      const openDuplicateSource = (source: any) => {
        router.push(`/data-fetcher/duplicate/${source}`);
      };

      const addSource = () => {
        router.push(`/data-fetcher/source`);
      };

      const disableSource = (id: number, assetStatus: boolean) => {
        DataFetcher.updateStatus(id, assetStatus)
          .then(() => {
            getSources();
            toaster.show(t("pages.dataFetcher.statusUpdate"), "success");
          })
          .catch((err: any) => {
            toaster.show(err.response.data.message, "error");
          });
      };

      getSources();

      return {
        dayjs,
        sources,
        filteredData,
        visibleData,
        searchTerms,
        sortBy,
        sortDirection,
        currentPage,
        pageSize,
        totalPages,
        next,
        previous,
        goTo,
        sortOptions,
        router,
        removeSource,
        addSource,
        filterOptions,
        filterFields,
        filters,
        t,
        sourceFromSourceType,
        disableSource,
        duplicateCheck,
        openDuplicateSource,
      };
    },
  });
</script>
