<template>
  <div>
    <div v-if="!userExist">
      <div class="w-full pb-4 mt-6 space-y-6 lg:w-1/2">
        <InputField
          :label="t('components.andaman7Connection.username')"
          :placeholder="t('components.andaman7Connection.enterUsername')"
          name="username"
          v-model="andaman7Credentials.username"
        />
        <InputField
          :label="t('components.andaman7Connection.password')"
          :placeholder="t('components.andaman7Connection.enterPassword')"
          name="password"
          type="password"
          v-model="andaman7Credentials.password"
        />
        <SelectMenu
          :label="t('components.andaman7Connection.scenario')"
          :placeholder="t('components.andaman7Connection.chooseScenario')"
          name="source"
          id="source"
          valueField="sourcetype"
          labelField="name"
          :options="scenarios"
          v-model="deviceId"
        />
      </div>

      <PrimaryButton size="sm" @click="confirmAndaman7User">
        {{ $t("components.andaman7Connection.confirmUser") }}
      </PrimaryButton>
      <InputField type="hidden" name="authentication" v-model="userExist" required />
    </div>
    <div class="flex justify-center p-2 text-sm font-normal text-green-800 bg-green-100 rounded-full" v-else>
      <check-circle-icon class="w-5 h-5 mr-2" />User with &nbsp;
      <span class="font-bold"> {{ andaman7Credentials.username }} </span>
      &nbsp;confirmed
    </div>
  </div>
</template>
<script lang="ts">
  import { computed, defineComponent, ref, watch } from "vue";
  import { CheckCircleIcon } from "@heroicons/vue/outline";
  import { Form } from "vee-validate";
  import andaman7 from "../../andaman7";
  import { useToaster } from "@/composables";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "Andaman7Connection",
    components: { CheckCircleIcon, Form },
    setup(props, { emit }) {
      const { t } = useI18n();
      const toaster = useToaster();
      let andaman7Credentials = ref<any>({
        username: null,
        password: null,
        properties: [],
      });
      const deviceId = ref<any>();

      const userExist = ref<boolean>(false);
      const form = ref<any>();
      const validationSchema = computed(() => {
        return {
          username: !userExist.value ? "required" : null,
          password: !userExist.value ? "required" : null,
          deviceId: !userExist.value ? "required" : null,
          authentication: !userExist.value ? "required" : null,
        };
      });

      const scenarios = [t("components.andaman7Connection.dataBackup"), t("components.andaman7Connection.clinicalTrial")];

      watch(
        () => validationSchema.value,
        (newSchema: any) => {
          emit("schema-change", newSchema);
        },
        { immediate: true, deep: true }
      );

      const confirmAndaman7User = async () => {
        if (deviceId.value === "Data Backup") {
          andaman7Credentials.value.properties.push({
            "key" : "DEVICE_ID_PROPERTY",
            "value" : "datavaults_backup_device"
          });
        } else {
          andaman7Credentials.value.properties.push({
            "key" : "DEVICE_ID_PROPERTY",
            "value" : "datavaults_clinical_trial"
          });
        }

        andaman7
          .confirmUser(andaman7Credentials.value.username, andaman7Credentials.value.password)
          .then(res => {
            if (res.status === 200) {
              andaman7
                .createDevice(
                  andaman7Credentials.value.username,
                  andaman7Credentials.value.password,
                  andaman7Credentials.value.properties
                )
                .then(resp => {
                  if (res.status === 200) {
                    andaman7Credentials.value.password = andaman7
                      .convertPassword(andaman7Credentials.value.password)
                      .toString();
                    andaman7Credentials.value.device = resp.data.id;
                    userExist.value = true;
                    emit("setCredentials", andaman7Credentials.value);
                  }
                })
                .catch((err: any) => {
                  andaman7Credentials.value.username = null;
                  andaman7Credentials.value.password = null;
                  andaman7Credentials.value.properties = [];
                  toaster.show(err.response.data.message, "error");
                });
            }
          })
          .catch((err: any) => {
            andaman7Credentials.value.username = null;
            andaman7Credentials.value.password = null;
            andaman7Credentials.value.properties = [];
            toaster.show(err.response.data.message + t("components.andaman7Connection.pleaseTryAgain"), "error");
          });
      };

      return {
        andaman7Credentials,
        validationSchema,
        form,
        confirmAndaman7User,
        userExist,
        t,
        scenarios,
        deviceId,
      };
    },
  });
</script>
