<template>
  <div>
    <div
      class="flex justify-center p-2 text-sm font-normal text-green-800 bg-green-100 rounded-full "
      v-if="facebookCredentials"
    >
      <check-circle-icon class="w-5 h-5 mr-2" />{{ $t('components.facebookConnection.alreadyConnected') }}
      <span
        v-if="facebookName"
        class="ml-1"
      >as <span class="font-bold">{{ facebookName }}</span>
      </span>
    </div>

    <primary-button
      size="sm"
      v-else
      @click="connectToFacebook"
    >
      {{ $t('components.facebookConnection.connect') }}
    </primary-button>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { CheckCircleIcon } from "@heroicons/vue/outline";

export default defineComponent({
  name: "FacebookConnection",
  components: { CheckCircleIcon },
  setup(props, { emit }) {
    const facebookCredentials = ref<any>(null);
    const facebookName = ref<string | null>(null);

    const connectToFacebook = async () => {
      await FB.login(
        function (response) {
          facebookCredentials.value = {
            ...response.authResponse,
            access_token: response.authResponse.accessToken,
          };
          emit("setCredentials", facebookCredentials.value);
          FB.api("/me", function (user: any) {
            facebookName.value = user.name;
          });
        },
        { scope: "public_profile,email" }
      );
    };

    return {
      connectToFacebook,
      facebookCredentials,
      facebookName,
    };
  },
});
</script>
