<template>
  <div>
    <div class="flex flex-col w-full mt-6 space-y-2">
      <template v-if="!loggedIn">
        <InputField
          :label="t('components.miwenergiaConnection.username')"
          :placeholder="t('components.miwenergiaConnection.enterUsername')"
          name="username"
          v-model="miwenergiaCredentials.username"
          required
        />
        <InputField
          class="pb-2"
          type="password"
          :label="t('components.miwenergiaConnection.password')"
          :placeholder="t('components.miwenergiaConnection.enterPassword')"
          name="password"
          v-model="miwenergiaCredentials.password"
          required
        />
        <primary-button size="sm" @click="loggin">
          {{ $t("components.miwenergiaConnection.logIn") }}
        </primary-button>
        <InputField type="hidden" name="authentication" v-model="userExist" required />
      </template>
      <template v-else>
        <div class="flex justify-center p-2 pb-2 text-sm font-normal text-green-800 bg-green-100 rounded-full">
          <check-circle-icon class="w-5 h-5 mr-2" />User &nbsp;
          <span class="font-bold">{{ miwenergiaCredentials.username }}</span>
          <span> &nbsp; logged in succesfull </span>
        </div>
        <MultiselectField
          v-if="uspcList && uspcList.length > 0"
          placeholder="Select USPC"
          label="USPC List"
          name="uspc"
          :options="uspcList"
          v-model="miwenergiaCredentials.uspc"
          required
        />
        <div v-else class="px-2 py-1 text-sm italic text-center rounded-full text-neutral-700 bg-neutral-100">
          {{ $t("components.miwenergiaConnection.noUspcEntriesFound") }}
        </div>
        <div class="flex flex-row space-x-4">
          <div class="flex flex-col w-1/2 space-y-1">
            <label class="flex items-center text-sm font-medium tracking-wide text-neutral-600">
              {{ $t("components.miwenergiaConnection.startDate") }} (DD/MM/YYYY)
            </label>
            <div>
              <v-date-picker
                :popover="{ visibility: 'focus' }"
                :update-on-input="false"
                mode="date"
                :max-date="Date.now()"
                v-model="miwenergiaCredentials.startDate"
                :masks="dateMasks"
              >
                <template v-slot="{ inputValue, inputEvents }">
                  <input
                    :placeholder="t('components.miwenergiaConnection.enterStartDate')"
                    type="text"
                    class="block w-full px-3 py-2 border rounded-md shadow-sm appearance-none border-neutral-300 placeholder-neutral-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                    :value="inputValue"
                    v-on="inputEvents"
                  />
                </template>
              </v-date-picker>
            </div>
          </div>
          <div class="flex flex-col w-1/2 space-y-1">
            <label class="flex items-center text-sm font-medium tracking-wide text-neutral-600">
              {{ $t("components.miwenergiaConnection.endDate") }} (DD/MM/YYYY)
            </label>
            <div>
              <v-date-picker
                :popover="{ visibility: 'focus' }"
                :update-on-input="false"
                mode="date"
                :max-date="Date.now()"
                v-model="miwenergiaCredentials.endDate"
                :masks="dateMasks"
              >
                <template v-slot="{ inputValue, inputEvents }">
                  <input
                    :placeholder="t('components.miwenergiaConnection.enterEndDate')"
                    type="text"
                    class="block w-full px-3 py-2 border rounded-md shadow-sm appearance-none border-neutral-300 placeholder-neutral-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                    :value="inputValue"
                    v-on="inputEvents"
                  />
                </template>
              </v-date-picker>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>
<script lang="ts">
  import { computed, defineComponent, ref, watch } from "vue";
  import { CheckCircleIcon } from "@heroicons/vue/outline";
  import dayjs from "dayjs";
  import MiwEnergia from "@/api/miwenergia";
  import { useToaster } from "@/composables";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "MiwenergiaConnection",
    components: { CheckCircleIcon },
    setup(props, { emit }) {
      const dateMasks = { input: "DD/MM/YYYY" };
      const { t } = useI18n();
      const toaster = useToaster();
      const miwenergiaCredentials = ref<any>({
        username: null,
        password: null,
        startDate: null,
        endDate: null,
        uspc: null,
      });
      let uspcList = ref<any>([]);
      const loggedIn = ref<boolean>(false);

      const loggin = async () => {
        const user = ref<any>({
          username: miwenergiaCredentials.value.username,
          password: miwenergiaCredentials.value.password,
        });
        MiwEnergia.login(user.value)
          .then((res: any) => {
            if(res.data.status === '500'){
              toaster.show(t("components.miwenergiaConnection.pleaseProvide"), "error");
              miwenergiaCredentials.value.username = null;
              miwenergiaCredentials.value.password = null;
              return;
            }
            if (res.status >= 200 && res.status < 300) {
              loggedIn.value = true;
              uspcList.value = MiwEnergia.retrieveUspcList({
                token: res.data.token.toString(),
              })
                .then((listRes: any) => {
                  if (res.status >= 200 && res.status < 300) {
                    uspcList.value = listRes.data;
                  }
                })
                .catch(() => {
                  miwenergiaCredentials.value.username = null;
                  miwenergiaCredentials.value.password = null;
                  toaster.show(t("components.miwenergiaConnection.pleaseProvide"), "error");
                });
            }
          })
          .catch(() => {
            miwenergiaCredentials.value.username = null;
            miwenergiaCredentials.value.password = null;
            toaster.show(t("components.miwenergiaConnection.pleaseProvide"), "error");
          });
      };

      const validationSchema = computed(() => {
        return {
          username: !loggedIn.value ? "required" : null,
          password: !loggedIn.value ? "required" : null,
          authentication: !loggedIn.value ? "required" : null,
          uspc: "required",
        };
      });

      const formatDate = (inputValue: any) => {
        if (inputValue) {
          return dayjs(inputValue).format("DD/MM/YYYY");
        }
      };

      watch(
        () => validationSchema.value,
        (newSchema: any) => {
          emit("schema-change", newSchema);
        },
        { immediate: true, deep: true }
      );

      emit("setCredentials", miwenergiaCredentials.value);

      return {
        miwenergiaCredentials,
        formatDate,
        validationSchema,
        loggin,
        uspcList,
        t,
        loggedIn,
        dateMasks,
      };
    },
  });
</script>
