<template>
  <div>
    <div class="flex flex-col w-full mt-6 space-y-2">
      <InputField
        :label="t('components.olympiakosConnection.memberId')"
        :placeholder="t('components.olympiakosConnection.enterMemberId')"
        name="memberId"
        v-model="olympiakosCredentials.subId"
        required
      />
      <div class="flex flex-col space-y-1">
        <label class="flex items-center text-sm font-medium tracking-wide text-neutral-600">
          {{ $t("components.olympiakosConnection.birthDate") }} (DD/MM/YYYY)
        </label>
        <div class="relative">
          <v-date-picker
            :popover="{ visibility: 'focus' }"
            :update-on-input="false"
            mode="date"
            :max-date="Date.now()"
            v-model="olympiakosCredentials.birthDate"
            :masks="dateMasks"
          >
            <template v-slot="{ inputValue, inputEvents }">
              <input
                :placeholder="$t('components.olympiakosConnection.phBirthDate')"
                type="text"
                class="block w-full px-3 py-2 border rounded-md shadow-sm appearance-none border-neutral-300 placeholder-neutral-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
                :value="inputValue"
                v-on="inputEvents"
              />
            </template>
          </v-date-picker>
          <SecondaryButton
            v-show="olympiakosCredentials.birthDate"
            colour="neutral"
            size="xxs"
            class="absolute top-1.5 right-1"
            @click="clearBirthDate"
            >{{ $t("components.olympiakosConnection.clear") }}</SecondaryButton
          >
          <SelectMenu
            :options="selectSource"
            :label="t('components.olympiakosConnection.selectSources')"
            :placeholder="t('components.olympiakosConnection.selectSources')"
            id="sourceType"
            name="sourceType"
            valueField="sourcetype"
            labelField="name"
            v-model="olympiakosCredentials.sourceType"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import { computed, defineComponent, ref, watch } from "vue";
  import { CheckCircleIcon } from "@heroicons/vue/outline";
  import dayjs from "dayjs";
  import { useToaster } from "@/composables";
  import { useI18n } from "vue-i18n";
  import Olympiakos from "@/api/olympiakos";
  import * as R from "ramda";

  export default defineComponent({
    name: "OlympiakosConnection",
    components: { CheckCircleIcon },
    setup(props, { emit }) {
      const dateMasks = { input: "DD/MM/YYYY" };
      const { t } = useI18n();
      const toaster = useToaster();
      const olympiakosCredentials = ref<any>({
        subId: null,
        birthDate: null,
        sourceType: null,
      });
      let confirmedUser = ref<any>(false);

      const clearBirthDate = () => {
        olympiakosCredentials.value.birthDate = null;
      };

      const selectSource = ["Shop purchases", "Daily tickets", "Season tickets", "Event attendances"];

      const validationSchema = computed(() => {
        return {
          subId: !confirmedUser.value ? "required" : null,
          birthDate: !confirmedUser.value ? "required" : null,
          sourceType: "required" ,
        };
      });

      const formatDate = (inputValue: any) => {
        if (inputValue) {
          return dayjs(inputValue).format("DD/MM/YYYY");
        }
      };

      watch(
        () => validationSchema.value,
        (newSchema: any) => {
          emit("schema-change", newSchema);
        },
        { immediate: true, deep: true }
      );

      watch(
        olympiakosCredentials.value,
        async (newValue: any) => {
          let response: any;
          if (!R.isNil(newValue.subId) && !R.isNil(newValue.birthDate) && !confirmedUser.value) {
            response = await Olympiakos.confirmUser(newValue.subId, newValue.birthDate);
            if (response.data !== "") {
              confirmedUser.value = true;
              emit("setCredentials", olympiakosCredentials.value);
            } else {
              toaster.show(t("components.olympiakosConnection.errorMessage"), "error");
            }
          }
        },
        { immediate: true, deep: true }
      );

      return {
        olympiakosCredentials,
        formatDate,
        t,
        dateMasks,
        clearBirthDate,
        confirmedUser,
        selectSource,
      };
    },
  });
</script>
