<template>
  <div>
    <div class="w-full mt-6 space-y-6 lg:w-1/2">
      <TextareaField
        :label="t('components.pratoConnection.nationalInsuranceNumber')"
        :placeholder="t('components.pratoConnection.nationalInsuranceNumber')"
        name="nationalInsuranceNumber"
        id="nationalInsuranceNumber"
        v-model="hasNationalInsuranceNumber"
        disabled
      />
    </div>
    <div
      v-show="dismissInfoMessage"
      class="flex flex-row items-center p-2 mt-3 space-x-2 text-xs italic rounded text-warn-800 bg-warn-100"
    >
      <div class="w-6 h-6">
        <InformationCircleIcon class="w-6 h-6" />
      </div>
      <span>{{ $t("components.pratoConnection.information") }}</span>
    </div>
    <input id="validNationalInsuranseNumber" type="hidden" :value="certificateSelection" />
    <MultiselectField
      :placeholder="t('components.pratoConnection.certificateListPlaceholder')"
      :label="t('components.pratoConnection.certificateListLabel')"
      name="certificateList"
      v-show="certificateSelection"
      :options="certificateCategoryList"
      v-model="pratoCredentials.certificateCategory"
      required
    />
  </div>
  <StickyFooter
    class="z-40"
    v-show="!hasNationalInsuranceNumber"
    color="warn"
    @go="goToProfile"
    @close="dismissWarning"
  >
    {{ $t("components.pratoConnection.nationalInsuranceWarning") }}

    <template #goToAction> {{ $t("components.pratoConnection.action") }}</template>
  </StickyFooter>
</template>
<script lang="ts">
  import { computed, defineComponent, ref, watch } from "vue";
  import { CheckCircleIcon, InformationCircleIcon } from "@heroicons/vue/outline";
  import { Form } from "vee-validate";
  import { useI18n } from "vue-i18n";
  import store from "@/store";
  import { useCookies } from "vue3-cookies";
  import { useRouter } from "vue-router";
  import { Cookies } from "@/constants";
  import { Prato } from "@/api";

  export default defineComponent({
    name: "PratoConnection",
    components: { CheckCircleIcon, Form, InformationCircleIcon },
    setup(props, { emit }) {
      const { t } = useI18n();
      const { cookies } = useCookies();
      const router = useRouter();
      const hasNationalInsuranceNumber = store.getters.retrieveNationalInsuranceNumber;
      const dismissedWarning = ref<boolean>(false);
      const dismissInfoMessage = ref<boolean>(false);
      const certificateSelection = ref<boolean>(false);
      const certificateCategoryList: any = [
        { value: 4, label: t("components.pratoConnection.certificateCategory.residence") },
        { value: 6, label: t("components.pratoConnection.certificateCategory.citizenship") },
        { value: 7, label: t("components.pratoConnection.certificateCategory.birth") },
        { value: 13, label: t("components.pratoConnection.certificateCategory.family") },
      ];

      const nationalInsuranceWarningDismissal = computed({
        get: () =>
          !store.getters.retrieveNationalInsuranceNumber ||
          store.getters.hasShareProfileEnabled ||
          dismissedWarning.value ||
          (cookies.isKey(Cookies.NATIONAL_INSURANCE) &&
            cookies.get(Cookies.NATIONAL_INSURANCE).toLowerCase() === "true"),
        set: (newValue: boolean) => {
          dismissedWarning.value = newValue;
          cookies.set(Cookies.NATIONAL_INSURANCE, String(newValue).toLowerCase());
        },
      });

      const dismissWarning = () => {
        nationalInsuranceWarningDismissal.value = true;
      };

      const goToProfile = () => {
        dismissWarning();
        router.push({ name: "profile", params: { goToNationalInsuranceNumber: "true" } });
      };

      const pratoCredentials = ref<any>({
        nationalInsuranceNumber: null,
        certificateCategory: null,
      });
      const form = ref<any>();
      const validationSchema = computed(() => {
        return {
          nationalInsuranceNumber: !hasNationalInsuranceNumber ? "required" : null,
          validNationalInsuranseNumber: !hasNationalInsuranceNumber ? "required" : null,
        };
      });

      if (hasNationalInsuranceNumber) {
        pratoCredentials.value.nationalInsuranceNumber = hasNationalInsuranceNumber;
        Prato.searchPersonByFiscalCode({value: hasNationalInsuranceNumber}).then((res: any) => {
          if (res.data === hasNationalInsuranceNumber) {
            certificateSelection.value = true;
          } else {
            dismissInfoMessage.value = true;
          }
        });
      }

      watch(
        () => validationSchema.value,
        (newSchema: any) => {
          emit("schema-change", newSchema);
        },
        { immediate: true, deep: true }
      );

      emit("setCredentials", pratoCredentials.value);

      return {
        pratoCredentials,
        hasNationalInsuranceNumber,
        validationSchema,
        form,
        t,
        dismissWarning,
        goToProfile,
        certificateCategoryList,
        certificateSelection,
        dismissInfoMessage,
      };
    },
  });
</script>
