<template>
  <div>
    <PageHeader
      :title="
        addSource
          ? duplicate
            ? t('components.sourceForm.duplicateSource')
            : t('components.sourceForm.addASource')
          : t('components.sourceForm.detailView')
      "
      :controls="controls"
      @cancel="router.push('/data-fetcher')"
      @save="editSource"
    />
    <Form :validation-schema="validationSchema" ref="form">
      <div class="mt-6 space-y-6 xl:w-3/4 2xl:w-2/3">
        <InputField
          :label="t('components.sourceForm.nameAsset')"
          :disabled="selectedSource && !duplicate && !addSource"
          :placeholder="t('components.sourceForm.assetName')"
          name="assetName"
          id="assetName"
          v-model="selectedSource.name"
        />
        <TextareaField
          name="assetDescription"
          :disabled="selectedSource && !duplicate && !addSource"
          :label="t('components.sourceForm.giveAssetDescription')"
          :placeholder="t('components.sourceForm.assetDescription')"
          v-model="selectedSource.description"
        />
        <MultiselectField
          name="keywords"
          :label="t('components.sourceForm.provideKeywords')"
          :placeholder="t('components.sourceForm.enterKeywords')"
          mode="tags"
          v-model="selectedSource.keywords"
          :disabled="selectedSource && !duplicate && !addSource"
          :options="selectedSource.keywords"
          :createTag="true"
          :showOptions="false"
        />
        <div class="flex flex-row items-center p-2 space-x-2 text-xs italic rounded text-info-800 bg-info-100">
          <div class="w-6 h-6">
            <InformationCircleIcon class="w-6 h-6" />
          </div>
          <span>{{ $t("components.sourceForm.pleasePressEnter") }}</span>
        </div>
        <RadioButtons
          v-if="addSource"
          class="text-sm font-medium tracking-wide text-neutral-600"
          name="connectOrUpload"
          :options="radioOptions"
          :disabled="!addSource"
          v-model="connectOrUpload"
        />
        <div class="space-y-6" v-if="connectOrUpload === 'connect'">
          <SelectMenu
            :label="addSource ? t('components.sourceForm.chooseSource') : t('components.sourceForm.source')"
            :placeholder="t('components.sourceForm.chooseSource')"
            name="source"
            id="source"
            valueField="sourcetype"
            labelField="name"
            :disabled="!addSource"
            :options="sources"
            v-model="selectedSource.sourceType"
          />
          <div
            class="space-y-1"
            v-if="addSource && selectedSource.sourceType && selectedSource.sourceType != 'MOBILEAPP'"
          >
            <label class="block mb-2 text-sm font-medium text-neutral-700">
              {{ $t("components.sourceForm.giveCredentials") }}
            </label>
            <component
              v-if="sourceComponent"
              :is="sourceComponent"
              @setCredentials="setCredentials"
              @schema-change="schemaChange"
            />
          </div>
          <div class="ml-2" v-if="source.credentials.uspc">
            <span class="font-bold">USPC:</span> {{ source.credentials.uspc }}
          </div>
          <SelectMenu
            v-if="selectedSource.sourceType"
            :label="t('components.sourceForm.collectionFrequency')"
            :placeholder="t('components.sourceForm.selectCollectionFrequency')"
            name="collectionFrequency"
            id="collectionFrequency"
            :options="translatedCollectionFrequencyOptions"
            v-model="collectionFrequency"
          >
            <template #info>
              <Alert type="info" size="sm">
                <p>
                  {{ $t("components.sourceForm.pleaseRemember")
                  }}<span class="font-semibold">{{ $t("components.sourceForm.upToFiveMins") }}</span
                  >.
                  <template v-if="collectionFrequencyObject?.message"
                    >{{ $t("components.sourceForm.youShouldExpect") }}
                    <span class="font-semibold">{{ collectionFrequencyObject?.message }}</span
                    >{{ $t("components.sourceForm.afterThat") }}
                  </template>
                </p>
              </Alert>
              <Alert v-if="collectionFrequency === null" size="sm">
                    <span>{{
                    $t("components.sourceForm.onlyOnceInfo")
                  }}</span>
              </Alert>
            </template>
          </SelectMenu>
          <div class="flex flex-col space-y-1" v-if="!addSource && selectedSource.schedule?.next">
            <label class="flex items-center text-sm font-medium tracking-wide text-neutral-600"> Next Update </label>
            <div class="text-sm font-normal" v-if="selectedSource.schedule">
              {{ selectedSource.schedule.next }}
            </div>
          </div>
        </div>
        <UploadFile v-model="selectedSource.file" v-if="connectOrUpload === 'upload'" name="file" />
      </div>
    </Form>
  </div>
</template>
<script lang="ts">
  import { computed, defineComponent, Ref, ref } from "vue";
  import { Form } from "vee-validate";
  import { useRouter } from "vue-router";
  import dayjs from "dayjs";
  import { DataFetcher } from "@/api";
  import { CheckCircleIcon, InformationCircleIcon } from "@heroicons/vue/outline";
  import { DataSourcesEnum, useDataSource, useToaster } from "@/composables";
  import { Control } from "@/interfaces/ui";
  import { CollectionFrequencyWrapper } from "@/constants";
  import { useI18n } from "vue-i18n";
  import store from "@/store";
  import * as R from "ramda";

  export default defineComponent({
    name: "SourceForm",
    props: {
      source: {
        type: Object,
        default: () => {
          return {
            sourceId: "...",
            name: null,
            description: null,
            keywords: [],
            sourceType: null,
            file: null,
            credentials: {
              username: null,
              password: null,
              token: null,
            },
            schedule: {
              interval: {
                unit: null,
                value: null,
              },
            },
            errors: [],
          };
        },
      },
      addSource: {
        type: Boolean,
        default: true,
      },
      connectUpload: {
        type: String,
        default: null,
      },
      duplicate: {
        type: Boolean,
        default: false,
      },
    },
    components: {
      Form,
      CheckCircleIcon,
      InformationCircleIcon,
    },
    setup(props) {
      const toaster = useToaster();
      const router = useRouter();
      const form = ref<any>();
      const subformSchema = ref<Record<string, any>>({});
      const { t } = useI18n();

      const connectOrUpload = ref<string | null>(props.connectUpload);
      const collectionFrequency = ref<string | null>(
        props.source?.schedule ? props.source.schedule.interval.unit : null
      );
      const selectedSource = ref<any>(props.source);

      const radioOptions = computed(() => [
        {
          name: "connect",
          value: "connect",
          label: t("components.sourceForm.connectSource"),
          createMessage: t("components.sourceForm.sourceCreated"),
          updatedMessage: t("components.sourceForm.sourceUpdated"),
        },
        {
          name: "upload",
          value: "upload",
          label: t("components.sourceForm.uploadFile"),
          createMessage: t("components.sourceForm.fileUploaded"),
          updatedMessage: t("components.sourceForm.fileUploaded"),
        },
      ]);

      const {
        component: sourceComponent,
        collectionFrequencyOptions,
        onlineSources: sources,
      } = useDataSource(selectedSource);

      const translatedCollectionFrequencyOptions = computed(() =>
        collectionFrequencyOptions.value
          ? collectionFrequencyOptions.value.map(item =>
              Object.assign({}, item, {
                label: t(item.label),
              })
            )
          : null
      );

      const validationSchema = computed(() => {
        return {
          assetName: "required",
          assetDescription: "required",
          keywords: "required",
          connectOrUpload: props.addSource ? "required" : null,
          source: connectOrUpload.value !== "upload" ? "required" : null,
          file: connectOrUpload.value === "upload" && props.addSource ? "required" : null,
          ...subformSchema.value,
        };
      });

      const selectedRadioOption = computed(() =>
        connectOrUpload.value ? radioOptions.value.find((option: any) => option.value === connectOrUpload.value) : null
      );

      const controls = computed(() => {
        const controlList: Control[] = [
          {
            label: t("components.sourceForm.cancel"),
            secondary: true,
            click: "cancel",
            size: "xs",
          },
        ];

        if (props.addSource && !props.duplicate) {
          controlList.push({
            label: t("components.sourceForm.add"),
            click: "save",
            size: "xs",
          });
        } else if (props.duplicate) {
          controlList.push({
            label: t("components.sourceForm.duplicate"),
            click: "save",
            size: "xs",
          });
        } else {
          controlList.push({
            label: t("components.sourceForm.save"),
            click: "save",
            size: "xs",
            disabled: true
          });
        }

        return controlList;
      });

      const collectionFrequencyObject = computed(() =>
        CollectionFrequencyWrapper.findByValue(collectionFrequency.value)
      );
      const addSourceCall = (data: any, method: any) => {
        const formData = new FormData();
        formData.append("file", data.value.file);
        formData.append("sourceId", data.value.sourceId);
        formData.append("sourceType", data.value.sourceType);
        formData.append("name", data.value.name);
        formData.append("description", data.value.description);
        formData.append("keywords", data.value.keywords);
        formData.append("credentials", JSON.stringify(data.value.credentials));
        formData.append("schedule", JSON.stringify(data.value.schedule));
        formData.append("errors", data.value.errors);

       if(method === "add"){
          DataFetcher.createAsset(formData)
            .then((res: any) => {
              toaster.show(
                selectedRadioOption.value?.createMessage || t("components.sourceForm.sourceCreated2"),
                "success"
              );
              router.push({name: 'data-fetcher'});
            })
            .catch((err: any) => {
              toaster.show(err.response.data.message, "error");
            });
        }else if (method === "update") {
          DataFetcher.updateAsset(selectedSource.value.id, formData)
            .then(() => {
              toaster.show(
                selectedRadioOption.value?.createMessage || t("components.sourceForm.sourceUpdated2"),
                "success"
              );
              router.push({name: 'data-fetcher'});
            })
            .catch((err: any) => {
              toaster.show(err.response.data.message, "error");
            });
        }
      };

      const editSource = async () => {
        const { valid } = await form.value.validate();
        if (!valid) return;
        if (connectOrUpload.value === "upload") {
          selectedSource.value.sourceType = DataSourcesEnum.UPLOAD;
        }

        if (collectionFrequencyObject.value?.getValue()) {
          selectedSource.value.schedule = { interval: {} };
          selectedSource.value.schedule.interval.value = 1;
          selectedSource.value.schedule.interval.unit = collectionFrequencyObject.value.getValue();
        } else {
          selectedSource.value.schedule = null;
        }

        if (selectedSource.value.sourceType === "MOBILEAPP") {
          const usersub = { subId: store.state.user.sub, sourceType: selectedSource.value.name };
          selectedSource.value.credentials = usersub;
        }

        if (props.addSource && selectedSource.value.sourceType === "OLYMPIAKOS") {
          const initialKeywords = selectedSource.value.keywords;
          const source = R.clone(selectedSource.value.credentials.sourceType);
          const name = selectedSource.value.name;
          let keywords: any = [];
          selectedSource.value.name = name + " " + source;
          keywords.push(initialKeywords, source);
          selectedSource.value.keywords = keywords;
          addSourceCall(selectedSource, "add");
        } else if (props.addSource) {
          addSourceCall(selectedSource, "add");
        } else {
          addSourceCall(selectedSource, "update");
        }
      };

      const setCredentials = (value: any) => {
        selectedSource.value.credentials = value;
      };

      const schemaChange = (schema: Record<string, any>) => {
        subformSchema.value = schema;
      };

      return {
        router,
        dayjs,
        radioOptions,
        translatedCollectionFrequencyOptions,
        collectionFrequencyObject,
        selectedSource,
        validationSchema,
        form,
        editSource,
        connectOrUpload,
        collectionFrequency,
        setCredentials,
        controls,
        sourceComponent,
        t,
        sources,
        schemaChange,
        subformSchema,
      };
    },
  });
</script>
