<template>
  <div>
    <div class="w-full mt-6 space-y-6 lg:w-1/2">
      <InputField
        :label="t('components.twitterConnection.username')"
        :placeholder="t('components.twitterConnection.enterUsername')"
        name="username"
        id="username"
        v-model="twitterCredentials.username"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import { CheckCircleIcon } from "@heroicons/vue/outline";
import { Form } from "vee-validate";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "TwitterConnection",
  components: { CheckCircleIcon, Form },
  setup(props, { emit }) {
    const { t } = useI18n();
    const twitterCredentials = ref<any>({
      username: null,
    });
    const form = ref<any>();
    const validationSchema = ref({
      username: "required",
    });

    watch(
      () => validationSchema.value,
      (newSchema: any) => {
        emit("schema-change", newSchema);
      },
      { immediate: true, deep: true }
    );

    emit("setCredentials", twitterCredentials.value);

    return {
      twitterCredentials,
      validationSchema,
      form,
      t,
    };
  },
});
</script>
