<template>
<div class="flex flex-col items-center mb-4">
    <h2 class="mt-6 mb-2 font-bold text-center">{{ inputTitle }}</h2>
  </div>
  <Pie
    :chart-options="chartOptions"
    :chart-data="inputChartData"
    :chart-id="chartId"
    :plugins="plugins"
    :css-classes="cssClasses"
    :styles="styles"
    :width="width"
    :height="height"
  />
</template>

<script setup lang="ts">
import { Pie } from "vue-chartjs";
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale,
} from "chart.js";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale
);

const props = defineProps({
  chartId: {
      type: String,
      default: "pie-chart",
    },
    inputTitle: {
     type: String,
     default: 'Pie Chart' 
    },
    inputChartData: {
      type: Object,
      required: true
    },
    width: {
      type: Number,
      default: 400,
    },
    height: {
      type: Number,
      default: 400,
    },
    cssClasses: {
      default: "",
      type: String,
    },
    styles: {
      type: Object,
      default: () => {},
    },
    plugins: {
      type: Array,
      default: () => [],
    },
});

const chartOptions = {
  responsive: true,
  maintainAspectRatio: false,
};
</script>

