<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="flex flex-col space-y-2">
    <SearchSort
      v-if="searchable"
      v-model:searchTerms="searchTerms"
      v-model:sortBy="sortBy"
      v-model:sortDirection="sortDirection"
      :sortOptions="sortFields"
      :autofocus="autofocusSearch"
      :placeholder="t('components.searchSort.placeholder')"
    />
    <tabs v-if="tabs.length > 0" :options="tabs" :selected="selectedTab" @changed="changeTab" />
    <div class="-my-2 overflow-x-auto">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden border-b shadow border-neutral-200 sm:rounded-lg">
          <div v-if="loading" class="flex flex-col items-center p-8">
            <spinner horizontal>
              <slot name="loading">{{ $t("components.advancedTable.loadingData") }}</slot>
            </spinner>
          </div>
          <table v-else class="w-full divide-y divide-neutral-200">
            <thead class="bg-primary-700">
              <tr>
                <th v-if="$slots.prelude" />
                <th
                  v-for="field in tableFields"
                  :key="field.key"
                  scope="col"
                  class="px-4 py-3 text-xs font-medium tracking-wider text-left uppercase text-neutral-50"
                  :class="{
                    'hidden xs:table-cell': field.showAfter && field.showAfter === 'xs',
                    'hidden sm:table-cell': field.showAfter && field.showAfter === 'sm',
                    'hidden md:table-cell': field.showAfter && field.showAfter === 'md',
                    'hidden lg:table-cell': field.showAfter && field.showAfter === 'lg',
                    'hidden xl:table-cell': field.showAfter && field.showAfter === 'xl',
                    'hidden 2xl:table-cell': field.showAfter && field.showAfter === '2xl',
                  }"
                >
                  {{ field.label }}
                </th>
                <th v-if="$slots.default" />
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-neutral-200">
              <tr v-if="noResults">
                <td
                  :colspan="tableFields.length + ($slots.default ? 1 : 0) + ($slots.prelude ? 1 : 0)"
                  class="p-4 text-sm text-center text-neutral-500"
                >
                  {{ noResultsMessage }}
                </td>
              </tr>
              <template v-else v-for="item in visibleData" :key="item[itemId]">
                <tr
                  class="hover:bg-primary-100"
                  :class="{ 'cursor-pointer': rowClickable }"
                  @click="rowClickable ? rowClicked(item) : null"
                >
                  <td v-if="$slots.prelude">
                    <slot name="prelude" :data="item"></slot>
                  </td>
                  <td
                    v-for="field in tableFields"
                    :key="`${item[itemId]}_${field.key}`"
                    class="p-4 text-sm truncate text-neutral-500"
                    :class="{
                      'hidden xs:table-cell': field.showAfter && field.showAfter === 'xs',
                      'hidden sm:table-cell': field.showAfter && field.showAfter === 'sm',
                      'hidden md:table-cell': field.showAfter && field.showAfter === 'md',
                      'hidden lg:table-cell': field.showAfter && field.showAfter === 'lg',
                      'hidden xl:table-cell': field.showAfter && field.showAfter === 'xl',
                      'hidden 2xl:table-cell': field.showAfter && field.showAfter === '2xl',
                    }"
                  >
                    <slot
                      :name="field.key"
                      :data="item[field.key]"
                      :processedData="field.preprocess ? field.preprocess(item[field.key], item) : item[field.key]"
                      :field="field"
                      :item="item"
                    >
                      {{ field.preprocess ? field.preprocess(item[field.key], item) : item[field.key] }}
                    </slot>
                  </td>
                  <td v-if="$slots.default">
                    <slot :data="item" :id="item[itemId]" />
                  </td>
                </tr>
                <tr class="border-none" v-if="$slots.details">
                  <td :colspan="tableFields.length + ($slots.default ? 1 : 0) + ($slots.prelude ? 1 : 0)">
                    <slot name="details" :data="item" :id="item[itemId]" />
                  </td>
                </tr>
              </template>
            </tbody>
            <tfoot v-if="visibleData.length > 0 && $slots.footer" :class="footerClasses">
              <tr>
                <td v-for="field in tableFields" class="align-top" :key="field.key">
                  <slot name="footer" :field="field" />
                </td>
              </tr>
            </tfoot>
          </table>
          <div v-if="$slots.tableFooter" class="w-full p-1 bg-secondary-200">
            <slot name="tableFooter" />
          </div>
        </div>
        <pagination
          v-show="filteredData.length > pageSize"
          :currentPage="currentPage"
          :pageSize="pageSize"
          :total="filteredData.length"
          :totalPages="totalPages"
          class="flex flex-row flex-initial mt-4"
          @previous="previous"
          @next="next"
          @goTo="goTo"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent } from "vue";
  import { useFilter } from "@/composables";
  import Pagination from "@/components/Pagination.vue";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "AdvancedTable",
    components: { Pagination },
    props: {
      data: { type: Array, default: () => [] },
      fields: Array,
      itemId: { type: String, default: "id" },
      tabs: { type: Array, default: () => [] },
      selectedTab: { type: String, default: null },
      autofocusSearch: { type: Boolean, default: false },
      sortBy: { type: String, default: null },
      sortDirection: { type: String, default: null },
      noResultsMessage: { type: String, default: "No results found" },
      searchable: { type: Boolean, default: true },
      footerClasses: { type: String },
      loading: { type: Boolean, default: false },
      rowClickable: { type: Boolean, default: false },
    },
    setup(props, { emit }) {
      const { t, locale } = useI18n();
      const tableData = computed(() => props.data);
      const searchFields = props.fields
        ? props.fields.reduce((acc: string[], field: any) => {
            if (field.searchable) {
              acc.push(field.key);
            }
            return acc;
          }, [])
        : [];
      const sortFields = computed(() =>
        props.fields
          ? props.fields.reduce((acc: any[], field: any) => {
              if (field.sortable) {
                acc.push({
                  key: field.key,
                  label: field.label,
                  type: field.type ? field.type : "string",
                });
              }
              return acc;
            }, [])
          : []
      );
      const {
        filteredData,
        visibleData,
        searchTerms,
        sortBy,
        sortDirection,
        currentPage,
        pageSize,
        totalPages,
        next,
        previous,
        goTo,
      } = useFilter(tableData, {
        searchFields,
        sortFields: sortFields.value,
        sortBy: props.sortBy,
        sortDirection: props.sortDirection,
      });

      const noResults = computed(() => filteredData.value.length === 0);

      const tableFields = computed(() => {
        if (props.fields && props.fields.length > 0) {
          return props.fields;
        }
        return (props.data as any[]).length > 0
          ? Object.keys(props.data as any[]).map((field: string) => {
              return { key: field, label: field };
            })
          : [];
      });

      const changeTab = (value: any) => {
        emit("tab-changed", value);
      };

      const rowClicked = (item: any) => {
        emit("row-clicked", item);
      };

      return {
        visibleData,
        filteredData,
        tableFields,
        searchTerms,
        sortFields,
        sortBy,
        sortDirection,
        currentPage,
        pageSize,
        totalPages,
        noResults,
        next,
        previous,
        goTo,
        changeTab,
        rowClicked,
        locale,
        t,
      };
    },
  });
</script>
