<template>
  <div
    :class="{
      'border-warn-400 bg-warn-50': type === 'warning',
      'border-success-400 bg-success-50': type === 'success',
      'border-error-400 bg-error-50': type === 'danger',
      'border-info-400 bg-info-50': type === 'info',
      'p-4 border-l-4': size === 'base',
      'p-2 border-l-2': size === 'sm',
      'p-1 border-l-1': size === 'xs',
    }"
  >
    <div class="flex items-center">
      <div class="flex-shrink-0" v-if="addIcon">
        <component
          :is="iconComponent"
          :class="{
            'text-warn-400': type === 'warning',
            'text-success-400': type === 'success',
            'text-error-400': type === 'danger',
            'text-info-400': type === 'info',
            'w-5 h-5': size === 'base',
            'w-4 h-4': size === 'sm',
            'w-3 h-3': size === 'xs',
          }"
          aria-hidden="true"
        />
      </div>
      <div class="ml-3">
        <p
          :class="{
            'text-warn-700': type === 'warning',
            'text-success-700': type === 'success',
            'text-error-700': type === 'danger',
            'text-info-700': type === 'info',
            'text-base': size === 'base',
            'text-sm': size === 'sm',
            'text-xs': size === 'xs',
          }"
        >
          <span v-if="text">{{ text }}</span>
          <slot v-else />
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import {
  ExclamationIcon,
  CheckCircleIcon,
  XCircleIcon,
  InformationCircleIcon,
} from "@heroicons/vue/solid";

export default defineComponent({
  props: {
    addIcon: {
      type: Boolean,
      default: true,
    },
    type: {
      type: String,
      default: "warning",
    },
    size: {
      type: String,
      default: "base",
    },
    text: {
      type: String,
      default: null,
    },
  },
  components: {
    ExclamationIcon,
    CheckCircleIcon,
    XCircleIcon,
    InformationCircleIcon,
  },
  setup(props) {
    const iconComponent = ref<any>(null);
    switch (props.type) {
      case "warning":
        iconComponent.value = ExclamationIcon;
        break;
      case "success":
        iconComponent.value = CheckCircleIcon;
        break;
      case "danger":
        iconComponent.value = XCircleIcon;
        break;
      case "info":
        iconComponent.value = InformationCircleIcon;
        break;
      case "default":
      //
    }

    return { iconComponent };
  },
});
</script>
