<template>
  <div>
    <div
      :class="
        vertical
          ? 'space-y-4 flex flex-col'
          : 'flex space-y-4  flex-col flex-wrap md:space-x-6 md:space-y-0 md:flex-row md:leading-8'
      "
    >
      <div
        class="flex flex-row items-center space-x-3"
        v-for="(option, idx) in options"
        :key="idx"
      >
        <Field :name="name" v-slot="{ handleChange }" :value="checkboxValue">
          <input
            class="disabled:cursor-not-allowed text-primary-600"
            type="checkbox"
            v-model="checkboxValue"
            @input="
              updateValue(option.value);
              handleChange(checkboxValue);
            "
            :value="option.value"
            :id="`checkbox ${idx}`"
            :name="name"
          />
        </Field>
        <label :for="`checkbox ${idx}`">{{ option.label }}</label>
      </div>
    </div>
    <ErrorMessage class="text-sm text-red-600" :name="name" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { Field, ErrorMessage } from "vee-validate";

export default defineComponent({
  name: "Checkboxes",
  model: {
    prop: "modelValue",
  },
  emits: ["update:modelValue", "changed"],
  components: {
    Field,
    ErrorMessage,
  },
  props: {
    options: {
      type: Array,
      required: true,
    },
    modelValue: {
      type: [Array],
      default: [],
    },
    name: {
      type: String,
      required: true,
    },
    vertical: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean,
      default: false
    }
  },
  setup(props, { emit }) {
    let checkboxValue = ref<any>(props.modelValue);
    const updateValue = (value: any) => {
      if(props.multiple){
        if (checkboxValue.value.includes(value)) {
          checkboxValue.value.splice(checkboxValue.value.indexOf(value), 1);
        } else {
          checkboxValue.value.push(value);
        }
      }else{
        checkboxValue.value = []
        checkboxValue.value.push(value);
      }
      emit("update:modelValue", checkboxValue.value);
      emit("changed", checkboxValue.value);
    };

    return {
      updateValue,
      checkboxValue,
    };
  },
});
</script>
