<template>
  <button
    v-if="size === 'xs'"
    type="button"
    class="items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 disabled:cursor-not-allowed disabled:opacity-50"
  >
    <slot />
  </button>
  <button
    v-else-if="size === 'sm'"
    type="button"
    class="items-center px-3 py-2 text-sm font-medium leading-4 text-white border border-transparent rounded-md shadow-sm bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 disabled:cursor-not-allowed disabled:opacity-50"
  >
    <slot />
  </button>
  <button
    v-else-if="size === 'base'"
    type="button"
    class="items-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 disabled:cursor-not-allowed disabled:opacity-50"
  >
    <slot />
  </button>
  <button
    v-else-if="size === 'lg'"
    type="button"
    class="items-center px-4 py-2 text-base font-medium text-white border border-transparent rounded-md shadow-sm bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 disabled:cursor-not-allowed disabled:opacity-50"
  >
    <slot />
  </button>
  <button
    v-else-if="size === 'xl'"
    type="button"
    class="items-center px-6 py-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 disabled:cursor-not-allowed disabled:opacity-50"
  >
    <slot />
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "PrimaryButton",
  props: {
    size: { type: String, default: "base" },
  },
});
</script>
