<template>
  <div>
    <div v-if="!inConfirmMode" @click.stop="goIntoConfirmationMode"><slot name="default"></slot></div>
    <div v-else @click.stop="confirmAction"><slot name="confirm"></slot></div>
  </div>
</template>
<script lang="ts">
import * as R from 'ramda';
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: 'ConfirmButton',
  props: {
    timeout: {
      type: Number,
      default: 5000,
    },
  },
  setup(props: any, { emit }: { emit: any }) {
    const inConfirmMode = ref(false);

    const goIntoConfirmationMode = () => {
      inConfirmMode.value = true;
      if (props.timeout) {
        setTimeout(() => {
          inConfirmMode.value = false;
        }, parseInt(R.toString(props.timeout), 10));
      }
    };

    const confirmAction = () => {
      inConfirmMode.value = false;
      emit('confirmed');
    };
    return { inConfirmMode, goIntoConfirmationMode, confirmAction };
  },
});
</script>
