<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="relative">
    <div v-if="withLine" class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-neutral-300" />
    </div>
    <div class="relative flex" :class="{ 'justify-center px-2': withLine }">
      <div
        class="flex flex-row items-center space-x-2 text-sm cursor-pointer text-primary-50 hover:text-secondary-200"
        :class="[backgroundColour, textColour, hoverTextColour]"
        @click="expandToggle"
      >
        <ChevronDoubleDownIcon v-if="!expanded" class="w-4 h-4" aria-hidden="true" />
        <ChevronDoubleUpIcon v-else class="w-4 h-4" aria-hidden="true" />
        <div v-if="!expanded">
          <slot name="collapsed">{{ $t("components.expander.expand") }}</slot>
        </div>
        <div v-else>
          <slot name="expanded">{{ $t("components.expander.collapse") }}</slot>
        </div>
        <ChevronDoubleDownIcon v-if="!expanded" class="w-4 h-4" aria-hidden="true" />
        <ChevronDoubleUpIcon v-else class="w-4 h-4" aria-hidden="true" />
      </div>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from "vue";
  import { ChevronDoubleDownIcon, ChevronDoubleUpIcon } from "@heroicons/vue/outline";

  export default defineComponent({
    name: "Expander",
    props: {
      expanded: {
        type: Boolean,
        default: false,
      },
      backgroundColour: {
        type: String,
        default: "bg-white",
      },
      textColour: {
        type: String,
        default: "text-neutral-500",
      },
      hoverTextColour: {
        type: String,
        default: "text-primary-700",
      },
      withLine: {
        type: Boolean,
        default: false,
      },
    },
    components: { ChevronDoubleDownIcon, ChevronDoubleUpIcon },
    setup(props, { emit }) {
      const expandToggle = () => {
        if (props.expanded) {
          emit("collapse");
        } else {
          emit("expand");
        }
      };
      return { expandToggle };
    },
  });
</script>
