<template>
  <div class="flex flex-col space-y-1">
    <div class="flex rounded-md shadow-sm">
      <Menu as="div" class="relative inline-block text-left">
        <MenuButton
          class="relative flex flex-row items-center h-12 px-4 py-2 -ml-px space-x-2 text-sm font-medium border border-neutral-300 bg-neutral-50 hover:bg-neutral-100 focus:outline-none focus:ring-1 focus:ring-primary-500 focus:border-primary-500 text-neutral-400"
          @click="$emit('toggle')"
        >
          <FilterIcon
            class="w-5 h-5 ml-2 -mr-1 text-neutral-400"
            aria-hidden="true"
          />
          <span>{{ $t('components.filter.filters') }}</span>
          <ChevronDownIcon
            class="w-5 h-5 ml-2 -mr-1 text-neutral-400"
            aria-hidden="true"
          />
        </MenuButton>
      </Menu>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import { FilterIcon, ChevronDownIcon } from "@heroicons/vue/outline";

export default defineComponent({
  name: "Filter",
  props: {
    label: {
      type: String,
    },
    autofocus: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    FilterIcon,
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    ChevronDownIcon,
  },
  setup(props, { emit }) {
    const visible = ref<Boolean>(false);
    const input = ref<any>();
    let filters = ref<number>();
    const focusInput = () => {
      input.value.focus();
    };
    onMounted(() => {
      if (props.autofocus) focusInput();
    });

    return { input, visible, filters };
  },
});
</script>
