<template>
  <div>
    <div v-if="compact">
      <div class="mb-1 text-sm text-right text-neutral-500" v-if="description">
        {{ description }}
      </div>
      <div
        class="relative px-3 py-2 border rounded-md shadow-sm border-neutral-300 focus-within:ring-1 focus-within:ring-primary-600 focus-within:border-primary-600"
      >
        <label
          v-if="label"
          :for="name"
          class="absolute inline-block px-1 -mt-px text-xs font-medium bg-white -top-2 left-2 text-neutral-900 rounded-t-md"
        >
          <slot></slot>
          {{ label }}</label
        >

        <Field :name="name" v-slot="{ errors, handleChange }" :value="inputValue">
          <input
            :type="type"
            :placeholder="placeholder"
            v-model="inputValue"
            @input="
              $emit('update:modelValue', $event.target.value);
              $emit('changed', $event.target.value);
              handleChange($event);
            "
            @change="handleChange"
            @blur="handleChange"
            class="block w-full p-0 border-0 text-neutral-900 placeholder-neutral-500 focus:ring-0 sm:text-sm"
            :class="[{ 'border-red-500': errors.length > 0 }, inputClasses]"
            :autocomplete="autocomplete"
            :min="type === 'number' && !R.isNil(min) && !R.isEmpty(min) ? min : null"
            :max="type === 'number' && !R.isNil(max) && !R.isEmpty(max) ? max : null"
          />
        </Field>
      </div>
    </div>
    <div v-else class="flex flex-col space-y-1">
      <div class="flex justify-between">
        <label v-if="label" :for="name" class="flex items-center text-sm font-medium tracking-wide text-neutral-600">
          <slot></slot>
          {{ label }}
        </label>
        <div class="text-sm text-neutral-500" v-if="description">
          {{ description }}
        </div>
      </div>
      <div>
        <Field :name="name" v-slot="{ errors, handleChange }" :value="inputValue">
          <input
            :type="type"
            :placeholder="placeholder"
            v-model="inputValue"
            @input="
              $emit('update:modelValue', $event.target.value);
              handleChange($event);
            "
            @change="handleChange"
            @blur="handleChange"
            class="block w-full px-3 py-2 border rounded-md shadow-sm appearance-none placeholder-neutral-400 border-neutral-300 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
            :class="[
              {
                'border-red-500': errors.length > 0,
                'bg-neutral-200': disabled,
              },
              inputClasses,
            ]"
            :autocomplete="autocomplete"
            :min="type === 'number' && !R.isNil(min) && !R.isEmpty(min) ? min : null"
            :max="type === 'number' && !R.isNil(max) && !R.isEmpty(max) ? max : null"
            :disabled="disabled"
          />
        </Field>
      </div>
      <ErrorMessage :class="errorClasses" :name="name" />
    </div>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent } from "vue";
  import { Field, ErrorMessage } from "vee-validate";
  import * as R from "ramda";

  export default defineComponent({
    name: "InputField",
    components: {
      Field,
      ErrorMessage,
    },
    model: {
      prop: "modelValue",
    },
    emits: ["update:modelValue", "changed"],
    props: {
      name: {
        type: String,
        required: true,
      },
      label: {
        type: String,
        default: null,
      },
      type: {
        type: String,
        default: "text",
      },
      placeholder: {
        type: String,
        default: "",
      },
      modelValue: {
        type: [String, Number],
      },
      autocomplete: {
        type: String,
        default: null,
      },
      min: {
        type: Number,
      },
      max: {
        type: Number,
      },
      compact: {
        type: Boolean,
        default: false,
      },
      errorClasses: {
        type: String,
        default: "text-sm text-red-600",
      },
      inputClasses: {
        type: String,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      description: {
        type: String,
        default: null,
      },
    },
    setup(props, { emit }) {
      const inputValue = computed({
        set: (newValue: any) => {
          emit("update:modelValue", props.type === "number" ? Number(newValue) : newValue);
          emit("changed", props.type === "number" ? Number(newValue) : newValue);
        },
        get: () => props.modelValue,
      });

      return { inputValue, R};
    },
  });
</script>
