<template>
  <router-link
    :to="to"
    class="font-medium"
    :class="{
      'text-xl': size === 'xl',
      'text-lg': size === 'lg',
      'text-base': size === 'base',
      'text-sm': size === 'sm',
      'text-xs': size === 'xs',
      'text-neutral-600 hover:text-neutral-500': size === 'neutral',
      'text-primary-600 hover:text-primary-500': size === 'primary',
      'text-secondary-600 hover:text-secondary-500': size === 'secondary',
    }"
  >
    <slot />
  </router-link>
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";
export default defineComponent({
  name: "InternalLink",
  props: {
    name: { type: String, required: true },
    params: { type: Object, required: false },
    color: { type: String, default: "neutral" },
    size: { type: String, default: "sm" },
  },
  setup(props) {
    const to = computed(() => {
      return {
        name: props.name,
        params: props.params,
      };
    });
    return { to };
  },
});
</script>
