<template>
  <div>
    <div v-if="json" class="text-neutral-400 text-xs">
      <pre><span v-html="json" /></pre>
    </div>
    <div v-else class="text-neutral-500 italic text-sm">{{ noObjectMessage }}</div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import formatHighlight from "json-format-highlight";

export default defineComponent({
  name: "JsonViewer",
  props: {
    data: {
      type: Object
    },
    noObjectMessage: {
      type: String,
      default: "No data to display"
    }
  },
  components: {},
  setup(props) {
    const json = computed(() => props.data ? formatHighlight(props.data, {
      keyColor: "#6b7280",
      stringColor: "#1d4ed8",
      numberColor: "#db2777",
      trueColor: "#16a34a",
      falseColor: "#dc2626",
      nullColor: "#818cf8"
    }) : null);

    return { json };
  }
});
</script>