<template>
  <div>
    <div class="flex items-center justify-between space-y-1">
      <div>
        <h3
          :class="additionalLabelClasses"
          class="text-lg font-medium leading-6 text-neutral-900"
        >
          {{ label }}
        </h3>
        <p class="text-sm text-neutral-500" v-if="description">
          {{ description }}
        </p>
        <p v-else class="lg:h-5" />
      </div>
      <div><slot /></div>
    </div>
    <hr class="my-4" v-if="showLine" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "LabelAndDescription",
  props: {
    label: { type: String, default: "" },
    description: { type: String, default: "" },
    showLine: { type: Boolean, default: true },
    additionalLabelClasses: { type: String, default: "" },
  },
});
</script>
