<template>
  <div class="flex flex-row items-center space-x-2">
    <button
      v-for="locale in locales"
      :key="locale.code"
      :title="
        locale.code !== currentLocale
          ? t('components.language.change', { languageValue: locale.label })
          : t('components.language.set', { languageValue: locale.label })
      "
      type="button"
      class="flex flex-row cursor-default items-center -mt-1.5 space-x-1 text-sm font-medium focus:outline-none"
      :class="{
        'text-neutral-200': dark,
        'text-neutral-700': !dark,
        'opacity-20 cursor-pointer': locale.code !== currentLocale,
      }"
      @click="
        locale.code !== currentLocale ? (currentLocale = locale.code) : null
      "
    >
      <CountryFlag :country="locale.flagCode" size="normal" />
    </button>
  </div>
</template>
<script lang="ts">
import { useLocale } from "@/messages/all";
import { computed, defineComponent, ref } from "vue";
import { useI18n } from "vue-i18n";
import CountryFlag from "vue-country-flag-next";
import { ChevronDownIcon } from "@heroicons/vue/solid";
import { User } from "@/api";
import store from "@/store";
import { useCookies } from "vue3-cookies";
import { Cookies } from "@/constants";

export default defineComponent({
  name: "Language",
  model: {
    prop: "language",
  },
  emits: ["update:language", "changed"],
  props: {
    language: { type: String },
    dark: { type: Boolean, default: false },
  },
  components: { CountryFlag, ChevronDownIcon },
  setup() {
    const isAuthenticated = computed(() => store.getters.isAuthenticated);
    const { locales, defaultLocale } = useLocale();
    const { locale } = useI18n();
    const { cookies } = useCookies();
    const dropdownOpen = ref<boolean>(false);
    const { t } = useI18n();

    const currentLocale = computed({
      get: () => locale.value,
      set: (newLocale: string) => {
        // store in vue
        locale.value = newLocale;

        // store in the cookie
        cookies.set(Cookies.LANGUAGE, newLocale);
        // store language in the backend if user is authenticated
        if (isAuthenticated.value) User.updateLanguage(newLocale);
      },
    });

    currentLocale.value =
      store.state.user?.language ||
      cookies.get(Cookies.LANGUAGE) ||
      defaultLocale.code;

    return { locales, currentLocale, dropdownOpen, t };
  },
});
</script>
