<template>
  <div
    class="flex flex-col items-center pb-4 space-y-2 border-b md:flex-row md:justify-between lg:pb-6 lg:pt-4"
  >
    <div class="flex flex-col flex-1 min-w-0 space-y-2">
      <h2
        class="flex flex-col items-center space-x-2 space-y-2 text-lg capitalize text-neutral-700 md:flex-row md:space-y-0"
      >
        <slot :title="title">
          <span>{{ title }}</span>

          <template v-if="steps.length > 0">
            <span class="hidden md:inline">-</span>
            <span class="font-bold">{{ steps[currentStep].name }}</span>
          </template>
        </slot>
        <slot name="status" />
      </h2>
      <div class="flex flex-col sm:flex-row sm:flex-wrap sm:space-x-6">
        <slot name="subheader">
          <template v-for="subheader in subheaders" :key="subheader.label">
            <tooltip v-if="subheader.tooltip" :message="subheader.tooltip">
              <div
                class="flex flex-row items-center space-x-2 text-sm text-neutral-500"
              >
                <component
                  :is="subheader.icon"
                  class="flex-shrink-0 w-5 h-5 text-neutral-400"
                  aria-hidden="true"
                />
                <div class="border-b border-dotted">{{ subheader.label }}</div>
              </div>
            </tooltip>
            <div
              v-else
              class="flex flex-row items-center space-x-2 text-sm text-neutral-500"
            >
              <component
                :is="subheader.icon"
                class="flex-shrink-0 w-5 h-5 text-neutral-400"
                aria-hidden="true"
              />
              <div>{{ subheader.label }}</div>
            </div>
          </template>
        </slot>
      </div>
    </div>

    <!--Steps-->
    <ol class="flex items-center" v-if="steps.length > 0">
      <li
        v-for="(step, stepIdx) in steps"
        :key="step.name"
        :title="step.name"
        :class="[
          stepIdx !== steps.length - 1 ? 'pr-6 md:pr-8 xl:pr-20' : '',
          'relative',
        ]"
      >
        <template v-if="stepIdx < currentStep">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="h-0.5 w-full bg-secondary-600" />
          </div>
          <div
            class="relative flex items-center justify-center w-3 h-3 rounded-full md:w-5 md:h-5 xl:w-8 xl:h-8 bg-secondary-600 hover:bg-secondary-900"
          >
            <CheckIcon
              class="w-2 h-2 text-white md:w-3 md:h-3 xl:w-5 xl:h-5"
              aria-hidden="true"
            />
            <span class="sr-only">{{ step.name }}</span>
          </div>
        </template>
        <template
          v-else-if="parseInt(stepIdx, 10) === parseInt(currentStep, 10)"
        >
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="h-0.5 w-full bg-neutral-200" />
          </div>
          <div
            class="relative flex items-center justify-center w-3 h-3 bg-white border-2 rounded-full md:w-5 md:h-5 xl:w-8 xl:h-8 border-secondary-600"
            aria-current="step"
          >
            <span
              class="h-1 w-1 md:w-1.5 md:h-1.5 xl:h-2.5 xl:w-2.5 bg-secondary-600 rounded-full"
              aria-hidden="true"
            />
            <span class="sr-only">{{ step.name }}</span>
          </div>
        </template>
        <template v-else>
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="h-0.5 w-full bg-neutral-200" />
          </div>
          <div
            class="relative flex items-center justify-center w-3 h-3 bg-white border-2 rounded-full group md:w-5 md:h-5 xl:w-8 xl:h-8 border-neutral-300 hover:border-neutral-400"
          >
            <span
              class="h-1 w-1 md:w-1.5 md:h-1.5 xl:w-2.5 xl:h-2.5 bg-transparent rounded-full group-hover:bg-neutral-300"
              aria-hidden="true"
            />
            <span class="sr-only">{{ step.name }}</span>
          </div>
        </template>
      </li>
    </ol>
    <!-- Controls -->
    <div
      class="flex flex-row items-center mt-5 space-x-3 lg:mt-0 lg:ml-4"
      v-if="controls.length > 0"
    >
      <span v-for="control in controls" :key="control.label">
        <ConfirmButton
          v-if="control.confirmation"
          @confirmed="control.click ? $emit(control.click) : null"
        >
          <SecondaryButton
            v-if="control.secondary"
            :size="control.size"
            class="flex flex-row space-x-1 whitespace-nowrap"
            :colour="control.colour"
            :disabled="isDisabled(control)"
          >
            <component
              v-if="control.icon"
              :is="control.icon"
              class="w-5 h-5"
              aria-hidden="true"
            />
            <span>{{ control.label }}</span>
          </SecondaryButton>
          <PrimaryButton
            v-else
            :size="control.size"
            class="flex flex-row space-x-1 whitespace-nowrap"
            :colour="control.colour"
            :disabled="isDisabled(control)"
          >
            <component
              v-if="control.icon"
              :is="control.icon"
              class="w-5 h-5"
              aria-hidden="true"
            />
            <span>{{ control.label }}</span>
          </PrimaryButton>
          <template #confirm>
            <SecondaryButton
              :size="control.size"
              class="flex flex-row space-x-1 whitespace-nowrap"
              colour="yellow"
              :disabled="isDisabled(control)"
            >
              <exclamation-circle-icon class="w-4 h-4 mr-1" />
              <span>{{ $t("components.pageHeader.areYouSure") }}</span>
            </SecondaryButton>
          </template>
        </ConfirmButton>
        <template v-else>
          <SecondaryButton
            v-if="control.secondary"
            :size="control.size"
            @click="control.click ? $emit(control.click) : null"
            class="flex flex-row space-x-1 whitespace-nowrap"
            :colour="control.colour"
            :disabled="isDisabled(control)"
          >
            <component
              v-if="control.icon"
              :is="control.icon"
              class="w-5 h-5"
              aria-hidden="true"
            />
            <span>{{ control.label }}</span>
          </SecondaryButton>
          <PrimaryButton
            v-else
            @click="control.click ? $emit(control.click) : null"
            :size="control.size"
            class="flex flex-row space-x-1 whitespace-nowrap"
            :colour="control.colour"
            :disabled="isDisabled(control)"
          >
            <component
              v-if="control.icon"
              :is="control.icon"
              class="w-5 h-5"
              aria-hidden="true"
            />
            <span>{{ control.label }}</span>
          </PrimaryButton>
        </template>
      </span>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from "vue";
import { CheckIcon, PlusIcon } from "@heroicons/vue/solid";
import {
  TrashIcon,
  CalendarIcon,
  ExclamationCircleIcon,
  DownloadIcon,
} from "@heroicons/vue/outline";
import { PrimaryButton } from "@/components";
import SecondaryButton from "@/components/SecondaryButton.vue";
import ConfirmButton from "@/components/ConfirmButton.vue";
import * as R from "ramda";
import { Control } from "@/interfaces/ui";

export default defineComponent({
  name: "PageHeader",
  props: {
    title: {
      type: String,
    },
    currentStep: {
      type: Number,
      default: 0,
    },
    steps: {
      type: Array,
      default: () => [],
    },
    controls: {
      type: Array,
      default: () => [],
    },
    subheaders: {
      type: Array as PropType<Control[]>,
      default: () => [],
    },
  },
  components: {
    ConfirmButton,
    CheckIcon,
    PlusIcon,
    TrashIcon,
    CalendarIcon,
    SecondaryButton,
    PrimaryButton,
    ExclamationCircleIcon,
    DownloadIcon,
  },
  setup() {
    const isDisabled = (control: Control) => {
      if (R.has("disabled", control)) {
        if (R.is(Function, control.disabled)) return control.disabled(control);
        return control.disabled;
      }

      return false;
    };

    return { isDisabled };
  },
});
</script>
