<template>
  <div class="flex items-center justify-between bg-white">
    <div class="flex justify-between flex-1 sm:hidden">
      <button
        @click="prev"
        class="relative inline-flex items-center px-4 py-2 text-sm font-medium bg-white border rounded-md text-neutral-700 border-neutral-300 hover:text-neutral-500"
      >
        Previous
      </button>
      <button
        @click="next"
        class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium bg-white border rounded-md text-neutral-700 border-neutral-300 hover:text-neutral-500"
      >
        Next
      </button>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p
          v-html="$t('components.pagination.showing', { startResult, endResult, total })"
          class="text-sm text-neutral-700"
        ></p>
      </div>
      <div>
        <nav class="relative z-0 inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
          <button
            @click="prev"
            class="relative inline-flex items-center px-2 py-2 text-sm font-medium bg-white border focus:outline-none focus:bg-primary-400 focus:text-white text-neutral-500 border-neutral-300 disabled:cursor-not-allowed rounded-l-md hover:bg-neutral-100 hover:text-neutral-600"
            :disabled="currentPage === 1"
          >
            <span class="sr-only">{{ $t("components.pagination.previous") }}</span>
            <!-- Heroicon name: solid/chevron-left -->
            <svg
              class="w-5 h-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <button
            v-for="page in visiblePages"
            :key="page.value"
            @click="goTo(page.value)"
            class="relative inline-flex items-center px-4 py-2 text-sm font-medium border outline-none border-neutral-300 hover:bg-neutral-50 focus:outline-none focus:bg-primary-400 focus:text-white"
            :class="{
              'bg-primary-600 text-white': page.value === currentPage,
              'text-neutral-700 bg-white': page.value !== currentPage,
              ' cursor-default': page.value === null,
            }"
          >
            {{ page.label }}
          </button>
          <button
            @click="next"
            class="relative inline-flex items-center px-2 py-2 text-sm font-medium bg-white border focus:outline-none focus:bg-primary-400 focus:text-white hover:bg-neutral-100 hover:text-neutral-600 disabled:cursor-not-allowed text-neutral-500 border-neutral-300 rounded-r-md hover:bg-neutral-50"
            :disabled="currentPage === totalPages"
          >
            <span class="sr-only">{{ $t("components.pagination.next") }}</span>
            <!-- Heroicon name: solid/chevron-right -->
            <svg
              class="w-5 h-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent } from "vue";

  export default defineComponent({
    name: "Pagination",
    props: {
      currentPage: {
        number: Number,
        default: 0,
      },
      pageSize: {
        number: Number,
        default: 10,
      },
      total: {
        type: Number,
        default: 0,
      },
      startVisiblePages: {
        type: Number,
        default: 2,
      },
      endVisiblePages: {
        type: Number,
        default: 2,
      },
      totalPages: {
        type: Number,
        default: 0,
      },
    },
    setup(props, { emit }) {
      const startResult = computed(() => {
        if (props.currentPage === 1) {
          return 1;
        }

        return (props.currentPage - 1) * props.pageSize;
      });

      const endResult = computed(() =>
        startResult.value + props.pageSize > props.total ? props.total : startResult.value + props.pageSize - 1
      );

      const visiblePages = computed(() => {
        const pages = [];
        if (props.startVisiblePages + props.endVisiblePages >= props.totalPages) {
          for (let p = 1; p <= props.totalPages; p++) {
            pages.push({
              value: p,
              label: p,
            });
          }
          return pages;
        }

        for (let p = 1; p <= props.startVisiblePages; p++) {
          pages.push({
            value: p,
            label: p,
          });
        }

        if (props.currentPage - 1 > props.startVisiblePages) {
          pages.push({
            value: null,
            label: "...",
          });
        }

        if (
          props.currentPage > props.startVisiblePages &&
          props.currentPage < props.totalPages - props.endVisiblePages + 1
        ) {
          pages.push({
            value: props.currentPage,
            label: props.currentPage,
          });
        }

        if (props.currentPage + 1 < props.totalPages - props.endVisiblePages + 1) {
          pages.push({
            value: null,
            label: "...",
          });
        }

        for (let p = props.totalPages - props.endVisiblePages + 1; p <= props.totalPages; p++) {
          pages.push({
            value: p,
            label: p,
          });
        }

        return pages;
      });

      const goTo = (page: number) => {
        if (page !== null) {
          emit("goTo", page);
        }
      };

      const prev = () => {
        emit("previous");
      };

      const next = () => {
        emit("next");
      };

      return {
        next,
        prev,
        startResult,
        endResult,
        visiblePages,
        goTo,
      };
    },
  });
</script>
