<template>
  <div class="relative">
    <img
      v-if="profilePicture"
      :alt="fullName"
      class="rounded-full w-9 h-9"
      :src="`data:${profilePictureType};base64,${profilePicture}`"
      @change="`data:${profilePictureType};base64,${profilePicture}`"
    />
    <span class="inline-block overflow-hidden rounded-full bg-neutral-100 w-9 h-9" v-else>
      <svg class="w-full h-full text-neutral-300" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
        />
      </svg>
    </span>
    <div
      class="absolute flex items-center justify-center px-1 text-xs bg-red-500 rounded-full -top-1 -right-1 hover:bg-red-700"
      @click.stop="goToInbox()"
    >
      {{ unreadMessages.length }}
    </div>
  </div>
</template>
<script lang="ts">
  import { useMessages, useUtilities } from "@/composables";
  import store from "@/store";
  import * as R from "ramda";
  import { computed, defineComponent } from "vue";
  import { useRouter } from "vue-router";

  export default defineComponent({
    name: "ProfilePicture",
    setup() {
      const router = useRouter();
      const user = store.state.user;
      const { unreadMessages } = useMessages();
      const { imageToBase64 } = useUtilities();

      const fullName = computed(() => {
        if (
          user &&
          !R.isNil(user.firstName) &&
          !R.isEmpty(user.firstName) &&
          !R.isNil(user.lastName) &&
          !R.isEmpty(user.lastName)
        ) {
          return `${user.firstName} ${user.lastName}`;
        } else if (user && !R.isNil(user.firstName) && !R.isEmpty(user.firstName)) {
          return user.firstName;
        } else if (user && !R.isNil(user.lastName) && !R.isEmpty(user.lastName)) {
          return user.lastName;
        }

        return null;
      });

      const profilePicture = computed(() => {
        return store.state.user.profilePicture?.data ? imageToBase64(store.state.user.profilePicture.data) : null;
      });
      const profilePictureType = computed(() => store.state.user.profilePictureType || "image/png");

      const goToInbox = () => {
        router.push("/inbox");
      };

      return { profilePicture, fullName, unreadMessages, profilePictureType, goToInbox };
    },
  });
</script>
