<template>
  <div class="flex flex-col space-y-1">
    <label
      v-if="label"
      for="searchbox"
      class="block text-sm font-medium text-neutral-700"
    >{{ label }}</label>
    <div class="flex rounded-md shadow-sm">
      <div class="relative flex items-stretch flex-grow focus-within:z-10">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <SearchIcon
            class="w-5 h-5 text-neutral-400"
            aria-hidden="true"
          />
        </div>
        <input
          ref="input"
          type="text"
          name="searchbox"
          :value="searchTerms"
          @input="$emit('update:searchTerms', $event.target.value)"
          class="block w-full pl-10 focus:ring-primary-500 focus:border-primary-500 sm:text-sm border-neutral-300"
          :class="{
            'rounded-none rounded-l-md': sortOptions.length > 0,
            'rounded-md': sortOptions.length === 0,
          }"
          :placeholder="placeholder"
        />
      </div>
      <Menu
        as="div"
        class="relative inline-block text-left"
        v-if="sortOptions.length > 0"
      >
        <MenuButton
          class="relative flex flex-row items-center h-12 px-4 py-2 -ml-px space-x-2 text-sm font-medium border border-neutral-300 bg-neutral-50 hover:bg-neutral-100 focus:outline-none focus:ring-1 focus:ring-primary-500 focus:border-primary-500"
          :class="{
            'text-secondary-400': sortByOption,
            'text-neutral-400': !sortByOption,
          }"
        >
          <SortAscendingIcon
            v-if="sortDirection === ascendingKey"
            class="w-5 h-5"
            aria-hidden="true"
          />
          <SortDescendingIcon
            v-if="sortDirection === descendingKey"
            class="w-5 h-5"
            aria-hidden="true"
          />
          <span v-if="sortByOption">{{ sortByOption.label }}</span>
          <span v-else>{{ $t('components.searchSort.sort')  }}</span>
          <ChevronDownIcon
            class="w-5 h-5 ml-2 -mr-1 text-neutral-400"
            aria-hidden="true"
          />
        </MenuButton>

        <transition
          enter-active-class="transition duration-100 ease-out"
          enter-from-class="transform scale-95 opacity-0"
          enter-to-class="transform scale-100 opacity-100"
          leave-active-class="transition duration-75 ease-in"
          leave-from-class="transform scale-100 opacity-100"
          leave-to-class="transform scale-95 opacity-0"
        >
          <MenuItems class="absolute right-0 w-56 mt-2 origin-top-right bg-white divide-y rounded-md shadow-lg ring-1 ring-black ring-opacity-5 divide-neutral-100 focus:outline-none">
            <div class="py-1">
              <MenuItem
                v-for="sortOption in sortOptions"
                :key="JSON.stringify(sortOption)"
                class="cursor-pointer"
                @click="toggleSort(sortOption.key)"
              >
              <span :class="[
                    sortByOption && sortOption.key === sortByOption.key
                      ? 'bg-neutral-100 text-neutral-900'
                      : 'text-neutral-700',
                    'group flex items-center px-4 py-2 text-sm',
                  ]">
                <SortAscendingIcon
                  v-if="
                      sortByOption &&
                      sortOption.key === sortByOption.key &&
                      sortDirection === ascendingKey
                    "
                  class="w-5 h-5 mr-3 text-secondary-400 group-hover:text-secondary-500"
                  aria-hidden="true"
                />
                <SortDescendingIcon
                  v-else-if="
                      sortByOption &&
                      sortOption.key === sortByOption.key &&
                      sortDirection === descendingKey
                    "
                  class="w-5 h-5 mr-3 text-secondary-400 group-hover:text-secondary-500"
                  aria-hidden="true"
                />
                <SortAscendingIcon
                  v-else
                  class="w-5 h-5 mr-3 text-neutral-400 group-hover:text-neutral-500"
                  aria-hidden="true"
                />
                {{ sortOption.label }}
              </span>
              </MenuItem>
            </div>
          </MenuItems>
        </transition>
      </Menu>
      <Filter
        v-if="filterOptions.length > 0"
        @toggle="visible = !visible"
      />
    </div>
  </div>
  <div v-show="visible">
    <div
      v-for="filterOption in filterOptions"
      :key="JSON.stringify(filterOption)"
      @click="toggleFilter(filters)"
      class="flex cursor-pointer felx-row item-center"
    >
      <span class="flex flex-row items-center px-4 py-2 text-sm group text-neutral-700">
        <span>{{ filterOption.label }}</span>
      </span>
      <div
        v-if="filterOption.key === 'period'"
        class="flex flex-row space-x-4 pl-9"
      >
        <v-date-picker
          :popover="{ visibility: 'focus' }"
          :update-on-input="false"
          mode="date"
          :max-date="Date.now()"
          v-model="filters.fromDate"
          :masks="dateMasks"
        >
          <template v-slot="{ inputValue, inputEvents }">
            <input
              :placeholder="$t('components.searchSort.startingDate')"
              type="text"
              class="block w-full px-3 py-2 border rounded-md shadow-sm appearance-none border-neutral-300 placeholder-neutral-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
              readonly="readonly"
              :value="inputValue"
              v-on="inputEvents"
            />
          </template>
        </v-date-picker>
        <v-date-picker
          :popover="{ visibility: 'focus' }"
          :update-on-input="false"
          mode="date"
          :min-date="filters.fromDate"
          :max-date="Date.now()"
          v-model="filters.toDate"
          :masks="dateMasks"
        >
          <template v-slot="{ inputValue, inputEvents }">
            <input
              :placeholder="$t('components.searchSort.endDate')"
              type="text"
              class="block w-full px-3 py-2 border rounded-md shadow-sm appearance-none border-neutral-300 placeholder-neutral-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
              readonly="readonly"
              :value="inputValue"
              v-on="inputEvents"
            />
          </template>
        </v-date-picker>
      </div>
      <div
        v-else
        class="flex flex-row item-center"
      >
        <select-menu
          class="w-60 !important"
          :placeholder="$t('components.searchSort.dataSource')"
          name="dataSource"
          :options="dataSource"
          v-model="filters.dataSource"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from "vue";
import * as R from "ramda";
import dayjs from "dayjs";
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import {
  SortAscendingIcon,
  SortDescendingIcon,
  SearchIcon,
  ChevronDownIcon,
} from "@heroicons/vue/outline";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "SearchSort",
  props: {
    label: {
      type: String,
    },
    placeholder: {
      type: String,
      // default: "Type to search...",
      default: function () {
        const { t } = useI18n();
        return t("components.searchSort.placeholder");
      },
    },
    autofocus: {
      type: Boolean,
      default: false,
    },
    searchTerms: {
      type: String,
      default: "",
    },
    filters: {
      type: Object,
      default: [],
    },
    sortOptions: {
      type: Array,
      default: [],
    },
    sortBy: {
      type: String,
      default: null,
    },
    sortDirection: {
      type: String,
      default: null,
    },
    ascendingKey: {
      type: String,
      default: "asc",
    },
    descendingKey: {
      type: String,
      default: "desc",
    },
    filterOptions: {
      type: Array,
      default: [],
    },
    filterFields: {
      type: Array,
      default: [],
    },
  },
  components: {
    SortAscendingIcon,
    SortDescendingIcon,
    SearchIcon,
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    ChevronDownIcon,
  },
  setup(props, { emit }) {
    const dateMasks = { input: 'DD/MM/YYYY'};
    const { t } = useI18n();
    const input = ref<any>();
    let visible = ref<Boolean>(false);

    if (R.isNil(props.sortDirection)) {
      emit("update:sortDirection", props.ascendingKey);
    }

    const sortByOption = computed(() =>
      !R.isNil(props.sortBy)
        ? props.sortOptions.find((o: any) => o.key === (props.sortBy as string))
        : null
    );

    const focusInput = () => {
      input.value.focus();
    };
    onMounted(() => {
      if (props.autofocus) focusInput();
    });

    const toggleSort = (sortOptionKey: string) => {
      if (
        R.isNil(props.sortBy) ||
        props.sortBy !== sortOptionKey ||
        props.sortDirection === props.descendingKey
      ) {
        emit("update:sortBy", sortOptionKey);
        emit("update:sortDirection", props.ascendingKey);
      } else {
        emit("update:sortDirection", props.descendingKey);
      }
    };

    const dataSource = ["MIWEnergia", "Andaman7", "Twitter", "Mobile App", "Upload"];
    const toggleFilter = (filters: any) => {
      emit("update:filters", filters);
    };

    const formatDate = (inputValue: any) => {
      return inputValue ? dayjs(inputValue).format("DD/MM/YYYY") : null;
    };

    return {
      sortByOption,
      toggleSort,
      input,
      visible,
      dataSource,
      toggleFilter,
      formatDate,
      t,
      dateMasks
    };
  },
});
</script>
