<template>
  <button
    type="button"
    class="items-center text-xs font-medium border border-transparent rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
    :class="{
      'px-1.5 py-1 text-xs': size==='xxs',
      'px-2.5 py-1.5 text-sm': size==='xs',
      'px-3 py-2 text-sm': size==='sm',
      'px-4 py-2 text-sm': size==='base',
      'px-4 py-2 text-base': size==='lg',
      'px-6 py-3 text-base': size==='xl',
      'text-primary-700 bg-primary-100 hover:bg-primary-200 focus:ring-primary-500': colour === 'primary',
      'text-secondary-700 bg-secondary-100 hover:bg-secondary-200 focus:ring-secondary-500': colour === 'secondary',
      'text-red-700 bg-red-100 hover:bg-red-200 focus:ring-red-500': colour === 'red',
      'text-neutral-700 bg-neutral-100 hover:bg-neutral-200 focus:ring-neutral-500': colour === 'neutral',
      'text-yellow-700 bg-yellow-100 hover:bg-yellow-200 focus:ring-yellow-500': colour === 'yellow'
    }"
  >
    <slot />
  </button>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "SecondaryButton",
  props: {
    size: { type: String, default: "base" },
    colour: { type: String, default: "secondary" }
  }
});
</script>
