<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden border-b shadow  border-neutral-200 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-neutral-200">
            <thead class="bg-neutral-50">
              <tr>
                <th
                  v-for="field in fields"
                  :key="field"
                  scope="col"
                  class="px-6 py-3 text-xs font-medium tracking-wider text-left uppercase  text-neutral-500"
                >
                  {{ field }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, itemIdx) in data"
                :key="item['itemId']"
                :class="itemIdx % 2 === 0 ? 'bg-white' : 'bg-neutral-50'"
              >
                <td
                  v-for="field in fields"
                  :key="field"
                  class="px-6 py-4 text-sm font-medium  whitespace-nowrap text-neutral-900 truncate max-w-sm"
                >
                  {{ item[field] ?? "-" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";

export default defineComponent({
  name: "SimpleTable",
  props: {
    data: Array,
    itemId: { type: String, default: "id" },
  },
  setup(props) {
    const fields = computed(() =>
      props.data && props.data.length > 0
        ? Object.keys(props.data[0] as any)
        : []
    );

    return { fields };
  },
});
</script>
