<template>
  <div class="flex items-center"
       :class="{'flex-row space-x-4': horizontal,
       'flex-col space-y-4': !horizontal,
       'text-xs': size === 'xs',
       'text-sm': size === 'sm',
       'text-base': size === 'base',
       'text-lg': size === 'lg',
       'text-xl': size === 'xl'
  }">
    <hollow-dots-spinner
      :animation-duration="animationDuration"
      :dotSize="dotSize"
      :color="colour"
    />
    <div :class="textClasses">
      <slot></slot>
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";
import { HollowDotsSpinner } from "epic-spinners";

export default defineComponent({
  name: "Spinner",
  props: {
    colour: { type: String, default: "#ab5bab" },
    animationDuration: { type: Number, default: 1000 },
    size: { type: String, default: "base" },
    horizontal: { type: Boolean, default: false },
    textClasses: { type: String, default: "text-neutral-400" }
  },
  components: { HollowDotsSpinner },
  setup(props) {
    const dotSizeMap:any = {
      "xs": 10,
      "sm": 12,
      "base": 15,
      "lg": 18,
      "xl": 20
    };
    const dotSize = computed(() => dotSizeMap[props.size]);


    return { dotSize };
  }
});
</script>