<template>
  <div
    class="relative px-4 py-5 overflow-hidden bg-white border rounded-lg shadow-md sm:py-6 sm:px-6 border-neutral-100"
  >
    <dt>
      <slot></slot>
      <p class="ml-16 text-sm font-medium uppercase truncate text-neutral-500">
        {{ title }}
      </p>
    </dt>
    <dd class="flex flex-wrap items-baseline justify-between ml-16">
      <p class="text-2xl font-semibold text-neutral-900">
        {{ displayValue }}
      </p>
      <slot :name="name"> </slot>
    </dd>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import * as R from "ramda";

export default defineComponent({
  name: "StatCard",
  props: {
    name: {
      type: String,
    },
    title: {
      type: String,
      required: true,
    },
    stat: {
      type: [String, Number],
      required: false,
    },
  },
  setup(props) {
    const displayValue = computed(() => {
      if (R.isNil(props.stat)) return "-";
      return props.stat;
    });

    return { displayValue };
  },
});
</script>
