<template>
  <div class="fixed inset-x-0 bottom-0 z-20">
    <div :class="colours.footerBackgroundColor">
      <div class="px-3 py-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-wrap items-center justify-between">
          <div class="flex items-center flex-1 w-0">
            <span class="flex p-2 rounded-lg" :class="colours.iconBackgroundColor">
              <SpeakerphoneIcon class="w-6 h-6 text-white" aria-hidden="true" />
            </span>
            <p class="ml-3 font-medium text-white truncate">
              <span>
                <slot />
              </span>
            </p>
          </div>
          <div v-if="$slots.goToAction" class="flex-shrink-0 order-3 w-full mt-2 sm:order-2 sm:mt-0 sm:w-auto">
            <button
              type="button"
              class="flex items-center justify-center px-4 py-2 text-sm font-medium bg-white border border-transparent rounded-md shadow-sm"
              :class="[colours.buttonTextColor, colours.hoverButtonBackgroundColor]"
              @click.stop="$emit('go')"
            >
              <slot name="goToAction">{{ $t("components.stickyFooter.learnMore") }}</slot>
            </button>
          </div>
          <div class="flex-shrink-0 order-2 sm:order-3 sm:ml-3">
            <Tooltip :message="$t('components.stickyFooter.dismiss')">
              <button
                type="button"
                class="flex p-2 -mr-1 rounded-md focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2"
                :class="colours.hoverCloseBackgroundColor"
                @click.stop="$emit('close')"
              >
                <span class="sr-only">{{ $t("components.stickyFooter.dismiss") }}</span>
                <XIcon class="w-6 h-6 text-white" aria-hidden="true" />
              </button>
            </Tooltip>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent } from "vue";
  import { SpeakerphoneIcon, XIcon } from "@heroicons/vue/outline";
  export default defineComponent({
    name: "StickyFooter",
    props: {
      to: {
        type: Object,
      },
      color: {
        type: String,
        default: "secondary",
      },
    },
    components: { SpeakerphoneIcon, XIcon },
    setup(props) {
      const colorMap: Record<
        string,
        {
          footerBackgroundColor: string;
          iconBackgroundColor: string;
          buttonTextColor: string;
          hoverButtonBackgroundColor: string;
          hoverCloseBackgroundColor: string;
        }
      > = {
        primary: {
          footerBackgroundColor: "bg-primary-600",
          iconBackgroundColor: "bg-primary-800",
          buttonTextColor: "text-primary-600",
          hoverButtonBackgroundColor: "hover:bg-primary-50",
          hoverCloseBackgroundColor: "hover:bg-primary-500",
        },
        secondary: {
          footerBackgroundColor: "bg-secondary-600",
          iconBackgroundColor: "bg-secondary-800",
          buttonTextColor: "text-secondary-600",
          hoverButtonBackgroundColor: "hover:bg-secondary-50",
          hoverCloseBackgroundColor: "hover:bg-secondary-500",
        },
        info: {
          footerBackgroundColor: "bg-info-600",
          iconBackgroundColor: "bg-info-800",
          buttonTextColor: "text-info-600",
          hoverButtonBackgroundColor: "hover:bg-info-50",
          hoverCloseBackgroundColor: "hover:bg-info-500",
        },
        warn: {
          footerBackgroundColor: "bg-warn-600",
          iconBackgroundColor: "bg-warn-800",
          buttonTextColor: "text-warn-600",
          hoverButtonBackgroundColor: "hover:bg-warn-50",
          hoverCloseBackgroundColor: "hover:bg-warn-500",
        },
      };
      const colours = computed(() => colorMap[props.color]);

      return { colours };
    },
  });
</script>
