<template>
  <SwitchGroup as="div" class="flex items-center justify-between space-x-4">
    <SwitchLabel as="span" passive>
      <slot :label="label">
        <span class="text-neutral-700">{{ label }}</span>
      </slot>
      <span class="text-sm text-neutral-500">{{ description }}</span>
    </SwitchLabel>
    <Field name="toggle" v-slot="{ field, handleChange }" :value="modelValue">
      <Switch
        :value="field.value"
        class="relative inline-flex flex-shrink-0 h-6 transition-colors duration-200 ease-in-out border-2 border-transparent rounded-full w-11 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
        :class="{
          'bg-primary-600': modelValue,
          'bg-neutral-200': !modelValue,
          'opacity-50 cursor-not-allowed': disabled,
          'cursor-pointer': !disabled,
        }"
        @input="
          !disabled ? $emit('update:modelValue', $event.target.value) : null
        "
        @change="!disabled ? handleChange : null"
        @mousedown="!disabled ? $emit('update:modelValue', !modelValue) : null"
      >
        <span
          aria-hidden="true"
          :class="[
            modelValue ? 'translate-x-5' : 'translate-x-0',
            'pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200',
          ]"
        />
      </Switch>
    </Field>
  </SwitchGroup>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { Switch, SwitchGroup, SwitchLabel } from "@headlessui/vue";
import { Field } from "vee-validate";

export default defineComponent({
  name: "SwitchToggle",
  props: {
    label: { type: String },
    description: { type: String },
    modelValue: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
  },
  components: {
    Field,
    Switch,
    SwitchGroup,
    SwitchLabel,
  },
});
</script>
