<template>
  <div class="flex justify-center">
    <div class="sm:hidden w-full">
      <select
        id="tabs"
        name="tabs"
        class="block w-full rounded-md  border-neutral-300 focus:ring-primary-500 focus:border-primary-500"
      >
        <option v-for="tab in options" :key="tab.name" :selected="selected">
          {{ tab.label }}
        </option>
      </select>
    </div>
    <div class="hidden sm:block">
      <nav class="flex space-x-4" aria-label="Tabs">
        <a
          v-for="tab in options"
          :key="tab.name"
          @click="selectTab(tab.value)"
          href="#"
          :class="[
            selected === tab.value
              ? 'text-primary-500 border-b-2 border-primary-500'
              : 'text-neutral-500 hover:text-primary-500',
            'px-3 py-2 font-medium text-sm',
          ]"
          :aria-current="tab.current ? 'page' : undefined"
        >
          {{ tab.label }}
        </a>
      </nav>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "Tabs",
  props: {
    options: {
      type: Array,
      default: [],
    },
    selected: {
      type: String,
    },
  },
  setup(props, { emit }) {

    const selectTab = (value: any) => {
      if (value !== props.selected) {
        emit("changed", value);
      }
    };

    return { selectTab };
  },
});
</script>
