<template>
  <div class="flex flex-row space-x-1 flex-wrap space gap-1">
    <div v-for="tag in tags" class="bg-secondary-400 px-2 whitespace-nowrap rounded-md text-white">{{tag}}</div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "TagCloud",
  props: {
    tags: {
      type: Array,
      default: () => []
    }
  }
});
</script>