<template>
  <div class="flex flex-col space-y-1">
    <div class="flex justify-between">
      <label
        v-if="label"
        :for="name"
        class="flex items-center text-sm font-medium tracking-wide  text-neutral-600"
      >
        <slot></slot>
        {{ label }}
      </label>
      <div class="text-sm text-neutral-500" v-if="description">
        {{ description }}
      </div>
    </div>
    <div>
      <Field :name="name" v-slot="{ errors, handleChange }" :value="modelValue">
        <textarea
          v-model="textareaValue"
          :placeholder="placeholder"
          @input="
            $emit('update:modelValue', $event.target.value);
            handleChange($event);
          "
          @change="handleChange"
          @blur="handleChange"
          class="block w-full px-3 py-2 border rounded-md shadow-sm appearance-none  placeholder-neutral-400 border-neutral-300 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm"
          :class="{
            'border-red-500': errors.length > 0,
            'bg-neutral-200': disabled,
          }"
          :disabled="disabled"
          :rows="rows"
        />
      </Field>
    </div>
    <ErrorMessage class="text-sm text-red-600" :name="name" />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import { Field, ErrorMessage } from "vee-validate";

export default defineComponent({
  name: "TextareaField",
  components: {
    Field,
    ErrorMessage,
  },
  model: {
    prop: "modelValue",
  },
  emits: ["update:modelValue"],
  props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: null,
    },
    modelValue: {
      type: String,
    },
    placeholder: {
      type: String,
      default: "",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    rows: {
      type: String,
      default: null,
    },
    description: {
      type: String,
      default: null,
    },
  },
  setup(props, { emit }) {
    const textareaValue = computed({
      set: (newValue: any) => {
        emit("update:modelValue", newValue);
      },
      get: () => props.modelValue,
    });

    return { textareaValue };
  },
});
</script>
