<template>
  <VTooltip :triggers="triggers">
    <span class="border-b border-dotted border-neutral-400 cursor-help">
      <slot />
    </span>
    <template #popper>
      <slot name="message" :message="message">
        <div class="max-w-lg">{{ message }}</div>
      </slot>
    </template>
  </VTooltip>
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";

export default defineComponent({
  name: "Tooltip",
  props: {
    message: {
      type: String,
    },
    notOnClick: { type: Boolean, default: false },
    notOnHover: { type: Boolean, default: false },
    notOnFocus: { type: Boolean, default: false },
  },
  setup(props) {
    const triggers = computed(() => {
      const t: string[] = [];
      if (!props.notOnClick) t.push("click");
      if (!props.notOnHover) t.push("hover");
      if (!props.notOnFocus) t.push("focus");
      return t;
    });
    return { triggers };
  },
});
</script>
