<template>
  <div class="flex flex-col space-y-1">
    <label class="block text-sm font-medium text-neutral-700">
      {{ label }}
    </label>
     <div
                class="flex flex-row items-center p-2 space-x-2 text-xs italic rounded text-info-800 bg-info-100"
              >
                <div class="w-6 h-6">
                  <InformationCircleIcon class="w-6 h-6" />
                </div>
                <span>
                    {{ $t('components.uploadFile.onlyCSV') }}<br/>
                    <strong>{{ $t('components.uploadFile.csvDetails') }}</strong>
                </span>
              </div>
    <div
      class="flex justify-center px-6 py-4 border-2 border-dashed rounded-md border-neutral-300"
    >
   
      <div class="space-y-2">
        
        <div class="flex justify-center">
          <label
            :for="name"
            class="inline-flex px-4 py-1 text-xs font-medium leading-5 tracking-wide text-white uppercase transition duration-150 ease-in-out border rounded cursor-pointer border-primary-600 hover:border-primary-500 bg-primary-600 hover:bg-primary-500 focus:outline-none focus:ring-primary focus:border-primary-700 active:bg-primary-700 disabled:bg-neutral-400"
          >
            {{ $t('components.uploadFile.browse') }}
          </label>
          <Field
            :name="name"
            v-slot="{ errors, handleChange }"
            :value="inputValue"
          >
            <input
              :id="name"
              :name="name"
              type="file"
              class="sr-only"
              :class="{ 'border-red-500': errors.length > 0 }"
              @input="$emit('update:modelValue', $event.target.files[0])"
              @change="handleChange"
              @blur="handleChange"
            />
          </Field>
        </div>
        <div>
          <label class="text-sm font-medium text-neutral-600">
            <span v-if="!inputValue">{{ $t('components.uploadFile.noFileUploaded') }}</span>
            <span class="break-all" v-else>
              {{ inputValue.name }}
              <span class="font-bold">{{ formatBytes(inputValue.size) }} </span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <ErrorMessage class="text-sm text-red-600" :name="name" />
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import { Field, ErrorMessage } from "vee-validate";
import numeral from "numeral";
import { useI18n } from "vue-i18n";
import { InformationCircleIcon } from "@heroicons/vue/solid";

export default defineComponent({
  name: "UploadFile",
  components: {
    Field,
    ErrorMessage,
    InformationCircleIcon
  },
  model: {
    prop: "modelValue",
  },
  emits: ["update:modelValue", "changed"],
  props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: "",
    },
    modelValue: {
      type: File,
      default: null,
    },
  },
  setup(props, { emit }) {
    const formatBytes = (value: number) => numeral(value).format("0.0 b");
    const { t } = useI18n();

    const inputValue = computed({
      set: (newValue: any) => {
        emit("update:modelValue", newValue);
        emit("changed", newValue);
      },
      get: () => props.modelValue,
    });

    return { inputValue, formatBytes };
  },
});
</script>
