<template>
  <div>
    <label class="block text-sm font-medium text-neutral-700">
      {{ label }}
    </label>
    <div class="flex justify-center">
      <div class="relative block">
        <div class="relative mb-1" v-if="image || imageUrl">
          <img class="rounded-md h-28" :src="imageUrl ? imageUrl : `data:${type};base64,${image}`" alt="" />
          <div
            class="absolute z-10 flex items-center justify-center text-xs text-white bg-red-500 rounded-full cursor-pointer w-7 h-7 -top-2 -right-2 hover:bg-red-700"
          >
            <trash-icon
              class="w-5 h-5"
              @click="
                imageUrl = null;
                $emit('remove');
              "
            />
          </div>
        </div>
        <span class="inline-block overflow-hidden rounded-md bg-neutral-100 w-28 h-28" v-else>
          <svg class="w-full h-full text-neutral-300" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
            />
          </svg>
        </span>
        <label
          for="user-photo"
          class="absolute inset-0 flex items-center justify-center text-sm font-medium text-white bg-black bg-opacity-75 rounded-md opacity-0 h-28 hover:opacity-100 focus-within:opacity-100"
        >
          <span v-if="imageUrl || image != ''">{{ $t("components.uploadImage.change") }}</span
          ><span v-else>{{ $t("components.uploadImage.upload") }}</span>
          <span class="sr-only">{{ $t("components.uploadImage.userPhoto") }}</span>
          <input
            type="file"
            id="user-photo"
            name="user-photo"
            accept="image/jpeg, image/png"
            class="absolute inset-0 rounded-md opacity-0 cursor-pointer border-neutral-300"
            @input="setImage"
            :key="JSON.stringify(imageUrl)"
          />
        </label>
      </div>
    </div>
    <div class="text-xs font-normal text-center text-neutral-500" v-if="info">
      {{ info }}
    </div>
  </div>
</template>

<script lang="ts">
  import { TrashIcon } from "@heroicons/vue/outline";
  import { defineComponent, ref } from "vue";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "UploadImage",
    components: { TrashIcon },
    props: {
      label: { type: String, default: "" },
      image: { type: String, default: null },
      type: { type: String, default: "image/png" },
      types: { type: Array, default: null },
      size: { type: Number, default: null },
      dimensions: { type: Object, default: null },
      info: { type: String, default: null },
    },
    setup(props, { emit }) {
      const { t } = useI18n();
      const imageUrl = ref<any>(null);
      const addImageOrShowError = (validImage: boolean, image: any, error: string) => {
        if (validImage) {
          imageUrl.value = URL.createObjectURL(image);
          emit("addImage", image);
        } else {
          emit("errorImage", error);
        }
      };
      const setImage = (value: any) => {
        if (value.target.files.length > 0) {
          let validImage = true;
          let error = "";
          if (props.types && !props.types.includes(value.target.files[0].type)) {
            validImage = false;
            error = t("components.uploadImage.imageType");
          }
          if (props.size !== null && value.target.files[0].size > props.size) {
            validImage = false;
            error = t("components.uploadImage.imageSize");
          }
          if (props.dimensions) {
            const img = new Image();
            img.src = URL.createObjectURL(value.target.files[0]);

            img.onload = function () {
              if (
                (props.dimensions.width && img.width > props.dimensions.width) ||
                (props.dimensions.height && img.height > props.dimensions.height)
              ) {
                validImage = false;
                error = t("components.uploadImage.imageDimensions");
              }
              addImageOrShowError(validImage, value.target.files[0], error);
            };
          } else {
            addImageOrShowError(validImage, value.target.files[0], error);
          }
        }
      };

      return { setImage, imageUrl, t };
    },
  });
</script>
