<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="flex flex-col space-y-2">
    <search-sort
      v-if="searchable"
      v-model:searchTerms="searchTerms"
      v-model:sortBy="sortBy"
      v-model:sortDirection="sortDirection"
      :sortOptions="sortFields"
      :autofocus="autofocusSearch"
    />
    <Tabs v-if="tabs.length > 0" :options="tabs" :selected="selectedTab" @changed="changeTab" />
    <div class="-my-2 overflow-x-auto">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <div v-if="noResults" class="p-4 text-lg italic text-center text-neutral-600">
            {{ noResultsMessage }}
          </div>
          <table v-else class="divide-y table-fixed divide-neutral-200" :class="{ rounded: roundedDisplay }">
            <tbody class="bg-white divide-y divide-neutral-200">
              <tr
                v-for="(field, index) in tableFields"
                :key="field.key"
                class="h-10 divide-x divide-neutral-200"
                :class="[{ 'rounded-tl': index === 0 && roundedDisplay }, rowColourClasses]"
                @click="toggleExpand(field)"
              >
                <th
                  scope="col"
                  class="p-1 text-xs font-medium text-left lg:uppercase lg:tracking-wide md:align-top md:px-4 md:py-3"
                  :class="[
                    {
                      'rounded-tl': index === 0 && roundedDisplay,
                      'rounded-bl': index === tableFields.length - 1 && roundedDisplay,
                    },
                    headerColourClasses,
                  ]"
                >
                  {{ field.label }}
                </th>
                <td
                  class="grid"
                  :class="{
                    'grid-cols-1': visibleData.length === 1,
                    'grid-cols-1 md:grid-cols-2': visibleData.length === 2,
                    'grid-cols-1 md:grid-cols-2 lg:grid-cols-3': visibleData.length === 3,
                    'grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4': visibleData.length === 4,
                    'grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5': visibleData.length === 5,
                  }"
                >
                  <div
                    v-for="(item, itemIndex) in visibleData"
                    :key="item[itemId]"
                    class="p-2 overflow-hidden text-xs break-words cursor-pointer lg:max-h-full lg:cursor-default"
                    :class="{
                      'max-h-40': expandedField !== field.key,
                      'max-h-full': expandedField === field.key,
                      'hidden md:block': itemIndex === 1,
                      'hidden lg:block': itemIndex === 2,
                      'hidden xl:block': itemIndex >= 3,
                    }"
                  >
                    <slot
                      :name="field.key"
                      :data="item[field.key]"
                      :processedData="field.preprocess ? field.preprocess(item[field.key], item) : item[field.key]"
                      :field="field"
                      :item="item"
                    >
                      <div v-if="item[field.key]">
                        {{ field.preprocess ? field.preprocess(item[field.key], item) : item[field.key] }}
                      </div>
                      <div v-else>-</div>
                    </slot>
                  </div>
                </td>
                <td v-if="visibleData.length > 0 && $slots.footer" :class="footerClasses">
                  <slot name="footer" :field="field" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination
          v-show="filteredData.length > pageSize"
          :currentPage="currentPage"
          :pageSize="pageSize"
          :total="filteredData.length"
          :totalPages="totalPages"
          class="flex flex-row flex-initial mt-4"
          @previous="previous"
          @next="next"
          @goTo="goTo"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent, ref } from "vue";
  import { useFilter } from "@/composables";
  import Pagination from "@/components/Pagination.vue";
  import * as R from "ramda";

  export default defineComponent({
    name: "VerticalTable",
    components: { Pagination },
    props: {
      data: { type: Array, default: () => [] },
      fields: Array,
      itemId: { type: String, default: "id" },
      tabs: { type: Array, default: () => [] },
      selectedTab: { type: String, default: null },
      autofocusSearch: { type: Boolean, default: false },
      sortBy: { type: String, default: null },
      sortDirection: { type: String, default: null },
      noResultsMessage: { type: String, default: "No results found" },
      searchable: { type: Boolean, default: true },
      footerClasses: { type: String },
      rowColourClasses: { type: String, default: "text-neutral-600 bg-primary-100  hover:bg-primary-300" },
      headerColourClasses: { type: String, default: "text-neutral-50 bg-primary-700 " },
      roundedDisplay: { type: Boolean, default: true },
    },
    setup(props, { emit }) {
      const expandedField = ref<string | null>(null);
      const tableData = computed(() => props.data.filter((elem: any) => !R.isEmpty(elem) && !R.isNil(elem)));
      const searchFields = props.fields
        ? props.fields.reduce((acc: string[], field: any) => {
            if (field.searchable) {
              acc.push(field.key);
            }
            return acc;
          }, [])
        : [];
      const sortFields = props.fields
        ? props.fields.reduce((acc: any[], field: any) => {
            if (field.sortable) {
              acc.push({ key: field.key, label: field.label, type: field.type ? field.type : "string" });
            }
            return acc;
          }, [])
        : [];
      const {
        filteredData,
        visibleData,
        searchTerms,
        sortBy,
        sortDirection,
        currentPage,
        pageSize,
        totalPages,
        next,
        previous,
        goTo,
      } = useFilter(tableData, {
        searchFields,
        sortFields,
        sortBy: props.sortBy,
        sortDirection: props.sortDirection,
        pageSize: 5,
      });

      const noResults = computed(() => filteredData.value.length === 0);

      const tableFields: any = computed(() => {
        if (props.fields && props.fields.length > 0) {
          return props.fields;
        }
        return (props.data as any[]).length > 0
          ? Object.keys(props.data as any[]).map((field: string) => {
              return { key: field, label: field };
            })
          : [];
      });

      const toggleExpand = (field: { key: string }) => {
        if (expandedField.value && expandedField.value === field.key) {
          expandedField.value = null;
        } else {
          expandedField.value = field.key;
        }
      };

      const changeTab = (value: any) => {
        emit("tab-changed", value);
      };

      return {
        visibleData,
        filteredData,
        tableFields,
        searchTerms,
        sortFields,
        sortBy,
        sortDirection,
        currentPage,
        pageSize,
        totalPages,
        noResults,
        expandedField,
        next,
        previous,
        goTo,
        changeTab,
        toggleExpand,
      };
    },
  });
</script>
