<template>
  <div v-if="config" class="flex flex-col h-full space-y-4 lg:space-y-6">
    <PageHeader :title="`${config.name} ${t('pages.sharedConfiguration.details')}`" />
    <div class="flex flex-col space-y-10">
      <div class="w-full overflow-hidden shadow sm:rounded-lg">
        <div class="px-4 py-5 bg-primary-800 sm:px-6">
          <h3 class="text-lg font-medium leading-6 text-white">
            {{ t("pages.sharedConfiguration.details") }}
          </h3>
        </div>
        <div class="px-4 py-5 border-t border-neutral-200 sm:p-0 bg-primary-100">
          <dl class="sm:divide-y sm:divide-neutral-200">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.created") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ formatDate(config.createdAt) ?? "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.updated") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ formatDate(config.updatedAt) ?? "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.level") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ config.configuration.level ?? "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.licenseType") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ config.configuration.licenseType ?? "-" }}
              </dd>
            </div>
            <div
              class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
              v-if="!config.configuration.standardLicense"
            >
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.ownLicnse") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ config.configuration.ownLicense ?? "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.persona") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ config.configuration.persona ?? "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" v-if="config.configuration.specificPrice">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.price") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ config.configuration.price ?? "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.standardLicense") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ config.configuration.standardLicense ?? "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" v-if="config.configuration.useTPM">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.tpmPseudonym") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                {{ config.configuration.tpmPseudonym ?? "-" }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.accessPolicies") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                <div>
                  <expander
                    backgroundColour="bg-primary-50"
                    textColour="text-neutral-500"
                    hoverTextColour="text-neutral-300"
                    :expanded="expandedAccessPolicies"
                    @expand="expandedAccessPolicies = true"
                    @collapse="expandedAccessPolicies = false"
                  >
                    <template #collapsed>{{ $t("pages.sharedConfiguration.expandPreview") }}</template>
                    <template #expanded>{{ $t("pages.sharedConfiguration.collapsePreview") }}</template>
                  </expander>
                </div>
                <div v-if="expandedAccessPolicies" class="border-t border-neutral-200 bg-primary-100">
                  <div v-if="config.configuration.accessPolicies.continent.length > 0">
                    <dt class="text-sm font-medium text-neutral-500">
                      {{ $t("pages.sharedConfiguration.accessPolicy.continent") }}
                    </dt>
                    <dd
                      class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2"
                      v-for="continent in config.configuration.accessPolicies.continent"
                      :key="continent"
                    >
                      {{ continent ?? "-" }}
                    </dd>
                  </div>
                  <div v-if="config.configuration.accessPolicies.country.length > 0">
                    <dt class="text-sm font-medium text-neutral-500">
                      {{ $t("pages.sharedConfiguration.accessPolicy.country") }}
                    </dt>
                    <dd
                      class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2"
                      v-for="country in config.configuration.accessPolicies.country"
                      :key="country"
                    >
                      {{ country ?? "-" }}
                    </dd>
                  </div>
                  <div v-if="config.configuration.accessPolicies.sector.length > 0">
                    <dt class="text-sm font-medium text-neutral-500">
                      {{ $t("pages.sharedConfiguration.accessPolicy.sector") }}
                    </dt>
                    <dd
                      class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2"
                      v-for="sector in config.configuration.accessPolicies.sector"
                      :key="sector"
                    >
                      {{ sector ?? "-" }}
                    </dd>
                  </div>
                </div>
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-neutral-500">
                {{ $t("pages.sharedConfiguration.anonymasation") }}
              </dt>
              <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                <div>
                  <expander
                    backgroundColour="bg-primary-50"
                    textColour="text-neutral-500"
                    hoverTextColour="text-neutral-300"
                    :expanded="expandedAnonymisation"
                    @expand="expandedAnonymisation = true"
                    @collapse="expandedAnonymisation = false"
                  >
                    <template #collapsed>{{ $t("pages.sharedConfiguration.expandPreview") }}</template>
                    <template #expanded>{{ $t("pages.sharedConfiguration.collapsePreview") }}</template>
                  </expander>
                </div>
                <div
                  v-if="expandedAnonymisation && config.configuration.anonymisation.anonymise"
                  class="border-t border-neutral-200 bg-primary-100"
                >
                  <dt class="text-sm font-medium text-neutral-500">
                    {{ $t("pages.sharedConfiguration.anonymasationLevel.pseudoId") }}
                  </dt>
                  <dd class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2">
                    {{ config.configuration.anonymisation.pseudoId ?? "-" }}
                  </dd>
                  <div v-if="config.configuration.anonymisation.rules.anonLevels.length > 0">
                    <dt class="text-sm font-medium text-neutral-500">
                      {{ $t("pages.sharedConfiguration.anonymasationLevel.anonLevel") }}
                    </dt>
                    <dd
                      class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2"
                      v-for="anonLevels in config.configuration.anonymisation.rules.anonLevels"
                      :key="anonLevels"
                    >
                      {{ anonLevels ?? "-" }}
                    </dd>
                  </div>
                  <div v-if="config.configuration.anonymisation.rules.colNames.length > 0">
                    <dt class="text-sm font-medium text-neutral-500">
                      {{ $t("pages.sharedConfiguration.anonymasationLevel.colNames") }}
                    </dt>
                    <dd
                      class="mt-1 text-sm text-neutral-900 sm:mt-0 sm:col-span-2"
                      v-for="colNames in config.configuration.anonymisation.rules.colNames"
                      :key="colNames"
                    >
                      {{ colNames ?? "-" }}
                    </dd>
                  </div>
                </div>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import * as R from "ramda";
  import { defineComponent, ref, watch } from "vue";
  import { useRouter } from "vue-router";
  import { CalendarIcon, RefreshIcon, InformationCircleIcon } from "@heroicons/vue/outline";
  import { useSharedConfigurations } from "@/composables";
  import JsonViewer from "@/components/JsonViewer.vue";
  import { useI18n } from "vue-i18n";
  import dayjs from "dayjs";

  export default defineComponent({
    name: "Configuration",
    props: {
      id: {
        type: [Number, String],
        required: true,
      },
    },
    components: { JsonViewer, CalendarIcon, RefreshIcon, InformationCircleIcon },
    setup(props) {
      const { t } = useI18n();
      const router = useRouter();
      const expandedAnonymisation = ref<boolean>(false);
      const expandedAccessPolicies = ref<boolean>(false);

      const { getConfiguration, configuration } = useSharedConfigurations();
      getConfiguration(props.id);
      const config = configuration;

      const formatDate = (inputValue: any) => {
        return inputValue ? dayjs(inputValue).fromNow() : null;
      };

      watch(
        () => props.id,
        (id: string | number) => {
          if (R.isNil(id)) {
            router.push("/sharing-condiguration");
          }
        }
      );

      return {
        config,
        t,
        expandedAnonymisation,
        expandedAccessPolicies,
        formatDate
      };
    },
  });
</script>
