<template>
  <div>
    <label class="block mb-4 text-sm font-medium text-neutral-700" v-if="label">
      {{ label }}
    </label>
    <div class="flex flex-col" v-if="visibleData.length > 0">
      <div class="overflow-x-auto">
        <div class="inline-block w-full py-2 align-middle">
          <div
            class="overflow-x-auto border-b shadow border-neutral-200 sm:rounded-lg"
          >
            <table class="w-full divide-y divide-neutral-200">
              <thead class="bg-neutral-50">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left uppercase text-neutral-500"
                  >
                    {{ $t('components.blacklistTable.dataSeeker') }}
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left uppercase text-neutral-500"
                  >
                    {{ $t('components.blacklistTable.action') }}
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-neutral-200">
                <tr v-for="(item, idx) in visibleData" :key="idx">
                  <td
                    class="px-6 py-4 text-sm font-medium text-neutral-900 whitespace-nowrap"
                  >
                    <a
                      :href="item.dataSeekerPublicURL"
                      target="_blank"
                      class="underline cursor-pointer"
                      >{{ item.dataSeekerName }}
                    </a>
                  </td>
                  <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
                    <confirm-button
                      @confirmed="$emit('remove', item.dataSeekerUUID)"
                    >
                      <template v-slot:default>
                        <div
                          class="cursor-pointer text-primary-600 hover:text-primary-700 hover:underline"
                        >
                          {{ $t('components.blacklistTable.removeFromBlacklist') }}
                        </div>
                      </template>
                      <template v-slot:confirm>
                        <div
                          class="flex items-center cursor-pointer text-secondary-600 hover:text-secondary-700 hover:underline"
                        >
                          <exclamation-circle-icon class="w-4 h-4 mr-1" />
                          {{ $t('components.blacklistTable.clickConfirm') }}
                        </div>
                      </template>
                    </confirm-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="text-sm text-neutral-500">
      {{ $t('components.blacklistTable.noBlacklistedDS') }}
    </div>
    <pagination
      class="flex flex-row flex-initial"
      :currentPage="currentPage"
      :pageSize="pageSize"
      :total="filteredData.length"
      :totalPages="totalPages"
      @goTo="goTo"
      @previous="previous"
      @next="next"
      v-show="filteredData.length > pageSize"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useFilter } from "@/composables";
import { ExclamationCircleIcon } from "@heroicons/vue/outline";

export default defineComponent({
  name: "BlacklistTable",
  components: { ExclamationCircleIcon },
  props: {
    label: { type: String, default: null },
    blacklist: { type: Array, default: [] },
  },
  setup(props) {
    const {
      filteredData,
      visibleData,
      currentPage,
      pageSize,
      totalPages,
      next,
      previous,
      goTo,
    } = useFilter(props.blacklist, { pageSize: 4 });

    return {
      filteredData,
      visibleData,
      currentPage,
      pageSize,
      totalPages,
      next,
      previous,
      goTo,
    };
  },
});
</script>
