<!-- displays graphs / charts for transaction analytics using Vue-chart.js -->
<template>
  <PageHeader :title="$t('pages.analytics.title')" />
  <div v-if="loadingAssets || loadingMessages" class="mt-4 text-center">
    {{ $t("components.advancedTable.loadingData") }}
  </div>
  <div v-if="years.length < 1 && !loadingAssets && !loadingMessages" class="mt-4 text-center">
    {{ $t("pages.analytics.noData") }}
  </div>
  <div v-if="!loadingAssets && !loadingMessages & (years.length >= 1)">
    <div class="flex justify-center w-full">
      <div class="w-32 mt-6 mb-10 text-center">
        <SelectMenu
          :label="t('pages.analytics.selectYear')"
          name="yearSelector"
          :options="years"
          v-model="currentYear"
        />
      </div>
    </div>
    <!-- set the pie charts side by side, stop displaying properly at 325px and lower width -->
    <div class="flex flex-wrap justify-center w-full gap-20">
      <div class="flex flex-col">
        <PieChart
          :key="JSON.stringify(sharedUnsharedData)"
          :width="300"
          :inputTitle="sharedUnsharedTitle"
          :inputChartData="sharedUnsharedData"
        />
      </div>
      <div class="flex flex-col">
        <PieChart
          :key="JSON.stringify(soldUnsoldData)"
          :width="300"
          :inputTitle="soldUnsoldTitle"
          :inputChartData="soldUnsoldData"
        />
      </div>
    </div>
    <BarChart
      :key="JSON.stringify(sharedSoldData)"
      :height="300"
      :inputTitle="sharedSoldTitle"
      :inputChartData="sharedSoldData"
    />
    <BarChart
      :key="JSON.stringify(receivedRespondedData)"
      :height="300"
      :inputTitle="receivedRespondedTitle"
      :inputChartData="receivedRespondedData"
    />
    <BarChart :key="JSON.stringify(pointsData)" :height="300" :inputTitle="pointsTitle" :inputChartData="pointsData" />
  </div>
</template>

<script setup lang="ts">
  import { useAssetsStats, useMessagesStats } from "@/composables";
  import { ref, computed, watch } from "vue";
  import { useI18n } from "vue-i18n";

  const { t } = useI18n();

  //set some defaults
  const strong: string = "#581e5c";
  const soft: string = "#ab5bab";
  const months: string[] = [
    t("pages.analytics.january"),
    t("pages.analytics.february"),
    t("pages.analytics.march"),
    t("pages.analytics.april"),
    t("pages.analytics.may"),
    t("pages.analytics.june"),
    t("pages.analytics.july"),
    t("pages.analytics.august"),
    t("pages.analytics.september"),
    t("pages.analytics.october"),
    t("pages.analytics.november"),
    t("pages.analytics.december"),
  ];

  const {
    getYears,
    years,
    lastYearInList,
    refresh: refreshAssets,
    totalAssets,
    totalSharedAssets,
    totalUniqueSharedAssets,
    totalSoldAssets,
    totalUnsoldAssets,
    monthlySharedAssets,
    monthlySoldAssets,
    monthlyQPoints,
    loading: loadingAssets,
  } = useAssetsStats();
  const {
    refresh: refreshQuestionnaires,
    monthlyQResponded,
    monthlyQReceived,
    loading: loadingMessages,
  } = useMessagesStats();

  //TODO: Use loading refs to display loading on UI

  //get the list of years to populate our dropdown menu
  getYears();
  const currentYear = ref<string | undefined>();

  const numOfUnsharedAssets = computed((): number => {
    return Number(totalAssets.value) - Number(totalUniqueSharedAssets.value);
  });

  interface ChartData {
    labels: string[];
    datasets: {
      label?: string;
      backgroundColor: string[] | string;
      data: number[];
    }[];
  }

  //Data for Shared vs Unshared assets pie chart
  const sharedUnsharedTitle = computed(() => t("pages.analytics.totalAssets"));
  const sharedUnsharedData = computed((): ChartData => {
    return {
      labels: [t("pages.analytics.shared"), t("pages.analytics.unshared")],
      datasets: [
        {
          backgroundColor: [strong, soft],
          data: [totalUniqueSharedAssets.value, numOfUnsharedAssets.value] as any,
        },
      ],
    };
  });

  //Data for Sold/Unsold Assets pie chart
  const soldUnsoldTitle = computed(() => t("pages.analytics.assetShares"));
  const soldUnsoldData = computed((): ChartData => {
    return {
      labels: [t("pages.analytics.sold"), t("pages.analytics.unsold")],
      datasets: [
        {
          backgroundColor: [strong, soft],
          data: [totalSoldAssets.value, totalUnsoldAssets.value] as any,
        },
      ],
    };
  });

  //Data for Shared/Sold assets per month bar graph
  const sharedSoldTitle = computed(() => t("pages.analytics.sharedSold"));
  const sharedSoldData = computed((): ChartData => {
    return {
      labels: months,
      datasets: [
        {
          label: t("pages.analytics.assetShares"),
          backgroundColor: strong,
          data: monthlySharedAssets.value,
        },
        {
          label: t("pages.analytics.soldAssets"),
          backgroundColor: soft,
          data: monthlySoldAssets.value,
        },
      ],
    };
  });

  //Data for Received/Responded to questionnaires per month bar graph
  const receivedRespondedTitle = computed(() => t("pages.analytics.receivedResponded"));
  const receivedRespondedData = computed((): ChartData => {
    return {
      labels: months,
      datasets: [
        {
          label: t("pages.analytics.receivedQ"),
          backgroundColor: strong,
          data: monthlyQReceived.value,
        },
        {
          label: t("pages.analytics.respondedQ"),
          backgroundColor: soft,
          data: monthlyQResponded.value,
        },
      ],
    };
  });

  //Data for points acquired per month bar graph
  const pointsTitle = computed(() => t("pages.analytics.pointsPerMonth"));
  const pointsData = computed((): object => {
    return {
      labels: months,
      datasets: [
        {
          label: t("pages.analytics.points"),
          backgroundColor: strong,
          data: monthlyQPoints.value,
        },
      ],
    };
  });

  //give the last year in the list as the initial currentYear value when the former arrives from the API
  watch([lastYearInList], () => {
    currentYear.value = lastYearInList.value;
  });

  //change all the graphs when the user selects a different year
  watch([currentYear], () => {
    if (currentYear.value) {
      refreshAssets(currentYear.value);
      refreshQuestionnaires(currentYear.value);
    }
  });
</script>
