<template>
  <div class="fixed  w-full z-50 mb-10 bottom-0 w-full  sm:right-0 sm:top-0 sm:bottom-auto sm:w-96 sm:mt-20 sm:mb-0 pr-2">
    <div class="flex flex-col space-y-4">
      <toast v-for="toast in toasts" :key="toast.id" :toast="toast" @close="close(toast)" />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import Toast from "./Toast.vue";
import { useToaster } from "@/composables";

export default defineComponent({
  name: "Toaster",
  components: { Toast },
  props: {
    toasts: Array
  }, setup() {
    const { toasts, closeToast } = useToaster();

    const close = (toast: any) => {
      closeToast(toast);
    };

    return { toasts, close };
  }
});
</script>