<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <!-- Global notification live region, render this permanently at the end of the document -->
  <div
    aria-live="assertive"
    class="flex items-end pointer-events-none sm:items-start"
  >
    <div class="flex flex-col items-center w-full space-y-4 sm:items-end">
      <!-- Notification panel, dynamically insert this into the live region when it needs to be displayed -->
      <transition
        enter-active-class="transition duration-300 ease-out transform"
        enter-from-class="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
        enter-to-class="translate-y-0 opacity-100 sm:translate-x-0"
        leave-active-class="transition duration-100 ease-in"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <div
          v-if="show"
          class="w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
          :class="{
            'bg-blue-100': toast.type.colour === 'blue',
            'bg-yellow-100': toast.type.colour === 'yellow',
            'bg-green-100': toast.type.colour === 'green',
            'bg-red-100': toast.type.colour === 'red',
          }"
        >
          <div class="p-3">
            <div class="flex flex-row items-center">
              <div class="text-sm w-0 flex-1 pt-0.5 flex flex-row space-x-2 items-center">
                <tooltip>
                  <component
                    :is="toast.type.icon"
                    class="w-5 h-5"
                    :class="{
                      'text-blue-600': toast.type.colour === 'blue',
                      'text-yellow-600': toast.type.colour === 'yellow',
                      'text-green-600': toast.type.colour === 'green',
                      'text-red-600': toast.type.colour === 'red',
                    }"
                  />
                  <template #message>
                    <span class="capitalize">{{ title }}</span>
                  </template>
                </tooltip>
                <div class="text-neutral-500">
                  <div v-if="toast.title" class="font-bold">
                    {{ toast.title }}
                  </div>
                  {{ toast.message }}
                </div>
              </div>
              <div class="flex flex-shrink-0 ml-4">
                <button
                  @click="close"
                  class="inline-flex rounded-md text-neutral-400 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
                >
                  <span class="sr-only">Close</span>
                  <XIcon class="w-4 h-4" aria-hidden="true" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import * as R from "ramda";
import { computed, ref } from "vue";
import { XIcon } from "@heroicons/vue/solid";
import {
  InformationCircleIcon,
  ExclamationIcon,
  CheckCircleIcon,
  XCircleIcon,
} from "@heroicons/vue/outline";

export default {
  props: {
    toast: Object,
  },
  components: {
    XIcon,
    ExclamationIcon,
    CheckCircleIcon,
    XCircleIcon,
    InformationCircleIcon,
  },
  setup(props: any, { emit }: { emit: any }) {
    const show = ref<boolean>(true);
    const close = () => {
      emit("close");
    };

    const title = computed(() =>
      R.isNil(props.toast?.title) || R.isEmpty(props.toast?.title)
        ? props.toast?.type.type
        : props.toast?.title
    );
    setTimeout(() => {
      show.value = false;
      setTimeout(() => {
        close();
      }, 1000);
    }, props.toast?.lifespan);

    return { title, show, close };
  },
};
</script>
