<template>
  <page-header :title="$t('pages.wallet.title')"> </page-header>
  <div class="flex flex-col pt-4 space-y-4">
    <h3 class="text-2xl font-medium leading-6 text-right text-neutral-900">
      {{ totalPoints }} {{ $t("pages.wallet.points") }}
    </h3>
  </div>
  <div class="flex flex-col pt-4 space-y-4">
    <h3 class="text-lg font-medium leading-6 text-neutral-900">
      {{ $t("pages.wallet.compensations") }} &emsp; &emsp; &emsp;
    </h3>
    <advanced-table :fields="fields" :data="compos" :searchable="false">
      <!--<template #default="{ data, id }">
            <div class="flex flex-row space-x-1 text-neutral-500">
              <EyeIcon
                class="w-4 h-4 cursor-pointer hover:text-primary-600"
                @click="viewComp(data)"
              />
            </div>
          </template>-->
      <template #use="{item}">
        <ConfirmButton :key="item.id" @confirmed="use(item.id)">
          <PrimaryButton size="xs">Use</PrimaryButton>
          <template v-slot:confirm>
            <SecondaryButton size="xs">Are you sure?</SecondaryButton>
          </template>
        </ConfirmButton>
      </template>
    </advanced-table>
  </div>
  <div class="flex flex-col pt-4 space-y-4">
    <h3 class="text-lg font-medium leading-6 text-neutral-900">
      {{ $t("pages.wallet.shopping") }}
    </h3>
    <advanced-table :fields="shopfields" :data="merchants" :searchable="false">
      <template #default="{ data }">
        <EyeIcon class="w-4 h-4 cursor-pointer hover:text-primary-600" @click="viewMerchant(data)" />
      </template>
    </advanced-table>
  </div>
  <div class="flex flex-col pt-4 space-y-4">
    <h3 class="text-lg font-medium leading-6 text-neutral-900">
      {{ $t("pages.wallet.purchases") }} &emsp; &emsp; &emsp;
    </h3>
    <advanced-table :fields="invoicesFields" :data="invoices" :searchable="false">
    </advanced-table>
  </div>
</template>
<script lang="ts">
import * as R from "ramda";
import { computed, defineComponent, onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import store from "@/store";
//import { Compensation } from "@/interfaces";
import { Compensation } from "@/interfaces";
import { TrashIcon, ExclamationCircleIcon, EyeIcon, ShareIcon } from "@heroicons/vue/outline";
import { Wallet as WalletAPI } from "@/api";
import { useToaster, useWallet } from "@/composables";
import { useI18n } from "vue-i18n";
import { getEnv } from "../../envs";
import { ConfirmButton, PrimaryButton } from "@/components";

export default defineComponent({
  name: "Wallet",
  components: {
    //AdvancedTable,
    ConfirmButton,
    TrashIcon,
    ExclamationCircleIcon,
    EyeIcon,
    ShareIcon,
  },
  setup() {
    const toaster = useToaster();
    const router = useRouter();
    const user = computed(() => store.state.user);
    const { t } = useI18n();
    const { loading, totalPoints } = useWallet();
    const invoices = ref<any>([]);
    //const { points, totalPoints, totalSold } = useMessagesStats();
    const fields = [
      {
        key: "date",
        label: t("pages.wallet.date"),
        searchable: false,
        sortable: false,
      },
      {
        key: "name",
        label: t("pages.wallet.name"),
        searchable: false,
        sortable: false,
        ///showAfter: "md",
      },
      {
        key: "description",
        label: t("pages.wallet.description"),
        searchable: false,
        sortable: false,
      },
      {
        key: "status",
        label: t("pages.wallet.status"),
        sortable: false,
        //showAfter: "xl",
      },
      {
        key: "points",
        label: t("pages.wallet.points"),
        type: "integer",
        sortable: false,
        //showAfter: "lg",
      },
      {
        key: "shared",
        label: "Shared",
        sortable: false,
      },
    ];
    const invoicesFields = [
      {
        key: "merchantName",
        label: t("pages.wallet.merchant"),
        searchable: false,
        sortable: false,
      },
      {
        key: "contractNumber",
        label: t("pages.wallet.contractNumber"),
        searchable: false,
        sortable: false,
      },
      {
        key: "product",
        label: t("pages.wallet.product"),
        searchable: false,
        sortable: false,
      },
      {
        key: "amount",
        label: t("pages.wallet.amount"),
        searchable: false,
        sortable: false,
      },
    ]
    if (getEnv("VITE_STARTER_KIT_DEMO") === "true")
      fields.push({
        key: "use",
        label: "Use",
        sortable: false,
      });
    const shopfields = [
      {
        key: "name",
        label: "Name",
        searchable: false,
        sortable: false,
      },
    ];

    const compensationUserId = computed(() => {
      return user.value.sub;
    });

    /*const fullNameName = computed(() => {
        if (
        user.value &&
        !R.isNil(user.value.firstName) &&
        !R.isEmpty(user.value.firstName) &&
        !R.isNil(user.value.lastName) &&
        !R.isEmpty(user.value.lastName)
      ) {
        return `${user.value.firstName}${user.value.lastName}`;
      } else if (
        user.value &&
        !R.isNil(user.value.firstName) &&
        !R.isEmpty(user.value.firstName)
      ) {
        return user.value.firstName;
      } else if (
        user &&
        !R.isNil(user.value.lastName) &&
        !R.isEmpty(user.value.lastName)
      ) {
        return user.value.lastName;
      }
      return null;});*/

    const compos = ref<Compensation[]>([]);
    const merchants = ref<String[]>([]);

    //let uri = 'https://wallet.datavaults.ari-bip.eu/exchange/compensation/' + compensationId.value;

    const getCompensations = () => {
      WalletAPI.getCompensations(compensationUserId.value).then(response => {
        compos.value = response.data;
      });
    };

    const getInvoices = () => {
      WalletAPI.invoices().then((response: any) => {
        for (let i = 0; i < response.data.length; i++){
          for ( let j = 0; j < response.data[i].products.length; j++){
            invoices.value.push({
              merchantName: response.data[i].merchantName,
              contractNumber: response.data[i].contractNumber,
              cost: response.data[i].cost,
              product: response.data[i].products[j].idProduct,
              amount: response.data[i].products[j].amount
            })
          }
        }
      })
    }

    let ecoinTypeList: Array<string>;
    ecoinTypeList = ["points"];
    const updateAccount = () => {
      WalletAPI.createAccount(compensationUserId.value, {
        ecoinTypes: ecoinTypeList,
        name: compensationUserId.value,
        //pseudonyms: "[]"
      }).then(response => {
      });
    };

    /*const getCompensations = () => {
        //console.log("uri:"+uri)
        console.log("En getCompensations(wallet)");
        console.log('/wallet/compensations/' + compensationUserId.value);
        exchangeClient.get('/wallet/compensations/' + compensationUserId.value).then((response) =>{
            compos.value = response.data;
            //console.log("response:"+JSON.stringify(response.data));
            console.log("compos:"+JSON.stringify(compos));
        });
    };*/

    /*const getExchangeCompensations = () => {
    //const getCompensations = () => {
        //console.log("uri:"+uri)
        console.log("En getCompensations");
        console.log('/exchange/compensation/' + compensationUserId.value);
        walletClient.get('/exchange/compensation/' + compensationUserId.value).then((response) =>{
            compos.value = response.data;
            //console.log("response:"+JSON.stringify(response.data));
            console.log("compos:"+JSON.stringify(compos));
        });
    };*/

    const getMerchantNames = () => {
      WalletAPI.getMerchants().then(response => {
        merchants.value = response.data;
      });
    };

    const use = (compensationId: string) => {
      WalletAPI.useCompensation(compensationId)
        .then((response: any) => {
          toaster.show("Compensation used!", "success");
        })
        .catch((e: any) => {
          toaster.show(`Compensation could not be used: ${e.message}`, "error");
        });
    };

    updateAccount();
    getCompensations();
    getMerchantNames();
    getInvoices();

    const shareComp = (id: string) => {
      router.push({ name: "share", params: { id } });
    };

    const viewComp = (data: any) => {
      router.push(`/my-vault/asset/${data.id}`);
    };

    const viewMerchant = (data: any) => {
      //router.push(`/wallet/merchant/${data.name}`);
      router.push(`/wallet/merchant/${data.name}`);
    };

    const removeAsset = (id: number) => {
      //  deleteAsset(id)
      //    .then(() => {
      //      refresh();
      //      toaster.show("Asset removed!", "success");
      //    })
      //    .catch((err: any) => {
      //      toaster.show(err.response.data.message, "error");
      //    });
    };

    return {
      user,
      compensationUserId,
      compos,
      fields,
      shopfields,
      merchants,
      shareComp,
      viewComp,
      viewMerchant,
      totalPoints,
      use,
      invoices,
      invoicesFields,
    };
  },
});
</script>
