<template>
  <toaster />
  <router-view v-if="isReady" />
  <StickyFooter v-show="!shareWarningDismissal" color="warn" @go="goToProfile" @close="dismissWarning">
    {{ $t("app.shareProfileWarning.message") }}

    <template #goToAction> {{ $t("app.shareProfileWarning.action") }}</template>
  </StickyFooter>
</template>

<script lang="ts">
  import { computed, defineComponent, ref, watch } from "vue";
  import { Toaster } from "@/components/toaster";
  import store from "@/store";
  import { useCookies } from "vue3-cookies";
  import { useRouter } from "vue-router";
  import { Cookies } from "./constants";
  import { useI18n } from "vue-i18n";
  import dayjs from "dayjs";
  import es from "dayjs/locale/es";
  import fr from "dayjs/locale/fr";
  import it from "dayjs/locale/it";
  import en from "dayjs/locale/en";
  import gr from "dayjs/locale/el";

  const langObj = {
    es,
    fr,
    it,
    en,
    gr,
  };

  export default defineComponent({
    name: "App",
    components: { Toaster },
    setup() {
      const { cookies } = useCookies();
      const router = useRouter();
      const isReady = computed(() => store.state.isReady);
      const demonstrator = computed(() => store.getters.retrieveDemonstrator || "default");
      const dismissedShare = ref<boolean>(false);
      const { t, locale } = useI18n();
      watch(locale, () => {
        dayjs.locale(langObj[locale.value]);
      });

      const shareWarningDismissal = computed({
        get: () =>
          !store.getters.isAuthenticated ||
          store.getters.hasShareProfileEnabled ||
          dismissedShare.value ||
          (cookies.isKey(Cookies.SHARE_WARNING_COOKIE_DISMISSED) &&
            cookies.get(Cookies.SHARE_WARNING_COOKIE_DISMISSED).toLowerCase() === "true"),
        set: (newValue: boolean) => {
          dismissedShare.value = newValue;
          cookies.set(Cookies.SHARE_WARNING_COOKIE_DISMISSED, String(newValue).toLowerCase());
        },
      });

      const dismissWarning = () => {
        shareWarningDismissal.value = true;
      };

      const goToProfile = () => {
        dismissWarning();
        router.push({ name: "profile", params: { goToShareToggle: "true" } });
      };

      watch(
        () => demonstrator.value,
        (newDemonstrator: string) => {
          document.body.setAttribute("data-demonstrator", newDemonstrator);
        },
        { immediate: true }
      );

      return { isReady, shareWarningDismissal, dismissWarning, goToProfile };
    },
  });
</script>
<style>
  @import "@vueform/multiselect/themes/default.css";
</style>
