<template>
  <Form ref="form" as="div" :validation-schema="validationSchema" class="flex flex-col h-full space-y-4 lg:space-y-6">
    <sharing-header :currentStep="currentStep" />
    <div class="flex flex-col flex-1 space-y-2">
      <div class="space-y-8 divide-y divide-neutral-200">
        <div class="space-y-3">
          <div class="pb-1">
            <h3 class="text-lg font-medium leading-6 text-neutral-900">
              {{ $t("pages.share.accessPolicy.setAccessPolicy") }}
            </h3>
            <div class="pb-2"></div>
          </div>
          <radio-buttons
            :options="policyIdOptions"
            v-model="config.policyId"
            name="policyIdType"
            @changed="clearExistingTemplate"
          >
            <template #existing-policy-id="{ option }">
              <label :for="option.name" class="text-neutral-700">
                <span :class="{ 'font-medium': option.description }">{{ option.label }}</span>
              </label>
              <select-menu
                v-if="config.policyId === 'existing'"
                name="template"
                class="ml-4 w-52"
                v-model="config.existingPolicyId"
                :options="existingTemplatesOptions"
                :placeholder="$t('pages.share.accessPolicy.selectTemplate')"
                @changed="changeExistingTemplate"
              />
            </template>
          </radio-buttons>
          <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="space-y-2 sm:col-span-2">
              <multiselect-field
                name="sector"
                :label="$t('pages.share.accessPolicy.sectorIndustryGroup')"
                mode="tags"
                v-model="config.sector"
                :options="sectorsIds"
                :noOptionsText="$t('components.multiSelectField.empty')"
              />
            </div>
          </div>
          <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="space-y-2 sm:col-span-2">
              <multiselect-field
                name="type"
                :label="$t('pages.share.accessPolicy.organizationType')"
                v-model="config.type"
                :options="typesIds"
                mode="tags"
                :noOptionsText="$t('components.multiSelectField.empty')"
              />
            </div>
          </div>
          <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="space-y-2 sm:col-span-2">
              <multiselect-field
                name="size"
                :label="$t('pages.share.accessPolicy.organizationSize')"
                v-model="config.size"
                :options="sizesIds"
                mode="tags"
                :noOptionsText="$t('components.multiSelectField.empty')"
              />
            </div>
          </div>
          <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="space-y-2 sm:col-span-2">
              <multiselect-field
                name="cont"
                :label="$t('pages.share.accessPolicy.continent')"
                v-model="selectedContinents"
                :options="continentsIds"
                :noOptionsText="$t('components.multiSelectField.empty')"
                mode="tags"
              />
            </div>
          </div>
          <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="space-y-2 sm:col-span-2">
              <multiselect-field
                name="countries"
                :label="$t('pages.share.accessPolicy.countries')"
                v-model="config.country"
                :options="countriesOptions"
                mode="tags"
                :noOptionsText="$t('components.multiSelectField.empty')"
              />
            </div>
          </div>
          <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="space-y-2 sm:col-span-2">
              <multiselect-field
                name="repScore"
                :label="$t('pages.share.accessPolicy.reputationScore')"
                v-model="config.reputation"
                :options="scores"
                :noOptionsText="$t('components.multiSelectField.empty')"
              />
            </div>
          </div>
          <div class="flex flex-wrap items-center space-x-3" v-if="config.policyId === 'new'">
            <br />
            {{ $t("pages.share.accessPolicy.provideNameDescription") }}
            <br />
            <br />
            <input-field
              name="templateName"
              :placeholder="$t('pages.share.accessPolicy.templateName')"
              v-model="templateName"
            />
            <input-field
              name="templateDescription"
              :placeholder="$t('pages.share.accessPolicy.templateDescription')"
              v-model="templateDescription"
            />
            <primary-button @click="saveTemplate">
              <span>{{ $t("pages.share.accessPolicy.saveTemplate") }}</span>
            </primary-button>
          </div>
          <div class="flex flex-wrap items-center space-x-3" v-if="config.policyId === 'existing'">
            <br />
            {{ $t("pages.share.accessPolicy.updateThisTemplate") }} <br />
            <br />
            <primary-button @click="saveTemplate">
              <span>{{ $t("pages.share.accessPolicy.updateTemplate") }}</span>
            </primary-button>
          </div>
          <div class="flex flex-wrap items-center space-x-3">
            <div class="text-neutral-600">
              {{ $t("pages.share.accessPolicy.exportPolicy") }}
              <br />
            </div>
            <secondary-button class="h-10 whitespace-nowrap" @click="exportPolicy">
              <span>{{ $t("pages.share.accessPolicy.export") }}</span>
            </secondary-button>
          </div>
          <div class="flex items-center space-x-4">
            <div class="text-sm font-medium text-neutral-700 whitespace-nowrap">
              <textarea
                rows="4"
                cols="50"
                name="idsFormat"
                :label="t('pages.share.accessPolicy.policyFormat')"
                v-model="policyExported"
                :key="locale"
                :placeholder="initialValueString"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <sharing-footer
      v-if="form"
      class="pt-4 border-t lg:pt-6"
      hasBack
      :id="id"
      :currentStep="currentStep"
      :validate="form.validate"
      @back="save()"
      @continue="save()"
      :configuration="configuration"
    />
    <invalid-step-modal :isStepValid="isStepValid" :validStep="validStep" :stepId="id" />
  </Form>
</template>
<script lang="ts">
  import { computed, defineComponent, ref, toDisplayString } from "vue";
  import { clone, concat } from "ramda";
  import { SharingFooter, SharingHeader, InvalidStepModal } from "@/components/share";
  import { useRouter } from "vue-router";
  import { Form } from "vee-validate";
  import { useToaster } from "@/composables";
  import { Step } from "@/constants";
  import { Europe } from "@/constants";
  import { Asia } from "@/constants";
  import { Africa } from "@/constants";
  import { America } from "@/constants";
  import { Oceania } from "@/constants";
  import { useConfiguration } from "@/composables";
  import { accessPolicyTemplate } from "@/api";
  import { TextareaField } from "@/components";
  import { useI18n } from "vue-i18n";

  export default defineComponent({
    name: "AccessPolicy",
    components: {
      SharingHeader,
      SharingFooter,
      Form,
      InvalidStepModal,
      TextareaField,
    },
    setup() {
      const router = useRouter();
      const form = ref<any>();
      const toaster = useToaster();
      const { id, configuration, currentStep, save, checkStep } = useConfiguration();
      const config = configuration.value.configuration.accessPolicies;
      const templateName = ref<string | null>(null);
      const templateDescription = ref<string | null>(null);
      const validationSchema = {};
      const existingTemplates = ref<Array<any>>([]);
      const existingTemplatesOptions = ref<Array<any>>([]);
      const { t, locale } = useI18n();
      const initialValueString = computed(() => t("pages.share.accessPolicy.initialValue"));
      const policyExported = ref<string>("");

      const getExistingTemplates = async () => {
        const { data: templates } = await accessPolicyTemplate.all();
        existingTemplates.value = templates;
        existingTemplatesOptions.value = templates.map((templ: any) => ({
          label: templ.name,
          value: templ.id,
        }));
      };

      const labelSave = "";
      const changeExistingTemplate = (id: string) => {
        const selTemplate = existingTemplates.value.find((templates: any) => templates.id === parseInt(id, 10));
        if (selTemplate) {
          const templateName = selTemplate.name;
          const templates = clone(selTemplate.configuration);
          config.sector = templates.Sector;
          config.type = templates.Type;
          config.size = templates.Size;
          config.continent = templates.Continent;
          config.country = templates.Country;
          config.reputation = templates.Reputation;
        }
      };
      const clearExistingTemplate = () => {
        const labelSave = "";
        config.sector = [];
        config.type = [];
        config.size = [];
        config.continent = [];
        config.country = [];
        config.reputation = 0;
        config.existingPolicyId = null;
      };

      const concatCountries = (opt: any) => {
        countriesOptions.value.push(opt.value);
      };

      const fillCountriesInitial = () => {
        const allCountries = [].concat(Europe, Asia, America, Oceania, Africa);
        const initialOptions = ref<Array<any>>([]);
        initialOptions.value = allCountries.map((opt: any) => ({
          label: t(opt.label),
          value: opt.value,
        }));
        return initialOptions.value;
      };

      const countriesOptions = computed(() => {
        let options: Array<{ label: string; value: string }> = [];
        if (config.continent.includes("Europe")) {
          options = [
            ...options,
            ...Europe.map((opt: any) => ({
              label: t(opt.label),
              value: opt.value,
            })),
          ];
        }
        if (config.continent.includes("Asia")) {
          options = [
            ...options,
            ...Asia.map((opt: any) => ({
              label: t(opt.label),
              value: opt.value,
            })),
          ];
        }
        if (config.continent.includes("Africa")) {
          options = [
            ...options,
            ...Africa.map((opt: any) => ({
              label: t(opt.label),
              value: opt.value,
            })),
          ];
        }
        if (config.continent.includes("America")) {
          options = [
            ...options,
            ...America.map((opt: any) => ({
              label: t(opt.label),
              value: opt.value,
            })),
          ];
        }
        if (config.continent.includes("Oceania")) {
          options = [
            ...options,
            ...Oceania.map((opt: any) => ({
              label: t(opt.label),
              value: opt.value,
            })),
          ];
        }
        return options;
      });

      const selectedContinents = computed({
        get: () => config.continent,
        set: (newContinents: any[]) => {
          config.continent = newContinents;
          config.country = config.country.filter((country: string) =>
            countriesOptions.value.some(c => c.value === country)
          );
        },
      });

      const aux = ref<any>("");
      const idsformat = ref<any>(['"permission": [({"action": "Use", "target": "dataAssetURI",']);
      const exportPolicy = async () => {
        policyExported.value = "";
        const pExported = ref<any>("");
        aux.value = "";
        idsformat.value = '"permission": [({"action": "Use", "target": "dataAssetURI",';
        if (config.sector) {
          if (config.sector.length > 0) {
            aux.value =
              idsformat.value +
              '"constraint": {"leftOperand": "seeker_attribute_sector","operator": "isAnyOf","rightOperand": {"@list": [' +
              config.sector +
              "]}},";
            idsformat.value = aux.value;
          }
        }
        if (config.type) {
          if (config.type.length > 0) {
            aux.value =
              idsformat.value +
              '"constraint": {"leftOperand": "seeker_attribute_type","operator": "isAnyOf","rightOperand": {"@list": [' +
              config.type +
              "]}},";
            idsformat.value = aux.value;
          }
        }
        if (config.size) {
          if (config.size.length > 0) {
            aux.value =
              idsformat.value +
              '"constraint": {"leftOperand": "seeker_attribute_size","operator": "isAnyOf","rightOperand": {"@list": [' +
              config.size +
              "]}},";
            idsformat.value = aux.value;
          }
        }
        if (config.continent) {
          if (config.continent.length > 0) {
            aux.value =
              idsformat.value +
              '"constraint": {"leftOperand": "seeker_attribute_continent","operator": "isAnyOf","rightOperand": {"@list": [' +
              config.continent +
              "]}},";
            idsformat.value = aux.value;
          }
        }
        if (config.country) {
          if (config.country.length > 0) {
            aux.value =
              idsformat.value +
              '"constraint": {"leftOperand": "seeker_attribute_country","operator": "isAnyOf","rightOperand": {"@list": [' +
              config.country +
              "]}},";
            idsformat.value = aux.value;
          }
        }
        if (config.reputation) {
          if (config.reputation.length > 0) {
            aux.value =
              idsformat.value +
              '"constraint": {"leftOperand": "seeker_attribute_score","operator": "lteq","rightOperand": {"@value": { "@id": ' +
              config.reputation +
              "}},";
            idsformat.value = aux.value;
          }
        }
        if (aux.value.length > 0) {
          policyExported.value = idsformat.value + "}]}";
        }
        toaster.show(t("pages.share.accessPolicy.templateExported"), "success");
      };

      const saveTemplate = async () => {
        const { valid } = await form.value.validate();
        if (valid) {
          if (config.policyId === "existing") {
            const newTemplate = clone(config);
            const configId = parseInt(config.existingPolicyId);
            const selTemplateName = existingTemplates.value.find((templates: any) => templates.id === configId);
            accessPolicyTemplate.update(configId, {
              name: selTemplateName.name,
              configuration: {
                Sector: config.sector,
                Type: config.type,
                Size: config.size,
                Continent: config.continent,
                Country: config.country,
                Reputation: config.reputation,
              },
            });
            toaster.show(t("pages.share.accessPolicy.templateUpdated"), "success");
          }
          if (config.policyId === "new") {
            const newTemplate = clone(config);
            accessPolicyTemplate.create({
              name: templateName.value,
              description: templateDescription.value,
              configuration: {
                Sector: config.sector,
                Type: config.type,
                Size: config.size,
                Continent: config.continent,
                Country: config.country,
                Reputation: config.reputation,
              },
            });
            toaster.show(t("pages.share.accessPolicy.templateSaved"), "success");
          }
        }
      };

      const policyIdOptions = computed(() => [
        {
          name: "new-policy-id",
          value: "new",
          label: t("pages.share.accessPolicy.createNew"),
        },
        {
          name: "existing-policy-id",
          value: "existing",
          label: t("pages.share.accessPolicy.loadTemplate"),
        },
      ]);

      const continentsIds = computed(() => [
        {
          label: t("pages.share.accessPolicy.continentAfrica"),
          value: "Africa",
        },
        {
          label: t("pages.share.accessPolicy.continentAsia"),
          value: "Asia",
        },
        {
          label: t("pages.share.accessPolicy.continentEurope"),
          value: "Europe",
        },
        {
          label: t("pages.share.accessPolicy.continentAmerica"),
          value: "America",
        },
        {
          label: t("pages.share.accessPolicy.continentOceania"),
          value: "Oceania",
        },
      ]);

      const sectorsIds = computed(() => [
        {
          label: t("pages.share.accessPolicy.sectorEnergy"),
          value: "Energy",
        },
        {
          label: t("pages.share.accessPolicy.sectorMaterials"),
          value: "Materials",
        },
        {
          label: t("pages.share.accessPolicy.sectorIndustrials"),
          value: "Industrials",
        },
        {
          label: t("pages.share.accessPolicy.sectorConsumerDiscretionary"),
          value: "Consumer Discretionary ",
        },
        {
          label: t("pages.share.accessPolicy.sectorConsumerStaples"),
          value: "Consumer Staples",
        },
        {
          label: t("pages.share.accessPolicy.sectorHealthCare"),
          value: "Health Care",
        },
        {
          label: t("pages.share.accessPolicy.sectorFinancials"),
          value: "Financials",
        },
        {
          label: t("pages.share.accessPolicy.sectorInformationTechnology"),
          value: "Information Technology ",
        },
        {
          label: t("pages.share.accessPolicy.sectorCommunicationServices"),
          value: "Communication Services",
        },
        {
          label: t("pages.share.accessPolicy.sectorUtilities"),
          value: "Utilities",
        },
        {
          label: t("pages.share.accessPolicy.sectorRealEstate"),
          value: "Real Estate ",
        },
      ]);

      const typesIds = computed(() => [
        {
          label: t("pages.share.accessPolicy.organisationGovernment"),
          value: "Government Organisation",
        },
        {
          label: t("pages.share.accessPolicy.organisationResearch"),
          value: "Research/Academic Institution",
        },
        {
          label: t("pages.share.accessPolicy.organisationPrivate"),
          value: "Private Entity",
        },
        {
          label: t("pages.share.accessPolicy.organisationNGO"),
          value: "NGO",
        },
        {
          label: t("pages.share.accessPolicy.organisationIndividual"),
          value: "Individual",
        },
        {
          label: t("pages.share.accessPolicy.organisationPublicCompany"),
          value: "Public Company",
        },
        {
          label: t("pages.share.accessPolicy.organisationPublicInstitution"),
          value: "Public Institution",
        },
      ]);

      const sizesIds = computed(() => [
        {
          label: t("pages.share.accessPolicy.orgSizeMicro"),
          value: "micro",
        },
        {
          label: t("pages.share.accessPolicy.orgSizeSmall"),
          value: "small",
        },
        {
          label: t("pages.share.accessPolicy.orgSizeMedium"),
          value: "medium",
        },
        {
          label: t("pages.share.accessPolicy.orgSizeLarge"),
          value: "large",
        },
        {
          label: t("pages.share.accessPolicy.orgSizeVeryLarge"),
          value: "very large",
        },
      ]);

      const scores = [
        {
          label: "0",
          value: "0",
        },
        {
          label: "1",
          value: "1",
        },
        {
          label: "2",
          value: "2",
        },
        {
          label: "3",
          value: "3",
        },
        {
          label: "4",
          value: "4",
        },
        {
          label: "5",
          value: "5",
        },
        {
          label: "6",
          value: "6",
        },
        {
          label: "7",
          value: "7",
        },
        {
          label: "8",
          value: "8",
        },
        {
          label: "9",
          value: "9",
        },
        {
          label: "10",
          value: "10",
        },
      ];

      const existingPolicyIds = [
        {
          label: "policy 1",
          value: "policy1",
        },
      ];

      const { isStepValid, validStep } = checkStep();

      // Adds current configuration id in browser URL (no need to change this
      router.push({
        name: Step.findByPosition(currentStep).getPageName(),
        query: { id: id.value, step: currentStep + 1 },
      });
      getExistingTemplates();
      return {
        id,
        currentStep,
        configuration,
        validationSchema,
        form,
        save,
        isStepValid,
        validStep,
        config,
        policyIdOptions,
        existingTemplatesOptions,
        existingPolicyIds,
        sectorsIds,
        typesIds,
        sizesIds,
        continentsIds,
        scores,
        changeExistingTemplate,
        clearExistingTemplate,
        templateName,
        saveTemplate,
        templateDescription,
        exportPolicy,
        policyExported,
        countriesOptions,
        t,
        selectedContinents,
        locale,
        initialValueString,
      };
    },
  });
</script>

function label(label: any) { throw new Error("Function not implemented."); }
