<template>
  <div class="h-full">
    <Form
      v-if="isStepValid && config"
      ref="form"
      as="div"
      :validation-schema="validationSchema"
      class="flex flex-col h-full space-y-4 lg:space-y-6"
      v-slot="{ errors }"
    >
      <sharing-header :currentStep="currentStep" />
      <div class="flex flex-col flex-1 space-y-2">
        <div class="space-y-8 divide-y divide-neutral-200">
          <div class="space-y-3">
            <div class="pb-1">
              <h3 class="text-lg font-medium leading-6 text-neutral-900">
                {{ $t("pages.share.anonymisation.anonymise") }}
              </h3>
              <p class="mt-1 text-sm text-neutral-500">
                {{ $t("pages.share.anonymisation.question") }}
              </p>
            </div>
            <radio-buttons
              :options="anonymisationOptions"
              v-model="config.anonymise"
              isBoolean
              name="useAnonymisation"
            />
          </div>

          <template v-if="config.anonymise">
            <div class="pt-8 space-y-3">
              <div class="pb-1">
                <h3 class="text-lg font-medium leading-6 text-neutral-900">
                  {{ $t("pages.share.anonymisation.choosePseudoIdentity") }}
                </h3>
              </div>
              <radio-buttons
                :options="pseudoIdOptions"
                v-model="config.useExistingPseudoId"
                name="pseudoIdType"
                vertical
                @changed="pseudoIdChanged"
              >
                <template #existing-pseudo-id="{ option }">
                  <label :for="option.name" class="text-neutral-700">
                    <span :class="{ 'font-medium': option.description }">{{ option.label }}</span>
                  </label>
                  <select-menu
                    v-if="config.useExistingPseudoId === 'existing'"
                    name="pseudoId"
                    class="ml-4 w-52 lg:w-80"
                    v-model="config.pseudoId"
                    :options="existingPseudoIds"
                    :placeholder="$t('pages.share.anonymisation.selectPlaceholder')"
                  />
                </template>
                <template #tpm-pseudo-id="{ option }">
                  <label :for="option.name" class="flex flex-row text-neutral-700">
                    <span :class="{ 'font-medium': option.description }">{{ option.label }}</span>
                  </label>
                  <div class="flex flex-row text-neutral-700" v-if="config.useExistingPseudoId === 'tpm'">
                    <select-menu
                      name="tpmPseudonym"
                      class="ml-4 w-52 lg:w-80"
                      v-model="config.tpmPseudonym"
                      :options="tpmPseudonyms"
                      :placeholder="$t('pages.share.anonymisation.selectPseudoID')"
                    />
                    <secondary-button @click="createTPMPseudonym" class="flex flex-row space-x-1 whitespace-nowrap">{{
                      $t("pages.share.anonymisation.createTpmPseudonym")
                    }}</secondary-button>
                  </div>
                </template>
              </radio-buttons>
            </div>

            <div class="pt-8 space-y-5">
              <div class="pb-1">
                <h3 class="text-lg font-medium leading-6 text-neutral-900">
                  {{ $t("pages.share.anonymisation.anonymisationDegree") }}
                </h3>
                <p v-if="asset && asset.sourceType !== 'PRATO'" class="mt-1 text-sm text-neutral-500">
                  {{ $t("pages.share.anonymisation.chooseAnonymisationDegree") }}
                </p>
                <p v-else class="mt-1 text-sm text-neutral-500">
                  {{ $t("pages.share.anonymisation.pratoAnonymisationInfo") }}
                </p>
              </div>
              <div v-if="asset && asset.sourceType !== 'PRATO'">
                <label class="block mb-2 text-sm font-medium text-neutral-700">
                  {{ $t("pages.share.anonymisation.dataPreview") }}
                </label>
                <div v-if="loadingAsset" class="flex flex-col items-center pt-10">
                  <spinner>{{ $t("pages.share.anonymisation.loading") }}</spinner>
                </div>
                <div v-else class="flex flex-col space-y-2">
                  <div
                    class="flex flex-row items-center p-2 space-x-2 text-xs italic text-yellow-600 bg-yellow-100 rounded"
                  >
                    <div class="w-6 h-6">
                      <ExclamationIcon class="w-6 h-6" />
                    </div>
                    <span>{{ $t("pages.share.anonymisation.dataNotice") }}</span>
                  </div>
                  <VerticalTable
                    :searchable="false"
                    :fields="fields"
                    :data="sampleData"
                    class="w-full"
                    footerClasses=" align-top bg-secondary-100"
                  >
                    <template #footer="{ field }">
                      <div
                        class="flex p-2 md:w-80"
                        :class="{
                          'w-80': openAnonymisation[field.key],
                          'w-20': !openAnonymisation[field.key],
                        }"
                      >
                        <div class="flex flex-col items-center w-full space-y-5">
                          <div
                            class="flex flex-col items-center space-y-2 text-xs align-center md:flex-row md:space-x-2 md:space-y-0"
                          >
                            <div class="text-secondary-700">
                              {{ $t("pages.share.anonymisation.anonymiseQuestion") }}
                            </div>
                            <Switch
                              v-if="fieldsToAnonymize.hasOwnProperty(field.key)"
                              v-model="fieldsToAnonymize[field.key]"
                              :class="[
                                fieldsToAnonymize[field.key] ? 'bg-secondary-600' : 'bg-secondary-200',
                                'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary-500',
                              ]"
                              @click="
                                anonymisationSwitchChange(field);
                                clearPreview();
                              "
                            >
                              <span class="sr-only">Use setting</span>
                              <span
                                :class="[
                                  fieldsToAnonymize[field.key] ? 'translate-x-5' : 'translate-x-0',
                                  'pointer-events-none relative inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200',
                                ]"
                              >
                                <span
                                  :class="[
                                    fieldsToAnonymize[field.key]
                                      ? 'opacity-0 ease-out duration-100'
                                      : 'opacity-100 ease-in duration-200',
                                    'absolute inset-0 h-full w-full flex items-center justify-center transition-opacity',
                                  ]"
                                  aria-hidden="true"
                                >
                                  <svg class="w-3 h-3 text-secondary-400" fill="none" viewBox="0 0 12 12">
                                    <path
                                      d="M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2"
                                      stroke="currentColor"
                                      stroke-width="2"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                  </svg>
                                </span>
                                <span
                                  :class="[
                                    fieldsToAnonymize[field.key]
                                      ? 'opacity-100 ease-in duration-200'
                                      : 'opacity-0 ease-out duration-100',
                                    'absolute inset-0 h-full w-full flex items-center justify-center transition-opacity',
                                  ]"
                                  aria-hidden="true"
                                >
                                  <svg class="w-3 h-3 text-secondary-600" fill="currentColor" viewBox="0 0 12 12">
                                    <path
                                      d="M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z"
                                    />
                                  </svg>
                                </span>
                              </span>
                            </Switch>
                          </div>
                          <div class="flex flex-col space-y-6 lg:hidden" v-if="openAnonymisation[field.key]">
                            <SelectMenu
                              :name="`${field.key}Hierarchy`"
                              :label="$t('pages.share.anonymisation.hierarchy')"
                              :placeholder="$t('pages.share.anonymisation.hierarchy')"
                              valueField="key"
                              labelField="label"
                              :options="translatedHierarchies[field.type]"
                              v-model="buildIDs[field.key]"
                            />
                            <input-field
                              :name="`${field.key}Level`"
                              :label="$t('pages.share.anonymisation.level')"
                              type="number"
                              v-model="anonLevels[field.key]"
                              :min="0"
                              class="rounded-md"
                              inputClasses="bg-white"
                              errorClasses="bg-secondary-100 text-xs text-red-600"
                              @changed="clearPreview"
                            />
                          </div>
                          <div class="flex-col hidden w-full space-y-4 lg:block" v-if="fieldsToAnonymize[field.key]">
                            <SelectMenu
                              :name="`${field.key}Hierarchy`"
                              :label="$t('pages.share.anonymisation.hierarchy')"
                              :placeholder="$t('pages.share.anonymisation.hierarchy')"
                              valueField="key"
                              labelField="label"
                              :options="translatedHierarchies[field.type]"
                              v-model="buildIDs[field.key]"
                            />
                            <input-field
                              :name="`${field.key}Level`"
                              :label="$t('pages.share.anonymisation.level')"
                              type="number"
                              v-model="anonLevels[field.key]"
                              :min="0"
                              class="rounded-md"
                              inputClasses="bg-white"
                              errorClasses="bg-secondary-100 text-xs text-red-600"
                              @changed="clearPreview"
                            />
                          </div>
                          <div class="block text-sm lg:hidden" v-if="fieldsToAnonymize[field.key]">
                            <div
                              v-if="!openAnonymisation[field.key]"
                              class="flex flex-row items-center space-x-1 text-yellow-600 cursor-pointer"
                              @click="openAnonymisation = openAnonymisation[field.key] ? null : field"
                            >
                              <PencilAltIcon class="w-4 h-4" />
                              <div>
                                {{ $t("pages.share.anonymisation.edit") }}
                              </div>
                            </div>
                            <div
                              v-else
                              class="flex flex-row items-center space-x-1 text-yellow-600 cursor-pointer"
                              @click="openAnonymisation[field.key] = false"
                            >
                              <LockClosedIcon class="w-4 h-4" />
                              <div>Set</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                  </VerticalTable>
                </div>
              </div>
              <div
                v-if="asset && asset.sourceType !== 'PRATO'"
                class="flex flex-col w-full p-4 my-10 space-x-4 space-y-4 rounded-md shadow-sm bg-secondary-100"
              >
                <div v-if="anonymisationPreview" class="flex flex-col">
                  <label class="block mb-2 text-sm font-medium text-secondary-700">
                    {{ $t("pages.share.anonymisation.anonymisationResultPreview") }}
                  </label>
                  <div class="flex rounded-md shadow-sm">
                    <vertical-table
                      :searchable="false"
                      :fields="fields"
                      :data="anonymisationPreview"
                      class="w-full"
                      footerClasses="align-top bg-secondary-100"
                    />
                  </div>
                </div>
                <div class="flex flex-row items-center justify-between w-full">
                  <div v-if="anonymisationPreview"></div>
                  <div v-else-if="!canAnonymise" class="text-xs italic text-neutral-600">
                    {{ $t("pages.share.anonymisation.noFieldsSelected") }}
                  </div>
                  <div v-else class="text-xs italic text-neutral-600">
                    {{ $t("pages.share.anonymisation.noPreview") }}
                  </div>
                  <div class="flex flex-row items-center">
                    <PrimaryButton :disabled="!canAnonymise" @click="showPreview" colour="secondary">
                      <div class="flex flex-row space-x-2">
                        <span>{{ $t("pages.share.anonymisation.previewAnonymisation") }}</span>
                        <ArrowCircleDownIcon v-if="loadingPreview" class="w-6 h-6 animate-pulse" />
                      </div>
                    </PrimaryButton>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
      <sharing-footer
        v-if="form"
        class="pt-4 border-t lg:pt-6"
        hasBack
        :id="id"
        :currentStep="currentStep"
        :validate="form.validate"
        :errors="errors"
        @continue="saveAnonymisation()"
        :configuration="configuration"
      />
    </Form>
    <invalid-step-modal :isStepValid="isStepValid" :validStep="validStep" :stepId="id" />
  </div>
</template>

<script lang="ts">
  import AdvancedTable from "@/components/AdvancedTable.vue";
  import PrimaryButton from "@/components/ConfirmationButton.vue";
  import { InvalidStepModal, SharingFooter, SharingHeader } from "@/components/share";
  import {
    useAnonymisation,
    useAnonymisationPreview,
    useAnonymiser,
    useAsset,
    useConfiguration,
    useToaster,
    useTPMCheck,
  } from "@/composables";
  import { Step } from "@/constants";
  import { Switch } from "@headlessui/vue";
  import { ArrowCircleDownIcon, ExclamationIcon, LockClosedIcon, PencilAltIcon } from "@heroicons/vue/outline";
  import { InformationCircleIcon } from "@heroicons/vue/solid";
  import sha256 from "crypto-js/sha256";
  import * as R from "ramda";
  import { Form } from "vee-validate";
  import { computed, defineComponent, onMounted, ref, watch } from "vue";
  import { useI18n } from "vue-i18n";
  import { useRouter } from "vue-router";
  import { TPMApi } from "@/api";

  export default defineComponent({
    name: "Anonymisation",
    components: {
      PrimaryButton,
      AdvancedTable,
      Form,
      SharingHeader,
      SharingFooter,
      InvalidStepModal,
      ArrowCircleDownIcon,
      ExclamationIcon,
      PencilAltIcon,
      LockClosedIcon,
      Switch,
      InformationCircleIcon,
    },
    setup() {
      const router = useRouter();
      const form = ref<any>();
      const useTPMtoGenerate = ref<boolean>(false);
      const loadingPreview = ref<boolean>(false);
      const assetId = computed(() => configuration.value.asset);
      const toaster = useToaster();

      const { id, configuration, currentStep, save, checkStep } = useConfiguration();
      const { asset, columns, fields, sampleData, loading: loadingAsset, metadata } = useAsset(assetId);
      const { hierarchiesByType } = useAnonymisation();
      const fieldsToAnonymize = ref<any>({});
      const buildIDs = ref<any>({});
      const anonLevels = ref<any>({});
      const openAnonymisation = ref<any>({});
      const { t, te } = useI18n();
      const { show } = useToaster();

      const hierarchiesTranslationsMap: Record<string, string> = {
        "remove-characters-from-right": "pages.share.anonymisation.removeRight",
        "remove-characters-from-left": "pages.share.anonymisation.removeLeft",
        "replace-number-with-interval": "pages.share.anonymisation.interval",
        "replace-number-with-custom-interval": "pages.share.anonymisation.intervalCustom",
      };

      const translatedHierarchies = computed(() =>
        Object.keys(hierarchiesByType.value).reduce(
          (acc: Record<string, { key: string; label: string }[]>, hierarchyType: string) => {
            const hierarchy = hierarchiesByType.value[hierarchyType];
            acc[hierarchyType] = hierarchy.map((hierarchyValue: { key: string; label: string }) => {
              return {
                key: hierarchyValue.key,
                label:
                  Object.keys(hierarchiesTranslationsMap).includes(hierarchyValue.key) &&
                  te(hierarchiesTranslationsMap[hierarchyValue.key])
                    ? t(hierarchiesTranslationsMap[hierarchyValue.key])
                    : hierarchyValue.label,
              };
            });
            return acc;
          },
          {}
        )
      );

      const { joinTPMDAA, createTPMPseudonym, readPseudonymsFromTPM, activateTpm, tpmPseudonyms } = useTPMCheck();

      const config = ref<any>(configuration.value.configuration.anonymisation);
      watch(
        () => fields.value,
        (newFields: any[]) => {
          fieldsToAnonymize.value = newFields.reduce((acc: any, field: { key: string }) => {
            acc[field.key] = R.contains(field.key, config.value.rules.colNames);
            return acc;
          }, {});
          openAnonymisation.value = R.clone(fieldsToAnonymize.value);
          buildIDs.value = newFields.reduce((acc: any, field: { key: string }) => {
            if (R.contains(field.key, config.value.rules.colNames)) {
              const position = R.indexOf(field.key, config.value.rules.colNames);
              acc[field.key] = config.value.rules.buildIDs[position];
            } else {
              acc[field.key] = null;
            }
            return acc;
          }, {});
          anonLevels.value = newFields.reduce((acc: any, field: { key: string }) => {
            if (R.contains(field.key, config.value.rules.colNames)) {
              const position = R.indexOf(field.key, config.value.rules.colNames);
              acc[field.key] = config.value.rules.anonLevels[position];
            } else {
              acc[field.key] = null;
            }
            return acc;
          }, {});
        }
      );

      if (configuration.value.configuration.level === "max" && activateTpm.value) {
        config.value.useExistingPseudoId = "tpm";
        config.value.useTPM = true;
      }

      watch(
        () => fields.value,
        (newFields: any[]) => {
          fieldsToAnonymize.value = newFields.reduce((acc: any, field: { key: string }) => {
            acc[field.key] = R.contains(field.key, config.value.rules.colNames);
            return acc;
          }, {});
          openAnonymisation.value = R.clone(fieldsToAnonymize.value);
          buildIDs.value = newFields.reduce((acc: any, field: { key: string }) => {
            if (R.contains(field.key, config.value.rules.colNames)) {
              const position = R.indexOf(field.key, config.value.rules.colNames);
              acc[field.key] = config.value.rules.buildIDs[position];
            } else {
              acc[field.key] = null;
            }
            return acc;
          }, {});
          anonLevels.value = newFields.reduce((acc: any, field: { key: string }) => {
            if (R.contains(field.key, config.value.rules.colNames)) {
              const position = R.indexOf(field.key, config.value.rules.colNames);
              acc[field.key] = config.value.rules.anonLevels[position];
            } else {
              acc[field.key] = null;
            }
            return acc;
          }, {});
        }
      );

      watch(
        () => configuration.value?.configuration?.anonymisation,
        (newConfig: any) => {
          config.value = newConfig;
        }
      );


      watch(
        () => config.useExistingPseudoId,
        (newValue: any) => {
          if (newValue === "tpm") {
            watch(
              () => configuration.value?.configuration?.anonymisation.tpmPseudonym,
              async (newVal: any) => {
                let pseudo = tpmPseudonyms.value.findIndex((item: any) => item.label === newVal);
                let hashedData = sha256(sampleData).toString();
                let sign = await TPMApi.signHash(pseudo, hashedData);
                configuration.value.configuration.anonymisation.signature = sign.daaSignature;
              }
            );
          }
        }
      );

      const {
        anonymisationPreview,
        fetch,
        clear: clearPreview,
        canAnonymise,
        configuration: previewConfiguration,
      } = useAnonymisationPreview(fieldsToAnonymize, sampleData, buildIDs, anonLevels, metadata);

      const validationSchema = computed(() => {

        if (!config.value.anonymise) return {};
        let schema: any = {};
        if (config.value.useExistingPseudoId !== "false") schema["pseudoIdType"] = "required";

        if (config.value.useExistingPseudoId === "existing") {
          schema["pseudoId"] = "required";
        }
        if (config.value.useExistingPseudoId === "tpm" && config.value.useTPM) {
          schema["tpmPseudonym"] = "required";
        }

        // if anonymisation is selected, require at least one field to be anonymised
        if (config.value.anonymise) {
          const values = Object.keys(fieldsToAnonymize.value).map(key => fieldsToAnonymize.value[key]);
          if (values.every(value => value === false)) schema["anonymisation"] = "required";
        }

        for (let f = 0; f < fields.value.length; f++) {
          const field = fields.value[f];
          if (R.has(field.key, fieldsToAnonymize.value) && fieldsToAnonymize.value[field.key]) {
            // The above code in lines 518 and 520 are for anonymization level to avoid errors in anonymizer
            if(buildIDs.value && R.has(field.key, buildIDs.value) && buildIDs.value[field.key]==='replace-number-with-interval'){
              schema[`${field.key}Level`] = "required|max_value:4";
            } else if(buildIDs.value && R.has(field.key, buildIDs.value) && buildIDs.value[field.key]==='replace-number-with-custom-interval'){
              schema[`${field.key}Level`] = "required|max_value:1";
            } else {
              schema[`${field.key}Level`] = "required";
            }
            schema[`${field.key}Hierarchy`] = "required";
          }
        }

        return schema;
      });

      const { isStepValid, validStep } = checkStep();

      const { existingPseudoIds } = useAnonymiser();

      //   const tpmPseudonyms = ref<any>([]);

      const anonymisationOptions = computed(() => [
        {
          name: "no-anonymise",
          value: false,
          label: t("pages.share.anonymisation.no"),
        },
        {
          name: "yes-anonymise",
          value: true,
          label: t("pages.share.anonymisation.yes"),
        },
      ]);

      // TODO - change to valid values for tpm to work
      const pseudoIdOptions = computed(() => [
        {
          name: "new-pseudo-id",
          value: "new",
          label: t("pages.share.anonymisation.getPseudoIdentity"),
        },
        {
          name: "existing-pseudo-id",
          value: "existing",
          label: t("pages.share.anonymisation.selectPseudoIdentity"),
          disabled: !existingPseudoIds || existingPseudoIds.value.length === 0,
        },
        {
          name: "tpm-pseudo-id",
          value: "tpm",
          label: t("pages.share.anonymisation.useDevice"),
          show: activateTpm.value,
        },
      ]);

      const getDataColumns = () => {
        const columns = new Set();
        sampleData.value.forEach((row: any) => {
          Object.keys(row).forEach((key: string) => columns.add(key[0].toUpperCase() + key.slice(1)));
        });
        return Array.from(columns);
      };

      const dataColumns = getDataColumns();
      dataColumns.forEach((column: any) => {
        if (!R.has(column, config.value.levels)) {
          config.value.levels[column as string] = 0;
        }
      });

      const pseudoIdChanged = (newValue: string) => {
        if (newValue === "existing" || newValue === "new") {
          config.value.useTPM = false;
          config.value.tpmPseudonym = null;
        }
        if (newValue === "tpm" && activateTpm.value) {
          config.value.pseudoId = null;
          config.value.useTPM = true;
        }
      };

      const showPreview = () => {
        loadingPreview.value = true;
        fetch()
          .then(() => (loadingPreview.value = false))
          .catch(e => {
            loadingPreview.value = false;
            show(e, "error", t("pages.share.anonymisation.anonymisationPreviewError"));
          });
      };

      const saveAnonymisation = () => {
        if (!R.isNil(config.value.tpmPseudonym)) config.value.useTPM = true;
        if (config.value.anonymise) {
          configuration.value.configuration.anonymisation.rules = {
            colNames: previewConfiguration.value.colNames,
            buildIDs: previewConfiguration.value.buildIDs,
            anonLevels: previewConfiguration.value.anonLevels,
          };
        } else {
          configuration.value.configuration.anonymisation.rules = {
            colNames: [],
            buildIDs: [],
            anonLevels: [],
          };
        }
        save();
      };

      onMounted(() => {
        joinTPMDAA();
      });

      const anonymisationSwitchChange = (field: any) => {
        openAnonymisation.value[field.key] = !openAnonymisation.value[field.key];
      };

      router.push({
        name: Step.findByPosition(currentStep).getPageName(),
        query: { id: id.value, step: currentStep + 1 },
      });

      return {
        form,
        id,
        currentStep,
        config,
        anonymisationOptions,
        pseudoIdOptions,
        existingPseudoIds,
        tpmPseudonyms,
        sampleData,
        dataColumns,
        anonymisationPreview,
        validationSchema,
        isStepValid,
        validStep,
        fields,
        hierarchiesByType,
        loadingPreview,
        fieldsToAnonymize,
        canAnonymise,
        columns,
        asset,
        loadingAsset,
        openAnonymisation,
        previewConfiguration,
        buildIDs,
        anonLevels,
        showPreview,
        clearPreview,
        pseudoIdChanged,
        saveAnonymisation,
        anonymisationSwitchChange,
        readPseudonymsFromTPM,
        joinTPMDAA,
        createTPMPseudonym,
        useTPMtoGenerate,
        configuration,
        activateTpm,
        translatedHierarchies,
      };
    },
  });
</script>
