<template>
  <div class="h-full">
    <Form
      ref="form"
      as="div"
      :validation-schema="validationSchema"
      class="flex flex-col h-full space-y-4 lg:space-y-6"
      v-if="isStepValid"
      v-slot="{ errors }"
    >
      <SharingHeader :currentStep="currentStep" />
      <div v-if="asset && !asset.data[0].file" class="flex flex-col flex-1 space-y-4">
        <div
          class="flex flex-row items-center p-4 space-x-4 rounded bg-secondary-200 text-secondary-800 sm:mx-6 lg:mx-8"
        >
          <ShieldExclamationIcon class="w-12 h-12" />
          <p>{{ $t("pages.share.fieldMapping.explanation") }}</p>
        </div>
        <VerticalTable :searchable="false" :fields="fields" :data="sampleData" class="w-full text-sm">
          <template #footer="{ field }">
            <div class="flex flex-col items-start flex-1 h-full p-4">
              <SelectMenu
                v-model="mapping[field.key]"
                :label="$t('pages.share.fieldMapping.correspondingField')"
                :name="$t('pages.share.fieldMapping.correspondingField')"
                :options="piisOptions"
                valueField="id"
                labelField="name"
                class="w-40 md:w-64"
                popsOver
                customMaxWidth="200"
              />
            </div>
          </template>
        </VerticalTable>
      </div>
      <div v-else class="flex flex-col items-center justify-center flex-1 space-y-4">
        <div class="max-w-sm">
          <svg-image class="p-4" :src="emptyBox" />
        </div>
        <div>
          {{ $t("pages.share.pratoFieldInfo") }}
        </div>
      </div>
      <SharingFooter
        v-if="form"
        class="pt-4 border-t lg:pt-6"
        @continue="save()"
        hasBack
        :id="id"
        :currentStep="currentStep"
        :validate="form.validate"
        :errors="errors"
        :configuration="configuration"
      />
    </Form>
    <InvalidStepModal :isStepValid="isStepValid" :validStep="validStep" :stepId="id" />
  </div>
</template>

<script lang="ts">
  import { InvalidStepModal, SharingFooter, SharingHeader } from "@/components/share";
  import { useAsset, useConfiguration, useRiskExposurePiis } from "@/composables";
  import { Step } from "@/constants";
  import { RiskScoreMapping } from "@/interfaces";
  import { ShieldExclamationIcon, InformationCircleIcon } from "@heroicons/vue/solid";
  import { required } from "@vee-validate/rules";
  import * as R from "ramda";
  import { defineRule, Form } from "vee-validate";
  import { computed, defineComponent, Ref, ref, watch } from "vue";
  import { useI18n } from "vue-i18n";
  import { useRouter } from "vue-router";
  import emptyBox from "../../assets/empty_box.svg";

  defineRule("required", required);

  export default defineComponent({
    name: "FieldMapping",
    components: {
      SharingHeader,
      SharingFooter,
      Form,
      InvalidStepModal,
      ShieldExclamationIcon,
      InformationCircleIcon,
    },
    setup() {
      const router = useRouter();
      const form = ref<any>();
      const { id, configuration, currentStep, save, checkStep } = useConfiguration();
      const config = configuration.value.configuration;
      const validationSchema = computed(() => {
        return {};
      });
      const { isStepValid, validStep } = checkStep();
      const { t } = useI18n();
      const assetId = computed(() => configuration.value.asset);

      const { asset, fields } = useAsset(assetId);
      const { piis } = useRiskExposurePiis();

      const piisOptions = computed(() => {
        return [{ id: null, name: t("pages.share.fieldMapping.noAppropriateField") }, ...piis.value];
      });

      const mapping: Ref<Record<string, number | null>> = ref({});

      router.push({
        name: Step.findByPosition(currentStep)?.getPageName(),
        query: { id: id.value, step: currentStep + 1 },
      });

      const sampleData = computed(() => {
        if (asset.value?.data && R.is(Array, asset.value?.data) && asset.value?.data.length > 0) {
          return [asset.value?.data[0]];
        }
        return [];
      });

      watch(
        () => fields.value,
        (newFields: { key: string; label: string; type: string }[]) => {
          mapping.value = newFields.reduce(
            (acc: Record<string, number | null>, field: { key: string; label: string; type: string }) => {
              const existing: RiskScoreMapping = configuration.value.fieldMapping.find(
                (mapping: RiskScoreMapping) => mapping.datasetAttribute === field.key
              );

              if (existing) acc[field.key] = existing.piiId;
              else acc[field.key] = null;

              return acc;
            },
            {}
          );
        },
        { deep: true, immediate: true }
      );

      watch(
        () => mapping.value,
        (newMapping: Record<string, number | null>) => {
          if (Object.keys(newMapping).length > 0) {
            configuration.value.fieldMapping = Object.keys(newMapping).map((key: string): RiskScoreMapping => {
              let anonymDigits = 0;
              if (configuration.value?.configuration?.anonymisation) {
                const index = configuration.value.configuration.anonymisation.rules.colNames.indexOf(key);
                if (index >= 0) anonymDigits = configuration.value.configuration.anonymisation.rules.anonLevels[index];
              }
              const totalDigits =
                sampleData.value && sampleData.value.length > 0 ? (sampleData.value[0] as any)[key]?.length || 0 : 0;
              return {
                piiId: newMapping[key],
                datasetAttribute: key,
                privacyLevel: {
                  anonymDigits,
                  totalDigits,
                },
              };
            });
          }
        },
        { deep: true }
      );

      return {
        piisOptions,
        asset,
        fields,
        t,
        form,
        id,
        currentStep,
        config,
        save,
        validationSchema,
        isStepValid,
        validStep,
        configuration,
        mapping,
        sampleData,
        emptyBox,
      };
    },
  });
</script>
