<template>
  <Form
    ref="form"
    as="div"
    :validation-schema="validationSchema"
    class="flex flex-col h-full space-y-4 lg:space-y-6"
    v-slot="{ errors }"
  >
    <sharing-header :currentStep="currentStep" />
    <div class="flex flex-col flex-1 space-y-2">
      <div class="flex flex-col space-y-8 divide-y divide-neutral-200">
        <div class="flex flex-col space-y-6">
          <div class="flex flex-col space-y-1">
            <h3 class="text-lg font-medium leading-6 text-neutral-900">
              {{ $t("pages.share.assetToShare") }}
            </h3>
            <p class="text-sm text-neutral-500">
              {{ $t("pages.share.toStart") }}
            </p>
          </div>

          <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="space-y-2 sm:col-span-4">
              <div v-if="loadingAssets" class="p-4">
                <spinner horizontal>{{ $t("pages.share.loadingAssets") }}</spinner>
              </div>
              <multiselect-field
                v-else-if="assets.length > 0"
                name="asset"
                :label="$t('pages.share.asset')"
                v-model="configuration.asset"
                :options="assets"
                valueProp="id"
                labelProp="name"
                trackBy="name"
                @changed="changeAsset"
              />
              <div v-else>
                {{ $t("pages.share.noAvailableAssets") }}
                <router-link to="/data-fetcher">
                  <span class="text-primary-600 hover:text-primary-500">{{ $t("pages.share.connectedSources") }}</span>
                </router-link>
                {{ $t("pages.share.toAdd") }}.
              </div>
            </div>
          </div>
          <div v-if="loadingAsset" class="p-4">
            <spinner horizontal>{{ $t("pages.share.loadingAssets") }}</spinner>
          </div>

          <template v-if="!loadingAsset && selectedAsset">
            <div v-if="assetHasData" class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="space-y-2 sm:col-span-6">
                <label class="block text-sm font-medium text-neutral-700">
                  {{ $t("pages.share.preview") }}
                </label>
                <div v-if="selectedAsset.sourceType !== 'PRATO'" class="flex flex-col space-y-2">
                  <div
                    class="flex flex-row items-center p-2 space-x-2 text-xs italic rounded text-info-800 bg-info-100"
                  >
                    <div class="w-6 h-6">
                      <InformationCircleIcon class="w-6 h-6" />
                    </div>
                    <span>{{ $t("pages.share.dataNotice") }}</span>
                  </div>
                  <vertical-table
                    :searchable="false"
                    :fields="fields"
                    :data="selectedAsset.data"
                    class="w-full text-sm"
                  />
                </div>
                <div v-else class="flex flex-col space-y-2">
                  <div
                    class="flex flex-row items-center p-2 space-x-2 text-xs italic rounded text-info-800 bg-info-100"
                  >
                    <div class="w-6 h-6">
                      <InformationCircleIcon class="w-6 h-6" />
                    </div>
                    <span>{{ $t("pages.share.pratoInfo") }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div v-else class="flex flex-col items-center justify-center">
              <div class="max-w-sm">
                <svg-image class="p-4" :src="imageNoData" />
              </div>
              <div>
                {{ $t("pages.share.cannotBeShared") }}
              </div>
            </div>
          </template>
        </div>

        <template v-if="!loadingAsset && selectedAsset">
          <div class="flex flex-col space-y-6">
            <div class="flex flex-col space-y-1">
              <h3 class="mt-6 text-lg font-medium leading-6 text-neutral-900">
                {{ $t("pages.share.assetInformation") }}
              </h3>
              <p class="text-sm text-neutral-500">
                {{ $t("pages.share.provideInformation") }}
              </p>
            </div>

            <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="space-y-2 sm:col-span-4">
                <input-field
                  name="assetName"
                  :label="$t('pages.share.dataAssetTitle')"
                  v-model="configuration.name"
                  :rules="validationSchema['assetName']"
                >
                </input-field>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="space-y-2 sm:col-span-4">
                <textarea-field
                  name="assetDescription"
                  :label="$t('pages.share.dataAssetDescription')"
                  v-model="configuration.description"
                  :rules="validationSchema['assetDescription']"
                >
                </textarea-field>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="space-y-2 sm:col-span-4">
                <multiselect-field
                  :label="$t('pages.share.assetKeywords')"
                  name="assetKeywords"
                  mode="tags"
                  v-model="configuration.keywords"
                  :options="configuration.keywords"
                  :createTag="true"
                  :showOptions="false"
                />
              </div>
            </div>
          </div>
        </template>

        <div class="flex flex-col space-y-6" v-show="!loadingAsset && selectedAsset && assetHasData">
          <div class="flex flex-col space-y-1">
            <h3 class="mt-6 text-lg font-medium leading-6 text-neutral-900">
              {{ $t("pages.share.sharingConfig") }}
            </h3>
            <p class="text-sm text-neutral-500">
              {{ $t("pages.share.createOrUse") }}
            </p>
          </div>
          <div>
            <div class="flex flex-row w-full space-y-2">
              <radio-buttons
                :options="configurationOptions"
                v-model="configuration.details.fromExistingConfig"
                v-if="existingConfigurationOptions.length > 0"
                name="useExistingConfiguration"
                @changed="setConfiguration"
                isBoolean
              >
                <template #useExisting="{ option }">
                  <label :for="option.name" class="text-neutral-700">
                    <span :class="{ 'font-medium': option.description }">{{ option.label }}</span>
                  </label>
                  <select-menu
                    v-if="configuration.details.fromExistingConfig"
                    name="existingConfiguration"
                    class="ml-4 w-60"
                    v-model="configuration.details.existingId"
                    :placeholder="$t('pages.share.selectConfig')"
                    :options="existingConfigurationOptions"
                    @changed="changeExistingConfiguration"
                  />
                </template>
              </radio-buttons>
            </div>
          </div>
          <configuration-preview
            v-if="configuration.details.existingConfig"
            :showAssetInfo="false"
            :configuration="{
              configuration: JSON.parse(configuration.details.existingConfig),
            }"
          />
          <!-- start Tailwind UI selections -->
          <!-- Levels -->
          <div
            class="mt-24 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-8"
            v-if="!configuration.details.existingConfig && !configuration.details.fromExistingConfig"
          >
            <div
              v-for="(level, index) in shareSecurityLevels.levels"
              :key="JSON.stringify(shareSecurityLevels.levels[index])"
              class="relative flex flex-col p-8 bg-white border shadow-sm rounded-2xl"
              :class="level.selected ? [level.border, level.bgColorLight] : ''"
            >
              <div class="flex-1">
                <h3 class="text-xl font-semibold text-neutral-900">{{ level.intro }}</h3>
                <p
                  v-if="level.selected"
                  class="absolute top-0 py-1.5 px-4 rounded-full text-xs font-semibold uppercase tracking-wide text-white transform -translate-y-1/2"
                  :class="level.bgColor"
                >
                  {{ $t("pages.share.selected") }}
                </p>
                <p class="flex items-baseline mt-4 text-neutral-900">
                  <span class="text-5xl font-extrabold tracking-tight">{{ level.title }}</span>
                </p>

                <!-- Feature list -->
                <ul role="list" class="mt-6 space-y-6">
                  <li v-for="feature in level.features" :key="feature" class="flex">
                    <CheckIcon class="flex-shrink-0 w-6 h-6 text-neutral-500" aria-hidden="true" />
                    <span class="ml-3 text-neutral-500">{{ feature }}</span>
                  </li>
                </ul>
              </div>

              <a
                :style="{ visibility: level.selected ? 'hidden' : 'visible' }"
                :class="[
                  level.selected
                    ? `${level.bgColor} text-white hover:${level.hoverColor}`
                    : 'bg-neutral-100 text-neutral-700 hover:bg-neutral-200',
                  'mt-8 block w-full py-3 px-6 border border-transparent rounded-md text-center font-medium cursor-pointer',
                ]"
                @click="
                  assignConfiguration(level.config);
                  setLevel(level.config);
                "
                >{{ level.cta }}</a
              >
            </div>
          </div>
          <!-- end Tailwind UI selections -->
        </div>
      </div>
    </div>
    <sharing-footer
      v-if="form"
      class="pt-4 lg:pt-6"
      :id="id"
      :currentStep="currentStep"
      :validate="form.validate"
      :canContinue="selectedAsset && assetHasData"
      :errors="errors"
      @continue="save"
      :configuration="configuration"
    />
  </Form>
</template>
<script lang="ts">
  import { SharingConfiguration } from "@/api";
  import { InputField, MultiselectField, SimpleTable, SvgImage, TextareaField } from "@/components";
  import { ConfigurationPreview, SharingFooter, SharingHeader } from "@/components/share";
  import { useAsset, useAssets, useConfiguration, useToaster } from "@/composables";
  import { Step } from "@/constants";
  import { ConfigurationLevel } from "@/constants/configuration-level.constant";
  import { CheckIcon, InformationCircleIcon } from "@heroicons/vue/outline";
  import { clone } from "ramda";
  import { Form } from "vee-validate";
  import { computed, defineComponent, onMounted, ref, watch } from "vue";
  import { useI18n } from "vue-i18n";
  import { useRoute, useRouter } from "vue-router";
  import imageNoData from "../../assets/no-data.svg";

  export default defineComponent({
    name: "Share",
    components: {
      Form,
      SharingHeader,
      SharingFooter,
      MultiselectField,
      TextareaField,
      InputField,
      SimpleTable,
      ConfigurationPreview,
      SvgImage,
      InformationCircleIcon,
      CheckIcon,
    },
    setup() {
      const { t } = useI18n();
      const router = useRouter();
      const route = useRoute();
      const toaster = useToaster();
      const { assets, loading: loadingAssets } = useAssets();
      const {
        id,
        configuration,
        currentStep,
        save,
        getNewConfiguration,
        chooseConfiguration,
        customConfig,
        maxPrivacyConfig,
        lowPrivacyConfig,
        assignConfiguration,
      } = useConfiguration();

      const form = ref<any>();
      const assetOptions = ref<Array<any>>([]);
      const selectedAssetId = ref<number | null>(null);
      const { asset: selectedAsset, loading: loadingAsset, fields } = useAsset(selectedAssetId);
      const existingConfigurations = ref<Array<any>>([]);
      const existingConfigurationOptions = ref<Array<any>>([]);
      const useExistingConfiguration = ref<boolean>(false);
      const routeId = ref<any>(null);
      onMounted(() => {
        routeId.value = route.query.id;
      });

      const foundObject = computed(() => assets.value.find(obj => obj.uid === routeId.value));

      //set the default
      if (!configuration.value.details.fromExistingConfig) chooseConfiguration(maxPrivacyConfig);

      //TODO: Removed validation from asset selection
      const validationSchema = computed(() => {
        return {
          assetName: "required",
          assetDescription: "required",
          assetKeywords: "",
          existingConfiguration: configuration.value.details.fromExistingConfig ? "required" : "",
        };
      });

      const getAssets = () => {
        assetOptions.value = assets.value.map((asset: any) => ({
          label: asset.name,
          value: asset.id,
        }));
      };

      const getExistingConfigurations = async () => {
        const { data: configurations } = await SharingConfiguration.all();
        existingConfigurations.value = configurations;
        existingConfigurationOptions.value = configurations.map((config: any) => ({
          label: config.name,
          value: config.id,
        }));
      };

      const setConfiguration = () => {
        configuration.value.details.existingConfig = null;
        configuration.value.details.existingName = null;
        configuration.value.details.existingId = null;

        if (!configuration.value.details.fromExistingConfig) {
          chooseConfiguration(maxPrivacyConfig);
          selectedLevel.value = ConfigurationLevel.MAX;
        } else configuration.value.configuration.level = "existing";
      };

      const changeExistingConfiguration = (id: string) => {
        const selConfig = existingConfigurations.value.find((config: any) => config.id === parseInt(id, 10));
        if (selConfig) {
          const config = clone(selConfig.configuration);
          configuration.value.details.existingConfig = JSON.stringify(config);
          configuration.value.details.existingName = selConfig.name;
          configuration.value.configuration = config;
        } else {
          configuration.value.details.fromExistingConfig = false;
          setConfiguration();
        }
      };

      const configurationOptions = [
        {
          name: "createNew",
          value: false,
          label: t("pages.share.createNewConfig"),
        },
        {
          name: "useExisting",
          value: true,
          label: t("pages.share.useExistingConfig"),
        },
      ];

      const assetHasData = computed(() => {
        if (selectedAsset.value) {
          return !!(selectedAsset.value.data && selectedAsset.value.data.length > 0);
        }
        return false;
      });

      selectedAssetId.value = configuration.value.asset ? Number(configuration.value.asset) : null;

      //   router.push({
      //     name: Step.findByPosition(currentStep).getPageName(),
      //     query: { id: id.value, step: currentStep + 1 },
      //   });

      getAssets();
      getExistingConfigurations();

      const changeAsset = (assetId: number) => (selectedAssetId.value = assetId);

      const selectedLevel = ref<string>(ConfigurationLevel.MAX);

      const setLevel = (level: string) => {
        selectedLevel.value = level;
      };

      const isMax = computed(() => selectedLevel.value === ConfigurationLevel.MAX);
      const isLow = computed(() => selectedLevel.value === ConfigurationLevel.LOW);
      const isCustom = computed(() => selectedLevel.value === ConfigurationLevel.CUSTOM);

      const shareSecurityLevels = computed(() => {
        return {
          levels: [
            {
              intro: t("pages.share.setPriceAndShare"),
              title: t("pages.share.maxPrivacy"),
              features: [
                t("pages.share.maxPriv1"),
                t("pages.share.maxPriv1a"),
                t("pages.share.maxPriv2"),
                t("pages.share.maxPriv3"),
                t("pages.share.maxPriv4"),
              ],
              cta: t("pages.share.selectConfiguration"),
              selected: isMax.value,
              config: ConfigurationLevel.MAX,
              bgColor: "bg-red-500",
              bgColorLight: "bg-red-100",
              hoverColor: "bg-red-600",
              border: "border-red-500",
            },
            {
              intro: t("pages.share.setPriceAndShare"),
              title: t("pages.share.lowPrivacy"),
              features: [t("pages.share.lowPriv1"), t("pages.share.lowPriv2")],
              cta: t("pages.share.selectConfiguration"),
              selected: isLow.value,
              config: ConfigurationLevel.LOW,
              bgColor: "bg-green-500",
              bgColorLight: "bg-green-100",
              hoverColor: "bg-green-600",
              border: "border-green-500",
            },
            {
              intro: t("pages.share.setPriceAndShare"),
              title: t("pages.share.customParams"),
              features: [t("pages.share.custParams1")],
              cta: t("pages.share.selectConfiguration"),
              selected: isCustom.value,
              config: ConfigurationLevel.CUSTOM,
              bgColor: "bg-blue-500",
              bgColorLight: "bg-blue-100",
              hoverColor: "bg-blue-600",
              border: "border-blue-500",
            },
          ],
        };
      });

      watch(
        () => selectedAsset.value,
        (data: any) => {
          configuration.value.name = configuration.value.name || data.name;
          configuration.value.description = configuration.value.description || data.description;
          configuration.value.keywords =
            configuration.value.keywords.length > 0 ? configuration.value.keywords : data.keywords || [];
          loadingAsset.value = false;
          configuration.value.assetUid = data?.uid;
        }
      );
      watch(
        () => assets.value,
        allAssets => {
          if (allAssets && foundObject.value) {
            configuration.value.asset = parseInt(foundObject.value.id, 10);
            changeAsset(foundObject.value.id);
          }
        }
      );

      return {
        id,
        currentStep,
        configuration,
        selectedAsset,
        assetOptions,
        save,
        validationSchema,
        form,
        useExistingConfiguration,
        configurationOptions,
        existingConfigurationOptions,
        setConfiguration,
        changeExistingConfiguration,
        changeAsset,
        assetHasData,
        loadingAssets,
        loadingAsset,
        fields,
        imageNoData,
        assets,
        chooseConfiguration,
        assignConfiguration,
        maxPrivacyConfig,
        lowPrivacyConfig,
        customConfig,
        shareSecurityLevels,
        isMax,
        isLow,
        isCustom,
        setLevel,
        foundObject,
      };
    },
  });
</script>
