<template>
  <div class="h-full">
    <Form
      ref="form"
      as="div"
      :validation-schema="validationSchema"
      class="flex flex-col h-full space-y-4 lg:space-y-6"
      v-if="isStepValid"
      v-slot="{ errors }"
    >
      <SharingHeader :currentStep="currentStep" />
      <div class="flex flex-col flex-1 space-y-2">
        <div class="space-y-8 divide-y divide-neutral-200">
          <div class="space-y-3">
            <div class="pb-1">
              <h3 class="text-lg font-medium leading-6 text-neutral-900">
                {{ $t("pages.share.otherInformation.assetPrice") }}
              </h3>
              <p class="mt-1 text-sm text-neutral-500">
                {{ $t("pages.share.otherInformation.providePrice") }}
              </p>
            </div>
            <RadioButtons
              name="priceType"
              :options="priceOptions"
              v-model="config.specificPrice"
              vertical
              isBoolean
              @changed="changePriceOption"
            >
              <template #specific-price="{ option }">
                <label :for="option.name" class="text-neutral-700">
                  <span :class="{ 'font-medium': option.description }">{{ option.label }}</span>
                </label>
                <template v-if="config.specificPrice">
                  <InputField
                    class="w-full sm:w-48"
                    v-model="config.price"
                    name="price"
                    type="number"
                    placeholder="0"
                    :min="0"
                  />
                  <PrimaryButton class="hidden h-10 whitespace-nowrap">{{
                    $t("pages.share.otherInformation.suggestPrice")
                  }}</PrimaryButton>
                </template>
              </template>
            </RadioButtons>
          </div>

          <div class="pt-8 space-y-3">
            <div class="pb-1">
              <h3 class="text-lg font-medium leading-6 text-neutral-900">
                {{ $t("pages.share.otherInformation.license") }}
              </h3>
              <p class="mt-1 text-sm text-neutral-500">
                {{ $t("pages.share.otherInformation.chooseLicense") }}
              </p>
            </div>
            <RadioButtons
              name="license"
              :options="licenseOptions"
              v-model="config.licenseType"
              @changed="changeLicenseType"
            />

            <div class="flex flex-col space-y-4">
              <!-- <div class="text-sm font-medium text-neutral-700 whitespace-nowrap" v-if="config.licenseType">
                <span v-if="config.licenseType === 'standard'">
                  {{ $t("pages.share.otherInformation.standard") }}
                </span>
                <span v-else>
                  {{ $t("pages.share.otherInformation.own") }}
                </span>
                {{ $t("pages.share.otherInformation.license") }}:
              </div> -->
              <SelectMenu
                name="standardLicense"
                v-if="config.licenseType === 'standard'"
                class="ml-4 w-52"
                v-model="config.standardLicense"
                :placeholder="$t('pages.share.otherInformation.selectStandardLicense')"
                :options="translatedStandardLicenses"
                :disabled="config.license === 'own'"
              />
              <v-md-editor
                v-show="config.licenseType === 'own'"
                v-model="config.ownLicense"
                height="400px"
                class="block w-full"
              ></v-md-editor>
            </div>
            <div class="pt-5" v-if="config.licenseType === 'standard'">
              <div class="flex p-2 text-sm rounded-md bg-blue-50 text-neutral-600">
                <InformationCircleIcon class="w-5 h-5 mr-2 text-blue-400" aria-hidden="true" />
                <p>
                  {{ $t("pages.share.otherInformation.moreInformation") }},
                  <a
                    class="text-primary-500 hover:underline hover:text-primary-600"
                    href="https://creativecommons.org/share-your-work/"
                    target="_blank"
                  >
                    {{ $t("pages.share.otherInformation.clickHere") }}</a
                  >.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-8 space-y-3">
            <div class="pb-1">
              <h3 class="text-lg font-medium leading-6 text-neutral-900">
                {{ $t("pages.share.otherInformation.encryption") }}
              </h3>
              <p class="mt-1 text-sm text-neutral-500">
                {{ $t("pages.share.otherInformation.selectEncryption") }}
              </p>
            </div>
            <RadioButtons name="encryption" :options="encryptionOptions" v-model="config.encryption" isBoolean />
            <div v-if="encryptionOptions[1].disabled" class="flex flex-row items-center p-2 space-x-2 text-xs italic rounded text-info-800 bg-info-100">
              <div class="w-6 h-6">
                <InformationCircleIcon class="w-6 h-6" />
              </div>
              <span>{{ $t("pages.share.otherInformation.encryptionUnavailable") }}</span>
            </div>
          </div>

          <div class="pt-8 space-y-3">
            <div class="pb-1">
              <h3 class="text-lg font-medium leading-6 text-neutral-900">
                {{ $t("pages.share.otherInformation.otherOptions") }}
              </h3>
            </div>
            <SwitchToggle
              :disabled="configuration.configuration.level === 'max' || configuration.configuration.level === 'low'"
              :label="$t('pages.share.otherInformation.allowData')"
              v-model="config.persona"
              class="max-w-lg"
              :class="configuration.configuration.level === 'max' ? 'opacity-70' : ''"
            />
            <SwitchToggle
              :disabled="!activateTpm || !config.anonymisation.useTPM"
              :label="$t('pages.share.otherInformation.useTPM')"
              v-model="config.useTPM"
              class="max-w-lg"
              :class="!activateTpm || !config.anonymisation.useTPM ? 'opacity-70' : ''"
            />
            <div
              v-if="!activateTpm"
              class="flex flex-row items-center p-2 space-x-2 text-xs italic rounded text-info-800 bg-info-100"
            >
              <div class="w-6 h-6">
                <InformationCircleIcon class="w-6 h-6" />
              </div>
              <span>{{ $t("pages.share.otherInformation.tpmUnavailable") }}</span>
            </div>
          </div>
        </div>
      </div>
      <SharingFooter
        v-if="form"
        class="pt-4 border-t lg:pt-6"
        @continue="save()"
        hasBack
        :id="id"
        :currentStep="currentStep"
        :validate="form.validate"
        :errors="errors"
        :configuration="configuration"
      />
    </Form>
    <InvalidStepModal :isStepValid="isStepValid" :validStep="validStep" :stepId="id" />
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent, ref, onMounted, watch } from "vue";
  import { SharingFooter, SharingHeader, InvalidStepModal } from "@/components/share";
  import { useConfiguration, useTPMCheck } from "@/composables";
  import { useRouter } from "vue-router";
  import { defineRule, Form } from "vee-validate";
  import { required } from "@vee-validate/rules";
  import { InformationCircleIcon } from "@heroicons/vue/solid";
  import { Step } from "@/constants";
  import { standardLicenses } from "@/constants";
  import { useI18n } from "vue-i18n";
  import * as R from "ramda";

  defineRule("required", required);

  export default defineComponent({
    name: "OtherInformation",
    components: {
      SharingHeader,
      SharingFooter,
      Form,
      InvalidStepModal,
      InformationCircleIcon,
    },
    setup() {
      const router = useRouter();
      const form = ref<any>();
      const ownLicenseText = ref<any>("");
      const { id, configuration, currentStep, save, checkStep } = useConfiguration();
      const config = configuration.value.configuration;
      config.ownLicense = config.ownLicense ? config.ownLicense : "";
      const validationSchema = computed(() => {
        return {
          price: config.specificPrice ? "required" : "",
          license: "required",
          standardLicense: config.licenseType === "standard" ? "required" : "",
          licenseText:
            config.licenseType === "own" &&
            (R.isNil(config.ownLicense) || R.isEmpty(config.ownLicense) || /^\s*$/.test(config.ownLicense))
              ? "required"
              : "",
        };
      });
      const { isStepValid, validStep } = checkStep();
      const { t } = useI18n();

      const translatedStandardLicenses = standardLicenses.map(item => {
        return Object.assign({}, item, {
          label: item.label.startsWith("constants") ? t(item.label) : item.label,
          description: t(item.description),
        });
      });

      const { joinTPMDAA, activateTpm } = useTPMCheck();

      onMounted(() => {
        joinTPMDAA();
      });

      if (config.anonymisation.useTPM) config.useTPM = true;
      if (configuration.value.configuration.level === "low") config.persona = true;

      const licenseOptions = [
        {
          name: "standard-license",
          value: "standard",
          label: t("pages.share.otherInformation.standardLicense"),
        },
        {
          name: "own-license",
          value: "own",
          label: t("pages.share.otherInformation.authorYourOwn"),
        },
      ];

      const priceOptions = [
        {
          name: "specific-price",
          value: true,
          label: t("pages.share.otherInformation.setPrice"),
        },
        {
          name: "upon-request",
          value: false,
          label: t("pages.share.otherInformation.letOffer"),
        },
      ];

      const encryptionOptions = [
        {
          name: "unencrypted",
          value: false,
          label: t("pages.share.otherInformation.shareUnencrypted"),
        },
        {
          name: "encrypted",
          value: true,
          label: t("pages.share.otherInformation.shareEncrypted"),
          disabled: true
        },
      ];

      watch(
        () => configuration.value.configuration.accessPolicies,
        (newValue: any) => {
          if (
            newValue.continent.length > 0 ||
            newValue.country.length > 0 ||
            newValue.reputation !== 0 ||
            newValue.sector.length > 0 ||
            newValue.size.length > 0 ||
            newValue.type.length > 0
          ) {
            encryptionOptions[1].disabled = false;
          }
        },
        { immediate: true }
      );

      router.push({
        name: Step.findByPosition(currentStep)?.getPageName(),
        query: { id: id.value, step: currentStep + 1 },
      });

      const changePriceOption = (value: boolean) => {
        if (!value) configuration.value.configuration.price = null;
      };

      const changeLicenseType = (value: string) => {
        if (value === "standard") configuration.value.configuration.ownLicense = "";
        else configuration.value.configuration.standardLicense = null;
      };

      return {
        form,
        id,
        currentStep,
        config,
        priceOptions,
        licenseOptions,
        translatedStandardLicenses,
        encryptionOptions,
        save,
        validationSchema,
        isStepValid,
        validStep,
        changePriceOption,
        changeLicenseType,
        configuration,
        ownLicenseText,
        activateTpm,
      };
    },
  });
</script>
