<template>
  <div class="h-full">
    <Form
      ref="form"
      as="div"
      class="flex flex-col h-full space-y-4 lg:space-y-6"
      v-if="isStepValid"
      v-slot="{ errors }"
    >
      <sharing-header :currentStep="currentStep" />
      <div class="flex flex-col flex-1 space-y-2">
        <div class="flex flex-col items-center flex-1 mt-6 md:mt-20">
          <div class="flex flex-col items-center pb-1">
            <badge-check-icon class="w-24 h-24 text-center text-green-500" />
            <!-- <clipboard-check-icon class="w-24 h-24 text-center text-green-500" /> -->
            <h3 class="mt-1 text-2xl font-medium leading-6 text-neutral-900">
              {{ $t("pages.share.progress.congratulations") }}
            </h3>
          </div>
          <div class="text-lg text-center text-neutral-600">
            {{ $t("pages.share.progress.yourDataAsset") }}
          </div>
          <!-- <div class="pt-8 text-center">
          <a
            href="#"
            class="text-primary-500 hover:text-primary-600 hover:underline"
            >Click here to see the "Log" of this transaction</a
          >
        </div> -->
        </div>
      </div>
      <sharing-footer
        class="pt-4 border-t lg:pt-6"
        :id="id"
        :currentStep="currentStep"
        :errors="errors"
        :configuration="configuration"
      >
        <router-link to="/my-vault">
          <primary-button>
            {{ $t("pages.share.progress.goToMyVault") }}
          </primary-button>
        </router-link>
      </sharing-footer>
    </Form>
    <invalid-step-modal
      :isStepValid="isStepValid"
      :validStep="validStep"
      :stepId="id"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import {
  SharingFooter,
  SharingHeader,
  InvalidStepModal,
} from "@/components/share";
import { useConfiguration } from "@/composables";
import { useRouter } from "vue-router";
import { Step } from "@/constants";
import { Form } from "vee-validate";
import { BadgeCheckIcon } from "@heroicons/vue/solid";
import { ClipboardCheckIcon } from "@heroicons/vue/outline";

export default defineComponent({
  name: "Progress",
  components: {
    SharingHeader,
    SharingFooter,
    Form,
    BadgeCheckIcon,
    ClipboardCheckIcon,
    InvalidStepModal,
  },
  setup() {
    const router = useRouter();

    const form = ref<any>();
    const { id, configuration, currentStep, save, checkStep } =
      useConfiguration();
    const { isStepValid, validStep } = checkStep();

    router.push({
      name: Step.findByPosition(currentStep).getPageName(),
      query: { id: id.value, step: currentStep + 1 },
    });

    return {
      id,
      currentStep,
      configuration,
      form,
      save,
      isStepValid,
      validStep,
    };
  },
});
</script>
