<template>
  <div class="h-full">
    <Form
      ref="form"
      as="div"
      class="flex flex-col h-full space-y-4 lg:space-y-6"
      :validation-schema="validationSchema"
      v-if="isStepValid"
      v-slot="errors"
    >
      <sharing-header :currentStep="currentStep" class="pb-4 border-b lg:pb-6" />
      <div class="space-y-8 divide-y divide-neutral-200">
        <div class="flex flex-col items-start space-y-6 md:space-y-0 md:flex-row md:space-x-6">
          <ConfigurationPreview :configuration="configuration" />
          <RiskExposureMetric :configuration="configuration" />
        </div>
        <div class="pt-8 space-y-3">
          <div class="pb-1">
            <h3 class="text-lg font-medium leading-6 text-neutral-900">
              {{ $t("pages.share.reviewExecute.configurationDetails") }}
            </h3>
          </div>
          <div class="flex flex-wrap items-center space-x-3" v-if="!saved">
            <template v-if="isNew || savingAsNew || updatingExisting">
              <div class="text-neutral-600" v-if="!updatingExisting">
                {{ $t("pages.share.reviewExecute.provideName") }}
              </div>
              <div class="text-neutral-600" v-else>
                {{ $t("pages.share.reviewExecute.updateExistingConfiguration") }}
              </div>
              <input-field
                name="configurationName"
                :placeholder="$t('pages.share.reviewExecute.configurationDetails')"
                v-model="configurationName"
              />
              <primary-button @click="saveConfiguration" v-if="!updatingExisting">
                <span>{{ $t("pages.share.reviewExecute.saveConfiguration") }}</span>
              </primary-button>
              <primary-button @click="updateConfiguration" v-else>
                <span>{{ $t("pages.share.reviewExecute.updateConfiguration") }}</span>
              </primary-button>
              <secondary-button @click="cancel" v-if="!isNew">
                <span>{{ $t("pages.share.reviewExecute.cancel") }}</span>
              </secondary-button>
            </template>
            <div class="text-neutral-600" v-else-if="changed">
              <div>
                <span class="font-medium">{{ $t("pages.share.reviewExecute.changesDetected") }}</span>
                {{ $t("pages.share.reviewExecute.youCan") }}
              </div>
              <div class="flex mt-2 space-x-4">
                <secondary-button @click="savingAsNew = true">
                  <span>{{ $t("pages.share.reviewExecute.saveAsNew") }}</span>
                </secondary-button>
                <secondary-button @click="enableUpdating">
                  <span>{{ $t("pages.share.reviewExecute.updateExisting") }}</span>
                </secondary-button>
              </div>
            </div>
            <div class="text-neutral-600" v-else>
              <span class="font-medium">{{ $t("pages.share.reviewExecute.noChangesDetected") }}</span>
              {{ $t("pages.share.reviewExecute.alreadySaved") }}:
              <span class="font-semibold">{{ configuration.details.existingName }}</span>
            </div>
          </div>
          <div class="text-neutral-600" v-else>
            {{ $t("pages.share.reviewExecute.savedAs") }}:
            <span class="font-semibold">{{ configurationName }}</span>
          </div>
        </div>
        <div class="pt-6">
          <Alert class="md:w-2/3">
            <span>
              {{ $t("pages.share.reviewExecute.pleaseHaveInMind") }}
              <tooltip :message="$t('pages.share.reviewExecute.tooltipMessage')">
                {{ $t("pages.share.reviewExecute.yourProfile") }}</tooltip
              >
              {{ $t("pages.share.reviewExecute.andContinue") }}
            </span>
          </Alert>
        </div>
      </div>
      <sharing-footer
        class="pt-4 border-t lg:pt-6"
        hasBack
        :id="id"
        :currentStep="currentStep"
        :errors="errors"
        :configuration="configuration"
      >
        <primary-button v-if="sharing" disabled class="flex flex-row justify-between opacity-50">
          <svg
            class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          <span>{{ $t("pages.share.reviewExecute.sharing") }}</span>
        </primary-button>
        <confirm-button v-else @confirmed="shareAsset">
          <primary-button>
            {{ $t("pages.share.reviewExecute.shareYourAsset") }}
          </primary-button>
          <template #confirm>
            <secondary-button colour="yellow">{{ $t("pages.share.reviewExecute.clickAgain") }} </secondary-button>
            <modal :okButtonMessage="Ok" :cancelButtonMessage="Cancel" @ok="shareAsset" @cancel="cancel">{{
              message
            }}</modal>
          </template>
        </confirm-button>
      </sharing-footer>
    </Form>
    <invalid-step-modal :isStepValid="isStepValid" :validStep="validStep" :stepId="id" />
  </div>
</template>

<script lang="ts">
  import { SharedAsset, SharingConfiguration } from "@/api";
  import { ConfirmButton, Modal } from "@/components";
  import {
    ConfigurationPreview,
    InvalidStepModal,
    RiskExposureMetric,
    SharingFooter,
    SharingHeader,
  } from "@/components/share";
  import { useConfiguration, useToaster } from "@/composables";
  import { Step } from "@/constants";
  import { ConfigurationLevel } from "@/constants/configuration-level.constant";
  import { clone } from "ramda";
  import { Form } from "vee-validate";
  import { computed, defineComponent, ref } from "vue";
  import { useI18n } from "vue-i18n";
  import { useRouter } from "vue-router";

  export default defineComponent({
    name: "ReviewExecute",
    components: {
      ConfirmButton,
      SharingHeader,
      SharingFooter,
      ConfigurationPreview,
      Form,
      InvalidStepModal,
      Modal,
      RiskExposureMetric,
    },
    setup() {
      const form = ref<any>(null);
      const router = useRouter();
      const toaster = useToaster();
      const savingAsNew = ref<boolean>(false);
      const updatingExisting = ref<boolean>(false);
      const configurationName = ref<string | null>(null);
      const { id, configuration, currentStep, save, checkStep } = useConfiguration();
      const validationSchema = { configurationName: "required" };
      const changed = ref<boolean>(true);
      const saved = ref<boolean>(false);
      const sharing = ref<boolean>(false);
      const { isStepValid, validStep } = checkStep();
      const { t } = useI18n();
      const message = t("pages.share.reviewExecute.pleaseClickOK");

      if (configuration.value.details.fromExistingConfig) {
        const currentConfig = clone(configuration.value.configuration);
        changed.value = JSON.stringify(currentConfig) !== configuration.value.details.existingConfig;
      }

      const isNew = computed(() => {
        return configuration.value.details.fromExistingConfig === false;
      });

      const updateExistingConfiguration = (config: any, name: string | null, id: number | null) => {
        configuration.value.details.existingConfig = JSON.stringify(config);
        configuration.value.details.existingName = name;
        if (id) configuration.value.details.existingId = String(id);
      };

      const saveConfiguration = async () => {
        const { valid } = await form.value.validate();
        if (valid) {
          const newConfiguration = clone(configuration.value.configuration);
          //Tag configuration level as 'existing' so that when user uses it next time it can skip steps
          newConfiguration.level = ConfigurationLevel.EXISTING;
          SharingConfiguration.create({
            name: configurationName.value,
            configuration: newConfiguration,
          })
            .then((res: any) => {
              saved.value = true;
              updateExistingConfiguration(newConfiguration, configurationName.value, res.data.id);
              toaster.show(t("pages.share.reviewExecute.configSaved"), "success");
            })
            .catch((err: any) => {
              const errorMessage = err.response.data.message;
              toaster.show(errorMessage, "error");
            });
        }
      };

      const updateConfiguration = async () => {
        const { valid } = await form.value.validate();
        if (valid) {
          const newConfiguration = clone(configuration.value.configuration);
          //Tag configuration level as 'existing' so that when user uses it next time it can skip steps
          newConfiguration.level = ConfigurationLevel.EXISTING;
          const configId = parseInt(configuration.value.details.existingId);
          SharingConfiguration.update(configId, {
            name: configurationName.value,
            configuration: newConfiguration,
          })
            .then(() => {
              saved.value = true;
              updateExistingConfiguration(newConfiguration, configurationName.value, null);
              toaster.show(t("pages.share.reviewExecute.configUpdated"), "success");
            })
            .catch((err: any) => {
              const errorMessage = err.response.data.message;
              toaster.show(errorMessage, "error");
            });
        }
      };

      const enableUpdating = () => {
        updatingExisting.value = true;
        configurationName.value = configuration.value.details.existingName;
      };

      const cancel = () => {
        updatingExisting.value = false;
        savingAsNew.value = false;
        configurationName.value = null;
      };

      const shareAsset = () => {
        sharing.value = true;
        save();
        const config = configuration.value.configuration;
        let shareType : string;
        if(config.anonymisation.anonymise && config.persona){
          config.shareType = 'Anonymous + Persona'
        }else if (config.anonymisation.anonymise){
          config.shareType = 'Anonymous'
        }else if (config.persona) {
          config.shareType = 'Normal + Persona'
        }else{
          config.shareType = 'Normal'
        }
        const payload = {
          assetId: parseInt(configuration.value.asset, 10),
          assetUUID: configuration.value.assetUUID,
          name: configuration.value.name,
          description: configuration.value.description,
          keywords: configuration.value.keywords,
          configuration: config,
          sharedType: config.shareType,
        };

        SharedAsset.create(payload)
          .then((res: any) => {
            if (res.response?.status && res.response.status >= 400) {
              toaster.show(res, "error", t("pages.share.reviewExecute.assetFailed"));
              sharing.value = false;
              return;
            }
            toaster.show(t("pages.share.reviewExecute.assetShared"), "success");
            sharing.value = false;
            router.push({
              name: Step.findByPosition(currentStep + 1).getPageName(),
              query: { id: id.value, step: currentStep + 2 },
            });
          })
          .catch(e => {
            toaster.show(e, "error", t("pages.share.reviewExecute.assetFailed"));
            sharing.value = false;
          });
      };

      router.push({
        name: Step.findByPosition(currentStep).getPageName(),
        query: { id: id.value, step: currentStep + 1 },
      });

      return {
        form,
        changed,
        saved,
        validationSchema,
        id,
        currentStep,
        configuration,
        saveConfiguration,
        updateConfiguration,
        shareAsset,
        configurationName,
        isNew,
        savingAsNew,
        updatingExisting,
        enableUpdating,
        cancel,
        isStepValid,
        validStep,
        sharing,
        message,
        t,
      };
    },
  });
</script>
