<template>
  <div class="flex flex-col min-h-screen">
    <div class="flex flex-row flex-1 w-full">
      <div class="flex flex-col flex-1 w-full">
        <div class="flex flex-row flex-grow-0 flex-shrink-0 w-full">
          <NavigationHeader class="flex flex-1" @toggleOpen="toggleOpen" />
        </div>
        <div class="flex flex-row flex-grow flex-shrink">
          <NavigationMenu v-model:open="openMenu" />
          <div class="flex flex-col flex-grow flex-shrink">
            <main class="flex flex-col flex-1 p-4" :class="classes">
              <RouterView></RouterView>
            </main>
            <MinimalFooter class="w-full border-t max-h-50"></MinimalFooter>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { computed, defineComponent, ref } from "vue";
  import { useRouter } from "vue-router";
  import MinimalFooter from "./components/MinimalFooter.vue";
  import NavigationHeader from "./components/NavigationHeader.vue";
  import NavigationMenu from "./components/NavigationMenu.vue";

  export default defineComponent({
    name: "DefaultLayout",
    components: { NavigationMenu, MinimalFooter, NavigationHeader },
    setup: function () {
      const openMenu = ref<boolean>(false);
      const toggleOpen = () => (openMenu.value = !openMenu.value);
      const classes = computed(() => useRouter().currentRoute.value.meta.classes);

      return { classes, openMenu, toggleOpen };
    },
  });
</script>
<style lang="postcss" scoped>
  main {
    min-height: calc(100vh - 220px);
  }
</style>
