<template>
  <div class="flex flex-col min-h-screen">
    <navigation-header />
    <main class="flex flex-col flex-1">
      <router-view></router-view>
    </main>
    <footer class="bg-neutral-800">
      <div class="px-4 py-2 mx-auto max-w-7xl sm:px-6 lg:pt-12 lg:px-8">
        <h2 class="sr-only">Footer</h2>
        <div class="pb-8 xl:grid xl:grid-cols-5 xl:gap-8">
          <div class="grid grid-cols-2 gap-8 xl:col-span-4">
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <h3
                  class="text-sm font-semibold tracking-wider uppercase text-neutral-400"
                >
                  {{ $t("stakeholders.dataOwner", 2) }}
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <primary-button @click="registerClicked" size="xs">
                        {{ $t("authentication.createAnAccount") }}
                      </primary-button>
                    </div>
                  </li>
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <primary-button @click="loginClicked" size="xs">
                        {{ $t("authentication.login") }}
                      </primary-button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3
                  class="text-sm font-semibold tracking-wider uppercase text-neutral-400"
                >
                  {{ $t("stakeholders.dataSeeker", 2) }}
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <a href="https://platform.datavaults.eu/sign-up">
                        {{ $t("authentication.createAnAccount") }}</a
                      >
                    </div>
                  </li>
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <a href="https://platform.datavaults.eu/login">{{
                        $t("authentication.login")
                      }}</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <h3
                  class="text-sm font-semibold tracking-wider uppercase text-neutral-400"
                >
                  {{ $t("footer.information") }}
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <router-link :to="{ name: 'about' }">
                        {{ $t("pages.about.link") }}
                      </router-link>
                    </div>
                  </li>
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <router-link :to="{ name: 'faq' }">
                        {{ $t("pages.faq.link") }}
                      </router-link>
                    </div>
                  </li>
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <a href="https://www.datavaults.eu/">
                        {{ $t("footer.theDataVaultsProject") }}</a
                      >
                    </div>
                  </li>
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <router-link :to="{ name: 'contact' }">
                        {{ $t("pages.contactUs.link") }}
                      </router-link>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3
                  class="text-sm font-semibold tracking-wider uppercase text-neutral-400"
                >
                  {{ $t("footer.policies") }}
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <router-link :to="{ name: 'policies-TermsOfService' }">
                        {{ $t("pages.termsOfService.link") }}
                      </router-link>
                    </div>
                  </li>
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <router-link :to="{ name: 'policies-Privacy' }">
                        {{ $t("pages.privacyPolicy.link") }}
                      </router-link>
                    </div>
                  </li>
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <router-link :to="{ name: 'policies-Cookie' }">
                        {{ $t("pages.cookiePolicy.link") }}
                      </router-link>
                    </div>
                  </li>
                  <li>
                    <div class="text-base text-neutral-300 hover:text-white">
                      <router-link :to="{ name: 'policies-AcceptableUse' }">
                        {{ $t("pages.acceptableUsePolicy.link") }}</router-link
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <MinimalFooter class="bg-neutral-800" :showBasicLinks="false" />
    </footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import NavigationHeader from "./components/NavigationHeader.vue";
import MinimalFooter from "@/layouts/components/MinimalFooter.vue";
import { useAuthentication } from "@/composables";
import { getEnv } from "../envs";

export default defineComponent({
  name: "PublicLayout",
  components: { MinimalFooter, NavigationHeader },
  setup() {
    const cloudUrl = getEnv("VITE_CLOUD_URL");
    const { login, register } = useAuthentication();
    const registerClicked = () => register();
    const loginClicked = () => login("/");

    return { cloudUrl, registerClicked, loginClicked };
  },
});
</script>
