<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="bg-neutral-50">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:py-16 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto divide-y-2 divide-neutral-200">
        <h2 class="text-3xl font-extrabold text-center text-neutral-900 sm:text-4xl">
          {{ $t('pages.faq.faq') }}
        </h2>
        <dl class="mt-6 space-y-6 divide-y divide-neutral-200">
          <Disclosure
            as="div"
            v-for="faq in faqs"
            :key="faq.question"
            class="pt-6"
            v-slot="{ open }"
          >
            <dt class="text-lg">
              <DisclosureButton class="flex items-start justify-between w-full text-left text-neutral-400">
                <span class="font-medium text-neutral-900">
                  {{ faq.question }}
                </span>
                <span class="flex items-center ml-6 h-7">
                  <ChevronDownIcon
                    :class="[open ? '-rotate-180' : 'rotate-0', 'h-6 w-6 transform']"
                    aria-hidden="true"
                  />
                </span>
              </DisclosureButton>
            </dt>
            <DisclosurePanel
              as="dd"
              class="pr-12 mt-2"
            >
              <p class="text-base text-neutral-500">
                {{ faq.answer }}
              </p>
            </DisclosurePanel>
          </Disclosure>
        </dl>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import { Disclosure, DisclosureButton, DisclosurePanel } from "@headlessui/vue";
import { ChevronDownIcon } from "@heroicons/vue/outline";
import { useI18n } from "vue-i18n";

export default {
  name: "FAQ",
  components: {
    Disclosure,
    DisclosureButton,
    DisclosurePanel,
    ChevronDownIcon,
  },
  setup() {
    const open = ref(false);
    const { t } = useI18n();

    const faqs = [
      {
        question: t("pages.faq.whatData"),
        answer: t("pages.faq.whatDataA"),
      },
      {
        question: t("pages.faq.dataAccess"),
        answer: t("pages.faq.dataAccessA"),
      },
      {
        question: t("pages.faq.privacy"),
        answer: t("pages.faq.privacyA"),
      },
      {
        question: t("pages.faq.investDevices"),
        answer: t("pages.faq.investDevicesA"),
      },
      {
        question: t("pages.faq.getSomething"),
        answer: t("pages.faq.getSomethingA"),
      },
      {
        question: t("pages.faq.transactionsGoverned"),
        answer: t("pages.faq.transactionsGovernedA"),
      },
      {
        question: t("pages.faq.dataSeeker"),
        answer: t("pages.faq.dataSeekerA"),
      },
      {
        question: t("pages.faq.analysing"),
        answer: t("pages.faq.analysingA"),
      },
    ];

    return {
      faqs,
      open,
    };
  },
};
</script>
