<template>
  <div>
    <div class="max-w-xl m-auto">
      <div class="content-center px-8">
        <svg-image
          class="p-4 mt-24"
          :src="image500"
        />
      </div>
      <div class="mx-4">
        <h1 class="mt-8 font-semibold text-center text-8xl text-primary-500 sm:mt-16 md:text-9xl">
          500
        </h1>
        <h1 class="mt-5 text-4xl font-semibold text-center text-primary-900 md:text-5xl">
          {{ $t('pages.error.500.internalServerError') }}
        </h1>
        <p class="mt-2 text-center text-neutral-700 md:text-lg sm:mt-4">
          {{ $t('pages.error.500.ohNo') }}
        </p>
        <p class="text-center text-neutral-700 md:text-lg">
          {{ $t('pages.error.500.serverError') }}
          <router-link
            to="/"
            class="text-primary-600 hover:underline"
          >{{ $t('pages.error.500.home') }}</router-link>
          {{ $t('pages.error.500.toStartOver') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { SvgImage } from "@/components";
import image500 from "../../assets/500.svg";

export default defineComponent({
  name: "Error404",
  components: {
    SvgImage,
  },
  setup() {
    return { image500 };
  },
});
</script>
